Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

chore: move rosetta-cli to MODULE
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bazel
  bazel/rosetta_cli.bzl
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/tests/financial_integrations/rosetta/BUILD.bazel
  third_party/BUILD.rosetta-cli.bazel
Due: bazel_buildifier

chore: move didc to MODULE (#7396)
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bazel
  pre-commit/candid.bzl
  rs/types/management_canister_types/fuzz/candid_seed_corpus_generation/BUILD.bazel
Due: bazel_buildifier

chore: trigger the "PR Title Validation" workflow on merge_group (#7397)
  .github/workflows/ci-pr-title-validation.yml
Due: none

feat: [MR-732] Subnet-level `RefundPool` (#7372)
  rs/http_endpoints/public/src/read_state/canister.rs
  rs/http_endpoints/public/tests/common/mod.rs
  rs/ingress_manager/benches/handle_ingress.rs
  rs/protobuf/def/state/queues/v1/queues.proto
  rs/protobuf/src/gen/state/state.queues.v1.rs
  rs/protobuf/src/gen/types/state.queues.v1.rs
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/queues.rs
  rs/replicated_state/src/canister_state/queues/proto.rs
  rs/replicated_state/src/canister_state/queues/refunds.rs
  rs/replicated_state/src/canister_state/queues/refunds/tests.rs
  rs/replicated_state/src/canister_state/queues/tests.rs
  rs/replicated_state/src/lib.rs
  rs/replicated_state/src/metadata_state/tests.rs
  rs/replicated_state/src/replicated_state.rs
  rs/replicated_state/tests/replicated_state.rs
  rs/state_layout/src/state_layout.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/checkpoint/tests.rs
  rs/state_manager/src/split/tests.rs
  rs/state_manager/src/tip.rs
  rs/test_utilities/src/state_manager.rs
  rs/tests/message_routing/queues_compatibility_test.rs
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_protobuf_format, bazel_rust_format

qa: add ls output
  ci/src/dependencies/scanner/dependency_scanner.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  97/31ce6964873308d3d1ed4510f3b03de3b7b975
Due: none

feat(node-rewards-canister): Add e2e tests for rewarding algo (#6925)
  Cargo.lock
  rs/node_rewards/canister/api/src/api_native_conversion.rs
  rs/node_rewards/canister/src/canister/mod.rs
  rs/node_rewards/rewards_calculation/BUILD.bazel
  rs/node_rewards/rewards_calculation/Cargo.toml
  rs/node_rewards/rewards_calculation/src/performance_based_algorithm/mod.rs
  rs/node_rewards/rewards_calculation/src/performance_based_algorithm/results.rs
  rs/node_rewards/rewards_calculation/src/performance_based_algorithm/v1.rs
  rs/node_rewards/rewards_calculation/src/performance_based_algorithm/v1/e2e_tests.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  0f/fd1013e2867266dfe8f2194350473a969d8188
Due: none

update comment
  packages/pocket-ic/BUILD.bazel
Due: bazel_buildifier

qa: throw runtime error after trivy scan suceeded
  ci/src/dependencies/scanner/manager/bazel_trivy_dependency_manager.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  e8/61690a4fdfa8dbf0f897a3e9644141374a5efc
Due: none

Notes added by 'git notes add'
  7e/c12868fc2d590cee66f5be22b3e0103718adbe
Due: none

fix: mismatching NeuronInfo on candid
  rs/nns/governance/canister/governance.did
Due: none

Use /sbin/nologin for limited console user, then launch limited-console-shell program
  cpp/infogetty-cpp/infogetty.cc
  ic-os/hostos/context/Dockerfile
Due: none

Rename limited-console
  cpp/infogetty-cpp/infogetty.cc
  ic-os/components/hostos.bzl
  ic-os/components/hostos/misc/limited-console
Due: bazel_buildifier

Keep measurement bytes on a single line
  ci/src/mainnet_revisions/mainnet_revisions.py
  mainnet-icos-revisions.json
Due: bazel_ruff_format

Format
  ci/src/mainnet_revisions/mainnet_revisions.py
Due: bazel_ruff_format

Remove nodes allowed in favor of max_rewardable_count
  rs/registry/canister/src/mutations/node_management/common.rs
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
Due: bazel_rust_format

feat: [NODE-1683] Make VM configuration a dev only feature (#6781)
  ic-os/setupos/data/deployment.json.template
  rs/ic_os/config/BUILD.bazel
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/src/setupos/deployment_json.rs
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.8.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.8.0.json
  rs/ic_os/config_types/compatibility_tests/src/fixture.rs
  rs/ic_os/config_types/src/lib.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/lib.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/main.rs
  rs/ic_os/network/src/lib.rs
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
  rs/tests/driver/src/driver/bootstrap.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  98/017718ed2e8f28b929519c78c94ceb2ad0b097
Due: none

Remove deprecated VM fields
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/src/setupos/deployment_json.rs
  rs/ic_os/config_types/compatibility_tests/src/fixture.rs
  rs/ic_os/config_types/src/lib.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/lib.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/main.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
  rs/tests/driver/src/driver/bootstrap.rs
Due: bazel_rust_format

Generate fixtures
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.9.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.9.0.json
  rs/ic_os/config_types/src/lib.rs
Due: bazel_rust_format

Improve ingress tests
  rs/tests/crypto/BUILD.bazel
  rs/tests/crypto/Cargo.toml
  rs/tests/crypto/ingress_verification_test.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
