Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  74/50361aedc565f4a4216e2a5870a547c268fc4b
Due: none

DEFI-2518: lint
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/queries.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/tests.rs
  rs/bitcoin/ckbtc/minter/src/state/utxos.rs
  rs/bitcoin/ckbtc/minter/src/storage.rs
  rs/bitcoin/ckbtc/minter/src/test_fixtures.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  14/5b5c6ba97238483539a301546f260766bf4af5
Due: none

DEFI-2518: remove bench greedy
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/storage.rs
Due: bazel_rust_format

review
  rs/tests/consensus/node_registration_test_common/src/lib.rs
Due: bazel_rust_format

DEFI-2518: update canbench results
  rs/bitcoin/ckbtc/minter/canbench/results.yml
Due: none

chore: bump wasmtime to v39.0.1
  Cargo.lock
  bazel/cc_rs.patch
  bazel/external_crates.bzl
  rs/embedders/Cargo.toml
Due: bazel_buildifier

repin
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
Due: none

feat: do not swallow subnet assignment on upgrade loop errors
  rs/orchestrator/image_upgrader/src/image_upgrader.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

docs: revert removed docs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

remove separate table for fee collectors
  rs/rosetta-api/icrc1/src/common/storage/schema.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_operations.rs
Due: bazel_rust_format

DEFI-2518: more proptests
  rs/bitcoin/ckbtc/minter/src/state/tests.rs
  rs/bitcoin/ckbtc/minter/src/state/utxos.rs
Due: bazel_rust_format

add index on operation_type
  rs/rosetta-api/icrc1/src/common/storage/schema.rs
Due: bazel_rust_format

test_small_capacity_indexing
  rs/replicated_state/src/canister_state/system_state/log_memory_store/index_table.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
Due: bazel_rust_format

Not reusing the internal Status enum for query endpoint. Enum variants in result now optional.
  rs/bitcoin/ckbtc/minter/ckbtc_minter.did
  rs/bitcoin/ckbtc/minter/src/queries.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

remove TODO
  rs/interfaces/src/crypto/vetkd.rs
Due: bazel_rust_format

copy filter
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

fix: bundle state manager and state dir together in StateMachine tests (#7845)
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

fix(crypto): use correct vault type when building temp crypto
  rs/crypto/temp_crypto/src/lib.rs
Due: bazel_rust_format

cleanup
  rs/crypto/temp_crypto/src/lib.rs
Due: bazel_rust_format

test: Node registration with max rewardable nodes (#7831)
  Cargo.lock
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/node_registration_test_common/Cargo.toml
  rs/tests/consensus/node_registration_test_common/src/lib.rs
  rs/tests/consensus/orchestrator/BUILD.bazel
  rs/tests/consensus/orchestrator/Cargo.toml
  rs/tests/consensus/orchestrator/node_registration_test.rs
  rs/tests/consensus/orchestrator/node_registration_with_max_rewardable_nodes_test.rs
  rs/tests/consensus/orchestrator/node_registration_with_node_allowance_test.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  c9/a63164c9631df3835560a7e1b763af0ab75c96
Due: none

Notes added by 'git notes add'
  64/d8fb13289fc2b111f6f8641afcd11e0a334b03
Due: none

pub
  rs/replicated_state/src/canister_state/system_state/log_memory_store/header.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

seen_timestamp
  rs/replicated_state/src/canister_state/system_state/log_memory_store/header.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/index_table.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/struct_io.rs
Due: bazel_rust_format

max_timestamp
  rs/replicated_state/src/canister_state/system_state/log_memory_store/header.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/struct_io.rs
Due: bazel_rust_format

.
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

DEFI-2518: clean-up
  rs/bitcoin/ckbtc/minter/src/lib.rs
Due: bazel_rust_format

chore: Update Mainnet ICOS revisions file
  mainnet-icos-revisions.json
Due: none

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

DEFI-2518: fix dogecoin
  rs/dogecoin/ckdoge/minter/src/fees/mod.rs
  rs/dogecoin/ckdoge/minter/src/fees/tests.rs
  rs/dogecoin/ckdoge/minter/src/test_fixtures.rs
Due: bazel_rust_format

return error instead of panic if amount is missing
  rs/rosetta-api/icrc1/src/common/storage/types.rs
Due: bazel_rust_format

better error msg
  rs/rosetta-api/icrc1/src/common/storage/types.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
