Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Actually persist refunds.
  rs/replicated_state/src/replicated_state.rs
  rs/state_manager/src/checkpoint/tests.rs
  rs/state_manager/src/split/tests.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

Actually persist refunds.
  rs/state_manager/src/checkpoint/tests.rs
  rs/state_manager/src/split/tests.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

Adapt costs
  rs/ledger_suite/common/ledger_canister_core/src/archive.rs
Due: bazel_rust_format

Further tuning to reflect doc
  rs/ledger_suite/common/ledger_canister_core/src/archive.rs
Due: bazel_rust_format

Check determinism script
  check-determinism.sh
Due: bazel_shfmt_format

perf(idkg): Increase the number of IDKG client threads to 16 (#7354)
  rs/consensus/idkg/src/lib.rs
  rs/tests/consensus/tecdsa/tecdsa_performance_test_template.rs
Due: bazel_rust_format

same pool
  rs/consensus/src/consensus.rs
  rs/consensus/tests/framework/runner.rs
  rs/consensus/tests/framework/types.rs
  rs/consensus/tests/payload.rs
  rs/consensus/vetkd/src/lib.rs
  rs/replica/setup_ic_network/src/lib.rs
Due: bazel_rust_format

Hold actual Refunds in RefundPool.
  rs/replicated_state/src/canister_state/queues/proto.rs
  rs/replicated_state/src/canister_state/queues/refunds.rs
  rs/replicated_state/src/canister_state/queues/refunds/tests.rs
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  2f/a6f105825691376a74e6ce34b7ec4d5177a446
Due: none

feat: [MR-720] Bump certification version to `V22` (#7383)
  rs/canonical_state/certification_version/src/lib.rs
  rs/state_manager/src/manifest/split/tests.rs
  rs/test_utilities/state/src/lib.rs
Due: bazel_rust_format

Have both dynamic and fixed min values for archive creation and installation
  rs/ledger_suite/common/ledger_canister_core/src/archive.rs
Due: bazel_rust_format

Move consts into function
  rs/ledger_suite/common/ledger_canister_core/src/archive.rs
Due: bazel_rust_format

Update canbench result due to one page heap increase for icrc2_approve
  rs/ledger_suite/icrc1/ledger/canbench_results/canbench_u256.yml
Due: none

Notes added by 'git notes add'
  2d/7f2d1b297814537ba4ffabac732c03e515e0be
Due: none

qa: log stderr output
  ci/src/dependencies/scanner/process_executor.py
Due: bazel_ruff_format

export .icos_settings.enable_trusted_execution_environment as metric
  ic-os/components/monitoring/guestos/custom-metrics.sh
Due: bazel_shfmt_format

[create-pull-request] automated change
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

.
  Cargo.lock
  rs/messaging/BUILD.bazel
  rs/messaging/Cargo.toml
  rs/messaging/tests/common/mod.rs
Due: bazel_buildifier, bazel_rust_format

Hold actual Refunds in RefundPool.
  rs/messaging/src/state_machine.rs
  rs/replicated_state/src/canister_state/queues/proto.rs
  rs/replicated_state/src/canister_state/queues/refunds.rs
  rs/replicated_state/src/canister_state/queues/refunds/tests.rs
  rs/replicated_state/src/replicated_state.rs
  rs/replicated_state/tests/replicated_state.rs
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_rust_format

Fix comment.
  rs/registry/admin/bin/main.rs
Due: bazel_rust_format

Drop FIXME
  rs/test_utilities/state/src/lib.rs
Due: bazel_rust_format

Enhance comment.
  rs/registry/admin/bin/main.rs
Due: bazel_rust_format

Make clippy happy.
  rs/test_utilities/src/state_manager.rs
Due: bazel_rust_format

Debug
  check-determinism.sh
  rs/canister_sandbox/BUILD.bazel
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/Cargo.toml
  rs/memory_tracker/BUILD.bazel
  rs/memory_tracker/Cargo.toml
  rs/memory_tracker/src/lib.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

Simplify Refund ordering implementation.
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_rust_format

comment
  rs/consensus/vetkd/src/lib.rs
Due: bazel_rust_format

chore: dep-scan add more logging
  ci/src/dependencies/scanner/process_executor.py
Due: bazel_ruff_format

style: add log
  rs/tests/consensus/subnet_recovery/common.rs
Due: bazel_rust_format

chore: Move NNS public key to /run and refactor config bootstraping
  ic-os/components/guestos.bzl
  ic-os/components/guestos/init/bootstrap-ic-node/bootstrap-ic-node.service
  ic-os/components/guestos/init/init-config/init-config.service
  ic-os/components/guestos/init/init-config/init-config.sh
  ic-os/components/guestos/init/mount-config/mount-config.service
  ic-os/components/guestos/init/mount-config/mount-config.sh
  ic-os/guestos/docs/Boot.adoc
  rs/ic_os/config/src/guestos/bootstrap_ic_node.rs
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/templates/ic.json5.template
  rs/ic_os/guest_upgrade/client/src/lib.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

refactor: fn get_node_certification_share_height
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/utils.rs
Due: bazel_rust_format

Clean up config bootstrap directory after boot
  ic-os/components/guestos.bzl
  ic-os/components/guestos/init/cleanup-config-bootstrap/cleanup-config-bootstrap.service
Due: bazel_buildifier

fix
  rs/tests/consensus/subnet_recovery/utils.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
