Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Notes added by 'git notes add'
  39/f863e56871aadb3643b86bccd3a78ebec60b0d
Due: none

Fix clippy
  rs/execution_environment/src/query_handler/query_context.rs
Due: bazel_rust_format

Fix clippy
  rs/messaging/src/message_routing.rs
Due: bazel_rust_format

clean up and fix
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/scheduler.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  1f/8fde21d9f7a355724de8a28416680f66be9e08
Due: none

refactor
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

reduce checkpoint height to 100 in get_state_hash_at test
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

comment
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

test: StateManagerTesting::commit_and_certify_at_height (#9022)
  rs/state_manager/src/lib.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

test
  rs/tests/driver/src/nns.rs
  rs/tests/nns/BUILD.bazel
  rs/tests/nns/Cargo.toml
  rs/tests/nns/delete_subnet_test.rs
Due: bazel_buildifier, bazel_rust_format

feat(flexible-outcalls): CON-1643 extend canister HTTP pool manager for flexible calls
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  2f/a2c6e053b271fc8f20b76b7712a1a4694bdaac
Due: none

Automatically fixing code for linting and formatting issues
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

Load troublesome snapshot
  rs/nns/test_utils/prepare_golden_state/src/lib.rs
Due: bazel_rust_format

use commit_and_certify_at_height and fix tests
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

clippy
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

Use systemd-networkd directly
  Cargo.Bazel.json.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
  ic-os/components/guestos/init/init-config/init-config.sh
  rs/ic_os/os_tools/guestos_tool/BUILD.bazel
  rs/ic_os/os_tools/guestos_tool/Cargo.toml
  rs/ic_os/os_tools/guestos_tool/src/cloud_provision.rs
  rs/ic_os/os_tools/guestos_tool/src/main.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

Stop cashier canister
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
Due: bazel_rust_format

feat: no state hashing during catch-up (state manager) (#8424)
  rs/interfaces/state_manager/mocks/src/lib.rs
  rs/interfaces/state_manager/src/lib.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/lib.rs
  rs/state_manager/src/tip.rs
  rs/state_manager/tests/state_manager.rs
  rs/test_utilities/src/state_manager.rs
Due: bazel_rust_format

repin
  Cargo.Bazel.json.lock
Due: none

Notes added by 'git notes add'
  1a/f1607853e46f57392b4100963220a64a0f5740
Due: none

ignore clippy
  rs/messaging/src/message_routing.rs
Due: bazel_rust_format

perf: avoid writing everything again to disk
  rs/recovery/src/steps.rs
  rs/replay/src/cmd.rs
  rs/replay/src/lib.rs
  rs/replay/src/player.rs
Due: bazel_rust_format

.
  rs/registry/canister/src/mutations/do_create_subnet.rs
Due: bazel_rust_format

.
  rs/registry/canister/src/mutations/do_split_subnet.rs
Due: bazel_rust_format

Revert "chore(node): Remove unused ic-os packages (#8757)"
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/guestos/context/packages.common
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/hostos/context/packages.common
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
  ic-os/setupos/context/packages.common
  rs/tests/node/ipv4_integration_test.rs
Due: bazel_rust_format

doc comment
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

assert tip hash count
  rs/tests/message_routing/rejoin_test_lib/rejoin_test_lib.rs
Due: bazel_rust_format

feat: Enable explicit hugepages for the GuestVM
  ic-os/components/hostos.bzl
  ic-os/components/hostos/guestos/guestos.service
  ic-os/components/hostos/guestos/upgrade-guestos.service
  ic-os/components/hostos/misc/reserve-hugepages/reserve-hugepages.service
  rs/ic_os/os_tools/guest_vm_runner/BUILD.bazel
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/src/hugepages.rs
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
  rs/ic_os/os_tools/guest_vm_runner/src/metrics.rs
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Due: bazel_buildifier, bazel_rust_format

use HttpGatewayConfig to carry the information of local file provider
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/src/nonblocking.rs
  packages/pocket-ic/tests/icp_features.rs
  packages/pocket-ic/tests/tests.rs
  packages/pocket-ic/tests/unix.rs
  rs/pocket_ic_server/src/main.rs
  rs/pocket_ic_server/src/state_api/state.rs
  rs/pocket_ic_server/tests/gateway.rs
Due: bazel_rust_format
