Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fix
  bazel/conf/.bazelrc.build
Due: bazel_buildifier

simply latest_checkpoint_with_manifest
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

Bump release date
  rs/rosetta-api/icrc1/CHANGELOG.md
Due: none

working?
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/https_outcalls/client/src/client.rs
  rs/interfaces/src/execution_environment.rs
  rs/tests/networking/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

fix: rent_subnet_test: attempt to subtract with overflow (#8304)
  rs/tests/nns/rent_subnet_test.rs
Due: bazel_rust_format

wip
  rs/tests/consensus/orchestrator/ssh_access_to_nodes_test.rs
  rs/tests/consensus/utils/src/node.rs
  rs/tests/consensus/utils/src/ssh_access.rs
  rs/tests/consensus/utils/src/subnet.rs
  rs/tests/consensus/utils/src/upgrade.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/nested/guestos_upgrade.rs
  rs/tests/nested/hostos_upgrade.rs
  rs/tests/nested/nns_recovery/common.rs
  rs/tests/nested/registration.rs
  rs/tests/nested/src/lib.rs
  rs/tests/nested/src/util.rs
Due: bazel_rust_format

fix: //rs/tests/nested:guestos_upgrade tests
  rs/tests/nested/guestos_upgrade.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  49/63537f0a98056290734552dd4d255f8612a43a
Due: none

use requested_height for state sync checkpoint removal
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

Fix progress_handler closure return value
  rs/rosetta-api/icp/ledger_canister_blocks_synchronizer/src/blocks.rs
Due: bazel_rust_format

charge
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

use bytes
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

cleanup
  rs/execution_environment/src/query_handler/query_context.rs
  rs/https_outcalls/client/src/client.rs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/tests/networking/canister_http_test.rs
Due: bazel_rust_format

fix(DSM): Make missing memory upper bound a canister error (#8275)
  rs/embedders/src/wasmtime_embedder/host_memory.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/https_outcalls/client/src/client.rs
  rs/interfaces/src/execution_environment.rs
Due: bazel_rust_format

clippy
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/https_outcalls/client/src/client.rs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/tests/networking/BUILD.bazel
  rs/tests/networking/canister_http_test.rs
Due: bazel_buildifier, bazel_rust_format

chore: bump wasm-tools family to v243 (#8212)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
  rs/embedders/tests/spec_tests.rs
Due: bazel_buildifier, bazel_rust_format

chore: ic-system-test-driver: remove excessive logging of farm URL during TTL extension
  rs/tests/driver/src/driver/keepalive_task.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ba/0f270bc4d426b854044b3d6d9688e44f6272f8
Due: none

feat(ICP_Rosetta): FI-1876: Return errors immediately during initial sync (#7203)
  rs/rosetta-api/icp/src/main.rs
  rs/rosetta-api/icp/src/request_handler.rs
  rs/rosetta-api/icp/src/request_handler/construction_parse.rs
  rs/rosetta-api/icp/src/request_handler/tests.rs
  rs/rosetta-api/icp/src/rosetta_server.rs
  rs/rosetta-api/icp/tests/integration_tests/tests/tests.rs
  rs/rosetta-api/icp/tests/rosetta_cli_tests.rs
Due: bazel_rust_format

Added support for load_canister_snapshot to rs/nervous_system/clients. This is analogous to the changes in PR 8158.
  rs/nervous_system/clients/src/lib.rs
  rs/nervous_system/clients/src/load_canister_snapshot.rs
  rs/nervous_system/clients/src/management_canister_client.rs
  rs/nervous_system/clients/src/management_canister_client/tests.rs
Due: bazel_rust_format

Added load_canister_snapshot to the Root canister. This commit is analogous to the changes in PR 8159.
  rs/nns/handlers/root/impl/canister/canister.rs
  rs/nns/handlers/root/impl/canister/root.did
  rs/nns/handlers/root/impl/src/canister_management.rs
  rs/nns/handlers/root/interface/src/lib.rs
  rs/nns/handlers/root/unreleased_changelog.md
Due: bazel_rust_format

fix: //rs/tests/nested:guestos_upgrade tests (#8309)
  rs/tests/nested/guestos_upgrade.rs
Due: bazel_rust_format

feat(ICRC_Rosetta): Add ICRC Rosetta release 1.2.8 (#8299)
  Cargo.lock
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/rosetta-api/icrc1/CHANGELOG.md
  rs/rosetta-api/icrc1/Cargo.toml
  rs/rosetta-api/icrc1/src/common/constants.rs
Due: bazel_buildifier, bazel_rust_format

remove flag
  rs/config/src/execution_environment.rs
  rs/execution_environment/benches/management_canister/utils.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/tests/dts.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/tests/state_manager.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

chore: simplify rejoin system test by using mr_process_batch_duration_seconds (#8280)
  rs/tests/message_routing/rejoin_test_lib/rejoin_test_lib.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/tests/canister_snapshots.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

Revert "use bytes"
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  60/5338cb02d35370d01f381ab14f3b5300456ada
Due: none

Notes added by 'git notes add'
  2c/8c3974c4711215933c0bb9599e5c240c21fd9e
Due: none

chore: refactor and harden state manager (#8303)
  rs/state_manager/src/lib.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e1/715042623dbefc7cb57dded0f641aa9d894cdf
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
