Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

feat: introduce ErrorCode::CanisterStatusAccessDenied
  packages/ic-error-types/src/lib.rs
  packages/pocket-ic/src/lib.rs
  rs/canonical_state/tests/hash_tree.rs
  rs/execution_environment/src/history.rs
  rs/protobuf/def/state/ingress/v1/ingress.proto
  rs/protobuf/src/gen/state/state.ingress.v1.rs
  rs/protobuf/src/gen/types/state.ingress.v1.rs
  rs/protobuf/src/state/ingress/mod.rs
Due: bazel_protobuf_format, bazel_rust_format

fix(ci): upload CDN artifacts under their bundle (intended) name (#10672)
  ci/src/artifacts/upload.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  e2/93044d60e868b081b922cbf0346b5c6ef30e0e
Due: none

fix: proto
  rs/protobuf/def/types/v1/dkg.proto
Due: bazel_protobuf_format

test(PocketIC): effective subnet ID
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

fix: hickory bump requires network
  rs/http_endpoints/nns_delegation_manager/BUILD.bazel
Due: bazel_buildifier

call -> request
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

limit
  rs/limits/src/lib.rs
  rs/orchestrator/BUILD.bazel
  rs/orchestrator/Cargo.toml
  rs/orchestrator/src/catch_up_package_provider.rs
  rs/p2p/quic_transport/BUILD.bazel
  rs/p2p/quic_transport/Cargo.toml
  rs/p2p/quic_transport/src/connection_handle.rs
  rs/p2p/quic_transport/src/lib.rs
  rs/p2p/quic_transport/src/request_handler.rs
Due: bazel_buildifier, bazel_rust_format

drop redundant test
  rs/execution_environment/tests/canister_logging.rs
Due: bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

fix: upload_systest_dep.sh: ignore-content-length (#10662)
  rs/tests/upload_systest_dep.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  e5/c291d5d1292927a12f6a754cb3825c58ffd4ca
Due: none

fix: remove options override
  rs/http_endpoints/nns_delegation_manager/src/nns_delegation_manager.rs
Due: bazel_rust_format

consider flexible timeouts as timeouts
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/types/types/src/batch/canister_http.rs
Due: bazel_rust_format

generalize StateMAchine test
  rs/state_machine_tests/BUILD.bazel
  rs/state_machine_tests/tests/mod.rs
  rs/state_machine_tests/tests/subnet_delete.rs
Due: bazel_buildifier, bazel_rust_format

validate in memory ingress size
  rs/ingress_manager/src/ingress_selector.rs
  rs/interfaces/src/ingress_manager.rs
Due: bazel_rust_format

chore: allow symlinks for canister did files
  publish/canisters/BUILD.bazel
Due: bazel_buildifier

refactor(cketh): Split tx module into eip_1559 and eip_7702 submodules
  rs/ethereum/cketh/minter/src/tx.rs
  rs/ethereum/cketh/minter/src/tx/eip_1559.rs
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/mod.rs
Due: bazel_rust_format

fix
  rs/orchestrator/src/catch_up_package_provider.rs
  rs/p2p/quic_transport/src/lib.rs
Due: bazel_rust_format

refactor(cketh): Rename Authorization::signature_hash to hash
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/tests.rs
Due: bazel_rust_format

chore: allow symlinks for canister did files (#10679)
  publish/canisters/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  37/0495a7191f9dd9d4da567baf05352fcc8cd057
Due: none

Prefer sandboxed strategy for local fallback in RBE namespace test
  .github/workflows/rbe-namespace-test.yml
Due: none

refactor(cketh): Rename AuthorizationTuple to SignedAuthorization
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/mod.rs
  rs/ethereum/cketh/minter/src/tx/tests.rs
Due: bazel_rust_format

remove todo
  rs/https_outcalls/pricing/src/payg.rs
Due: bazel_rust_format

test(PocketIC): effective subnet ID (#10674)
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

feat: management canister's endpoint list_canisters as inter-canister call (#10643)
  rs/embedders/src/wasmtime_embedder/system_api/routing.rs
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/execution_environment/benches/management_canister/list_canisters.rs
  rs/execution_environment/benches/management_canister/main.rs
  rs/execution_environment/benches/management_canister/test_canister/candid.did
  rs/execution_environment/benches/management_canister/test_canister/src/main.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/execution_environment_metrics.rs
  rs/execution_environment/src/ic00_permissions.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/tests/execution_test.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/types/management_canister_types/src/lib.rs
  rs/types/types/src/messages/ingress_messages.rs
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  44/c473e50032b74c37c6d314a343d2704b900070
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
