Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  0e/5bc0d1a18b287eb70f5b2b8a30099c91e9de4c
Due: none

Use golden nns state test to detect new protocol canisters
  rs/nns/constants/src/lib.rs
  rs/nns/governance/src/proposals/mod.rs
  rs/nns/integration_tests/src/upgrade_canisters_with_golden_nns_state.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

feat(nns-root): do not change allocation when installing code (#5066)
  rs/nervous_system/root/src/change_canister.rs
  rs/nns/governance/src/proposals/install_code.rs
  rs/nns/handlers/root/impl/canister/root.did
  rs/nns/handlers/root/unreleased_changelog.md
  rs/nns/integration_tests/src/governance_upgrade.rs
  rs/nns/integration_tests/src/root_proposals.rs
  rs/registry/admin/src/main.rs
  rs/sns/integration_tests/src/root.rs
  rs/sns/root/canister/root.did
  rs/sns/root/unreleased_changelog.md
Due: bazel_rust_format

Notes added by 'git notes add'
  69/70f480737baaaf7b1b6d94210597bb83bfad04
Due: none

tiny fixes
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/rate_limits/.cargo/config.toml
Due: bazel_rust_format

add test_non_ascii_url_is_accepted
  rs/tests/networking/canister_http_correctness_test.rs
Due: bazel_rust_format

chore: Remove unused canister from publish/canisters (#5069)
  publish/canisters/BUILD.bazel
  rs/rust_canisters/dfn_core/BUILD.bazel
Due: bazel_buildifier

comments
  rs/execution_environment/src/canister_manager.rs
  rs/replicated_state/src/canister_snapshots.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  dd/41f2e3e1ee569c48aa23e75c1eab005af45538
Due: none

test(cketh): add should_get_minimum_tx_count test
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
Due: bazel_rust_format

[create-pull-request] automated change
  ic-os/boundary-guestos/context/docker-base.prod
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

remove SOCKS proxy from BTC adapter config generation as it is never actually used anywhere
  ic-os/components/ic/ic-btc-adapter/generate-btc-adapter-config.sh
  ic-os/components/ic/ic-btc-adapter/ic-btc-mainnet-adapter.service
  ic-os/components/ic/ic-btc-adapter/ic-btc-testnet-adapter.service
Due: bazel_shfmt_format

chore: EXC: All benchmark script fixes
  rs/execution_environment/benches/run-all-benchmarks.sh
  rs/execution_environment/benches/run-benchmark.sh
  rs/execution_environment/benches/summarize-results.sh
Due: bazel_shfmt_format

Update baseline 102 MiB
  rs/execution_environment/benches/baseline/EMBEDDERS_HEAP.dm1-dll46.min
Due: none

perf: EXC-2033: Add more heap benchmarks
  rs/embedders/benches/embedders_bench/src/lib.rs
  rs/embedders/benches/heap.rs
Due: bazel_rust_format

Deterministic prefetching results
  3f54ca4c90.log
  EMBEDDERS_HEAP.min
Due: none

Update compilation benchmarks baseline
  2558d9271a.log
  rs/execution_environment/benches/baseline/EMBEDDERS_COMPILATION.min
Due: none

Add compare script
  compare.sh
Due: bazel_shfmt_format

Add compilation benchmark results with deterministic prefetching
  51899b5103.log
  EMBEDDERS_COMPILATION.min
Due: none

perf: EXC: Quick deterministic prefetching hack
  rs/memory_tracker/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  af/a56c9f36e78c0c908457110a54c3b5c9b90c2e
Due: none

Notes added by 'git notes add'
  29/49c97ba369bd01c8bd5c99c59987519b730990
Due: none

Set PAGES_TO_MAP=1
  rs/memory_tracker/src/lib.rs
Due: bazel_rust_format

refactor(cketh): add evm_rpc_id as optional in InitArg and enforce CkEthSetup tests to be initialized with evm_rpc_id
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/dashboard/tests.rs
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
  rs/ethereum/cketh/minter/tests/ckerc20.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/test_utils/src/ckerc20.rs
  rs/ethereum/cketh/test_utils/src/flow.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/tests/cross_chain/ic_xc_cketh_test.rs
Due: bazel_rust_format

remove outdated comments regarding EVM RPC response size adjustment
  rs/ethereum/cketh/test_utils/src/lib.rs
Due: bazel_rust_format
