Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

docs(openspec): document canonical-encoding validation for canister HTTP payloads
  openspec/specs/networking/https-outcalls.md
Due: none

feat(node-rewards): third temporary node provider reward reduction cohort (#11763)
  rs/node_rewards/canister/src/canister/mod.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  91/fb24119d8be003c6986d60d36ba73e4c8178a3
Due: none

fix: only accept exactly { workspace = true } as an inherited dependency
  ci/scripts/validate-deflake-dependencies.py
Due: bazel_ruff_format

test: test the deflake bundle validator
  ci/scripts/BUILD.bazel
  ci/scripts/validate_deflake_bundle_test.py
Due: bazel_buildifier, bazel_ruff_format

fix: show all text of deflake PR descriptions
  .github/workflows/fix-flaky-test.yml
  ci/scripts/validate-deflake-bundle.sh
Due: bazel_shfmt_format

feat: fix at most 20 flaky tests a day
  .github/workflows/schedule-fix-flaky-tests.yml
  ci/scripts/find-flaky-tests.sh
Due: bazel_shfmt_format

fix: quote disallowed paths and count bytes without padding
  ci/scripts/validate-deflake-bundle.sh
  ci/scripts/validate-deflake-dependencies.py
  ci/scripts/validate_deflake_bundle_test.py
Due: bazel_shfmt_format, bazel_ruff_format

chore: automatically retry failed nns_tests_nightly tests (up to 3 times)
  .github/workflows/schedule-daily.yml
Due: none

fix: adapt II init args to new mainnet candid (notifications)
  rs/pocket_ic_server/src/external_canister_types.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

chore: automatically retry failed nns_tests_nightly tests (up to 3 times) (#11765)
  .github/workflows/schedule-daily.yml
Due: none

Notes added by 'git notes add'
  e8/144bc4debf068c5d1a545fe8a74c1cdfafc20f
Due: none

feat: restore panic
  rs/orchestrator/src/process_manager.rs
Due: bazel_rust_format

docs
  rs/orchestrator/src/process_manager.rs
Due: bazel_rust_format

fix(pocket-ic): adapt II init args to new mainnet candid (`notifications_allow_insecure_endpoint` + `notifications_enabled`) (#11766)
  rs/pocket_ic_server/src/external_canister_types.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  9e/361e23fda498659dc3e48ae678fa3df85647f2
Due: none

feat: get the Anthropic API key from the fix-flaky-tests environment
  .github/workflows/fix-flaky-test.yml
  .github/workflows/open-deflake-pr.yml
  .github/workflows/schedule-fix-flaky-tests.yml
Due: none

test: expect any start_rosetta failure in the regression test
  rs/rosetta-api/icp/runner/tests/tests.rs
Due: bazel_rust_format

chore: drop tolerance for a partially written Rosetta port file
  rs/rosetta-api/icp/runner/src/lib.rs
Due: bazel_rust_format

feat: make the number of flaky tests to fix per run a variable
  .github/workflows/schedule-fix-flaky-tests.yml
  ci/scripts/find-flaky-tests.sh
Due: bazel_shfmt_format

fix(metrics-proxy): resolve upstream hosts via the system resolver
  rs/monitoring/metrics_proxy/src/proxy.rs
Due: bazel_rust_format

refactor: pass MAX_FLAKY_TESTS_TO_FIX to find-flaky-tests.sh under its own name
  .github/workflows/schedule-fix-flaky-tests.yml
  ci/scripts/find-flaky-tests.sh
Due: bazel_shfmt_format

fix: check how much a deflake fix grows its files before reading them
  ci/scripts/validate-deflake-bundle.sh
  ci/scripts/validate_deflake_bundle_test.py
Due: bazel_shfmt_format, bazel_ruff_format

test(bare-metal): check metrics served through the HostOS metrics-proxy
  ic-os/dev-tools/bare_metal_deployment/deploy.py
Due: bazel_ruff_format

chore: shorten comments
  ic-os/dev-tools/bare_metal_deployment/deploy.py
  rs/monitoring/metrics_proxy/src/proxy.rs
Due: bazel_ruff_format, bazel_rust_format

feat: require MAX_FLAKY_TESTS_TO_FIX instead of defaulting to 10 tests
  .github/workflows/schedule-fix-flaky-tests.yml
  ci/scripts/find-flaky-tests.sh
Due: bazel_shfmt_format

fix: deflake //rs/rosetta-api/icp:icp_rosetta_system_tests (#11648)
  rs/rosetta-api/icp/runner/src/constants.rs
  rs/rosetta-api/icp/runner/src/lib.rs
  rs/rosetta-api/icp/runner/tests/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  04/22ba2f4e80356900dd4a3edde2abbfe203e1b6
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
