Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  85/b2dafcbde39b11880dbe86f784d5f03d512d5a
Due: none

performance test
  rs/tests/driver/src/driver/ic.rs
  rs/tests/testnets/large.rs
Due: bazel_rust_format

single node and remove sns canisters
  rs/tests/testnets/large.rs
Due: bazel_rust_format

2TiB SUBNET_MEMORY_CAPACITY
  rs/config/src/execution_environment.rs
  rs/rust_canisters/canister_creator/test/test.rs
Due: bazel_rust_format

debug memory_usage
  rs/embedders/src/wasmtime_embedder/system_api.rs
Due: bazel_rust_format

install_code log
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

only want release_build=true
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

instrument compute_manifest
  rs/state_manager/src/manifest.rs
Due: bazel_rust_format

reduce log , canister install log, transcript log
  rs/consensus/dkg/src/dkg_key_manager.rs
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/utils.rs
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution_environment.rs
  rs/orchestrator/registry_replicator/src/internal_state.rs
  rs/orchestrator/registry_replicator/src/lib.rs
  rs/query_stats/src/lib.rs
  rs/query_stats/src/payload_builder.rs
Due: bazel_rust_format

small
  rs/tests/testnets/small.rs
Due: bazel_rust_format

4 perf nodes
  rs/tests/testnets/large.rs
Due: bazel_rust_format

clippy
  rs/embedders/src/wasmtime_embedder/system_api.rs
Due: bazel_rust_format

revert logging memory usage
  rs/embedders/src/wasmtime_embedder/system_api.rs
Due: bazel_rust_format

log
  rs/embedders/src/wasmtime_embedder/system_api.rs
Due: bazel_rust_format

3 TiB image
  rs/tests/testnets/large.rs
Due: bazel_rust_format

log for compression ratio
  rs/p2p/state_sync_manager/src/routes/chunk.rs
Due: bazel_rust_format

log try_grow_stable_memory
  rs/embedders/src/wasmtime_embedder/system_api.rs
Due: bazel_rust_format

5 TiB image
  rs/tests/testnets/large.rs
Due: bazel_rust_format

6TiB image
  rs/tests/testnets/large.rs
Due: bazel_rust_format

4TiB image and 4 nodes
  rs/tests/testnets/large.rs
Due: bazel_rust_format

feat(sns): SNS treasury manager API (#5788)
  rs/sns/treasury_manager/BUILD.bazel
  rs/sns/treasury_manager/Cargo.toml
  rs/sns/treasury_manager/mock/BUILD.bazel
  rs/sns/treasury_manager/mock/Cargo.toml
  rs/sns/treasury_manager/mock/src/main.rs
  rs/sns/treasury_manager/src/lib.rs
  rs/sns/treasury_manager/treasury_manager.did
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  ca/0ed9787001878ee9ed077f4be1ca4169ee2038
Due: none

Apply suggestion from code review
  rs/ledger_suite/icp/ledger/src/main.rs
Due: bazel_rust_format

[create-pull-request] automated change
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

Rename
  rs/ledger_suite/icp/ledger/src/main.rs
Due: bazel_rust_format

clippy
  rs/rosetta-api/examples/icp/python/get_minimum_dissolve_delay.py
  rs/rosetta-api/examples/icp/python/rosetta_client.py
Due: bazel_ruff_format

chore: remove unused BN canister client deps
  rs/boundary_node/rate_limits/canister_client/BUILD.bazel
Due: bazel_buildifier

clippy
  rs/rosetta-api/examples/icp/python/get_minimum_dissolve_delay.py
  rs/rosetta-api/examples/icp/python/test_all.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  01/6f2ad0a531893ba79de6683ab53780e9d040c9
Due: none

chore: simplify artifact_pool build graph
  rs/artifact_pool/BUILD.bazel
  rs/artifact_pool/Cargo.toml
  rs/artifact_pool/bin/consensus_pool_util.rs
Due: bazel_buildifier, bazel_rust_format
