Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$

fix
  rs/tests/testing_verification/testnets/BUILD.bazel
Due: bazel_buildifier

feat(nns): Omit large fields for InstallCode (#729)
  rs/nns/governance/src/governance.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

fmt
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/BUILD.bazel
Due: bazel_buildifier

Implement the execution of UpdateCanisterSettings proposals
  Cargo.lock
  rs/nervous_system/clients/src/canister_status.rs
  rs/nns/governance/BUILD.bazel
  rs/nns/governance/Cargo.toml
  rs/nns/governance/src/proposals/update_canister_settings.rs
  rs/nns/handlers/root/impl/canister/canister.rs
  rs/nns/handlers/root/impl/src/canister_management.rs
  rs/nns/handlers/root/interface/src/client.rs
  rs/nns/handlers/root/interface/src/lib.rs
  rs/nns/integration_tests/src/update_canister_settings.rs
Due: bazel_buildifier, bazel_rust_format

Disallow proposals updating settings of root
  rs/nns/governance/src/proposals/update_canister_settings.rs
Due: bazel_rust_format

fix(ICP-Rosetta): Fix test name (#660)
  rs/tests/Cargo.toml
  rs/tests/financial_integrations/rosetta/BUILD.bazel
  rs/tests/financial_integrations/rosetta/rosetta_neuron_disburse_test.rs
Due: bazel_buildifier, bazel_rust_format

feat(ICP-Rosetta): FI-1379: support rosetta block in network status (#579)
  Cargo.lock
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/BUILD.bazel
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/Cargo.toml
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/src/lib.rs
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/tests/tests.rs
  rs/rosetta-api/ledger_canister_blocks_synchronizer/src/blocks.rs
  rs/rosetta-api/rosetta_core/src/response_types.rs
  rs/rosetta-api/src/request_handler.rs
  rs/rosetta-api/tests/basic_tests.rs
Due: bazel_buildifier, bazel_rust_format

test(icrc_ledger): FI-1047: Add basic upgrade downgrade test for ICRC ledger suite (#530)
  Cargo.lock
  mainnet-canisters.bzl
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/rosetta-api/icrc1/Cargo.toml
  rs/rosetta-api/icrc1/tests/upgrade_downgrade.rs
Due: bazel_buildifier, bazel_rust_format

Add tests for using up allowance and setting allowance to 0
  rs/rosetta-api/icrc1/ledger/sm-tests/src/in_memory_ledger/tests.rs
Due: bazel_rust_format

test(icrc_ledger): FI-1399: Add an InMemoryLedger for verifying ICRC ledger state (#719)
  rs/rosetta-api/icrc1/ledger/sm-tests/BUILD.bazel
  rs/rosetta-api/icrc1/ledger/sm-tests/src/in_memory_ledger.rs
  rs/rosetta-api/icrc1/ledger/sm-tests/src/in_memory_ledger/tests.rs
  rs/rosetta-api/icrc1/ledger/sm-tests/src/lib.rs
  rs/rosetta-api/icrc1/ledger/sm-tests/src/metrics.rs
  rs/rosetta-api/icrc1/ledger/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

fix: DomainLabelTooLong in boundary_node_integration_on_playnet_test
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/boundary_nodes/boundary_node_intgrtn_on_playnet_test.rs
  rs/tests/boundary_nodes/boundary_node_intgrtn_test.rs
Due: bazel_buildifier, bazel_rust_format

fix
  rs/tests/Cargo.toml
Due: none

.
  rs/messaging/src/routing/stream_handler/tests.rs
Due: bazel_rust_format

fix: Ensure that subnet capacity is taken into account for canister snapshots
  rs/config/src/execution_environment.rs
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/update/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/hypervisor/tests.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/interfaces/src/execution_environment.rs
  rs/replicated_state/src/replicated_state.rs
  rs/system_api/src/lib.rs
  rs/system_api/tests/common/mod.rs
  rs/system_api/tests/system_api.rs
  rs/test_utilities/embedders/src/lib.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

Testing
  rs/crypto/src/sign/canister_threshold_sig/idkg/transcript/tests.rs
  rs/crypto/tests/canister_threshold_idkg.rs
Due: bazel_rust_format

feat(ckerc20): NNS proposal to add ckWSTETH (#612)
  rs/ethereum/cketh/docs/proposals.adoc
  rs/ethereum/cketh/mainnet/orchestrator_upgrade_2024_07_26.md
Due: none

XC-162: typos
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
Due: bazel_rust_format

XC-162: rename tests
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
Due: bazel_rust_format

test(ckerc20): Ensure same processing between EVM-RPC and minter results (#562)
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
  rs/ethereum/cketh/minter/src/tx/tests.rs
Due: bazel_rust_format

fix doc on system_test_nns
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Compute heap delta on the fly
  rs/replicated_state/src/canister_snapshots.rs
Due: bazel_rust_format

Update comment
  rs/replicated_state/src/canister_snapshots.rs
Due: bazel_rust_format

XC-164: client eth_get_transaction_receipt
  rs/ethereum/evm-rpc-client/src/lib.rs
  rs/ethereum/evm-rpc-client/src/types.rs
Due: bazel_rust_format

Implement parallel page copying for the page allocator.
  rs/canister_sandbox/src/lib.rs
  rs/config/src/embedders.rs
  rs/replicated_state/src/page_map/page_allocator.rs
  rs/replicated_state/src/page_map/page_allocator/mmap.rs
Due: bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Fix comment.
  rs/replicated_state/src/page_map/page_allocator.rs
Due: bazel_rust_format

feat: Limit amount of heap delta for snapshots per checkpoint
  rs/config/src/execution_environment.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/history.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/tests/execution_test.rs
  rs/protobuf/def/state/ingress/v1/ingress.proto
  rs/protobuf/def/state/metadata/v1/metadata.proto
  rs/protobuf/src/gen/state/state.ingress.v1.rs
  rs/protobuf/src/gen/state/state.metadata.v1.rs
  rs/protobuf/src/gen/types/state.ingress.v1.rs
  rs/replicated_state/src/metadata_state.rs
  rs/state_machine_tests/src/lib.rs
  rs/types/error_types/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

Fix Cargo.toml file.
  rs/replicated_state/Cargo.toml
Due: none

update version
  testnet/mainnet_revisions.json
Due: none

fix: Update heap delta debit and estimate when handling snapshots (#727)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/canister_snapshots.rs
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/execution_state.rs
  rs/replicated_state/src/canister_state/system_state/wasm_chunk_store.rs
  rs/replicated_state/src/page_map.rs
Due: bazel_rust_format

chore: Manually update `testnet/mainnet_revisions.json` (#736)
  testnet/mainnet_revisions.json
Due: none

Fix canonical state test
  rs/canonical_state/tests/hash_tree.rs
Due: bazel_rust_format

Use v2 call for consensus performance tests
  rs/tests/consensus/consensus_performance.rs
  rs/tests/driver/src/util.rs
  rs/tests/src/boundary_nodes/boundary_nodes_integration.rs
Due: bazel_rust_format

simpligy
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/stripped.rs
Due: bazel_rust_format

XC-164: use EVM-RPC canister for eth_get_transaction_receipt
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/responses.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/test_utils/src/flow.rs
Due: bazel_rust_format

lint
  rs/tests/driver/src/util.rs
Due: bazel_rust_format

Add check in load_canister_snapshot and test
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/execution_test.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

.
  rs/tests/driver/src/util.rs
Due: bazel_rust_format

Update tests to check what happens after checkpoint
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/tests/execution_test.rs
Due: bazel_rust_format

chore(IDX): drop GitLab support from //bazel/exporter
  bazel/exporter/main.go
Due: none
