Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

perf(canister_logging): optimize resizing LogMemoryStore
  rs/replicated_state/BUILD.bazel
  rs/replicated_state/Cargo.toml
  rs/replicated_state/benches/log_memory_store.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/log_record.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/struct_io.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/tests/log_memory_store.rs
  rs/test_utilities/execution_environment/src/wat_canister.rs
Due: bazel_buildifier, bazel_rust_format

fix: deflake //rs/tests/cross_chain:ic_xc_cketh_test_head_nns
  rs/tests/cross_chain/ic_xc_cketh_test.rs
Due: bazel_rust_format

revert wat_canister repeat
  rs/test_utilities/execution_environment/src/wat_canister.rs
Due: bazel_rust_format

wip
  Cargo.Bazel.json.lock
  bazel/askama.patch
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

peekable
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

fix: deflake //rs/rosetta-api/icp:icp_rosetta_system_tests
  rs/rosetta-api/icp/tests/system_tests/test_cases/block_synchronization.rs
Due: bazel_rust_format

make readable and writable
  .github/actions/bazel/bin/bazel
Due: none

add sudo
  .github/actions/bazel/bin/bazel
Due: none

refactor: wat_canister
  rs/test_utilities/execution_environment/src/wat_canister/mod.rs
  rs/test_utilities/execution_environment/src/wat_canister/tests.rs
Due: bazel_rust_format

refactor tests
  rs/test_utilities/execution_environment/src/wat_canister/mod.rs
  rs/test_utilities/execution_environment/src/wat_canister/tests.rs
Due: bazel_rust_format

refactor wat_canister code
  rs/test_utilities/execution_environment/src/wat_canister/mod.rs
  rs/test_utilities/execution_environment/src/wat_canister/tests.rs
Due: bazel_rust_format

fix: deflake //rs/registry/canister:registry_canister_integration_test_tests/integration_tests (#9206)
  rs/registry/canister/tests/integration_tests.rs
  rs/registry/canister/tests/integration_tests_3.rs
Due: bazel_rust_format

.
  rs/test_utilities/execution_environment/src/wat_canister/mod.rs
Due: bazel_rust_format

fix: deflake //rs/tests/consensus/tecdsa:tecdsa_add_nodes_test (#9207)
  rs/tests/consensus/tecdsa/tecdsa_add_nodes_test.rs
Due: bazel_rust_format

reviewer`s comments
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/subnet_splitting_v2_test.rs
Due: bazel_buildifier, bazel_rust_format

.
  rs/tests/consensus/subnet_splitting_v2_test.rs
Due: bazel_rust_format

message
  rs/nns/governance/src/proposals/execute_nns_function.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  7a/96adf861873ceffeaa9ae3c5b6cc10d92473a0
Due: none

Leo`s comment
  rs/registry/canister/src/mutations/do_create_subnet.rs
Due: bazel_rust_format

more comments
  rs/registry/canister/src/mutations/do_create_subnet.rs
  rs/registry/canister/src/mutations/routing_table.rs
  rs/registry/routing_table/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  49/03b6a2ca4a553cebe42f40bd3d8a5559834db4
Due: none

test: make the consensus prop test in `//rs/consensus:consensus_test` faster (#9196)
  rs/consensus/src/consensus/proptests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  bc/59e55db16d207cb3b2ac1679d244799a39812d
Due: none

height arg
  rs/prep/src/subnet_configuration.rs
  rs/protobuf/def/registry/subnet/v1/subnet.proto
  rs/protobuf/src/gen/registry/registry.subnet.v1.rs
  rs/protobuf/src/gen/state/registry.subnet.v1.rs
  rs/protobuf/src/gen/types/registry.subnet.v1.rs
  rs/registry/canister/src/mutations/do_create_subnet.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  67/a6c172b696b8bbbc435ef742a4ddc5f3cd5ade
Due: none

rustfmt
  rs/test_utilities/execution_environment/src/wat_canister/mod.rs
Due: bazel_rust_format

clippy
  rs/test_utilities/execution_environment/src/wat_canister/mod.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
