Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Automatically fixing code for linting and formatting issues
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
Due: bazel_rust_format

feat(testnets): reserve five spare ids on the cloud_engine app subnet
  rs/tests/testnets/cloud_engine.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f0/cc13d4b6ac2703e861818745fff3da7e470d61
Due: none

chore: evaluate Remote Build Execution (RBE) @ Namespace (#10579)
  .devcontainer/devcontainer.json
  .github/workflows/api-bn-recovery-test.yml
  .github/workflows/ci-kickoff.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/ci-rbe-evaluation.yml
  .github/workflows/container-api-bn-recovery.yml
  .github/workflows/container-autobuild.yml
  .github/workflows/container-scan-nightly.yml
  .github/workflows/local-system-tests.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily-bare-metal.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/system-tests-benchmarks-nightly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  bazel/hermetic_cc_toolchain_cache_dir.patch
  ci/scripts/targets.py
  ic-os/bootloader/BUILD.bazel
  rs/ic_os/sev/host/BUILD.bazel
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icrc1/BUILD.bazel
  rs/nns/integration_tests/BUILD.bazel
  rs/sns/integration_tests/BUILD.bazel
Due: bazel_buildifier, bazel_ruff_format

Notes added by 'git notes add'
  5d/bfe66247e377c08834b4306df5e07f0f52f57b
Due: none

chore: Verify dealing transcript ID equality (#10945)
  rs/types/types/src/crypto/canister_threshold_sig/idkg.rs
  rs/types/types/src/crypto/canister_threshold_sig/idkg/tests/verify_transcript_params.rs
Due: bazel_rust_format

record cycles refunded to deleted canisters as consumed
  rs/messaging/src/canister_http_spent.rs
Due: bazel_rust_format

Revert "fix: canister to subnet rate"
  rs/tests/consensus/subnet_splitting_v2_test.rs
Due: bazel_rust_format

feat: properly implement lookup_range
  rs/registry/routing_table/src/lib.rs
  rs/registry/routing_table/src/tests.rs
Due: bazel_rust_format

chore: Increase current certification version to V27 (#10944)
  rs/canonical_state/certification_version/src/lib.rs
  rs/http_endpoints/public/src/read_state.rs
  rs/state_manager/src/manifest/split/tests.rs
  rs/tests/networking/read_state_test.rs
Due: bazel_rust_format

Update comment for spare4 in cloud_engine.rs
  rs/tests/testnets/cloud_engine.rs
Due: bazel_rust_format

feat(cketh): balance-scan scheduling layer (#10881)
  Cargo.lock
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/deposit.rs
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/tests.rs
  rs/ethereum/cketh/minter/src/state/event.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/tests/ckerc20.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
  rs/ethereum/cketh/test_utils/BUILD.bazel
  rs/ethereum/cketh/test_utils/Cargo.toml
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/mock.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  e5/2fee3706d926768a30e89d7e7c71cfeca8dad9
Due: none

Notes added by 'git notes add'
  a1/d61d4487cb108a4154893db3f79882d893249a
Due: none

Notes added by 'git notes add'
  52/2634fb44ab500ae2c2933b9936b8ca0da4b2ae
Due: none

Revert "record cycles refunded to deleted canisters as consumed"
  rs/messaging/src/canister_http_spent.rs
Due: bazel_rust_format

Make (NNS) Root support upgrade options, esp wasm_memory_persistence.
  rs/nervous_system/root/src/change_canister.rs
  rs/nns/handlers/root/impl/canister/root.did
  rs/nns/handlers/root/impl/src/root_proposals.rs
Due: bazel_rust_format

test(cketh): end-to-end balance scan against a live anvil node
  Cargo.lock
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/BUILD.bazel
  rs/ethereum/cketh/test_utils/Cargo.toml
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/live_scan.rs
Due: bazel_buildifier, bazel_rust_format

chore: use `docker inspect` to get the digest of the rbe worker image
  .github/workflows/container-autobuild.yml
  ci/container/TAG
Due: none

fix(cketh): align balance-scan test targets to edition 2024
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
Due: bazel_buildifier, bazel_rust_format

refactor(cketh): drop redundant edition attribute from test targets
  rs/ethereum/cketh/minter/BUILD.bazel
Due: bazel_buildifier

feat(cketh): move funded deposit addresses to a balance-sweep queue
  rs/ethereum/cketh/docs/deposit_from_cex.md
  rs/ethereum/cketh/minter/src/balance_scan/mod.rs
  rs/ethereum/cketh/minter/src/balance_scan/tests.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/tests.rs
  rs/ethereum/cketh/minter/src/state/event.rs
  rs/ethereum/cketh/minter/src/timed_sized_map/mod.rs
  rs/ethereum/cketh/minter/src/timed_sized_map/tests.rs
  rs/ethereum/cketh/minter/tests/ckerc20.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_rust_format

refactor(cketh): drop unused Eq derive from SweepEntry
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
Due: bazel_rust_format
