Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  d1/50b0f4aa7ebfb09ac4847c0dd574a35520356e
Due: none

Notes added by 'git notes add'
  57/d694fac20e23c1a62de05152e9ba2f0d1b1a0e
Due: none

fix: remove obsolete --config=lint
  .github/workflows/schedule-daily.yml
Due: none

Notes added by 'git notes add'
  98/97e243a585ae6a622dad816aec5a4d43586ee3
Due: none

Notes added by 'git notes add'
  b2/541468237285cd24c6a95adacccd2b9fac5cec
Due: none

chore(node): remove dead SOCKS proxy logic from BTC/Doge adapter config generation
  ic-os/components/guestos/ic-btc-adapter/generate-btc-adapter-config.sh
  ic-os/components/guestos/ic-btc-adapter/generate-doge-adapter-config.sh
Due: bazel_shfmt_format

chore: remove exec bits to Rust source files
  rs/artifact_pool/src/rocksdb_pool.rs
  rs/consensus/src/consensus/block_maker.rs
  rs/consensus/src/lib.rs
  rs/nns/governance/tests/fixtures/mod.rs
  rs/prep/src/internet_computer.rs
  rs/prep/src/prep_state_directory.rs
  rs/sns/governance/tests/fixtures/mod.rs
  rs/test_utilities/consensus/src/lib.rs
  rs/types/types/src/xnet/proto/tests.rs
Due: bazel_rust_format

.
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

alert
  rs/consensus/idkg/src/signer.rs
Due: bazel_rust_format

Fix comment: we sort by executed slices in descending order.
  rs/execution_environment/src/scheduler/round_schedule.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  75/ab678b8408d15957c59f4150d1125e6a460eb5
Due: none

chore: Update Mainnet ICOS revisions file
  mainnet-icos-revisions.json
Due: none

Notes added by 'git notes add'
  2a/5314052b54f6da9bb1f43cc1ae28ce453e0895
Due: none

Notes added by 'git notes add'
  80/c5a665862e41443774882c1bb59438d2503855
Due: none

docs
  rs/types/types/src/consensus/idkg.rs
Due: bazel_rust_format

Re-pin the kernel to avoid mem bug
  ic-os/guestos/context/Dockerfile.base
Due: none

Notes added by 'git notes add'
  98/8244621aeb0975989cb39b4ad71e2c920aa2ce
Due: none

test: deflake tests by introducing try_scp_send_to
  rs/tests/driver/src/driver/prometheus_vm.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/driver/src/driver/vector_vm.rs
Due: bazel_rust_format

Add context to fs::metadata error in try_scp_send_to
  rs/tests/driver/src/driver/test_env_api.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
