Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Fix Cargo files.
  Cargo.lock
  rs/canister_sandbox/Cargo.toml
Due: none

.
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/interfaces/state_manager/mocks/src/lib.rs
Due: bazel_rust_format

.
  rs/canister_sandbox/src/replica_controller/sandbox_process_eviction.rs
  rs/execution_environment/src/scheduler.rs
Due: bazel_rust_format

Remove outdated comment
  ic-os/components/ic/ic-btc-adapter/generate-btc-adapter-config.sh
Due: bazel_shfmt_format

Update setup-ssh-account-keys to use the config object
  ic-os/components/ssh/setup-ssh-account-keys/setup-ssh-account-keys.sh
Due: bazel_shfmt_format

Remove old config from build-bootstrap
  ic-os/components/hostos-scripts/build-bootstrap-config-image.sh
Due: bazel_shfmt_format

XC-207: clippy
  rs/ethereum/cketh/test_utils/src/mock.rs
Due: bazel_rust_format

Clean up build-bootstrap-config-image.sh
  ic-os/components/hostos-scripts/build-bootstrap-config-image.sh
Due: bazel_shfmt_format

Organize build-bootstrap-config-image
  ic-os/components/hostos-scripts/build-bootstrap-config-image.sh
Due: bazel_shfmt_format

Adress review comments.
  rs/replicated_state/src/canister_state/system_state.rs
Due: bazel_rust_format

Address review comments
  rs/crypto/ecdsa_secp256r1/src/lib.rs
  rs/crypto/ecdsa_secp256r1/tests/tests.rs
Due: bazel_rust_format

Remove unnecessary elastic-search argument
  ic-os/components/hostos-scripts/generate-guestos-config/dev-generate-guestos-config.sh
  ic-os/components/hostos-scripts/generate-guestos-config/generate-guestos-config.sh
Due: bazel_shfmt_format

Remove unnecessary nns_url parameter
  ic-os/components/hostos-scripts/generate-guestos-config/dev-generate-guestos-config.sh
  ic-os/components/hostos-scripts/generate-guestos-config/generate-guestos-config.sh
Due: bazel_shfmt_format

Reorganize build-bootstrap-config-image parameters
  ic-os/components/hostos-scripts/generate-guestos-config/dev-generate-guestos-config.sh
  ic-os/components/hostos-scripts/generate-guestos-config/generate-guestos-config.sh
Due: bazel_shfmt_format

Remove build_ic_bootstrap_tar conditional
  ic-os/components/hostos-scripts/build-bootstrap-config-image.sh
Due: bazel_shfmt_format

init
  rs/consensus/src/consensus/catchup_package_maker.rs
  rs/consensus/src/consensus/validator.rs
  rs/consensus/src/idkg.rs
  rs/consensus/src/idkg/payload_builder.rs
  rs/consensus/src/idkg/payload_builder/pre_signatures.rs
  rs/consensus/src/idkg/payload_builder/signatures.rs
  rs/consensus/src/idkg/payload_verifier.rs
  rs/consensus/src/idkg/signer.rs
  rs/consensus/src/idkg/test_utils.rs
  rs/consensus/src/idkg/utils.rs
  rs/protobuf/def/types/v1/idkg.proto
  rs/protobuf/src/gen/types/types.v1.rs
  rs/types/types/src/consensus/idkg.rs
  rs/types/types/src/consensus/idkg/common.rs
Due: bazel_protobuf_format, bazel_rust_format

Fix types in test
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
Due: bazel_rust_format

Make uniform Apalache call and response types
  rs/nns/governance/tla/Claim_Neuron_Apalache.tla
  rs/nns/governance/tla/Split_Neuron_Apalache.tla
Due: none

Translate tla for Claim_Neuron.tla
  rs/nns/governance/tla/Claim_Neuron.tla
Due: none

Implement TLA codelink check for claim_neuron
  rs/nns/governance/canister/tla_ledger.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tla/claim_neuron.rs
  rs/nns/governance/src/governance/tla/mod.rs
  rs/nns/governance/tests/fake.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/governance/tla/Claim_Neuron.tla
  rs/nns/governance/tla/Claim_Neuron_Apalache.tla
Due: bazel_rust_format

Add check_traces to more claim_neuron tests
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

Run rustfmt
  rs/nns/governance/canister/tla_ledger.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tla/claim_neuron.rs
  rs/nns/governance/tests/fake.rs
Due: bazel_rust_format

Attempt to upgrade root in test_get_upgrade_journal
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
Due: bazel_rust_format

Revert "perf: NODE-1499 Don't recursively fix permissions of the `backup` dir…"
  ic-os/components/ic/setup-permissions/setup-permissions.sh
Due: bazel_shfmt_format

fix: refactoring and review comments
  rs/ic_os/metrics_tool/src/lib.rs
  rs/ic_os/metrics_tool/src/main.rs
Due: bazel_rust_format

refactor(tests): Attempt to upgrade root in test_get_upgrade_journal (#2032)
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
Due: bazel_rust_format

chore(sns): Add swap logs when changing controllership (#2027)
  rs/sns/swap/src/swap.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f1/564ab5543303458aff1cdadde40e74d16c7d88
Due: none

Notes added by 'git notes add'
  e1/e09713c93d6775eaf06e7b92b9cb36501d2240
Due: none

Address code review comments
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/sns_upgrade.rs
  rs/sns/governance/tests/governance.rs
Due: bazel_rust_format

Fix test_refresh_cached_upgrade_steps
  rs/sns/governance/tests/governance.rs
Due: bazel_rust_format

first
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
Due: bazel_protobuf_format, bazel_rust_format

save
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/sns_upgrade.rs
Due: bazel_rust_format

second
  rs/sns/governance/src/canister_control.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/sns_upgrade.rs
Due: bazel_rust_format

save
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
  rs/sns/governance/src/governance.rs
Due: bazel_rust_format

save
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
Due: bazel_protobuf_format, bazel_rust_format

Make branch compile
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/src/governance.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
