Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  d2/6325b63ca4325f9474abb2f4bf42d6020476d1
Due: none

Notes added by 'git notes add'
  2f/c935c4ce650fcb83f1349b1a235eb094796cb8
Due: none

Address review comments: avoid also allocating a Vec in InboundMessageStore::callbacks_with_enqueued_response(); fix typo; move inner function definition before use.
  rs/replicated_state/src/canister_state/queues.rs
  rs/replicated_state/src/canister_state/queues/message_pool/tests.rs
  rs/replicated_state/src/canister_state/queues/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  79/8a62aae13c57863e3814bc969b37b8ed54e4df
Due: none

Notes added by 'git notes add'
  5a/288e3b763f85018dcbcaae7587925bb8802608
Due: none

Notes added by 'git notes add'
  eb/4ba502a68b032a114626084154a2ddc47e3abf
Due: none

Notes added by 'git notes add'
  e7/cf986187b426dfbc271a1ca436131a4250ffeb
Due: none

Notes added by 'git notes add'
  ca/d8a4d088a797492675b245700202bbc4b10178
Due: none

Notes added by 'git notes add'
  90/60e03ab73b41e82bb125edde6381c819f78bf6
Due: none

Notes added by 'git notes add'
  24/6b154188be53d1f8021f5e920c1021665a87f4
Due: none

Notes added by 'git notes add'
  b2/1be489eddc9a5b1a873baa7d43e4c449756c22
Due: none

Notes added by 'git notes add'
  6b/5c909f3cc4287405e8c010bfb481c523ae1e63
Due: none

Notes added by 'git notes add'
  fa/e3d92c7663701ee9137413579c95996e5734c0
Due: none

Notes added by 'git notes add'
  ba/b5d3d44b5021c6304ce495448d24ea68d182a8
Due: none

Notes added by 'git notes add'
  e2/cb3d6389e0696a112f0f484585eb384ca6eff7
Due: none

Notes added by 'git notes add'
  7b/7c7d71ba0c0404ca1790fa07dd538869f1a717
Due: none

Notes added by 'git notes add'
  f6/bbaa4d21f5c2cb1c0d416f28b7cb4eb15f4a47
Due: none

.
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  af/ad27aa2fd646cc04a479e5f15b4cc7aa9ea446
Due: none

Notes added by 'git notes add'
  cc/99ffb661a1e9951ece913d29aac02ce50cc380
Due: none

PSEC-2137: Risk assessment reminders for failover findings
  ci/src/dependencies/data_source/slack_findings_failover/data.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_info.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_info_test.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_load.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_store.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_store_test.py
  ci/src/dependencies/integration/slack/slack_api.py
  ci/src/dependencies/integration/slack/slack_message.py
Due: bazel_ruff_format

m
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

test: Fix TLA instrumentation for empty functions
  rs/tla_instrumentation/tla_instrumentation/src/tla_value.rs
Due: bazel_rust_format
