Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  e2/6cf5157be786b8382d232eccfbd62b4f706e57
Due: none

fix: Revert "feat(system-api): add `call_cycles_add128_up_to` (#1158)" (#1319)
  rs/cycles_account_manager/src/lib.rs
  rs/cycles_account_manager/tests/cycles_account_manager.rs
  rs/embedders/src/wasm_utils/validation.rs
  rs/embedders/src/wasmtime_embedder/system_api.rs
  rs/embedders/src/wasmtime_embedder/system_api_complexity.rs
  rs/embedders/tests/validation.rs
  rs/execution_environment/benches/system_api/execute_update.rs
  rs/execution_environment/src/hypervisor/tests.rs
  rs/execution_environment/src/query_handler/query_cache/tests.rs
  rs/execution_environment/src/query_handler/tests.rs
  rs/interfaces/src/execution_environment.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/request_in_prep.rs
  rs/system_api/src/sandbox_safe_system_state.rs
  rs/system_api/tests/system_api.rs
  rs/universal_canister/impl/src/api.rs
  rs/universal_canister/impl/src/lib.rs
  rs/universal_canister/impl/src/main.rs
  rs/universal_canister/lib/src/lib.rs
  rs/universal_canister/lib/src/universal-canister.wasm.gz
Due: bazel_rust_format

feat(EXC-1715): Canister Backtrace Flag
  rs/config/src/embedders.rs
  rs/embedders/src/wasm_executor.rs
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/src/wasmtime_embedder/wasmtime_embedder_tests.rs
  rs/system_api/src/lib.rs
  rs/system_api/tests/common/mod.rs
  rs/system_api/tests/system_api.rs
  rs/test_utilities/embedders/src/lib.rs
Due: bazel_rust_format

clippy and a test
  rs/embedders/src/wasmtime_embedder/wasmtime_embedder_tests.rs
  rs/embedders/tests/wasmtime_random_memory_writes.rs
Due: bazel_rust_format

chore: update query stats log message to be less confusing in PocketIC
  rs/query_stats/src/payload_builder.rs
Due: bazel_rust_format

unit tests
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/stripped.rs
Due: bazel_rust_format

.
  rs/messaging/src/routing/stream_handler/tests.rs
Due: bazel_rust_format

chore: upgrade nixpkgs in run-p8s.nix to match the version used in the prometheus-vm
  rs/tests/run-p8s.nix
Due: none

.
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/stripper.rs
Due: bazel_rust_format

.
  rs/messaging/src/routing/stream_handler.rs
  rs/replicated_state/src/replicated_state.rs
Due: bazel_rust_format

Add tests for popping from (input and output) queues with stale references.
  rs/replicated_state/src/canister_state/queues.rs
  rs/replicated_state/src/canister_state/queues/tests.rs
  rs/replicated_state/src/replicated_state.rs
Due: bazel_rust_format

ref
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/stripper.rs
Due: bazel_rust_format

.
  rs/messaging/src/routing/stream_handler.rs
Due: bazel_rust_format

chore: upgrade nixpkgs in run-p8s.nix to match the version used in the prometheus-vm (#1323)
  rs/tests/run-p8s.nix
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

Notes added by 'git notes add'
  0b/3c422965226ff0f4c2c4fd1e82811ac92cfcb8
Due: none

test utils
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/mod.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/stripper.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/test_utils.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/stripped.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a2/1504221318c4e8cbfcd4a233c84f0afd2eda0b
Due: none

Make get_or_insert_queues() a free function, so we avoid the need to work around the borrow checker.
  rs/replicated_state/src/canister_state/queues.rs
Due: bazel_rust_format

errors
  Cargo.lock
  rs/p2p/artifact_downloader/BUILD.bazel
  rs/p2p/artifact_downloader/Cargo.toml
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
Due: bazel_buildifier, bazel_rust_format

clippy
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/stripper.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/stripped.rs
Due: bazel_rust_format

cleanup
  rs/async_utils/src/http.rs
  rs/http_endpoints/fuzz/fuzz_targets/execute_call_service.rs
  rs/http_endpoints/metrics/src/lib.rs
  rs/http_endpoints/public/Cargo.toml
  rs/http_endpoints/public/src/lib.rs
  rs/http_endpoints/public/tests/common/mod.rs
  rs/xnet/endpoint/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

.
  rs/xnet/endpoint/src/lib.rs
Due: bazel_rust_format

update
  ci/bazel-scripts/main.sh
  ci/scripts/run-build-ic.sh
Due: bazel_shfmt_format

remove
  .github/workflows-source/ci-main.yml
  ci/scripts/run-build-ic.sh
Due: bazel_shfmt_format

Replace all unwraps() in CanisterQueues production code with expects().
  rs/replicated_state/src/canister_state/queues.rs
Due: bazel_rust_format

move artifacts
  .gitignore
  ci/src/artifacts/.gitkeep
  ci/src/artifacts/BUILD.bazel
  ci/src/artifacts/collect_core_dumps.sh
  ci/src/artifacts/find-build-id.sh
  ci/src/artifacts/newest_sha_with_disk_image.sh
  ci/src/artifacts/openssl-sign.sh
  ci/src/artifacts/openssl-verify.sh
  ci/src/artifacts/rclone_download.py
  ci/src/artifacts/rclone_upload.py
  ci/src/artifacts/trusted-builders-public.key
  ci/src/artifacts/upload.bash.template
  ci/src/artifacts/upload.bzl
Due: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format

update references
  bazel/BUILD.bazel
  bazel/conf/.bazelrc.build
  ic-os/defs.bzl
  ic-os/dev-tools/get-artifacts.sh
  publish/binaries/BUILD.bazel
  publish/canisters/BUILD.bazel
  rs/backup/upgrade.sh
  rs/tests/README_NEW.md
  testnet/README.md
  testnet/tools/build-guestos-configs.sh
  testnet/tools/icos_collect_debug_info.py
  testnet/tools/icos_deploy.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format

chore: update query stats log message to be less confusing in PocketIC (#1322)
  rs/query_stats/src/payload_builder.rs
Due: bazel_rust_format

remove
  .gitignore
  ci/src/artifacts/.gitkeep
Due: none

chore(registry): Remove dfn_core::println in 2 places where they are no longer used (#1320)
  rs/registry/canister/src/get_node_providers_monthly_xdr_rewards.rs
  rs/registry/canister/src/invariants/endpoint.rs
Due: bazel_rust_format

debug
  ci/bazel-scripts/diff.sh
Due: bazel_shfmt_format

fix(deps): drop release_max_level_debug from slog features
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.json.lock
  Cargo.toml
  bazel/external_crates.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  bb/66a260f29a650f29db9bcc053c96f1ca40687e
Due: none

XC-189: Handle non ckERC-20 canisters more explicitly
  rs/ethereum/ledger-suite-orchestrator/ledger_suite_orchestrator.did
  rs/ethereum/ledger-suite-orchestrator/src/candid/mod.rs
  rs/ethereum/ledger-suite-orchestrator/src/lifecycle/mod.rs
  rs/ethereum/ledger-suite-orchestrator/src/main.rs
  rs/ethereum/ledger-suite-orchestrator/src/scheduler/mod.rs
  rs/ethereum/ledger-suite-orchestrator/src/state/mod.rs
  rs/ethereum/ledger-suite-orchestrator/src/state/tests.rs
  rs/ethereum/ledger-suite-orchestrator/test_utils/src/lib.rs
  rs/ethereum/ledger-suite-orchestrator/tests/tests.rs
  rs/tests/src/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
