Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Pass ic-ref-test directly
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/tests/spec_test.rs
  rs/tests/research/BUILD.bazel
  rs/tests/research/spec_compliance/spec_compliance.rs
Due: bazel_buildifier, bazel_rust_format

fix(nns): Prevent large manage neuron proposals (#71)
  rs/nns/governance/CHANGELOG.md
  rs/nns/governance/src/governance.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

Clippy
  rs/pocket_ic_server/tests/spec_test.rs
Due: bazel_rust_format

Wrap rules_haskell defs at a lower level
  hs/spec_compliance/BUILD.bazel
  hs/spec_compliance/defs.bzl
Due: bazel_buildifier

chore: log requests with invalid ingress expiry
  rs/http_endpoints/public/src/common.rs
Due: bazel_rust_format

chore: Extra logs for the end of state sync (#4497)
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

do not change semantics yet
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

fix: Pass ic-ref-test directly (#4515)
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/tests/spec_test.rs
  rs/tests/research/BUILD.bazel
  rs/tests/research/spec_compliance/spec_compliance.rs
Due: bazel_buildifier, bazel_rust_format

fix duplication
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

introduce flags
  rs/config/src/execution_environment.rs
Due: bazel_rust_format

Post-review fixes
  rs/embedders/benches/compilation.rs
  rs/embedders/benches/embedders_bench/src/lib.rs
  rs/embedders/benches/heap.rs
  rs/embedders/benches/stable_memory.rs
Due: bazel_rust_format

remove canister mem access
  ic-os/components/selinux/ic-node/ic-node.te
Due: none

fix(IDX): add quotes to bazel-targets
  .github/actions/bazel-test-all/action.yaml
Due: none

test
  .github/workflows-source/release-testing.yml
Due: none

IDX GitHub Automation
  .github/workflows/release-testing.yml
Due: none

return
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

debug
  .github/actions/bazel-test-all/action.yaml
Due: none

add protected
  .github/actions/bazel-test-all/action.yaml
Due: none

fix: EXC: Fix embedder heap benchmarks (#4457)
  rs/embedders/benches/compilation.rs
  rs/embedders/benches/embedders_bench/src/lib.rs
  rs/embedders/benches/heap.rs
  rs/embedders/benches/stable_memory.rs
  rs/execution_environment/benches/baseline/EMBEDDERS_HEAP.min
  rs/execution_environment/benches/run-all-benchmarks.sh
  rs/execution_environment/benches/summarize-results.sh
Due: bazel_shfmt_format, bazel_rust_format

chore(EXC-1837): Remove execmem permissions (#4492)
  ic-os/components/selinux/ic-node/ic-node.fc
  ic-os/components/selinux/ic-node/ic-node.te
Due: none

feat: [EXC-1941] Introduce feature flags for canister snapshot import and export (#4519)
  rs/config/src/execution_environment.rs
Due: bazel_rust_format

fix(IDX): make sure MERGE_BASE_SHA and BRANCH_HEAD_SHA are set
  .github/actions/bazel-test-all/action.yaml
Due: none

debug
  .github/actions/bazel/bin/bazel
Due: none

test
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

add to same line
  .github/workflows-source/release-testing.yml
Due: none

fix spelling
  .github/actions/bazel-test-all/action.yaml
Due: none

fix(IDX): move bazel commands to one line
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
Due: none

IDX GitHub Automation
  .github/workflows/release-testing.yml
  .github/workflows/schedule-daily.yml
Due: none

fix(IDX): make sure MERGE_BASE_SHA and BRANCH_HEAD_SHA are set (#4521)
  .github/actions/bazel-test-all/action.yaml
Due: none

feat(EXC): Skip compilation charge when Wasm is in cache
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution_environment/tests/compilation.rs
  rs/execution_environment/src/hypervisor.rs
Due: bazel_rust_format

From https://github.com/hpeebles/ic/commit/705ea9c6e544677ac52976f9856f3d58d3a22894
  rs/execution_environment/tests/dts.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_rust_format

chore(EXC-1991): Remove in-memory compilation cache
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/embedders/src/compilation_cache.rs
  rs/embedders/src/lib.rs
  rs/embedders/src/serialized_module.rs
  rs/embedders/src/wasm_executor.rs
Due: bazel_rust_format

feat(EXC-1993): Increase sandbox limit
  rs/config/src/embedders.rs
Due: bazel_rust_format

reduce default sandbox rss
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/config/src/embedders.rs
Due: bazel_rust_format

bump sandbox rss
  rs/config/src/embedders.rs
Due: bazel_rust_format

fix(IDX): move bazel commands to one line (#4523)
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/release-testing.yml
  .github/workflows/schedule-daily.yml
Due: none

adding the distinction between an overall timeout and chunk timeout
  rs/http_utils/src/file_downloader.rs
Due: bazel_rust_format

WIP disentangling consensus and idkg
  rs/consensus/BUILD.bazel
  rs/consensus/idkg/BUILD.bazel
  rs/consensus/idkg/src/lib.rs
  rs/consensus/idkg/src/payload_builder.rs
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/block_maker.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
