Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  ac/7ff452684f84ea0cfc3fd0a27228220a368b33
Due: none

Import fix
  rs/rosetta-api/icrc1/tests/multitoken_system_tests.rs
Due: bazel_rust_format

Switch allowances from HashMap to BTreeMap
  rs/ledger_suite/icrc1/test_utils/src/lib.rs
Due: bazel_rust_format

Remove cache throughout
  .github/actions/bazel/action.yaml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/src/mainnet_revisions/mainnet_revisions.py
Due: bazel_ruff_format

lint
  rs/nns/governance/src/pb/mod.rs
Due: bazel_rust_format

Test set following, which support specifying multiple topics at once.
  rs/nns/governance/tests/neurons.rs
Due: bazel_rust_format

SetFollowing::validate to prevent large requests.
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/pb/mod.rs
  rs/nns/governance/tests/neurons.rs
Due: bazel_rust_format

changelog
  rs/nns/governance/unreleased_changelog.md
Due: none

Set following on multiple topics at once. Still need tests tho.
  rs/nns/governance/api/src/proposal_submission_helpers.rs
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/governance/src/pb/mod.rs
Due: bazel_protobuf_format, bazel_rust_format

chore(IDX): dockerhub
  .github/workflows/rosetta-release.yml
Due: none

added backwards test snapshot
  rs/tests/consensus/upgrade/upgrade_downgrade_app_subnet_test.rs
Due: bazel_rust_format

Remove unused dependency
  Cargo.lock
  packages/icrc-ledger-types/BUILD.bazel
  packages/icrc-ledger-types/Cargo.toml
Due: bazel_buildifier

refactor(cketh): replace local types with evm_rpc_types (#5428)
  rs/ethereum/cketh/minter/src/deposit.rs
  rs/ethereum/cketh/minter/src/eth_logs/mod.rs
  rs/ethereum/cketh/minter/src/eth_logs/parser.rs
  rs/ethereum/cketh/minter/src/eth_logs/scraping.rs
  rs/ethereum/cketh/minter/src/eth_logs/tests.rs
  rs/ethereum/cketh/minter/src/eth_rpc.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/responses.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
  rs/ethereum/cketh/minter/src/tests.rs
  rs/ethereum/cketh/minter/src/withdraw.rs
  rs/ethereum/cketh/test_utils/src/ckerc20.rs
  rs/ethereum/evm-rpc-client/src/lib.rs
Due: bazel_rust_format

Buildifier
  rs/rosetta-api/icp/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  7e/d93cf223da9182e391a7867b24975baab76f7e
Due: none

Re-enable CON tests
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/upgrade/BUILD.bazel
Due: bazel_buildifier

Use a previous snapshot for ballots if an unusually high voting power is detected
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tests/mod.rs
  rs/nns/governance/src/governance/voting_power_snapshots.rs
  rs/nns/governance/src/governance/voting_power_snapshots_tests.rs
  rs/nns/governance/src/lib.rs
  rs/nns/governance/src/neuron_store/voting_power.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/governance/src/storage.rs
  rs/nns/governance/src/timer_tasks/snapshot_voting_power.rs
  rs/nns/integration_tests/src/governance_proposals.rs
  rs/nns/integration_tests/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

Remove unused import
  ci/src/mainnet_revisions/mainnet_revisions.py
Due: bazel_ruff_format

fix: remove /tmp mount in container-run.sh to prevent shadowing
  ci/container/container-run.sh
Due: bazel_shfmt_format

save
  Cargo.lock
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
  rs/sns/cli/BUILD.bazel
  rs/sns/cli/Cargo.toml
  rs/sns/cli/src/register_extension.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
Due: bazel_buildifier, bazel_rust_format

chore(IDX): don't use a repository cache (#5595)
  .github/actions/bazel/action.yaml
  .github/actions/bazel/bin/bazel
  .github/workflows-source/ci-main.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/src/mainnet_revisions/mainnet_revisions.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  31/7aacf3f9fed00c1ff8fddb3def43259f1d83a7
Due: none

fix: remove /tmp mount in container-run.sh to prevent shadowing (#5601)
  ci/container/container-run.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  46/bdcf0f7ba0637c4b7090279b83c13aea45f5f3
Due: none

fix: Do not return system state changes on errors for composite queries (#5567)
  rs/embedders/src/wasmtime_embedder/system_api.rs
  rs/embedders/tests/system_api.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  66/18ed24ce4efd292bdf6e879d9369cac470f2c7
Due: none

r
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

Use BTreeMap
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/src/lib.rs
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/tests/tests.rs
  rs/crypto/src/vetkd/mod.rs
Due: bazel_rust_format
