Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Fix benchmark
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/governance/benches.rs
Due: bazel_rust_format

chore(nns): Fix benchmark test (#2813)
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/governance/benches.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  9f/168dd6e0461e454627ad5705c91fd1f2a63549
Due: none

improve test coverage and comments
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

hide update_call_with_effective_principal
  packages/pocket-ic/CHANGELOG.md
  packages/pocket-ic/src/lib.rs
  packages/pocket-ic/src/nonblocking.rs
Due: bazel_rust_format

test(EXC-1807): Move long execution tests
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution_environment/tests/orthogonal_persistence.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_rust_format

XC-230: discarded UTXOs for both ignored and quarantined
  rs/bitcoin/ckbtc/minter/src/dashboard.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/audit.rs
  rs/bitcoin/ckbtc/minter/src/state/eventlog.rs
  rs/bitcoin/ckbtc/minter/src/state/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/update_balance.rs
Due: bazel_rust_format

tests
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

visibility
  packages/pocket-ic/src/lib.rs
Due: bazel_rust_format

owns_instance
  packages/pocket-ic/src/nonblocking.rs
Due: bazel_rust_format

Update README.adoc
  rs/p2p/quic_transport/README.adoc
Due: none

comment
  packages/pocket-ic/src/nonblocking.rs
Due: bazel_rust_format

remove old voting tests
  Cargo.lock
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/Cargo.toml
  rs/rosetta-api/icp/client/src/lib.rs
  rs/rosetta-api/icp/tests/system_tests/common/governance_client.rs
  rs/rosetta-api/icp/tests/system_tests/common/mod.rs
  rs/rosetta-api/icp/tests/system_tests/common/system_test_environment.rs
  rs/rosetta-api/icp/tests/system_tests/common/utils.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/voting.rs
  rs/tests/src/rosetta_tests/tests.rs
  rs/tests/src/rosetta_tests/tests/neuron_voting.rs
Due: bazel_buildifier, bazel_rust_format

migrate rosetta voting test
  Cargo.lock
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/Cargo.toml
  rs/rosetta-api/icp/client/src/lib.rs
  rs/rosetta-api/icp/tests/system_tests/common/governance_client.rs
  rs/rosetta-api/icp/tests/system_tests/common/mod.rs
  rs/rosetta-api/icp/tests/system_tests/common/system_test_environment.rs
  rs/rosetta-api/icp/tests/system_tests/common/utils.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/mod.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/voting.rs
Due: bazel_buildifier, bazel_rust_format

test(EXC-1807): Move long execution tests
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/execution_environment/tests/orthogonal_persistence.rs
Due: bazel_rust_format

test(EXC-1808): Precompile universal canister
  Cargo.lock
  rs/embedders/BUILD.bazel
  rs/embedders/Cargo.toml
  rs/embedders/bin/instrument_wasm.rs
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/hypervisor/tests.rs
  rs/execution_environment/src/query_handler/query_cache/tests.rs
  rs/execution_environment/src/query_handler/tests.rs
  rs/test_utilities/execution_environment/BUILD.bazel
  rs/test_utilities/execution_environment/Cargo.toml
  rs/test_utilities/execution_environment/src/lib.rs
  rs/universal_canister/impl/BUILD.bazel
  rs/universal_canister/impl/Cargo.toml
  rs/universal_canister/impl/empty.wasm.gz
  rs/universal_canister/lib/BUILD.bazel
  rs/universal_canister/lib/Cargo.toml
  rs/universal_canister/lib/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

clippy
  rs/tests/src/rosetta_tests/test_neurons.rs
Due: bazel_rust_format

Working ICP golden state test
  rs/config/src/execution_environment.rs
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/tests/golden_nns_state.rs
  rs/ledger_suite/tests/sm-tests/src/in_memory_ledger.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
  rs/nns/test_utils/golden_nns_state/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Revert "Merge branch 'maciej-icrc-v3' into maciej-icp-v3"
  Cargo.lock
  rs/ledger_suite/common/ledger_canister_core/src/ledger.rs
  rs/ledger_suite/common/ledger_core/src/approvals.rs
  rs/ledger_suite/common/ledger_core/src/approvals/tests.rs
  rs/ledger_suite/common/ledger_core/src/tokens.rs
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/Cargo.toml
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/src/account_identifier.rs
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

XC-230: CheckedUtxoV2
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/audit.rs
  rs/bitcoin/ckbtc/minter/src/state/eventlog.rs
  rs/bitcoin/ckbtc/minter/src/updates/update_balance.rs
Due: bazel_rust_format

refactor(test): Reduce number of ticks used in tests (#2758)
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
Due: bazel_rust_format

cleanup
  Cargo.lock
  rs/execution_environment/src/query_handler/query_cache/tests.rs
  rs/universal_canister/impl/BUILD.bazel
  rs/universal_canister/impl/Cargo.toml
  rs/universal_canister/impl/empty.wasm.gz
  rs/universal_canister/lib/BUILD.bazel
  rs/universal_canister/lib/Cargo.toml
Due: bazel_buildifier, bazel_rust_format

.
  rs/tests/boundary_nodes/integration_test_common/BUILD.bazel
Due: bazel_buildifier

test(EXC-1807): Move long execution tests (#2814)
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/execution_environment/tests/orthogonal_persistence.rs
Due: bazel_rust_format

.
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/tests/boundary_nodes/integration_test_common/BUILD.bazel
  rs/tests/boundary_nodes/integration_test_common/Cargo.toml
  rs/tests/boundary_nodes/integration_test_common/src/lib.rs
  rs/tests/boundary_nodes/integration_test_common/src/v2_call_transport.rs
  rs/tests/driver/src/util.rs
Due: bazel_buildifier, bazel_rust_format

use icrc-cbor library
  Cargo.lock
  packages/icrc-ledger-types/BUILD.bazel
  packages/icrc-ledger-types/Cargo.toml
  packages/icrc-ledger-types/src/cbor/mod.rs
  packages/icrc-ledger-types/src/cbor/principal.rs
  packages/icrc-ledger-types/src/icrc1/account.rs
  packages/icrc-ledger-types/src/lib.rs
  rs/ledger_suite/icrc1/tokens_u256/BUILD.bazel
  rs/ledger_suite/icrc1/tokens_u256/Cargo.toml
  rs/ledger_suite/icrc1/tokens_u256/src/lib.rs
  rs/ledger_suite/icrc1/tokens_u256/src/minicbor_u256.rs
Due: bazel_buildifier, bazel_rust_format

Rename Batch
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/tests/integration.rs
  rs/determinism_test/src/lib.rs
  rs/drun/src/lib.rs
  rs/messaging/src/message_routing/tests.rs
  rs/messaging/src/state_machine.rs
  rs/messaging/src/state_machine/tests.rs
  rs/replay/src/player.rs
  rs/state_machine_tests/src/lib.rs
  rs/test_utilities/types/src/batch/batch_builder.rs
  rs/types/types/src/batch.rs
Due: bazel_rust_format

clippy
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  bf/1a36bdf6a59ef3fb6fa5e641f01b402f4cde62
Due: none

Notes added by 'git notes add'
  ac/64a1d952e9d9bbb03701a315513b33e721c2c3
Due: none

Pin to 0.39.1
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
Due: bazel_buildifier

XC-230: finish impl of DiscardedUtxos
  rs/bitcoin/ckbtc/minter/src/metrics.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/audit.rs
  rs/bitcoin/ckbtc/minter/src/updates/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/update_balance.rs
Due: bazel_rust_format

test: create module for testing V2 update calls (#2803)
  Cargo.lock
  rs/tests/boundary_nodes/integration_test_common/BUILD.bazel
  rs/tests/boundary_nodes/integration_test_common/Cargo.toml
  rs/tests/boundary_nodes/integration_test_common/src/lib.rs
  rs/tests/boundary_nodes/integration_test_common/src/v2_call_transport.rs
  rs/tests/driver/src/util.rs
Due: bazel_buildifier, bazel_rust_format

Update rs/p2p/quic_transport/README.adoc
  rs/p2p/quic_transport/README.adoc
Due: none

Notes added by 'git notes add'
  45/5e5376d9cb8df7989a61c4d81b1ffe2574943f
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
