Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

wip
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

XC-312: proposal for index
  rs/bitcoin/ckbtc/mainnet/ckbtc_index_upgrade_2025_03_17.md
Due: none

XC-312: proposal for ledger
  rs/bitcoin/ckbtc/mainnet/ckbtc_ledger_upgrade_2025_03_17.md
Due: none

whitelists
  rs/types/management_canister_types/BUILD.bazel
Due: bazel_buildifier

chore: Update Mainnet IC revisions subnets file
  mainnet-subnet-revisions.json
Due: none

chore(ckbtc): Add a canbench for event migration (#4029)
  Cargo.lock
  bazel/canbench.bzl
  bazel/canbench.sh
  rs/bitcoin/ckbtc/minter/BUILD.bazel
  rs/bitcoin/ckbtc/minter/Cargo.toml
  rs/bitcoin/ckbtc/minter/canbench/canbench.yml
  rs/bitcoin/ckbtc/minter/canbench/results.yml
  rs/bitcoin/ckbtc/minter/src/storage.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

Notes added by 'git notes add'
  c1/37e1c57effbb02ee592a8b4c571546685d1aca
Due: none

Notes added by 'git notes add'
  0c/35125a00d8c569dbd55fb763e694d409927971
Due: none

rm
  rs/types/types/src/crypto.rs
  rs/types/types/src/exhaustive.rs
Due: bazel_rust_format

chore(ICP-Ledger): migrate tests from dfn to cdk (#4324)
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

chore(IDX): simplify S3 upload
  .rclone-anon.conf
  .rclone.conf
  bazel/conf/.bazelrc.internal
  ci/src/artifacts/upload.bzl
  ci/src/artifacts/upload.sh
  ci/tools/rclone
Due: bazel_buildifier, bazel_shfmt_format

remove dead code
  rs/boundary_node/ic_boundary/src/cache.rs
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/snapshot.rs
Due: bazel_rust_format

fix test
  rs/boundary_node/ic_boundary/src/rate_limiting/generic.rs
Due: bazel_rust_format

chore(ICP-Ledger): migrate metrics from dfn to cdk (#4323)
  Cargo.lock
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

chore(ICP-Ledger): migrate transfer and approve endpoints from dfn to cdk (#4316)
  Cargo.lock
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

build fix
  rs/ledger_suite/icp/tests/tests.rs
Due: bazel_rust_format

chore(IDX): simplify S3 upload (#4393)
  .rclone-anon.conf
  .rclone.conf
  bazel/conf/.bazelrc.internal
  ci/src/artifacts/upload.bzl
  ci/src/artifacts/upload.sh
  ci/tools/rclone
Due: bazel_buildifier, bazel_shfmt_format

chore(ICP-Ledger): migrate upgrade and init endpoints from dfn to cdk (#4314)
  Cargo.lock
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

chore(ICP-Archive): migrate from dfn to cdk (#4374)
  Cargo.lock
  rs/ledger_suite/icp/archive/BUILD.bazel
  rs/ledger_suite/icp/archive/Cargo.toml
  rs/ledger_suite/icp/archive/src/main.rs
  rs/ledger_suite/icp/archive/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

chore: Update whitelists for management canister types (#4390)
  rs/types/management_canister_types/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  db/bf2dbac6719219e829797d3be355d16da787ee
Due: none

Notes added by 'git notes add'
  0e/c06b7ef7f926586aed00541e3d0e67a73f34fc
Due: none

chore(ICP-Ledger): migrating ledger from dfn to cdk (#4308)
  Cargo.lock
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  30/c5787ffbe5985d296103153a1dc871080224ed
Due: none

Notes added by 'git notes add'
  06/cb983e81e187d2a7af75192609547b61aa676f
Due: none

cache response extensions
  rs/boundary_node/ic_boundary/src/cache.rs
  rs/boundary_node/ic_boundary/src/cache/test.rs
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/metrics.rs
  rs/boundary_node/ic_boundary/src/routes.rs
Due: bazel_rust_format

Fix bug introduced when resolving merge conflict
  rs/ledger_suite/tests/sm-tests/src/lib.rs
Due: bazel_rust_format

chore(IDX): flatten upload.sh
  ci/src/artifacts/upload.bzl
  ci/src/artifacts/upload.sh
Due: bazel_buildifier, bazel_shfmt_format

chore: set default ingress expiry to 3 mins in HS tests (#4385)
  hs/spec_compliance/src/IC/Test/Agent.hs
  hs/spec_compliance/src/IC/Test/Spec.hs
Due: bazel_ormolu_format

fix
  rs/nns/integration_tests/src/governance_time_warp.rs
Due: bazel_rust_format

return after error in get_blocks_pb
  rs/ledger_suite/icp/archive/src/main.rs
Due: bazel_rust_format

pre-using pmrefs
  rs/execution_environment/src/execution/install_code.rs
  rs/state_layout/src/state_layout.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

Exclude `- duration_since_start_s` from time warp right before the successful disburse.
  rs/nns/integration_tests/src/governance_time_warp.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
