Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

fix(IDX): remove dm1 pin from hourly pipeline
  .github/workflows-source/schedule-hourly.yml
Due: none

IDX GitHub Automation
  .github/workflows/schedule-hourly.yml
Due: none

Added default implementation to GetMetricsResponse
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
Due: bazel_rust_format

fix(IDX): remove dm1 pin from hourly pipeline (#5510)
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/schedule-hourly.yml
Due: none

Fix tests. Clearly identify local vs remote state managers, so we never end up with a loopback stream.
  rs/xnet/payload_builder/tests/certified_slice_pool.rs
  rs/xnet/payload_builder/tests/common/mod.rs
  rs/xnet/payload_builder/tests/xnet_payload_builder.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f6/b233ad899ea652a15d42d5a274b05e11854305
Due: none

XC-384: Add support for the SOL RPC canister in the proposal CLI tool
  rs/cross-chain/proposal-cli/src/canister/mod.rs
Due: bazel_rust_format

XC-296: Use published version of `ic-http-types`
  packages/ic-metrics-assert/BUILD.bazel
  packages/ic-metrics-assert/Cargo.toml
Due: bazel_buildifier

XC-296: Move static functions outside of `MetricsAssert` implementation
  packages/ic-metrics-assert/src/lib.rs
Due: bazel_rust_format

XC-384: Fix unit test
  rs/cross-chain/proposal-cli/src/candid/tests.rs
Due: bazel_rust_format

Clean up disburse maturity
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/disburse_maturity_tests.rs
  rs/nns/governance/src/lib.rs
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/neuron_data_validation.rs
  rs/nns/governance/src/neuron_store/neuron_store_tests.rs
  rs/nns/governance/src/storage/neuron_indexes.rs
  rs/nns/governance/src/timer_tasks/mod.rs
Due: bazel_rust_format

chore(consensus): Filter for just VetKD keys when building VetKD payloads
  rs/consensus/vetkd/src/lib.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

clippy
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

fix: [NODE-1619] refactor and consolidate grub #2 (#5462)
  ic-os/bootloader/BUILD.bazel
  ic-os/bootloader/guestos_boot_args.template
  ic-os/bootloader/guestos_extra_boot_args.template
  ic-os/bootloader/hostos_boot_args.template
  ic-os/bootloader/hostos_extra_boot_args.template
  ic-os/bootloader/hostos_grub.cfg
  ic-os/bootloader/setupos_boot_args.template
  ic-os/bootloader/setupos_extra_boot_args.template
  ic-os/bootloader/setupos_grub.cfg
  ic-os/defs.bzl
  ic-os/guestos/defs.bzl
  ic-os/guestos/docs/Boot.adoc
  ic-os/guestos/docs/DiskLayout.adoc
  ic-os/hostos/defs.bzl
  ic-os/setupos/defs.bzl
  rs/ic_os/build_tools/partition_tools/src/ext.rs
  rs/ic_os/dev_test_tools/setupos-disable-checks/src/main.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  fe/0aa7c1f42cac33f4c494d07b2369eadf65470a
Due: none

Add _debug target for canbench instruction tracing
  bazel/canbench.bzl
  bazel/canbench.sh
Due: bazel_buildifier, bazel_shfmt_format

feat(regedit): Support canister_ranges_* keys (#5464)
  rs/registry/regedit/src/protobuf.rs
Due: bazel_rust_format

Implement direct boot
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/ic_os/config/build.rs
  rs/ic_os/config/golden/guestos_vm_kvm.xml
  rs/ic_os/config/golden/guestos_vm_qemu.xml
  rs/ic_os/config/src/guest_vm_config.rs
  rs/ic_os/config/templates/guestos_vm_template.xml
  rs/ic_os/grub/BUILD.bazel
  rs/ic_os/grub/Cargo.toml
  rs/ic_os/grub/src/lib.rs
  rs/ic_os/os_tools/hostos_tool/BUILD.bazel
  rs/ic_os/os_tools/hostos_tool/Cargo.toml
  rs/ic_os/os_tools/hostos_tool/src/guest_direct_boot.rs
  rs/ic_os/os_tools/hostos_tool/src/guest_vm.rs
  rs/ic_os/os_tools/hostos_tool/src/main.rs
  rs/ic_os/os_tools/hostos_tool/src/mount.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  37/fa6264b1ade12f550f298298d4071d0753f7b1
Due: none

feat(canbench): Add _debug target for canbench instruction tracing (#5492)
  bazel/canbench.bzl
  bazel/canbench.sh
Due: bazel_buildifier, bazel_shfmt_format

chore(ci): Add note for maintainers about team affected
  .github/workflows/update-mainnet-revisions.yaml
Due: none

Notes added by 'git notes add'
  09/f0e479ffcb4754fe5acee3c1045d1fc66bf5ae
Due: none

chore(ci): Add note for maintainers about team affected (#5514)
  .github/workflows/update-mainnet-revisions.yaml
Due: none

Some refactoring
  rs/registry/canister/src/invariants/checks/benches.rs
Due: bazel_rust_format

update canbench results
  rs/registry/canister/canbench/canbench_results.yml
Due: none

Notes added by 'git notes add'
  a0/4d7593544b3afcf04469f80f927dbe34ba9fc6
Due: none
