Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  33/a65ef8fe902f242f45a56a4f12e578836584c3
Due: none

fixes
  rs/execution_environment/src/canister_logs.rs
  rs/tests/consensus/upgrade/common.rs
Due: bazel_rust_format

final fixes
  rs/execution_environment/src/scheduler.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
Due: bazel_rust_format

fix deps
  rs/state_layout/BUILD.bazel
Due: bazel_buildifier

feat: support demo domains in system-test (#10237)
  rs/tests/driver/src/driver/farm.rs
  rs/tests/driver/src/driver/ic_gateway_vm.rs
  rs/tests/driver/src/driver/test_env_api.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  34/d3188ece419af1dc9efddb42e3867dc4d3e66d
Due: none

fix: Try fixing xnet_slo_120_subnets_staging_test
  rs/rust_canisters/xnet_test/src/main.rs
  rs/tests/message_routing/xnet/xnet_slo_120_subnets_staging_test.rs
Due: bazel_rust_format

chore: Update Mainnet ICOS revisions file
  mainnet-icos-revisions.json
Due: none

fix
  rs/consensus/src/consensus/purger.rs
Due: bazel_rust_format

feat: Add VCPU type to GuestLaunchMeasurementMetadata
  ic-os/defs.bzl
  requirements.in
  requirements.txt
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/conversions/src/lib.rs
  rs/nns/governance/src/proposals/bless_alternative_guest_os_version.rs
  rs/nns/governance/src/proposals/bless_alternative_guest_os_version_tests.rs
  rs/nns/test_utils/src/registry.rs
  rs/protobuf/def/registry/replica_version/v1/replica_version.proto
  rs/protobuf/src/gen/registry/registry.replica_version.v1.rs
  rs/protobuf/src/registry/replica_version.rs
  rs/protobuf/src/registry/replica_version/tests.rs
  rs/registry/canister/canister/registry.did
  rs/registry/canister/canister/registry_test.did
  rs/registry/canister/src/invariants/replica_version.rs
  rs/registry/canister/tests/update_subnet_and_bless_replica_version.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

Don't bother building a ReplicatedStateInvariants in PocketIc::try_new(), the respective StateManager is only used temporarily as part of the setup.
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

test and fixes
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/tests/canister_logging.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

chore: remove bitflags
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  a1/6a657efe135f0a882fd571250241a961b01861
Due: none

fixes
  rs/execution_environment/tests/canister_logging.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/tests/log_memory_store.rs
Due: bazel_rust_format

feat: [DSM-106] Check scheduler invariants in a background thread (#10202)
  rs/consensus/benches/validate_payload.rs
  rs/determinism_test/src/setup.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/scheduler_metrics.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/prep/src/node.rs
  rs/registry/resource_limits/src/lib.rs
  rs/replay/src/player.rs
  rs/replica/src/setup_ic_stack.rs
  rs/replicated_state/src/canister_state/system_state/task_queue.rs
  rs/replicated_state/src/metrics.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/lib.rs
  rs/state_manager/src/state_sync/chunkable/cache/tests.rs
  rs/state_manager/tests/common/mod.rs
  rs/state_manager/tests/state_manager.rs
  rs/xnet/payload_builder/tests/common/mod.rs
Due: bazel_rust_format

feat: [EXC-1783] No execution overhead on low cycles, take 2
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/scheduler_metrics.rs
  rs/execution_environment/src/scheduler/tests/limits.rs
  rs/execution_environment/src/scheduler/tests/rate_limiting.rs
  rs/execution_environment/src/scheduler/tests/scheduling.rs
Due: bazel_rust_format

chore: remove bitflags (#10246)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  a9/9bbf0d71b1d621a605093dd38954926122aedc
Due: none

fix: Try fixing `xnet_slo_120_subnets_staging_test` (#10243)
  rs/rust_canisters/xnet_test/src/main.rs
  rs/tests/message_routing/xnet/xnet_slo_120_subnets_staging_test.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  cd/39094b182ffc359531309f6681ab0eceaea411
Due: none

use migrated field instead of feature flag
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/tests/log_memory_store.rs
  rs/replicated_state/src/metrics.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

chore: align Cargo and Bazel dependency versions
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  d2/483faf7e9bc9bf902d652dc010a575815d14ce
Due: none

do not always gate on migrated to enable migration
  rs/execution_environment/src/canister_manager.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
