Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Further progress 2
  Cargo.Bazel.json.lock
  ic-os/components/hostos-scripts/guestos/guestos.xml.template
  ic-os/setupos/defs.bzl
  ic-os/setupos/partitions.csv
  rs/ic_os/verification/attestation/Cargo.toml
  rs/ic_os/verification/attestee/Cargo.toml
  rs/ic_os/verification/attestee/src/bin/renew_attestation_token.rs
  rs/ic_os/verification/upgrade/Cargo.toml
  rs/ic_os/verification/upgrade/src/client.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

copy canister_client parse_read_state_response to rosetta code
  Cargo.lock
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/Cargo.toml
  rs/rosetta-api/icp/src/ledger_client.rs
Due: bazel_buildifier, bazel_rust_format

change
  .github/actions/bazel/action.yaml
  .github/workflows-source/ci-main.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

Address comments
  rs/embedders/src/wasm_utils/instrumentation.rs
  rs/embedders/src/wasm_utils/system_api_replacements.rs
  rs/embedders/src/wasmtime_embedder.rs
Due: bazel_rust_format

cleanup
  rs/replica/src/main.rs
Due: bazel_rust_format

fix(nns): Track the spawning state in the TLA model (#4525)
  rs/nns/governance/src/governance/tla/mod.rs
  rs/nns/governance/tla/Claim_Neuron.tla
  rs/nns/governance/tla/Common.tla
  rs/nns/governance/tla/Common_Apalache.tla
  rs/nns/governance/tla/Disburse_Neuron.tla
  rs/nns/governance/tla/Disburse_To_Neuron.tla
  rs/nns/governance/tla/Merge_Neurons.tla
  rs/nns/governance/tla/Refresh_Neuron.tla
  rs/nns/governance/tla/Spawn_Neuron.tla
  rs/nns/governance/tla/Spawn_Neurons.tla
  rs/nns/governance/tla/Split_Neuron.tla
  rs/nns/governance/tla/Split_Neuron_Apalache.tla
Due: bazel_rust_format

Notes added by 'git notes add'
  a2/f4c702c9a43f365caf9ae10689e4e64f755968
Due: none

refactor: Use ExecutionTest::non_replicated_query for more concise tests
  rs/execution_environment/src/query_handler/tests.rs
Due: bazel_rust_format

fix: EXC-1998: Fix 16kb heap benchmarks (#4547)
  rs/embedders/benches/test-data/heap.wat
  rs/execution_environment/benches/baseline/EMBEDDERS_HEAP.min
  rs/execution_environment/benches/run-benchmark.sh
  rs/execution_environment/benches/summarize-results.sh
Due: bazel_shfmt_format

add service
  rs/nns/governance/canbench/bench.did
Due: none

perf: EXC-1998: Run heap benchmarks periodically (#4556)
  .github/workflows/schedule-rust-bench.yml
Due: none

Remove obsolete documentation comments
  rs/interfaces/src/crypto/keygen.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  31/3edcd11ea50f64d125df664e9138205df3711f
Due: none

Full set-following validation
  rs/sns/governance/src/following.rs
  rs/sns/governance/src/governance.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  aa/dce1280458724e6458d685a9b1465fc6f6c7ff
Due: none

Notes added by 'git notes add'
  e5/38f4b777d39d068b1c6c4036b807911b2ab506
Due: none

Update rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

perf: EXC-1998: Refactor heap benchmarks Using a large `heap.wat` file is error-prone and make it difficult to add new cases.
  Cargo.lock
  rs/embedders/BUILD.bazel
  rs/embedders/Cargo.toml
  rs/embedders/benches/embedders_bench/src/lib.rs
  rs/embedders/benches/heap.rs
  rs/embedders/benches/test-data/heap.wat
  rs/execution_environment/benches/baseline/EMBEDDERS_HEAP.min
Due: bazel_buildifier, bazel_rust_format

Upgrade rules_rust: 0.59.0 -> 0.59.2 and rustc: 1.85.0 -> 1.85.1
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.json.lock
  WORKSPACE.bazel
Due: bazel_buildifier

test(EXC-1986): Add embedders benchmark for NNS Governance (#4430)
  rs/embedders/BUILD.bazel
  rs/embedders/benches/compilation.rs
  rs/nns/governance/BUILD.bazel
  rs/nns/governance/canbench/bench.did
  rs/nns/governance/src/governance/benches.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  8e/d8990f1eeca6720065b2dabab5f63c4f690f98
Due: none

chore: Remove wasm_native_stable_memory feature flag (#4524)
  rs/config/src/embedders.rs
  rs/embedders/src/wasm_executor.rs
  rs/embedders/src/wasm_utils.rs
  rs/embedders/src/wasm_utils/instrumentation.rs
  rs/embedders/src/wasm_utils/system_api_replacements.rs
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/src/wasmtime_embedder/system_api.rs
  rs/embedders/tests/instrumentation.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/execution_environment/src/execution/call_or_task/tests.rs
  rs/execution_environment/tests/dts.rs
  rs/interfaces/src/execution_environment.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/stable_memory.rs
  rs/system_api/tests/system_api.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

fix
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Try to fix the `Repository '@@rules_rust_ctve__toml-0.8.20' is not defined` error
  MODULE.bazel
  WORKSPACE.bazel
Due: bazel_buildifier

rust-toolchain.toml: update rust version
  rust-toolchain.toml
Due: none

Updating container image to sha256:245b3fa0d81666579d3ec8f016272f9a37db39dc42e2b1f35a16b88576118a44
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
Due: none

Notes added by 'git notes add'
  3d/73f0af2cf0370f7091e6853df73235adf941c3
Due: none

Address PR review comments
  rs/sns/governance/src/following.rs
  rs/sns/governance/src/following/tests.rs
Due: bazel_rust_format

chore(IDX): /var/tmpfs (#4562)
  .github/actions/bazel/action.yaml
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

first
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/neuron.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  32/9c10fd09393bb8107523cd9236d45f5980f8a6
Due: none

feat: Introduce low bound for canister's freezing threshold (#4401)
  Cargo.lock
  hs/spec_compliance/src/IC/Test/Spec/CanisterHistory.hs
  rs/config/src/execution_environment.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/canister_settings.rs
  rs/execution_environment/src/execution/call_or_task/tests.rs
  rs/execution_environment/src/execution/response/tests.rs
  rs/execution_environment/src/execution_environment/tests/canister_task.rs
  rs/execution_environment/src/query_handler/query_cache/tests.rs
  rs/execution_environment/tests/dts.rs
  rs/execution_environment/tests/execution_test.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/execution_environment/tests/subnet_size_test.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
  rs/nns/integration_tests/src/cycles_minting_canister.rs
  rs/nns/integration_tests/src/update_canister_settings.rs
  rs/sns/integration_tests/BUILD.bazel
  rs/sns/integration_tests/Cargo.toml
  rs/sns/integration_tests/src/manage_dapp_canister_settings.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/tests/execution/general_execution_tests/canister_lifecycle.rs
Due: bazel_buildifier, bazel_ormolu_format, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
