Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fix: deflake //rs/tests/consensus/tecdsa:tecdsa_key_rotation_test
  rs/tests/consensus/tecdsa/utils/src/lib.rs
Due: bazel_rust_format

evict_for_size
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/struct_io.rs
Due: bazel_rust_format

.
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

fix: subnet leaving scenario
  rs/tests/consensus/orchestrator/ssh_access_to_nodes_test.rs
Due: bazel_rust_format

rm pprof
  Cargo.lock
  rs/replicated_state/BUILD.bazel
  rs/replicated_state/Cargo.toml
  rs/replicated_state/src/canister_state/system_state/log_memory_store/tests/log_memory_store.rs
Due: bazel_buildifier, bazel_rust_format

feat: [NET-1677] orchestrator uses HTTPS (#5920)
  Cargo.lock
  rs/orchestrator/BUILD.bazel
  rs/orchestrator/Cargo.toml
  rs/orchestrator/registry_replicator/src/internal_state.rs
  rs/orchestrator/src/catch_up_package_provider.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/registration.rs
  rs/orchestrator/src/utils.rs
Due: bazel_buildifier, bazel_rust_format

update benches
  rs/replicated_state/benches/log_memory_store.rs
Due: bazel_rust_format

fix: don't fail when requesting https://api.github.com/rate_limit fails
  .github/actions/netrc/action.yaml
Due: none

create directory
  .github/actions/bazel/bin/bazel
Due: none

try
  .github/actions/bazel/bin/bazel
Due: none

Update comment
  rs/ledger_suite/icrc1/index-ng/tests/retrieve_blocks_from_ledger_interval.rs
Due: bazel_rust_format

fix: don't fail when requesting https://api.github.com/rate_limit fails (#9178)
  .github/actions/netrc/action.yaml
Due: none

try workspace
  .github/actions/bazel/bin/bazel
Due: none

Notes added by 'git notes add'
  65/0ffd945552b71087fd947f8459f24071e1b835
Due: none

fix: deflake //rs/tests/consensus/tecdsa:tecdsa_key_rotation_test (#9177)
  rs/tests/consensus/tecdsa/utils/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  86/7c5b607bafb3b45e2af3f8e49c0a8de06d50a5
Due: none

try another dir
  .github/actions/bazel/bin/bazel
Due: none

Notes added by 'git notes add'
  19/0e8966c833d43665444782ec685c55ed1bb17f
Due: none

fix(PocketIC): II init args
  rs/pocket_ic_server/src/external_canister_types.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

try var/cache/
  .github/actions/bazel/bin/bazel
Due: none

refactor: Extract governance reusable converters to a lightweight crate (#9124)
  Cargo.lock
  Cargo.toml
  rs/nns/governance/BUILD.bazel
  rs/nns/governance/Cargo.toml
  rs/nns/governance/conversions/BUILD.bazel
  rs/nns/governance/conversions/Cargo.toml
  rs/nns/governance/conversions/src/lib.rs
  rs/nns/governance/src/pb/conversions/mod.rs
  rs/registry/admin/BUILD.bazel
  rs/registry/admin/Cargo.toml
Due: bazel_buildifier, bazel_rust_format

test
  rs/boundary_node/ic_boundary/src/rate_limiting/mod.rs
  rs/boundary_node/ic_boundary/src/routes.rs
  rs/canister_client/src/cbor.rs
  rs/http_endpoints/public/src/call.rs
  rs/http_endpoints/test_agent/src/lib.rs
  rs/p2p/artifact_downloader/benches/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/test_utils.rs
  rs/rosetta-api/icp/src/request_handler/construction_payloads.rs
  rs/state_machine_tests/src/lib.rs
  rs/test_utilities/types/src/messages/ingress.rs
  rs/tests/boundary_nodes/integration_test_common/src/v2_call_transport.rs
  rs/tests/consensus/request_auth_malicious_replica_test.rs
  rs/tests/crypto/ingress_verification_test.rs
  rs/tests/crypto/request_signature_test.rs
  rs/tests/driver/src/util/delegations.rs
  rs/tests/execution/general_execution_tests/input_deduplication.rs
  rs/tests/execution/general_execution_tests/malicious_input.rs
  rs/types/types/src/batch/ingress.rs
  rs/types/types/src/crypto/hash/tests.rs
  rs/types/types/src/messages.rs
  rs/types/types/src/messages/http.rs
  rs/types/types/src/messages/http/tests.rs
  rs/types/types/src/messages/ingress_messages.rs
  rs/types/types/src/messages/message_id.rs
  rs/types/types/src/messages/query.rs
  rs/validator/http_request_arbitrary/src/lib.rs
  rs/validator/http_request_test_utils/src/lib.rs
  rs/validator/ingress_message/src/internal/mod.rs
  rs/validator/ingress_message/src/lib.rs
  rs/validator/ingress_message/test_canister/src/main.rs
  rs/validator/src/ingress_validation.rs
  rs/validator/src/ingress_validation/tests.rs
Due: bazel_rust_format

fix CanisterHttpResponseWithConsensus roundtrip test
  rs/types/types/src/batch/canister_http.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  38/56ad36b2b6d8438625dca5bfa2660d96ecfcb1
Due: none

Notes added by 'git notes add'
  2d/4d4ecfbafb9167166b9a9ab6e80a2788232463
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
