Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  1b/7313288a66d160f276f033152c4dbf91c86370
Due: none

feat(FI-1785): a faucet for ICP and ICRC1 test tokens
  rs/ledger_suite/faucet/.gitignore
  rs/ledger_suite/faucet/Cargo.lock
  rs/ledger_suite/faucet/Cargo.toml
  rs/ledger_suite/faucet/dfx.json
  rs/ledger_suite/faucet/src/backend/Cargo.toml
  rs/ledger_suite/faucet/src/backend/backend.did
  rs/ledger_suite/faucet/src/backend/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  75/8347643cf75bd798000c98a11fbf38e95aed4b
Due: none

Notes added by 'git notes add'
  02/763b874b3639af62db142fda96e7ac0074b5cf
Due: none

README
  rs/ledger_suite/faucet/README.md
Due: none

Use `gpt` crate over `fdisk`
  rs/ic_os/build_tools/partition_tools/BUILD.bazel
  rs/ic_os/build_tools/partition_tools/Cargo.toml
  rs/ic_os/build_tools/partition_tools/src/exes.rs
  rs/ic_os/build_tools/partition_tools/src/ext.rs
  rs/ic_os/build_tools/partition_tools/src/fat.rs
  rs/ic_os/build_tools/partition_tools/src/gpt.rs
  rs/ic_os/build_tools/partition_tools/src/lib.rs
  rs/ic_os/build_tools/partition_tools/src/partition.rs
Due: bazel_buildifier, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

fix
  rs/tests/driver/src/driver/test_env_api.rs
Due: bazel_rust_format

test: Refactor SshSession trait and add Guest SSH to NestedVm (#5952)
  rs/tests/driver/src/driver/nested.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/driver/src/driver/universal_vm.rs
Due: bazel_rust_format

aligning comments
  rs/tests/driver/src/driver/vector_vm.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  43/c95acc9523901aefc6f09fd5c5a17d513b7ab2
Due: none

XC-391: Add test_canister bazel file
  packages/canscan/BUILD.bazel
  packages/canscan/Cargo.toml
  packages/canscan/src/candid/tests.rs
  packages/canscan/src/config/mod.rs
  packages/canscan/src/lib.rs
  packages/canscan/src/main.rs
  packages/canscan/test_canister/BUILD.bazel
  packages/canscan/test_canister/canister.did
  packages/canscan/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

PR Comments
  rs/ic_os/build_tools/partition_tools/src/ext.rs
  rs/ic_os/build_tools/partition_tools/src/fat.rs
  rs/ic_os/build_tools/partition_tools/src/gpt.rs
Due: bazel_rust_format

Fixup types
  rs/ic_os/build_tools/inject_files/src/main.rs
  rs/ic_os/build_tools/partition_tools/src/bin/extract_guestos.rs
  rs/ic_os/build_tools/partition_tools/src/ext.rs
  rs/ic_os/build_tools/partition_tools/src/fat.rs
  rs/ic_os/build_tools/partition_tools/src/gpt.rs
  rs/ic_os/build_tools/partition_tools/src/partition.rs
Due: bazel_rust_format

feat: adding vector vm for scraping logs from testnets (#5948)
  MODULE.bazel
  rs/tests/BUILD.bazel
  rs/tests/common.bzl
  rs/tests/driver/BUILD.bazel
  rs/tests/driver/assets/vector.toml
  rs/tests/driver/src/driver/mod.rs
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/ict/cmd/testnetCreateCmd.go
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/src/lib.rs
  rs/tests/testnets/BUILD.bazel
  rs/tests/testnets/small.rs
  rs/tests/vector_activate.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

XC-391: Add new dependencies to bazel crate index
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  packages/canscan/BUILD.bazel
  packages/canscan/test_canister/Cargo.toml
Due: bazel_buildifier

XC-391: Replace license by symlink
  packages/canscan/LICENSE
  packages/canscan/NOTICE
Due: none

use commit instead of tag
  ic-os/components/ovmf/BUILD.bazel
Due: bazel_buildifier

Update title
  rs/registry/admin/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  be/33b06e9077882841d7ddf496eebf5f1b7222e3
Due: none

chore: Use `gpt` crate over `fdisk` (#5956)
  Cargo.lock
  rs/ic_os/build_tools/inject_files/src/main.rs
  rs/ic_os/build_tools/partition_tools/BUILD.bazel
  rs/ic_os/build_tools/partition_tools/Cargo.toml
  rs/ic_os/build_tools/partition_tools/src/bin/extract_guestos.rs
  rs/ic_os/build_tools/partition_tools/src/exes.rs
  rs/ic_os/build_tools/partition_tools/src/ext.rs
  rs/ic_os/build_tools/partition_tools/src/fat.rs
  rs/ic_os/build_tools/partition_tools/src/gpt.rs
  rs/ic_os/build_tools/partition_tools/src/lib.rs
  rs/ic_os/build_tools/partition_tools/src/partition.rs
Due: bazel_buildifier, bazel_rust_format

feat(FI-1785): add token faucet frontend
  rs/ledger_suite/faucet/.gitignore
  rs/ledger_suite/faucet/README.md
  rs/ledger_suite/faucet/canister_ids.json
  rs/ledger_suite/faucet/dfx.json
  rs/ledger_suite/faucet/justfile
  rs/ledger_suite/faucet/src/declarations/testicp-backend/index.d.ts
  rs/ledger_suite/faucet/src/declarations/testicp-backend/index.js
  rs/ledger_suite/faucet/src/declarations/testicp-backend/testicp-backend.did
  rs/ledger_suite/faucet/src/declarations/testicp-backend/testicp-backend.did.d.ts
  rs/ledger_suite/faucet/src/declarations/testicp-backend/testicp-backend.did.js
  rs/ledger_suite/faucet/src/frontend/assets/.ic-assets.json5
  rs/ledger_suite/faucet/src/frontend/assets/favicon.ico
  rs/ledger_suite/faucet/src/frontend/index.html
  rs/ledger_suite/faucet/src/frontend/package.json
  rs/ledger_suite/faucet/src/frontend/src/App.js
  rs/ledger_suite/faucet/src/frontend/src/index.scss
  rs/ledger_suite/faucet/src/frontend/src/logo2.svg
  rs/ledger_suite/faucet/src/frontend/src/main.js
  rs/ledger_suite/faucet/src/frontend/src/vite-env.d.ts
  rs/ledger_suite/faucet/src/frontend/tsconfig.json
  rs/ledger_suite/faucet/src/frontend/vite.config.js
Due: none

feat(ic-admin): Add support for ProposeToFulfilSubnetRentalRequest (#5878)
  rs/registry/admin/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  4b/2f4ecf2aa72f620746633361665696fdb94cbb
Due: none
