Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

.
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/http_endpoints/public/Cargo.toml
  rs/replica/BUILD.bazel
  rs/replica/Cargo.toml
Due: bazel_buildifier

Randomize the pseudo-IPMI MAC address in virtualized environments.
  Cargo.lock
  rs/ic_os/network/mac_address/BUILD.bazel
  rs/ic_os/network/mac_address/Cargo.toml
  rs/ic_os/network/mac_address/src/mac_address.rs
Due: bazel_buildifier, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

add tag
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/rosetta-api/icrc1/CHANGELOG.md
  rs/rosetta-api/icrc1/Cargo.toml
  rs/rosetta-api/icrc1/src/common/constants.rs
Due: bazel_buildifier, bazel_rust_format

.
  rs/monitoring/logging/src/lib.rs
Due: bazel_rust_format

XC-227: added status to dashboard
  rs/ethereum/cketh/minter/src/dashboard/tests.rs
  rs/ethereum/cketh/minter/src/state/eth_logs_scraping/mod.rs
  rs/ethereum/cketh/minter/templates/dashboard.html
Due: bazel_rust_format

chore: upgrade thiserror and anyhow (#2732)
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/boundary_node/certificate_issuance/certificate_orchestrator_interface/src/lib.rs
  rs/validator/src/ingress_validation.rs
Due: bazel_buildifier, bazel_rust_format

fix tests
  rs/ic_os/config/src/deployment_json.rs
Due: bazel_rust_format

rename
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/idkg/utils.rs
  rs/consensus/tests/integration.rs
  rs/determinism_test/src/lib.rs
  rs/drun/src/lib.rs
  rs/execution_environment/benches/management_canister/ecdsa.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/execution_environment/tests/execution_test.rs
  rs/execution_environment/tests/subnet_size_test.rs
  rs/execution_environment/tests/threshold_signatures.rs
  rs/interfaces/src/execution_environment.rs
  rs/messaging/src/message_routing/tests.rs
  rs/messaging/src/state_machine.rs
  rs/messaging/src/state_machine/tests.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/replay/src/player.rs
  rs/replicated_state/src/metadata_state.rs
  rs/state_machine_tests/src/lib.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/test_utilities/types/src/batch/batch_builder.rs
  rs/types/types/src/batch.rs
Due: bazel_rust_format

uni canister public endpoint
  rs/universal_canister/impl/src/main.rs
  rs/universal_canister/lib/src/lib.rs
Due: bazel_rust_format

XC-227: use log scraping info
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state/eth_logs_scraping/mod.rs
Due: bazel_rust_format

clear stable allowances in post_upgrade
  rs/ledger_suite/icrc1/ledger/src/main.rs
Due: bazel_rust_format

XC-227: remove last_deposit_with_subaccount_scraped_block_number
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/tests/ckerc20.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
Due: bazel_rust_format

.
  rs/canister_sandbox/src/replica_controller/sandbox_process_eviction.rs
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

third
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/protobuf_generator/src/lib.rs
  rs/sns/governance/src/cached_upgrade_steps.rs
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/proposal/advance_sns_target_version.rs
Due: bazel_rust_format

lint
  rs/sns/governance/src/cached_upgrade_steps.rs
Due: bazel_rust_format

chore(IDX): clarify launch-remove-vm script
  ic-os/components/launch-remote-vm.sh
  ic-os/defs.bzl
Due: bazel_buildifier, bazel_shfmt_format

use uni canister in mint_cycles128 tests
  rs/execution_environment/src/hypervisor/tests.rs
Due: bazel_rust_format

comment
  rs/execution_environment/src/hypervisor/tests.rs
Due: bazel_rust_format

.
  Cargo.toml
  bazel/external_crates.bzl
  rs/http_endpoints/public/Cargo.toml
Due: bazel_buildifier

add benchmark code
  rs/execution_environment/benches/system_api/execute_update.rs
Due: bazel_rust_format

XC-227: test info method
  rs/ethereum/cketh/minter/src/state/eth_logs_scraping/mod.rs
  rs/ethereum/cketh/minter/src/state/eth_logs_scraping/tests.rs
Due: bazel_rust_format

Move launch-remote-vm to dev-tools
  ic-os/BUILD.bazel
  ic-os/defs.bzl
  ic-os/dev-tools/launch-remote-vm.sh
Due: bazel_buildifier, bazel_shfmt_format

Revert deployment_json unit test modifications
  rs/ic_os/config/src/deployment_json.rs
Due: bazel_rust_format

Buildifier
  rs/ledger_suite/icrc1/BUILD.bazel
Due: bazel_buildifier

Add unit test for new deployment formatt
  rs/ic_os/config/src/deployment_json.rs
Due: bazel_rust_format

chore: add errors and unit tests
  rs/boundary_node/rate_limits/api/src/lib.rs
  rs/boundary_node/rate_limits/canister/access_control.rs
  rs/boundary_node/rate_limits/canister/add_config.rs
  rs/boundary_node/rate_limits/canister/canister.rs
  rs/boundary_node/rate_limits/canister/disclose.rs
  rs/boundary_node/rate_limits/canister/interface.did
  rs/boundary_node/rate_limits/canister/metrics.rs
  rs/boundary_node/rate_limits/canister/state.rs
  rs/boundary_node/rate_limits/canister/storage.rs
  rs/boundary_node/rate_limits/canister/types.rs
  rs/boundary_node/rate_limits/integration_tests/tests/rate_limit_canister_tests.rs
Due: bazel_rust_format

benchmark costs
  rs/execution_environment/benches/system_api/diff-old-vs-new.sh
  rs/execution_environment/benches/system_api/execute_update.rs
Due: bazel_shfmt_format, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
