Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  63/28c38fcd607f61ac5a6ab6cfb790b3c7c2f032
Due: none

docs(cketh): fix two comments my own edits left misplaced
  rs/ethereum/cketh/minter/src/sweeper.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
Due: bazel_rust_format

refactor(cketh): clean up the live harness
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/anvil.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/live.rs
Due: bazel_rust_format

Merge the live-harness cleanup into the hardening branch
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/live.rs
Due: bazel_rust_format

feat(subnet-splitting): implement `PostSplit` CUPs making & validation (#10980)
  Cargo.lock
  rs/consensus/dkg/BUILD.bazel
  rs/consensus/dkg/Cargo.toml
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/payload_validator.rs
  rs/consensus/dkg/src/remote.rs
  rs/consensus/idkg/src/payload_builder.rs
  rs/consensus/src/consensus.rs
  rs/consensus/src/consensus/block_maker.rs
  rs/consensus/src/consensus/catchup_package_maker.rs
  rs/consensus/src/consensus/priority.rs
  rs/consensus/src/consensus/share_aggregator.rs
  rs/consensus/src/consensus/validator.rs
  rs/consensus/utils/src/lib.rs
  rs/consensus/utils/src/pool_reader.rs
  rs/consensus/utils/src/subnet_splitting.rs
  rs/registry/helpers/src/node.rs
  rs/test_utilities/consensus/src/fake.rs
  rs/types/types/src/consensus/catchup.rs
  rs/types/types/src/consensus/dkg.rs
Due: bazel_buildifier, bazel_rust_format

docs(cketh): say what the balance guard actually catches
  rs/ethereum/cketh/minter/src/sweeper.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  cc/0e780430bf578e9824da2fd205fad35c9f4f5e
Due: none

fix: Refresh the stored consumed cycles in the subnet_metrics tests
  rs/execution_environment/src/canister_manager/tests.rs
Due: bazel_rust_format

test(cketh): read the minter's metrics instead of its dashboard
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/live.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/types/types/src/canister_http.rs
Due: bazel_rust_format

docs(cketh): the harness no longer reads the dashboard
  rs/ethereum/cketh/test_utils/src/live.rs
Due: bazel_rust_format

refactor(cketh): make the attestation request the unit of the event and the store
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/attestation/mod.rs
  rs/ethereum/cketh/minter/src/attestation/tests.rs
  rs/ethereum/cketh/minter/src/deposit_address/mod.rs
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/state/event.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_rust_format

feat(cketh): encode the delegate's batch sweep call
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/sweeper_contract.rs
  rs/ethereum/cketh/minter/src/sweeper_contract/tests.rs
Due: bazel_rust_format

refactor(cketh): declare the attestation event last, where its index says it is
  rs/ethereum/cketh/minter/src/state/event.rs
Due: bazel_rust_format

refactor(cketh): put the sweeper contract module and its Solidity with their peers
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/CkSweeperAttested.sol
  rs/ethereum/cketh/minter/src/sweeper_contract/mod.rs
Due: bazel_buildifier, bazel_rust_format

build(cketh): declare the ledger types the stable-memory dump now names
  rs/ethereum/cketh/minter/BUILD.bazel
Due: bazel_buildifier

test(cketh): let the batch's own length bound the offset test
  rs/ethereum/cketh/minter/src/sweeper_contract/tests.rs
Due: bazel_rust_format

refactor(cketh): keep the attestations with the deposits they are for
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
Due: bazel_rust_format

test(cketh): check the batch sweep call against an ABI encoder and the signature
  rs/ethereum/cketh/minter/src/sweeper_contract/tests.rs
Due: bazel_rust_format

feat(cketh): remember the attestations the minter has signed
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/attestation/tests.rs
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/state/event.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_rust_format

docs(cketh): note what a batch of mixed tokens costs
  rs/ethereum/cketh/minter/src/sweeper_contract/mod.rs
Due: bazel_rust_format

test(cketh): share the attestation fixtures instead of shadowing them
  rs/ethereum/cketh/minter/src/attestation/tests.rs
  rs/ethereum/cketh/minter/src/eth_logs/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
Due: bazel_rust_format

build(cketh): point the e2e sweep test at the Solidity where it now lives
  rs/ethereum/cketh/minter/BUILD.bazel
Due: bazel_buildifier

feat(cketh): reuse a deposit address' attestation instead of re-signing it
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

refactor(cketh): put the account cbor encoding with the other cbor helpers
  rs/ethereum/cketh/minter/src/attestation/mod.rs
  rs/ethereum/cketh/minter/src/cbor/account.rs
  rs/ethereum/cketh/minter/src/cbor/mod.rs
  rs/ethereum/cketh/minter/src/cbor/tests.rs
Due: bazel_rust_format

fix(cketh): price a sweep within an allowance the sweeper can pay
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

docs(cketh): drop the note on where a sweep's fee ceiling comes from
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

test(cketh): deploy the sweep contracts on the harness' anvil
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/sweep.rs
  rs/ethereum/cketh/test_utils/src/anvil.rs
  rs/ethereum/cketh/test_utils/src/ckerc20.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/live_scan.rs
Due: bazel_buildifier, bazel_rust_format

perf(cketh): sign a sweep's attestations and authorizations in batches
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

feat(cketh): enqueue a batched sweep from the sweep queue
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/tests.rs
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/state/transactions/tests.rs
  rs/ethereum/cketh/minter/src/sweep.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_rust_format

perf(cketh): stop making a detected deposit wait to be swept
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

test(cketh): jump the IC clock instead of waiting out the minter's intervals
  rs/ethereum/cketh/minter/src/sweep.rs
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/live_scan.rs
Due: bazel_rust_format

fix(cketh): give a batched sweep the gas its nested calls actually need
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/state/transactions/tests.rs
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
Due: bazel_rust_format

perf(cketh): sweep one token per transaction instead of the whole batch
  rs/ethereum/cketh/minter/src/sweep.rs
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/anvil.rs
Due: bazel_rust_format

test(cketh): credit two CEX deposits through one EIP-7702 sweep
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/anvil.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/live_scan.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
