Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Notes added by 'git notes add'
  b3/ed2bec17292689bae294345a71560e491a8e67
Due: none

chore: update ic-management-canister-types to v0.7.1
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

chore: remove WORKSPACE.bazel
  .github/CODEOWNERS
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bazel
  bazel/README.md
  rs/embedders/tests/spec_tests.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  a2/6ae175bbcf984ac059002f8d347e2d6ff5ce8c
Due: none

ic-cdk v0.20.0
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

as
  rs/config/src/subnet_config.rs
  rs/execution_environment/src/scheduler.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_machine_tests/tests/flexible_ordering.rs
Due: bazel_rust_format

refactor: get snapshot canister state for loading snapshot outside of CanisterManager (#9483)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/replicated_state.rs
Due: bazel_rust_format

chore: attempt to reproduce the //rs/orchestrator:orchestrator_test ETXTBSY error
  .github/workflows/ci-main.yml
Due: none

as
  rs/config/src/subnet_config.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

perf: Speed up `dts_aborted_execution_does_not_block_subnet_messages`
  rs/execution_environment/tests/dts.rs
Due: bazel_rust_format

--jobs=10
  .github/workflows/ci-main.yml
Due: none

update code
  packages/icrc-ledger-client-cdk/src/lib.rs
  packages/pocket-ic/src/nonblocking.rs
  rs/ledger_suite/common/ledger_canister_core/src/runtime.rs
  rs/migration_canister/src/controller_recovery.rs
  rs/migration_canister/src/external_interfaces/management.rs
  rs/nervous_system/root/src/change_canister.rs
  rs/nervous_system/runtime/src/lib.rs
  rs/nns/cmc/src/lib.rs
  rs/nns/common/src/registry.rs
  rs/nns/handlers/root/interface/src/client.rs
  rs/rust_canisters/canister_test/src/canister.rs
Due: bazel_rust_format

chore: consolidate linter checks
  .github/workflows/ci-pr-only.yml
Due: none

fix merge master
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  49/eea890c077e208487293beab686f96242e3e7c
Due: none

add if-check
  rs/config/src/execution_environment.rs
  rs/migration_canister/tests/tests.rs
Due: bazel_rust_format

fix deps, enable feature
  Cargo.lock
  rs/config/src/execution_environment.rs
  rs/migration_canister/BUILD.bazel
  rs/migration_canister/Cargo.toml
Due: bazel_buildifier, bazel_rust_format

adjust 10T topup
  rs/migration_canister/tests/tests.rs
Due: bazel_rust_format

DEFI-2697: test to ensure can build transaction
  rs/bitcoin/ckbtc/minter/tests/replay_events.rs
Due: bazel_rust_format

chore: remove WORKSPACE.bazel (#9515)
  .github/CODEOWNERS
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bazel
  bazel/README.md
  rs/embedders/tests/spec_tests.rs
Due: bazel_buildifier, bazel_rust_format

fix: mock starting the replica process in upgrade unit tests
  rs/orchestrator/src/boundary_node.rs
  rs/orchestrator/src/dashboard.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/process_manager.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

DEFI-2697: ensure use fresh inputs
  rs/bitcoin/ckbtc/minter/tests/replay_events.rs
Due: bazel_rust_format

Replace whitelist approach by filtered list/routing table and separate map for state tree
  rs/canonical_state/src/lazy_tree_conversion.rs
  rs/http_endpoints/public/tests/common/mod.rs
  rs/messaging/src/message_routing.rs
  rs/messaging/src/message_routing/tests.rs
  rs/protobuf/def/state/metadata/v1/metadata.proto
  rs/protobuf/src/gen/state/state.metadata.v1.rs
  rs/replicated_state/src/lib.rs
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/metadata_state/proto.rs
  rs/replicated_state/src/metadata_state/tests.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  aa/bdc9627b0c78b07c05a6d73e17a8c16ebad508
Due: none

Persist Claude memories generated from within dev containers to the host system (devenv VM) by mapping ~/.claude on the host (VM) to the container.
  ci/container/container-run.sh
Due: bazel_shfmt_format

Reviewer's comments
  rs/nns/governance/unreleased_changelog.md
  rs/registry/canister/src/mutations/do_split_subnet.rs
  rs/registry/canister/src/mutations/routing_table.rs
  rs/registry/canister/unreleased_changelog.md
  rs/registry/routing_table/src/lib.rs
Due: bazel_rust_format

refactor: cleaner until()
  rs/tests/consensus/upgrade/common.rs
  rs/tests/consensus/utils/src/journal.rs
Due: bazel_rust_format

fix(orchestrator): mock starting the replica process in upgrade unit tests (#9521)
  rs/orchestrator/src/boundary_node.rs
  rs/orchestrator/src/dashboard.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/process_manager.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

feat(firewall): firewall adjustments for cloud engine nodes (#9315)
  rs/orchestrator/BUILD.bazel
  rs/orchestrator/src/firewall.rs
  rs/orchestrator/src/registry_helper.rs
  rs/orchestrator/testdata/nftables_assigned_cloud_engine.conf.golden
  rs/orchestrator/testdata/nftables_boundary_node_app_subnet.conf.golden
  rs/orchestrator/testdata/nftables_unassigned_cloud_engine.conf.golden
  rs/orchestrator/testdata/nftables_unassigned_replica.conf.golden
  rs/registry/helpers/src/firewall.rs
  rs/registry/helpers/src/subnet.rs
Due: bazel_buildifier, bazel_rust_format

LOG_MEMORY_STORE_FEATURE_ENABLED false
  rs/config/src/execution_environment.rs
Due: bazel_rust_format
