Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fix: cap the consumed cycles metrics at the cycles actually charged
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/tests.rs
  rs/types/cycles/src/compound_cycles.rs
Due: bazel_rust_format

clippy
  rs/execution_environment/benches/lib/src/common.rs
Due: bazel_rust_format

test: keep an unrefunded prepayment in full_refund_resets_consumed_cycles
  rs/replicated_state/src/canister_state/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  34/dc0bccceb4b1f0a597f22f9e028e8a0ed02de2
Due: none

refactor(cketh): let each request name the transaction it turns into
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/state/transactions/request.rs
Due: bazel_rust_format

feat(cketh): install a deposit address' delegation with its first sweep
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/state/event.rs
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/state/transactions/request.rs
  rs/ethereum/cketh/minter/src/state/transactions/tests.rs
  rs/ethereum/cketh/minter/src/tx/eip_1559.rs
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/mod.rs
  rs/ethereum/cketh/minter/src/tx/signed.rs
  rs/ethereum/cketh/minter/src/tx/sweep.rs
  rs/ethereum/cketh/minter/src/tx/tests.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_rust_format

chore(cketh): refresh the canbench baseline for the sweeper pipeline
  rs/ethereum/cketh/minter/canbench/results.yml
Due: none

refactor(cketh): finalize and resubmit any signable transaction
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/tx/eip_1559.rs
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/finalized.rs
  rs/ethereum/cketh/minter/src/tx/mod.rs
  rs/ethereum/cketh/minter/src/tx/signed.rs
Due: bazel_rust_format

fix(cketh): replay a signed EIP-7702 sweep as the type it was sent as
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/src/state/audit/tests.rs
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/signed.rs
  rs/ethereum/cketh/minter/src/tx/tests.rs
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_buildifier, bazel_rust_format

feat(cketh): expose per-token minimum deposit amounts in MinterInfo
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/balance_scan/mod.rs
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/tests/ckerc20.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b1/e01edb906c90d4837b2148c40a49f9014c10e9
Due: none

chore(subnet-splitting): mandatory subnet splitting status (#11095)
  rs/consensus/certification/src/certifier.rs
  rs/consensus/src/consensus/status.rs
  rs/types/types/src/consensus/dkg.rs
Due: bazel_rust_format

fix: Verify that a DKG dealing's config exists before checking the cache (#11282)
  rs/consensus/dkg/src/payload_validator.rs
Due: bazel_rust_format

refactor(cketh): derive the outstanding funding from the pipeline
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/sweeper_funding.rs
  rs/ethereum/cketh/minter/src/state/sweeper_funding/tests.rs
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/state/transactions/tests.rs
  rs/ethereum/cketh/minter/src/sweeper.rs
  rs/ethereum/cketh/minter/src/sweeper/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f9/27fc70405b3b9c8f949543fecd6d188f424cc9
Due: none

fix"
  rs/https_outcalls/consensus/src/payload_builder/utils.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

Mostly, more rules...
  rs/nervous_system/STANDARDS_AND_CONVENTIONS.md
  rs/nervous_system/standards_and_conventions/claude_author_instructions.md
  rs/nervous_system/standards_and_conventions/derive_claude_instructions
Due: none

Notes added by 'git notes add'
  29/90fdf9dfff4631129cce7c3f0b6ca146358327
Due: none

rename
  rs/config/src/embedders.rs
  rs/config/src/subnet_config.rs
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/tests/instrumentation.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/embedders/tests/wasmtime_random_memory_writes.rs
  rs/execution_environment/EXECUTION_COST.md
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/execution_environment/tests/subnet_size_test.rs
  rs/test_utilities/embedders/src/lib.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

refactor(cketh): decode a raw sweep transaction with the decoder already at hand
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/tests/dump_stable_memory.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  04/930eb8a8fb6f31782bd9f353643017ac29dc13
Due: none

test: clarify that the ingress induction debit test is not strict
  rs/replicated_state/src/canister_state/tests.rs
Due: bazel_rust_format

test: explain why the ingress induction debit is applied leniently
  rs/replicated_state/src/canister_state/tests.rs
Due: bazel_rust_format

fix: frame the consumed cycles capping as defense in depth
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/tests.rs
Due: bazel_rust_format

test(cketh): cover a mixed sweep batch in the transaction type table
  rs/ethereum/cketh/minter/src/state/transactions/tests.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
