Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

remove comment
  ci/src/artifacts/upload.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  6d/8ad4ba388f5de06c691e2977615beb64f28dd8
Due: none

fix: deflake //rs/tests/networking:http_endpoints_public_spec_test
  rs/tests/networking/http_endpoints_public_spec_test.rs
Due: bazel_rust_format

.
  rs/consensus/src/consensus/validator.rs
  rs/cup_explorer/src/lib.rs
  rs/types/types/src/consensus.rs
  rs/types/types/src/consensus/catchup.rs
Due: bazel_rust_format

oups
  rs/types/types/src/consensus/catchup.rs
Due: bazel_rust_format

wip
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/round_schedule.rs
  rs/execution_environment/src/scheduler/scheduler_metrics.rs
  rs/execution_environment/src/scheduler/tests.rs
Due: bazel_rust_format

feat: CON-1452 Move `IDkgTranscript` creation into the client thread (#8880)
  rs/consensus/idkg/src/metrics.rs
  rs/consensus/idkg/src/payload_builder.rs
  rs/consensus/idkg/src/payload_builder/pre_signatures.rs
  rs/consensus/idkg/src/pre_signer.rs
Due: bazel_rust_format

Calculate the proposal_creation_time_seconds right before making the proposal
  rs/sns/integration_tests/src/proposals.rs
Due: bazel_rust_format

Use stable_grow
  .bazelrc
  rs/execution_environment/src/execution/call_or_task/tests.rs
Due: bazel_buildifier, bazel_rust_format

restore the global list of unflushed checkpoint operations
  rs/execution_environment/benches/scheduler.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/queues/tests.rs
  rs/replicated_state/src/canister_state/tests.rs
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/metadata_state/proto.rs
  rs/replicated_state/tests/replicated_state.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/tip.rs
  rs/state_manager/tests/state_manager.rs
  rs/test_utilities/state/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  2e/94a704d244c2e37bddcd4eae32bab38ce927a1
Due: none

critical error on subnet admins
  rs/messaging/src/message_routing.rs
Due: bazel_rust_format

revert change to bazelrc
  .bazelrc
Due: bazel_buildifier

DEFI-2566: use released version
  Cargo.toml
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

.
  rs/config/src/embedders.rs
  rs/config/src/execution_environment.rs
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/embedders/tests/sandbox_safe_system_state.rs
  rs/embedders/tests/system_api.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/call_or_task.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
Due: bazel_rust_format

DEFI-2566: update lock files
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
Due: none

fix
  rs/sns/integration_tests/src/proposals.rs
Due: bazel_rust_format

compute freeze threshold
  rs/execution_environment/src/execution/call_or_task/tests.rs
Due: bazel_rust_format

DEFI-2566: update lock files
  Cargo.Bazel.json.lock
Due: none

fix: deflake //rs/sns/integration_tests:integration_test_src/proposals (#8946)
  rs/sns/integration_tests/src/proposals.rs
Due: bazel_rust_format

fix
  rs/artifact_pool/src/test_utils.rs
  rs/types/types/src/exhaustive.rs
Due: bazel_rust_format

Return same error on empty subnet admins
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution_environment/tests.rs
Due: bazel_rust_format

Test for incorrect subnet admins
  rs/execution_environment/src/canister_manager/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  cf/893b97a6d021fb04c487522d1e822faf078fc1
Due: none

retry on TransportErrors
  rs/tests/networking/http_endpoints_public_spec_test.rs
Due: bazel_rust_format

tests
  rs/tests/consensus/subnet_recovery/sr_app_large_with_chain_keys_test.rs
  rs/tests/consensus/upgrade/upgrade_downgrade_app_subnet_test.rs
Due: bazel_rust_format

chore: roll forward 8816 with tests fixing (#8923)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  bazel/rust.MODULE.bazel
  rs/boundary_node/ic_boundary/src/http/middleware/cache.rs
  rs/embedders/bin/instrument_wasm.rs
  rs/ledger_suite/icrc1/test_utils/src/lib.rs
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/tests/test.rs
  rs/rosetta-api/icp/src/ledger_client.rs
  rs/rosetta-api/icrc1/client/src/main.rs
  rs/state_tool/src/commands.rs
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/boundary_nodes/Cargo.toml
  rs/tests/boundary_nodes/rate_limit_canister_test.rs
  rs/tests/ckbtc/src/adapter.rs
  rs/tests/consensus/upgrade/BUILD.bazel
  rs/tests/consensus/upgrade/Cargo.toml
  rs/tests/consensus/upgrade/common.rs
  rs/tests/driver/src/types.rs
  rs/tests/driver/src/util.rs
  rs/tests/networking/http_endpoints_public_spec_test.rs
  rs/tests/nns/Cargo.toml
  rs/tests/nns/rent_subnet_test.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  0b/9264f67eb8ea936ddbd8ccb3ca0ec520fda313
Due: none
