Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

bump bazel-test-all timeout to 12 hours
  .github/workflows/ci-main.yml
Due: none

fix: serve mainnet GuestOS update images on the local system-test backend
  bazel/mainnet-icos-images.bzl
  rs/tests/configure_icos.bzl
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Only run //rs/tests/message_routing:queues_compatibility_test on farm for now
  rs/tests/message_routing/BUILD.bazel
Due: bazel_buildifier

Only run nested guestos_upgrade tests on farm for now
  rs/tests/nested/BUILD.bazel
Due: bazel_buildifier

Only run node_registration tests on farm for now
  rs/tests/consensus/orchestrator/BUILD.bazel
Due: bazel_buildifier

Automatically fixing code for linting and formatting issues
  rs/tests/configure_icos.bzl
Due: bazel_buildifier

chore: fix some comments to improve readability
  rs/nervous_system/instruction_stats/src/lib.rs
  rs/nervous_system/proxied_canister_calls_tracker/src/lib.rs
  rs/prep/src/initialized_subnet.rs
  rs/protobuf/src/registry/replica_version.rs
  rs/tests/driver/src/util.rs
  rs/tests/networking/firewall/firewall_max_connections_test.rs
Due: bazel_rust_format

fix: reach the ic-gateway via its domain on the local system-test backend
  rs/tests/driver/src/driver/ic_gateway_vm.rs
  rs/tests/nns/nns_dapp_test.rs
  rs/tests/sdk/src/asset.rs
Due: bazel_rust_format

Only run upgrade_downgrade and backup_manager tests on farm for now
  rs/tests/consensus/backup/BUILD.bazel
  rs/tests/consensus/upgrade/BUILD.bazel
Due: bazel_buildifier

Only run nested registration and hostos_upgrade tests on farm for now
  rs/tests/nested/BUILD.bazel
Due: bazel_buildifier

Only run //rs/tests/networking:canister_http_socks_test on farm for now
  rs/tests/networking/BUILD.bazel
Due: bazel_buildifier

Generalize uvms_logs_stream_task to logs_stream_task which also streams IC logs
  rs/tests/driver/src/driver/context.rs
  rs/tests/driver/src/driver/group.rs
  rs/tests/driver/src/driver/logs_stream_task.rs
  rs/tests/driver/src/driver/mod.rs
  rs/tests/driver/src/driver/serve_files_task.rs
  rs/tests/driver/src/driver/subprocess_task.rs
  rs/tests/driver/src/driver/uvms_logs_stream_task.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

Only extract the primary disk on first boot
  rs/tests/driver/src/driver/local_backend.rs
Due: bazel_rust_format

Configure //rs/tests/consensus/upgrade:upgrade_downgrade_nns_subnet_test as farm-only for now
  rs/tests/consensus/upgrade/BUILD.bazel
Due: bazel_buildifier

Introduce the log_consoles_task
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
  rs/tests/driver/BUILD.bazel
  rs/tests/driver/Cargo.toml
  rs/tests/driver/src/driver/context.rs
  rs/tests/driver/src/driver/group.rs
  rs/tests/driver/src/driver/log_consoles_task.rs
  rs/tests/driver/src/driver/mod.rs
  rs/tests/driver/src/driver/subprocess_task.rs
  rs/tests/driver/templates/guestos_vm_template.xml
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

Only run //rs/tests/consensus/orchestrator:cup_compatibility_test_local via farm for now
  rs/tests/consensus/orchestrator/BUILD.bazel
Due: bazel_buildifier

comment about `bazel = "farm"` for the tests that are too big for local
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/dre/BUILD.bazel
  rs/tests/message_routing/BUILD.bazel
  rs/tests/message_routing/xnet/BUILD.bazel
  rs/tests/nested/nns_recovery/BUILD.bazel
  rs/tests/networking/BUILD.bazel
  rs/tests/nns/BUILD.bazel
  rs/tests/testnets/BUILD.bazel
Due: bazel_buildifier

final fixes
  rs/execution_environment/tests/canister_settings.rs
Due: bazel_rust_format

Improve wording
  rs/tests/driver/src/util.rs
  rs/tests/networking/firewall/firewall_max_connections_test.rs
Due: bazel_rust_format

harden tests
  rs/execution_environment/tests/canister_settings.rs
Due: bazel_rust_format

Potential fix for pull request finding
  rs/state_layout/src/state_layout/tests.rs
Due: bazel_rust_format

more fixes
  rs/protobuf/def/state/canister_state_bits/v1/canister_state_bits.proto
  rs/protobuf/src/gen/state/state.canister_state_bits.v1.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

fix: management canister contribution guideline
  rs/execution_environment/Contributing.md
Due: none

fix
  rs/execution_environment/Contributing.md
Due: none

fix
  rs/state_layout/src/state_layout/tests.rs
Due: bazel_rust_format

fix
  rs/https_outcalls/consensus/src/payload_builder.rs
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/https_outcalls/consensus/src/payload_builder/utils.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
  rs/interfaces/src/canister_http.rs
Due: bazel_rust_format

feat: support docker as container runtime in container-run.sh (#10368)
  ci/container/container-run.sh
  ci/container/docker-init.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  ee/d1b0cd7fa8a3f037b85c8806f4d8cd5059403f
Due: none

ignore
  rs/types/types/src/consensus/idkg.rs
Due: bazel_rust_format

fix(consensus): create CUP shares earlier when halting (#10347)
  rs/consensus/src/consensus.rs
  rs/consensus/src/consensus/catchup_package_maker.rs
  rs/consensus/tests/framework/mod.rs
  rs/consensus/tests/framework/runner.rs
  rs/consensus/tests/framework/types.rs
  rs/consensus/tests/integration.rs
  rs/test_utilities/src/state_manager.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  ci/container/container-run.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  d8/a93a8a03e259d1991303c63c0432ea795d71f1
Due: none

fix: remove double '-w' in container-run.sh
  ci/container/container-run.sh
Due: bazel_shfmt_format

fix: remove double '-w' in container-run.sh (#10406)
  ci/container/container-run.sh
Due: bazel_shfmt_format
