Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

flip height and state in args of encode_stream_slice
  rs/state_manager/benches/bench_traversal.rs
  rs/state_manager/src/lib.rs
  rs/state_manager/src/stream_encoding.rs
  rs/state_manager/src/stream_encoding/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  93/1d3f95c1b243e3bdb38f66fd38910600ed2409
Due: none

Notes added by 'git notes add'
  25/6d2091f334964370c5c87c2f7012a3dfa62d0e
Due: none

flip args in hash_state
  rs/state_manager/benches/bench_traversal.rs
  rs/state_manager/src/tree_hash.rs
  rs/state_tool/src/commands/cdiff.rs
  rs/state_tool/src/commands/chash.rs
Due: bazel_rust_format

flip args in do_hash
  rs/state_tool/src/commands/chash.rs
  rs/state_tool/src/main.rs
Due: bazel_rust_format

flip args in system_metadata_as_tree
  rs/canonical_state/src/lazy_tree_conversion.rs
Due: bazel_rust_format

flip height and state in args of traverse
  rs/canonical_state/src/traversal.rs
  rs/state_manager/benches/bench_traversal.rs
  rs/state_manager/src/stream_encoding.rs
  rs/state_manager/src/tree_hash.rs
Due: bazel_rust_format

Need to publish test Registry WASM (i.e. built with feature = "test").
  publish/canisters/BUILD.bazel
  rs/nns/constants/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

fixes
  rs/canonical_state/src/traversal.rs
  rs/canonical_state/tests/size_limit_visitor.rs
  rs/state_manager/benches/bench_traversal.rs
Due: bazel_rust_format

permute args in compute_certification_metadata
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

Make v2 default algorithm pbr
  rs/node_rewards/canister/api/src/lib.rs
  rs/node_rewards/canister/src/canister/mod.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/node_rewards/canister/src/canister/mod.rs
Due: bazel_rust_format

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

chore(crypto): CRP-947 CRP-1045 CRP-2436 Refactoring of ECDSA/Ed25519 related utility crates (#8455)
  Cargo.lock
  packages/ic-secp256r1/src/lib.rs
  packages/ic-secp256r1/tests/fips_test_vectors.rs
  packages/ic-secp256r1/tests/tests.rs
  rs/crypto/BUILD.bazel
  rs/crypto/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/cose/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/cose/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/cose/src/lib.rs
  rs/crypto/internal/crypto_lib/basic_sig/cose/tests/tests.rs
  rs/crypto/internal/crypto_lib/basic_sig/der_utils/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/der_utils/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256k1/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256k1/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256k1/src/api.rs
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256r1/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256r1/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256r1/src/api.rs
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256r1/tests/api_tests.rs
  rs/crypto/internal/crypto_lib/basic_sig/ecdsa_secp256r1/tests/fips_test_vectors.rs
  rs/crypto/internal/crypto_lib/basic_sig/ed25519/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/ed25519/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/ed25519/src/api.rs
  rs/crypto/internal/crypto_lib/basic_sig/ed25519/src/api/tests.rs
  rs/crypto/internal/crypto_lib/basic_sig/iccsa/src/api.rs
  rs/crypto/internal/crypto_lib/basic_sig/rsa_pkcs1/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/rsa_pkcs1/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/rsa_pkcs1/src/lib.rs
  rs/crypto/standalone-sig-verifier/BUILD.bazel
  rs/crypto/standalone-sig-verifier/Cargo.toml
  rs/crypto/standalone-sig-verifier/src/algorithm_identifiers.rs
  rs/crypto/standalone-sig-verifier/src/lib.rs
  rs/crypto/standalone-sig-verifier/src/sign_utils.rs
  rs/crypto/standalone-sig-verifier/tests/sign_utils.rs
  rs/crypto/tests/canister_signatures.rs
Due: bazel_buildifier, bazel_rust_format

test: Fix launch measurements in system tests
  rs/tests/consensus/backup/common.rs
  rs/tests/consensus/orchestrator/unstuck_subnet_test.rs
  rs/tests/consensus/upgrade/common.rs
  rs/tests/consensus/upgrade/unassigned_node_upgrade_test.rs
  rs/tests/consensus/upgrade/upgrade_with_alternative_urls.rs
  rs/tests/dre/guest_os_qualification.rs
  rs/tests/dre/utils/lib.rs
  rs/tests/driver/src/driver/bootstrap.rs
  rs/tests/driver/src/driver/ic_images.rs
  rs/tests/message_routing/xnet/xnet_compatibility.rs
  rs/tests/nested/guestos_upgrade.rs
  rs/tests/nested/nns_recovery/common.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  aa/6a26ea45c60574a50363353db62422773eebc2
Due: none

Notes added by 'git notes add'
  50/e974353361450166627bc96943bea841058d45
Due: none

chore: Avoid re-export of ICCSA crate
  Cargo.lock
  Cargo.toml
  rs/crypto/iccsa/BUILD.bazel
  rs/crypto/iccsa/Cargo.toml
  rs/crypto/iccsa/README.adoc
  rs/crypto/iccsa/src/api.rs
  rs/crypto/iccsa/src/lib.rs
  rs/crypto/iccsa/src/types.rs
  rs/crypto/iccsa/src/types/conversions.rs
  rs/crypto/iccsa/src/types/conversions/tests.rs
  rs/crypto/iccsa/src/types/generic_traits.rs
  rs/crypto/iccsa/src/types/generic_traits/tests.rs
  rs/crypto/iccsa/test_utils/BUILD.bazel
  rs/crypto/iccsa/test_utils/Cargo.toml
  rs/crypto/iccsa/test_utils/src/lib.rs
  rs/crypto/iccsa/tests/api.rs
  rs/crypto/internal/crypto_lib/basic_sig/iccsa/BUILD.bazel
  rs/crypto/internal/crypto_lib/basic_sig/iccsa/Cargo.toml
  rs/crypto/internal/crypto_lib/basic_sig/iccsa/src/lib.rs
  rs/crypto/internal/crypto_lib/basic_sig/iccsa/test_utils/Cargo.toml
  rs/crypto/standalone-sig-verifier/BUILD.bazel
  rs/crypto/standalone-sig-verifier/Cargo.toml
  rs/crypto/standalone-sig-verifier/src/sign_utils.rs
  rs/crypto/test_utils/canister_sigs/BUILD.bazel
  rs/crypto/test_utils/canister_sigs/src/lib.rs
  rs/validator/http_request_test_utils/BUILD.bazel
  rs/validator/http_request_test_utils/Cargo.toml
  rs/validator/http_request_test_utils/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

feat(governance): Add Registry WASM built with feature = "test" to NNS_CANISTER_WASMS. (#8525)
  publish/canisters/BUILD.bazel
  rs/nns/constants/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Export an mr_stream_messages metric.
  rs/messaging/src/routing/stream_builder.rs
  rs/messaging/src/routing/stream_builder/tests.rs
Due: bazel_rust_format

chore: Encapsulate `CanisterMetrics` (#8502)
  rs/cycles_account_manager/tests/cycles_account_manager.rs
  rs/embedders/tests/sandbox_safe_system_state.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/round_schedule.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/tests.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b2/91fd30707aeee276cdae62c35b404adcb9f11a
Due: none

Notes added by 'git notes add'
  65/a10ade4b438649fc6f226f6801db50da05463b
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
