Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Update
  rs/bitcoin/adapter/BUILD.bazel
Due: bazel_buildifier

Fix bazel
  rs/bitcoin/adapter/BUILD.bazel
Due: bazel_buildifier

WIP
  rs/nervous_system/canisters/src/ledger.rs
  rs/nervous_system/clients/src/ledger_client.rs
  rs/nervous_system/common/test_utils/src/lib.rs
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
  rs/nns/governance/canister/tla_ledger.rs
  rs/nns/governance/src/test_utils.rs
  rs/nns/governance/tests/degraded_mode.rs
  rs/nns/governance/tests/fake.rs
  rs/nns/governance/tests/fixtures/mod.rs
  rs/nns/governance/tests/interleaving/mod.rs
  rs/sns/governance/src/extensions.rs
  rs/sns/root/canister/canister.rs
Due: bazel_rust_format

Initial support for dogecoin system tests
  MODULE.bazel
  rs/tests/BUILD.bazel
  rs/tests/ckbtc/adapter_basics_test.rs
  rs/tests/ckbtc/src/adapter.rs
  rs/tests/ckbtc/src/lib.rs
  rs/tests/ckbtc/src/utils.rs
Due: bazel_buildifier, bazel_rust_format

Buildifier
  MODULE.bazel
Due: bazel_buildifier

.
  rs/messaging/src/routing/stream_handler.rs
Due: bazel_rust_format

fix(ckbtc): adapt fee when reimbursing pending withdrawal requests (#6291)
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/main.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  12/f93cd3f38337d6a4b98272d360990f808221cf
Due: none

chore: [NODE-1677] Final round of image cleanups, for now (#6283)
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/backup/BUILD.bazel
  rs/tests/consensus/backup/common.rs
  rs/tests/consensus/consensus_performance.rs
  rs/tests/consensus/orchestrator/unstuck_subnet_test.rs
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/sr_nns_failover_nodes_test.rs
  rs/tests/consensus/subnet_recovery/sr_nns_same_nodes_test.rs
  rs/tests/consensus/subnet_splitting_test.rs
  rs/tests/consensus/tecdsa/tecdsa_two_signing_subnets_test.rs
  rs/tests/consensus/upgrade/common.rs
  rs/tests/consensus/upgrade/unassigned_node_upgrade_test.rs
  rs/tests/consensus/upgrade/upgrade_downgrade_app_subnet_test.rs
  rs/tests/consensus/upgrade/upgrade_downgrade_nns_subnet_test.rs
  rs/tests/consensus/upgrade/upgrade_with_alternative_urls.rs
  rs/tests/dre/BUILD.bazel
  rs/tests/dre/guest_os_qualification.rs
  rs/tests/dre/utils/steps/update_subnet_type.rs
  rs/tests/driver/src/driver/bootstrap.rs
  rs/tests/driver/src/driver/ic_images.rs
  rs/tests/driver/src/driver/resource.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/message_routing/xnet/xnet_compatibility.rs
  rs/tests/nested/src/lib.rs
  rs/tests/networking/nns_delegation_test.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

feat(PocketIC): top up anonymous account of ICP ledger (#6339)
  packages/pocket-ic/tests/icp_features.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

dedup;
  rs/http_endpoints/public/src/lib.rs
  rs/tests/networking/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  39/f7aadd36fa2a30c63d799f841bd1a616fddf1a
Due: none

chore: remove unused dependencies
  Cargo.lock
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/Cargo.toml
Due: bazel_buildifier

Notes added by 'git notes add'
  bf/a9716910d5fe559a19a0b04f568622193a1aa2
Due: none

feat: bootstrap Internet Identity canister (#6288)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/external_crates.bzl
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/tests/icp_features.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/build.rs
  rs/pocket_ic_server/src/external_canister_types.rs
  rs/pocket_ic_server/src/lib.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/pocket_ic_server/src/state_api/routes.rs
Due: bazel_buildifier, bazel_rust_format

Preparation for investigation
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
  rs/sns/governance/src/extensions.rs
Due: bazel_rust_format

wip strat 1
  rs/migration_canister/src/canister_state.rs
  rs/migration_canister/src/processing.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  18/66e377678a0c3511dd0c2734961aaa2a780504
Due: none

feat: adding a possibility to filter the noisy logs from the system test driver (#6390)
  Cargo.lock
  Cargo.toml
  rs/tests/driver/BUILD.bazel
  rs/tests/driver/Cargo.toml
  rs/tests/driver/src/driver/context.rs
  rs/tests/driver/src/driver/group.rs
  rs/tests/driver/src/driver/subprocess_task.rs
  rs/tests/idx/BUILD.bazel
  rs/tests/idx/Cargo.toml
  rs/tests/idx/colocate_test.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  a7/aedc3846a051b6c2241e3749fa57db43963033
Due: none

wip
  rs/migration_canister/src/processing.rs
Due: bazel_rust_format

chore: Update Mainnet ICOS revisions file
  mainnet-icos-revisions.json
Due: none

dedup2
  rs/pocket_ic_server/src/state_api/routes.rs
Due: bazel_rust_format

chore: Remove wasm64 feature flag (#6354)
  rs/config/src/embedders.rs
  rs/drun/src/main.rs
  rs/embedders/benches/embedders_bench/src/lib.rs
  rs/embedders/fuzz/src/compile.rs
  rs/embedders/fuzz/src/differential.rs
  rs/embedders/fuzz/src/ic_wasm.rs
  rs/embedders/fuzz/src/imports.rs
  rs/embedders/fuzz/src/wasm_executor.rs
  rs/embedders/fuzz/src/wasmtime.rs
  rs/embedders/fuzz/src/ws2wasm.rs
  rs/embedders/src/wasm_utils/validation.rs
  rs/embedders/tests/instrumentation.rs
  rs/embedders/tests/validation.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/embedders/tests/wasmtime_random_memory_writes.rs
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/fuzz/fuzz_targets/execute_ic_wasm.rs
  rs/execution_environment/fuzz/fuzz_targets/execute_system_api.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/tests/execution_test.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/pocket_ic_server/src/nonmainnet_features.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

feat(PocketIC): bootstrap NNS Dapp canister
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/tests/icp_features.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/build.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_buildifier, bazel_rust_format
