Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  44/31b5d8c5d505ea015bbd2e3ce8ada6ab3424d8
Due: none

chore(nns): Add TODO back to proposal texts to add human-readable summary before submitting (#3068)
  testnet/tools/nns-tools/lib/proposals.sh
Due: bazel_shfmt_format

Add check if new config already exists and is Testnet, do not update
  rs/ic_os/config/src/update_config.rs
Due: bazel_rust_format

Improve listing neurons fund neuron
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/neuron_store.rs
Due: bazel_rust_format

fix(EXC-1811): Disable `anyhow` backtraces in sandbox (#2991)
  rs/canister_sandbox/src/launcher.rs
  rs/canister_sandbox/src/process.rs
  rs/canister_sandbox/src/replica_controller/launch_as_process.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  86/229594d61b433c39fc5331ab818ccb6c6aa6a7
Due: none

Fix test
  ic-os/defs.bzl
  ic-os/dev-tools/launch-remote-vm.sh
Due: bazel_buildifier, bazel_shfmt_format

Check for failure when building config
  rs/ic_os/dev_test_tools/launch-single-vm/src/main.rs
Due: bazel_rust_format

Allow empty hostname in GuestOS
  rs/ic_os/config/src/update_config.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  c7/ce2309c29c45a79621f278fd1b65c814f99da9
Due: none

Add recent_ballots_next_entry_index to NeuronBuilder and let it be Some()
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

test(nns): Add recent_ballots_next_entry_index to NeuronBuilder and let it be So… (#3073)
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

more print
  rs/state_layout/src/state_layout.rs
  rs/state_manager/src/manifest.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  00/eb69d99fec3aa2d5fe0265c02ebcbaeecfe5c8
Due: none

Fix test.
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/neuron_store/metrics/tests.rs
Due: bazel_rust_format

default_num_subnet_nodes
  rs/bitcoin/checker/src/main.rs
  rs/bitcoin/checker/src/state.rs
Due: bazel_rust_format

chore(ckbtc): NNS proposal to reinstall Bitcoin Checker
  rs/bitcoin/ckbtc/mainnet/btc_checker_reinstall_2024_12_09.md
Due: none

fix
  rs/state_layout/src/state_layout.rs
  rs/state_manager/src/manifest.rs
Due: bazel_rust_format

fix
  rs/state_manager/src/manifest.rs
Due: bazel_rust_format

Add num_subnet_nodes to InitArg
  rs/bitcoin/checker/btc_checker_canister.did
  rs/bitcoin/checker/src/main.rs
  rs/bitcoin/checker/src/state.rs
  rs/bitcoin/checker/src/types.rs
  rs/bitcoin/checker/tests/tests.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
  rs/tests/ckbtc/src/lib.rs
Due: bazel_rust_format

More asserts.
  rs/nns/governance/src/tests.rs
Due: bazel_rust_format

Comment.
  rs/nns/governance/src/lib.rs
Due: bazel_rust_format

Delete a TODO comment. (Could have done this earlier, but did not notice until just now.)
  rs/nns/governance/src/neuron_store/metrics.rs
Due: bazel_rust_format

test(IDX): allow more time for //rs/nervous_system/integration_tests:... (#3059)
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nervous_system/integration_tests/tests/deploy_fresh_sns_test.rs
  rs/nervous_system/integration_tests/tests/upgrade_existing_sns_test.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  90/f4535c61cfc3e579ab99ca33d19f79801d3fe1
Due: none

wip
  rs/nns/governance/src/governance/benches.rs
Due: bazel_rust_format

Baseline benchmarks for list_neurons
  rs/nns/governance/src/governance/benches.rs
Due: bazel_rust_format

wip
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/neuron_store.rs
Due: bazel_rust_format

simpler impl
  rs/nns/governance/src/governance/benches.rs
Due: bazel_rust_format

updated-results
  rs/nns/governance/canbench/canbench_results.yml
Due: none

Metrics for stale and expired neurons.
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/lib.rs
  rs/nns/governance/src/neuron_store/metrics.rs
  rs/nns/governance/src/neuron_store/metrics/tests.rs
  rs/nns/governance/src/pb/conversions.rs
Due: bazel_protobuf_format, bazel_rust_format

cleanup notes to self
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/neuron_store.rs
Due: bazel_rust_format

lint. mostly reflow.
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/lib.rs
  rs/nns/governance/src/neuron_store/metrics.rs
  rs/nns/governance/src/neuron_store/metrics/tests.rs
  rs/nns/governance/src/pb/conversions.rs
Due: bazel_rust_format
