Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Add extensions to agent SnsCanisters
  rs/nervous_system/agent/src/sns/root.rs
  rs/sns/root/canister/canister.rs
  rs/sns/root/canister/root.did
  rs/sns/root/src/lib.rs
  rs/sns/root/src/types.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  2d/295b3ddb055897f367dcf8b9ecbe96a2fbeb15
Due: none

lint
  rs/nervous_system/agent/src/sns/root.rs
Due: bazel_rust_format

chore: cleanup ic_registry_client dependencies
  Cargo.lock
  rs/backup/BUILD.bazel
  rs/backup/Cargo.toml
  rs/backup/src/backup_helper.rs
  rs/boundary_node/ic_boundary/BUILD.bazel
  rs/boundary_node/ic_boundary/Cargo.toml
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/snapshot.rs
  rs/recovery/BUILD.bazel
  rs/recovery/Cargo.toml
  rs/recovery/src/registry_helper.rs
Due: bazel_buildifier, bazel_rust_format

small fix
  rs/sns/init/src/lib.rs
Due: bazel_rust_format

chore: typo
  rs/backup/BUILD.bazel
  rs/boundary_node/ic_boundary/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  52/ac3ba8d335ebe7ec661d8b5a1eadb23e5d0081
Due: none

more fixes
  rs/sns/integration_tests/src/root.rs
  rs/sns/integration_tests/src/timers.rs
Due: bazel_rust_format

fix
  rs/sns/cli/src/upgrade_sns_controlled_canister.rs
Due: bazel_rust_format

chore: switch from boot partition version to /opt/ic/share/version.txt (#5935)
  rs/tests/nested/src/util.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f0/b0bddc38225a16af32b060a78968b658d4e9ee
Due: none

feat: vector vm for fetching logs and pushing them to testnet elastic
  rs/tests/driver/src/driver/mod.rs
  rs/tests/driver/src/driver/resource.rs
  rs/tests/driver/src/driver/vector_vm.rs
Due: bazel_rust_format

adding generation code
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/testnets/small.rs
Due: bazel_rust_format

generating vector vm data
  rs/tests/testnets/small.rs
Due: bazel_rust_format

Revert "revert: Revert "feat: Build custom SEV-compatible OVMF from source and distribute it with the GuestOS (#5776)" (#5894)"
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
  ci/container/files/packages.common
  ic-os/components/ovmf/BUILD.bazel
  ic-os/guestos/defs.bzl
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/upgrade_guestos.xml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_direct_boot.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Due: bazel_buildifier, bazel_rust_format

Split regular OVMF and SEV OVMF
  ic-os/components/ovmf/BUILD.bazel
  ic-os/guestos/defs.bzl
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/upgrade_guestos.xml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_direct_boot.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Due: bazel_buildifier, bazel_rust_format

Set generated files to master version
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
Due: none

Updating container image to sha256:30313b29353a3e4d5c11f23ee9ba7e2b5a7a36b9aaebc098c5ca4183cfccad2f
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
Due: none

even moar clippy
  rs/ic_os/os_tools/guest_vm_runner/src/mount.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

adding vector image, activation script and code to actually start the vm
  MODULE.bazel
  rs/tests/BUILD.bazel
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/testnets/BUILD.bazel
  rs/tests/vector_activate.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

even moar clippy
  rs/ic_os/os_tools/guest_vm_runner/src/mount.rs
Due: bazel_rust_format

adding correct path to bazel
  rs/tests/testnets/BUILD.bazel
Due: bazel_buildifier

fix test
  rs/ic_os/os_tools/guest_vm_runner/src/guest_direct_boot.rs
Due: bazel_rust_format

adding more stuff to vector
  rs/tests/BUILD.bazel
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/vector_activate.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

more changes
  rs/tests/BUILD.bazel
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/testnets/small.rs
  rs/tests/vector_activate.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

fixing vector configs
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/vector_activate.sh
Due: bazel_shfmt_format, bazel_rust_format

more config fixes for vector
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/testnets/small.rs
Due: bazel_rust_format

cleaning up
  rs/tests/driver/src/driver/resource.rs
  rs/tests/driver/src/driver/vector_vm.rs
Due: bazel_rust_format

add a mechanism for vector to wait on spawning the scrapers
  rs/tests/BUILD.bazel
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/vector_activate.sh
  rs/tests/vector_run.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

adding output of generated link if present
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/ict/cmd/testnetCreateCmd.go
Due: bazel_rust_format

buildifier and gazelle
  MODULE.bazel
  rs/tests/BUILD.bazel
  rs/tests/testnets/BUILD.bazel
Due: bazel_buildifier

Linting
  rs/tests/driver/src/driver/vector_vm.rs
Due: bazel_rust_format

comments
  rs/orchestrator/image_upgrader/src/image_upgrader.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format
