Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

chore: state-tool copy commands
  Cargo.lock
  rs/state_layout/src/state_layout.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/lib.rs
  rs/state_tool/BUILD.bazel
  rs/state_tool/Cargo.toml
  rs/state_tool/src/commands.rs
  rs/state_tool/src/commands/copy.rs
  rs/state_tool/src/commands/import_state.rs
  rs/state_tool/src/main.rs
Due: bazel_buildifier, bazel_rust_format

XC-270: proposals
  rs/bitcoin/ckbtc/mainnet/ckbtc_archive_upgrade_2025_01_17.md
  rs/bitcoin/ckbtc/mainnet/ckbtc_index_upgrade_2025_01_17.md
  rs/bitcoin/ckbtc/mainnet/ckbtc_ledger_upgrade_2025_01_17.md
Due: none

XC-270: added motivation
  rs/bitcoin/ckbtc/mainnet/ckbtc_archive_upgrade_2025_01_17.md
  rs/bitcoin/ckbtc/mainnet/ckbtc_index_upgrade_2025_01_17.md
  rs/bitcoin/ckbtc/mainnet/ckbtc_ledger_upgrade_2025_01_17.md
Due: none

Notes added by 'git notes add'
  c4/739e9ad8a15c78058c1e32a9b29e3c828a4aa6
Due: none

Clarify --help string that metadata is included.
  rs/state_tool/src/main.rs
Due: bazel_rust_format

chore(IDX): Use repository_ctx.getenv
  bazel/sanitizers_enabled_env/defs.bzl
Due: bazel_buildifier

clippy
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

clippy 2: Electric Boogaloo
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

XC-260: move pocket IC QueryCall impl to private module
  packages/ic-metrics-assert/src/lib.rs
  rs/bitcoin/checker/tests/tests.rs
Due: bazel_rust_format

Some renaming
  rs/consensus/dkg/src/payload_builder.rs
Due: bazel_rust_format

refactor
  rs/consensus/src/consensus/metrics.rs
  rs/consensus/src/consensus/purger.rs
  rs/ingress_manager/src/ingress_selector.rs
  rs/interfaces/src/ingress_manager.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/stripper.rs
  rs/protobuf/def/types/v1/consensus.proto
  rs/protobuf/src/gen/types/types.v1.rs
  rs/state_machine_tests/src/lib.rs
  rs/types/types/src/batch/ingress.rs
  rs/types/types/src/exhaustive.rs
  rs/types/types/src/messages.rs
Due: bazel_protobuf_format, bazel_rust_format

fix: mocked xnet in PocketIC (#3376)
  packages/pocket-ic/tests/tests.rs
  rs/state_machine_tests/src/lib.rs
  rs/xnet/payload_builder/src/lib.rs
Due: bazel_rust_format

Adapt create summary registry version test
  rs/consensus/dkg/src/lib.rs
Due: bazel_rust_format

Use Wasm64 heap size constant in exec env config.
  rs/config/src/execution_environment.rs
Due: bazel_rust_format

feat(governance-tools): Support creating entries in SNS CHANGELOG.md files. (#3416)
  testnet/tools/nns-tools/add-release-to-changelog.sh
Due: bazel_shfmt_format

.
  Cargo.lock
  rs/p2p/artifact_manager/BUILD.bazel
  rs/p2p/artifact_manager/Cargo.toml
  rs/p2p/artifact_manager/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

.
  rs/p2p/artifact_manager/src/lib.rs
Due: bazel_rust_format

Add loop to timedatectl check
  ic-os/components/setupos-scripts/check-ntp.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  f9/f2491d302ce74634f487e8971105c81d82ae54
Due: none

Notes added by 'git notes add'
  56/015b7c3cf290bd132d98eb7695a65cbad4232b
Due: none

chore(IDX): Use repository_ctx.getenv (#3442)
  bazel/sanitizers_enabled_env/defs.bzl
Due: bazel_buildifier

Prettier output from add-release-to-changelog. Mostly, added emojis, but not just that.
  testnet/tools/nns-tools/add-release-to-changelog.sh
Due: bazel_shfmt_format

.
  rs/consensus/benches/validate_payload.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e4/479ba9d49923759e672ed83e742cd2a371bb61
Due: none

chore(IDX): bump rules_rust
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.json.lock
  WORKSPACE.bazel
  bazel/rules_rust.patch
Due: bazel_buildifier

Removed DO NOT MERGE.
  testnet/tools/nns-tools/add-release-to-changelog.sh
Due: bazel_shfmt_format

feat(governance-tools): Pretty add-release-to-changelog.sh output. (#3417)
  testnet/tools/nns-tools/add-release-to-changelog.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  f7/2bd1cdb20e307e1c928f951b168cf5940b4801
Due: none

comment
  rs/consensus/benches/validate_payload.rs
Due: bazel_rust_format

fourth
  rs/nervous_system/agent/src/lib.rs
  rs/nervous_system/agent/src/nns/management_canister.rs
  rs/sns/cli/src/upgrade_sns_controlled_canister.rs
Due: bazel_rust_format

test(consensus): modify the test cases in ingress payload serialization/deserialization benchmarks (#3447)
  rs/consensus/benches/validate_payload.rs
Due: bazel_rust_format

fix(PocketIC): safely drop StateMachine
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

Adapt another test
  rs/consensus/dkg/src/lib.rs
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/utils.rs
Due: bazel_rust_format

comment
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  fe/42b708759d3d76b543e7ad4699d0136c63e96d
Due: none
