Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

remove ArchiveNodeState
  rs/ledger_suite/icp/archive/src/main.rs
Due: bazel_rust_format

Remove unused echo and du commands
  .github/actions/bazel/action.yaml
Due: none

use post_upgrade macro
  rs/ledger_suite/icp/archive/src/main.rs
Due: bazel_rust_format

add unit tests for validate_http_headers_and_body
  rs/types/types/src/canister_http.rs
Due: bazel_rust_format

Revert "upgrade index and archive canister revisions"
  mainnet-canister-revisions.json
  rs/ledger_suite/icp/tests/golden_nns_state.rs
Due: bazel_rust_format

refactor imports
  rs/ledger_suite/icp/archive/src/main.rs
Due: bazel_rust_format

fix
  rs/recovery/src/app_subnet_recovery.rs
  rs/recovery/src/nns_recovery_failover_nodes.rs
  rs/recovery/src/nns_recovery_same_nodes.rs
  rs/tests/consensus/subnet_recovery/common.rs
Due: bazel_rust_format

.
  rs/replay/src/player.rs
  rs/tests/consensus/subnet_recovery/sr_nns_failover_nodes_test.rs
  rs/tests/consensus/subnet_recovery/sr_nns_same_nodes_test.rs
Due: bazel_rust_format

add basic metrics to ICRC1 Rosetta
  Cargo.lock
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/rosetta-api/icrc1/Cargo.toml
  rs/rosetta-api/icrc1/src/main.rs
Due: bazel_buildifier, bazel_rust_format

add comments
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/canister_state/system_state/wasm_chunk_store.rs
Due: bazel_rust_format

chore(crypto): CRP-2636 adapt benchmarks to 34 instead 28 nodes
  rs/crypto/benches/idkg.rs
  rs/crypto/benches/ni_dkg.rs
  rs/crypto/benches/tecdsa.rs
  rs/crypto/benches/threshold_sig.rs
  rs/crypto/benches/tschnorr.rs
Due: bazel_rust_format

Bump neuron limit to 500K now that neurons are all moved to stable memory
  rs/nns/governance/src/governance.rs
  rs/nns/governance/unreleased_changelog.md
Due: bazel_rust_format

unit tests
  Cargo.lock
  rs/replay/BUILD.bazel
  rs/replay/Cargo.toml
  rs/replay/src/ingress.rs
  rs/replay/src/lib.rs
  rs/replay/src/player.rs
Due: bazel_buildifier, bazel_rust_format

use post_upgrade macro
  rs/ledger_suite/icp/archive/tests/tests.rs
  rs/ledger_suite/icp/tests/golden_nns_state.rs
Due: bazel_rust_format

feat(nns): Bump neuron limit to 500K (#4567)
  rs/nns/governance/src/governance.rs
  rs/nns/governance/unreleased_changelog.md
Due: bazel_rust_format

Notes added by 'git notes add'
  3a/fec59ddf883e80a4987fa9129d62ad156548a2
Due: none

buildify
  rs/replay/BUILD.bazel
Due: bazel_buildifier

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

chore: Remove deprecated controller field
  rs/canonical_state/src/lazy_tree_conversion.rs
  rs/execution_environment/src/canister_manager.rs
  rs/replica_tests/tests/canister_lifecycle.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/rust_canisters/tests/test/canister_management.rs
  rs/tests/nns/nns_cycles_minting_test.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

chore(nns): add support in release scripts for node-rewards canister
  testnet/tools/nns-tools/lib/constants.sh
  testnet/tools/nns-tools/lib/functions.sh
Due: bazel_shfmt_format

Add constants
  rs/nns/constants/src/lib.rs
Due: bazel_rust_format

various fixes and additions
  rs/nervous_system/tools/release-runscript/src/main.rs
  rs/nns/canister_ids.json
  testnet/tools/nns-tools/lib/constants.sh
  testnet/tools/nns-tools/lib/functions.sh
  testnet/tools/nns-tools/lib/proposals.sh
Due: bazel_shfmt_format, bazel_rust_format

Add to scripts to do updates
  rs/nervous_system/tools/release-runscript/src/main.rs
  rs/nervous_system/tools/sync-with-released-nervous-system-wasms/src/main.rs
Due: bazel_rust_format

add helper for testing
  testnet/tools/nns-tools/lib/nns_neurons.sh
Due: bazel_shfmt_format

Fix test helpers so they compile
  Cargo.lock
  rs/nns/test_utils/BUILD.bazel
  rs/nns/test_utils/Cargo.toml
  rs/nns/test_utils/src/common.rs
  rs/nns/test_utils/src/itest_helpers.rs
  rs/node_rewards/canister/api/src/lifecycle_args.rs
Due: bazel_buildifier, bazel_rust_format

Add canisters to protocol canisters list
  rs/nns/governance/src/proposals/mod.rs
Due: bazel_rust_format

Adding latest release, generated by script
  mainnet-canister-revisions.json
Due: none

Add to more workflows
  WORKSPACE.bazel
  rs/tests/common.bzl
Due: bazel_buildifier

Add canister to nightly upgrade test
  rs/nns/integration_tests/src/upgrade_canisters_with_golden_nns_state.rs
Due: bazel_rust_format

make imports consistent
  rs/nns/test_utils/src/itest_helpers.rs
Due: bazel_rust_format

Fix integration tests
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/test_utils/src/itest_helpers.rs
  rs/nns/test_utils/src/state_test_helpers.rs
Due: bazel_buildifier, bazel_rust_format

Fix build
  rs/nns/constants/src/lib.rs
  rs/nns/test_utils/src/itest_helpers.rs
  rs/node_rewards/canister/src/main.rs
Due: bazel_rust_format

Update function to use better behavior (fewer potential conflicts with existing tests)
  rs/nns/test_utils/src/state_test_helpers.rs
Due: bazel_rust_format

Attempt to fix the tests
  rs/nns/integration_tests/src/create_service_nervous_system.rs
  rs/nns/integration_tests/src/governance_mem_test.rs
  rs/nns/integration_tests/src/governance_upgrade.rs
  rs/nns/test_utils/src/state_test_helpers.rs
Due: bazel_rust_format

mini formatting fix
  rs/nns/constants/src/lib.rs
Due: bazel_rust_format

fix function
  rs/nns/test_utils/src/state_test_helpers.rs
Due: bazel_rust_format

fix tests
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nns/handlers/root/impl/BUILD.bazel
  testnet/tools/nns-tools/lib/nns_neurons.sh
Due: bazel_buildifier, bazel_shfmt_format

Fix another test
  rs/nns/sns-wasm/BUILD.bazel
Due: bazel_buildifier

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
