Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

wip
  rs/migration_canister/src/migration_canister.rs
Due: bazel_rust_format

style: remove unnecessary async
  rs/backup/src/backup_manager.rs
  rs/boundary_node/ic_boundary/src/snapshot.rs
  rs/orchestrator/registry_replicator/src/lib.rs
  rs/orchestrator/registry_replicator/src/main.rs
  rs/orchestrator/src/orchestrator.rs
Due: bazel_rust_format

style
  rs/orchestrator/registry_replicator/src/lib.rs
Due: bazel_rust_format

XC-496: make assert_contains_metric_matching generic
  packages/ic-metrics-assert/src/lib.rs
Due: bazel_rust_format

XC-496: fix test
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/dogecoin/ckdoge/minter/tests/tests.rs
Due: bazel_rust_format

fix: use self.nns_urls in .poll()
  rs/orchestrator/registry_replicator/src/lib.rs
  rs/recovery/src/registry_helper.rs
Due: bazel_rust_format

chore: One more (f)stab at UpgradeVM systemd config (#7355)
  ic-os/components/early-boot/fstab/fstab-guestos
  ic-os/components/early-boot/setup-hostname/guestos/setup-hostname.service
  ic-os/components/guestos.bzl
  ic-os/components/guestos/ic-replica.service
  ic-os/components/guestos/init/init-config/init-config.sh
  ic-os/components/guestos/init/mount-config/maybe-disable-store-mounts.service
  ic-os/components/guestos/init/setup-encryption/setup-data-encryption.service
  ic-os/components/guestos/init/setup-lvs/setup-lvs.service
  ic-os/components/upgrade/shared-resources/setup-shared-resources/setup-shared-backup.service
  ic-os/components/upgrade/shared-resources/setup-shared-resources/setup-shared-crypto.service
  ic-os/components/upgrade/shared-resources/setup-shared-resources/setup-shared-data.service
  ic-os/components/upgrade/shared-resources/setup-shared-resources/setup-shared-swap.service
  ic-os/components/upgrade/shared-resources/upgrade-shared-data-store/upgrade-shared-data-store.service
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

Notes added by 'git notes add'
  10/bf68839d38e17ad8698b8d9a1d60eb01fbf9c7
Due: none

PR Comments
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/src/setupos/deployment_json.rs
  rs/ic_os/config_types/src/lib.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/main.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/tests/driver/src/driver/bootstrap.rs
Due: bazel_rust_format

Revert "Automatically updated config type fixtures"
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.8.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.8.0.json
Due: none

Regenerate fixtures
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.8.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.8.0.json
Due: none

Fix tests
  rs/ic_os/config/src/setupos/deployment_json.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/lib.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/main.rs
  rs/tests/driver/src/driver/bootstrap.rs
Due: bazel_rust_format

.
  rs/rust_canisters/messaging_test/src/lib.rs
  rs/rust_canisters/messaging_test/src/main.rs
  rs/rust_canisters/messaging_test/tests/messaging_test.rs
  rs/rust_canisters/messaging_test/utils/src/lib.rs
Due: bazel_rust_format

Clippy
  Cargo.lock
  rs/ic_os/dev_test_tools/setupos-image-config/BUILD.bazel
  rs/ic_os/dev_test_tools/setupos-image-config/Cargo.toml
  rs/ic_os/dev_test_tools/setupos-image-config/src/main.rs
Due: bazel_buildifier, bazel_rust_format

.
  rs/rust_canisters/messaging_test/utils/BUILD.bazel
Due: bazel_buildifier

Update goldenfiles
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
Due: none

Fix test
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
Due: bazel_rust_format

Remove `ReducedMultiCallResult` type alias
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
Due: bazel_rust_format

Implement reduction strategy on `MultiRpcResults`
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
Due: bazel_rust_format

Update EVM RPC canister WASM to v2.6.0
  MODULE.bazel
Due: bazel_buildifier

.
  rs/rust_canisters/messaging_test/utils/src/lib.rs
Due: bazel_rust_format

fix: trivy file not found error
  ci/src/dependencies/scanner/manager/bazel_trivy_dependency_manager.py
Due: bazel_ruff_format

test: convert remaining Haskell tests of execution environment to Rust (#7254)
  hs/spec_compliance/src/IC/Test/Spec.hs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/tests/canister_settings.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/tests/execution/general_execution_test.rs
  rs/tests/execution/general_execution_tests/api_tests.rs
  rs/tests/execution/general_execution_tests/input_deduplication.rs
  rs/tests/execution/general_execution_tests/mod.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_ormolu_format, bazel_rust_format

Match test providers to EVM RPC canister
  rs/ethereum/cketh/test_utils/src/evm_rpc_provider.rs
Due: bazel_rust_format

chore(PocketIC): clean up validation code when creating a new PocketIC instance (#7347)
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/src/nonblocking.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

test: Message load during canister migration test (#7359)
  Cargo.lock
  rs/tests/execution/BUILD.bazel
  rs/tests/execution/Cargo.toml
  rs/tests/execution/canister_migration_test.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  c1/28097740ee9b918730ca0def28af76a9c720fb
Due: none

Notes added by 'git notes add'
  2c/d3b9b5f93566b4b841e1693f3f82aa1ad30c8a
Due: none

increase number of retries to 50
  ci/src/dependencies/scanner/manager/bazel_trivy_dependency_manager.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  60/9464f84073133829cb7c5a5bd178c618ed1e07
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
