Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  1d/2cf450c981a70ffdea086805a84867b0b484a6
Due: none

Update logging
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
Due: bazel_rust_format

chore: simplify bazel uuid generation
  .github/actions/bazel/bin/bazel
  .github/actions/generate-invocation-ids/action.yml
  .github/actions/generate-invocation-ids/generate-ids.py
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/schedule-daily.yml
  ci/container/build-ic.sh
Due: bazel_shfmt_format, bazel_ruff_format

Remove unused print_to_terminal
  ic-os/components/hostos/misc/detect-first-boot.sh
Due: bazel_shfmt_format

Write guest_vm_runner logs to serial console
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  34/448f552f4e2f30033fac3eba48b2498e2c0067
Due: none

Update agent.rs to write to serial console
  rs/ic_os/vsock/vsock_lib/src/host/agent.rs
Due: bazel_rust_format

return error if burn or mint fee while applying tx
  rs/ledger_suite/common/ledger_canister_core/src/ledger.rs
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/src/lib.rs
Due: bazel_rust_format

Fixing integration tests
  rs/registry/canister/tests/swap_node_in_subnet_directly.rs
Due: bazel_rust_format

Revert "return error if burn or mint fee while applying tx"
  rs/ledger_suite/common/ledger_canister_core/src/ledger.rs
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  c7/b2b257990cc1c36f9ed1fe1bf90a3f4225dfcb
Due: none

Use advert type internally
  rs/p2p/state_sync_manager/src/lib.rs
  rs/p2p/state_sync_manager/src/routes/advert.rs
Due: bazel_rust_format

burn or mint fee error
  rs/ledger_suite/common/ledger_canister_core/src/ledger.rs
  rs/ledger_suite/icrc1/src/lib.rs
Due: bazel_rust_format

change: naming and DS after review
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/canister/governance.did
Due: bazel_rust_format

Clippy
  rs/p2p/state_sync_manager/src/utils.rs
Due: bazel_rust_format

Linting
  rs/registry/canister/src/mutations/do_swap_node_in_subnet_directly.rs
  rs/registry/canister/tests/swap_node_in_subnet_directly.rs
Due: bazel_rust_format

chore(IDX): replace cargo job runner
  .github/workflows/ci-main.yml
Due: none

chore: move new_local_repository to MODULE
  MODULE.bazel
  WORKSPACE.bazel
Due: bazel_buildifier

build fix
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/sns/governance/token_valuation/src/tests.rs
Due: bazel_rust_format

chore: remove rules_closure
  MODULE.bazel
  WORKSPACE.bazel
  ci/scripts/bazel-coverage.sh
  rs/ethereum/cketh/minter/BUILD.bazel
Due: bazel_buildifier, bazel_shfmt_format

add mint and burn fees to rosetta
  rs/rosetta-api/icrc1/src/common/storage/storage_operations.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_operations_test.rs
  rs/rosetta-api/icrc1/src/common/storage/types.rs
  rs/rosetta-api/icrc1/src/common/utils/utils.rs
  rs/rosetta-api/icrc1/src/data_api/services.rs
Due: bazel_rust_format

fix: candid
  rs/nns/governance/canister/governance.did
Due: none

chore: avoid icos argument roundtrip
  WORKSPACE.bazel
  bazel/mainnet-icos-images.bzl
Due: bazel_buildifier

revert changelog
  rs/nns/cmc/CHANGELOG.md
Due: none

refactor(IDX): remove branch name env var (#7166)
  .github/workflows/ci-main.yml
Due: none

Notes added by 'git notes add'
  f6/c3b4142bd5edb3370b0338d45ab296d2c21562
Due: none

feat(nns): introduce `get_neuron_index` interface (#7106)
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/canister/governance.did
  rs/nns/nns.bzl
Due: bazel_buildifier, bazel_rust_format

feat(nns): Add committed_topics to KnownNeuronData (#6721)
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/neuron/types/tests.rs
  rs/nns/governance/src/neuron_data_validation.rs
  rs/nns/governance/src/neuron_store/benches.rs
  rs/nns/governance/src/neuron_store/metrics/tests.rs
  rs/nns/governance/src/neuron_store/neuron_store_tests.rs
  rs/nns/governance/src/pb/conversions/mod.rs
  rs/nns/governance/src/proposals/deregister_known_neuron_tests.rs
  rs/nns/governance/src/proposals/register_known_neuron.rs
  rs/nns/governance/src/proposals/register_known_neuron_tests.rs
  rs/nns/governance/src/storage/neuron_indexes/tests.rs
  rs/nns/governance/src/storage/neurons/neurons_tests.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/governance/unreleased_changelog.md
  rs/nns/integration_tests/src/known_neurons.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  8a/6796a814b9cecd19b38065c1a5b9f69a1f6fbd
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
