Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Fix infogetty
  WORKSPACE.bazel
  cpp/BUILD.bazel
Due: bazel_buildifier

Fix libfuzzer!
  MODULE.bazel
  bazel/fuzz_testing.bzl
Due: bazel_buildifier

Fix wasm!
  MODULE.bazel
  bazel/cc_rs.patch
  bazel/conf/.bazelrc.build
  bazel/external_crates.bzl
  bazel/hermetic_cc_toolchain.patch
Due: bazel_buildifier

Fix hs
  MODULE.bazel
  bazel/BUILD.bazel
  bazel/conf/.bazelrc.build
  bazel/hermetic_cc_toolchain.patch
  hs/spec_compliance/BUILD.bazel
  hs/spec_compliance/defs.bzl
Due: bazel_buildifier

Remove ZIG_LINK_ARGS
  bazel/fuzz_testing.bzl
Due: bazel_buildifier

Simplify openssl references
  bazel/external_crates.bzl
Due: bazel_buildifier

Add macOS toolchains
  MODULE.bazel
Due: bazel_buildifier

Strip binary within target
  cpp/BUILD.bazel
Due: bazel_buildifier

Switch to `archive_override`
  MODULE.bazel
Due: bazel_buildifier

Fix stripping
  bazel/fuzz_testing.bzl
  cpp/BUILD.bazel
  publish/defs.bzl
Due: bazel_buildifier

Fix openssl libs
  MODULE.bazel
  bazel/external_crates.bzl
Due: bazel_buildifier

Fix AFL fuzzers
  bazel/conf/.bazelrc.build
Due: bazel_buildifier

Small cleanups and comments
  MODULE.bazel
  WORKSPACE.bazel
  publish/defs.bzl
Due: bazel_buildifier

Rename hs targets
  hs/spec_compliance/BUILD.bazel
Due: bazel_buildifier

Organize external libs into third_party
  MODULE.bazel
  WORKSPACE.bazel
  third_party/libfuzzer/BUILD.bazel
  third_party/libfuzzer/repository.bzl
  third_party/openssl/BUILD.bazel
  third_party/openssl/repository.bzl
Due: bazel_buildifier

Fix release stripping for macOS
  publish/defs.bzl
Due: bazel_buildifier

Fix release stripping
  publish/defs.bzl
Due: bazel_buildifier

Disable tmp speedup for zig
  bazel/conf/.bazelrc.build
Due: bazel_buildifier

Buildifier
  MODULE.bazel
  WORKSPACE.bazel
Due: bazel_buildifier

Update various comments
  MODULE.bazel
  bazel/BUILD.bazel
  bazel/cc_rs.patch
  bazel/conf/.bazelrc.build
  bazel/hermetic_cc_toolchain.patch
  third_party/openssl/repository.bzl
Due: bazel_buildifier

Disable hermetic toolchains for macOS
  MODULE.bazel
Due: bazel_buildifier

Wrap rules_haskell defs at a lower level
  hs/spec_compliance/BUILD.bazel
  hs/spec_compliance/defs.bzl
Due: bazel_buildifier

add metrics for loaded wasm
  rs/state_manager/src/lib.rs
  rs/types/wasm_types/src/lib.rs
Due: bazel_rust_format

Remove futures package
  Cargo.lock
  rs/ic_os/vsock/vsock_lib/BUILD.bazel
  rs/ic_os/vsock/vsock_lib/Cargo.toml
Due: bazel_buildifier

observe metrics
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

Remove prost annotation on Governance API type
  Cargo.lock
  rs/nervous_system/common/BUILD.bazel
  rs/nervous_system/common/Cargo.toml
  rs/nervous_system/common/src/dfn_core_stable_mem_utils.rs
  rs/nervous_system/common/src/memory_manager_upgrade_storage.rs
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/api/src/pb.rs
  rs/nns/governance/canister/canister.rs
  rs/nns/init/BUILD.bazel
  rs/nns/init/Cargo.toml
  rs/nns/init/src/get_neuron_ids.rs
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/integration_tests/Cargo.toml
  rs/nns/integration_tests/src/governance_mem_test.rs
  rs/nns/integration_tests/src/lib.rs
  rs/nns/integration_tests/test_canisters/governance_mem_test_canister.rs
  rs/nns/integration_tests/test_canisters/mem_utils_test.rs
  rs/rosetta-api/icp/tests/system_tests/common/system_test_environment.rs
  rs/tests/financial_integrations/rosetta/rosetta_test_lib/setup.rs
Due: bazel_buildifier, bazel_rust_format

state machine tests for both cansiters and snapshots
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

Apply suggestions from code review
  .github/workflows/pocket-ic-tests-windows.yml
Due: none

remove commented out code in rust_canisters/dfn_candid
  rs/rust_canisters/dfn_candid/BUILD.bazel
  rs/rust_canisters/dfn_candid/Cargo.toml
  rs/rust_canisters/dfn_candid/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

fix: memory usage checks in management canister (#4749)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/replicated_state/src/canister_state/system_state.rs
Due: bazel_rust_format

Set index principal for new chain fusion ledgers
  rs/ethereum/ledger-suite-orchestrator/src/scheduler/mod.rs
Due: bazel_rust_format

Set index principal for new SNS ledgers
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/sns/init/src/lib.rs
Due: bazel_rust_format

refactor(ic-canisters-http-types): Rename crate from ic-canisters-http-types to ic-http-types
  Cargo.lock
  Cargo.toml
  packages/ic-canisters-http-types/src/lib.rs
  packages/ic-http-types/BUILD.bazel
  packages/ic-http-types/CHANGELOG.md
  packages/ic-http-types/Cargo.toml
  packages/ic-http-types/LICENSE
  packages/ic-http-types/README.md
  packages/ic-http-types/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

[create-pull-request] automated change
  ic-os/boundary-guestos/context/docker-base.prod
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

Notes added by 'git notes add'
  76/21b8155c33bc3180021e3380a35bd18ed9fbfb
Due: none

chore(code_owner): Add cross-chain-team as code owner of ic-http-types package
  .github/CODEOWNERS
Due: none

one last rename
  rs/execution_environment/src/query_handler/query_scheduler.rs
Due: bazel_rust_format
