Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Mark proposals as obsolete
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
Due: bazel_protobuf_format, bazel_rust_format

Revert "fix: keep writing blessed_replica_versions key in ic-prep (#10556)"
  rs/prep/src/internet_computer.rs
Due: bazel_rust_format

Update docs
  rs/engine_controller/src/lib.rs
  rs/engine_controller/tests/tests.rs
  rs/nns/README.adoc
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/proposals/fulfill_subnet_rental_request.rs
  rs/registry/regedit/README.adoc
Due: bazel_protobuf_format, bazel_rust_format

trigger container rebuild
  ci/container/TAG
Due: none

Updating container images to tag: abbba8fa906b3d98553d787112d7ce0041af806f8758e28bbbe0ea5084a5abe3
  .devcontainer/devcontainer.json
  .github/workflows/api-bn-recovery-test.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/container-api-bn-recovery.yml
  .github/workflows/container-scan-nightly.yml
  .github/workflows/local-system-tests.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/rbe-namespace-test.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily-bare-metal.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/system-tests-benchmarks-nightly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

fix(registry): adapt delete_subnet_test to non-System subnet deletion
  rs/tests/nns/delete_subnet_test.rs
Due: bazel_rust_format

claude: fix darwin tests 2
  rs/execution_environment/tests/dts.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_rust_format

fix: use first().expect() instead of indexing for subnet nodes
  rs/tests/nns/delete_subnet_test.rs
Due: bazel_rust_format

fix(registry): adapt delete_subnet_test to non-System subnet deletion (#10713)
  rs/tests/nns/delete_subnet_test.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  dc/7e68fd110b45ac534c1cdf402b4e4242fbd54d
Due: none

Apply suggestion from @basvandijk
  .github/workflows/rbe-namespace-test.yml
Due: none

refactor: remove legacy canister_log and drop log memory store feature flag
  rs/config/src/execution_environment.rs
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/embedders/src/wasmtime_embedder/tests.rs
  rs/execution_environment/benches/management_canister/canister_logging.rs
  rs/execution_environment/src/canister_logs.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/canister_manager/types.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/scheduler_metrics.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/tests/canister_logging.rs
  rs/execution_environment/tests/memory_matrix.rs
  rs/migration_canister/tests/tests.rs
  rs/protobuf/def/state/canister_state_bits/v1/canister_state_bits.proto
  rs/protobuf/src/gen/state/state.canister_state_bits.v1.rs
  rs/replicated_state/benches/log_memory_store.rs
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/tests/canister_lifecycle.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/tests/log_memory_store.rs
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/metadata_state/proto.rs
  rs/replicated_state/src/metrics.rs
  rs/state_layout/src/state_layout.rs
  rs/state_layout/src/state_layout/proto.rs
  rs/state_layout/src/state_layout/tests.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/tip.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/tests/canister_logging.rs
  rs/replicated_state/src/canister_state.rs
Due: bazel_rust_format

upgrade wasmtime
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/rust.MODULE.bazel
  rs/embedders/Cargo.toml
Due: bazel_buildifier

add cost schedule
  rs/consensus/utils/src/lib.rs
  rs/https_outcalls/client/src/client.rs
  rs/https_outcalls/consensus/benches/payload_validation.rs
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
  rs/https_outcalls/pricing/src/payg.rs
  rs/protobuf/def/state/metadata/v1/metadata.proto
  rs/protobuf/src/gen/state/state.metadata.v1.rs
  rs/replicated_state/src/metadata_state/tests.rs
  rs/types/types/src/canister_http.rs
Due: bazel_protobuf_format, bazel_rust_format

test: end-to-end deposit-from-CEX EIP-7702 sweep demo against a local Ethereum node (#10670)
  BUILD.bazel
  Cargo.lock
  MODULE.bazel
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/Cargo.toml
  rs/ethereum/cketh/minter/tests/deposit_from_cex_demo.rs
  rs/ethereum/cketh/minter/tests/deposit_from_cex_demo/CkSweeperAttested.sol
  rs/ethereum/cketh/minter/tests/deposit_from_cex_demo/CkSweeperViaHelper.sol
  rs/ethereum/cketh/minter/tests/deposit_from_cex_demo/MockUSDT.sol
Due: bazel_buildifier, bazel_rust_format

fix: format reserved statement in canister_state_bits.proto
  rs/protobuf/def/state/canister_state_bits/v1/canister_state_bits.proto
Due: bazel_protobuf_format

Notes added by 'git notes add'
  24/c5c2a1c62707777bbd2f0184804e84db2c6d8b
Due: none

test: consolidate on a single pinned solc (0.8.35)
  MODULE.bazel
  rs/ethereum/cketh/minter/ERC20DepositHelper.sol
  rs/ethereum/cketh/minter/EthDepositHelper.sol
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/cross_chain/ic_xc_cketh_test.rs
Due: bazel_buildifier, bazel_rust_format

fix
  rs/p2p/consensus_manager/src/receiver.rs
Due: bazel_rust_format

refactor(cketh): tighten TimedSizedMap::insert capacity and refresh semantics
  rs/ethereum/cketh/minter/src/timed_sized_map.rs
  rs/ethereum/cketh/minter/src/timed_sized_map/tests.rs
Due: bazel_rust_format

feat(cketh): add TimedSizedMap bounded, time-expiring map
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/timed_sized_map.rs
  rs/ethereum/cketh/minter/src/timed_sized_map/tests.rs
Due: bazel_rust_format

refactor(cketh): assert time-index invariants in TimedSizedMap
  rs/ethereum/cketh/minter/src/timed_sized_map.rs
Due: bazel_rust_format

feat: run bazel mod tidy
  MODULE.bazel
Due: bazel_buildifier

chore: show stats for targets.py
  .github/workflows/ci-main.yml
Due: none

refactor(cketh): reject at capacity instead of evicting live entries
  rs/ethereum/cketh/minter/src/timed_sized_map.rs
  rs/ethereum/cketh/minter/src/timed_sized_map/tests.rs
Due: bazel_rust_format

chore: remove dosfstools and mtools from container
  ci/container/files/packages.common
Due: none

chore: remove ovmf from container
  ci/container/files/packages.common
Due: none

Updating container images to tag: d6256361e7396874e20ee8297fb09b166a350ed722ca611dab05ef6605cecd4e
  .devcontainer/devcontainer.json
  .github/workflows/api-bn-recovery-test.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/container-api-bn-recovery.yml
  .github/workflows/container-scan-nightly.yml
  .github/workflows/local-system-tests.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily-bare-metal.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/system-tests-benchmarks-nightly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

Updating container images to tag: d7c98b96a71cd8d1653ef8bb3d2e0c24c394da568682fba2466578d4738c8434
  .devcontainer/devcontainer.json
  .github/workflows/api-bn-recovery-test.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/container-api-bn-recovery.yml
  .github/workflows/container-scan-nightly.yml
  .github/workflows/local-system-tests.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily-bare-metal.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/system-tests-benchmarks-nightly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

RBE tweaks based on EngFlow's Bazel Invocation Analyzer
  .github/workflows/rbe-namespace-test.yml
Due: none

revert
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment_metrics.rs
  rs/execution_environment/src/scheduler.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/types/types/src/messages.rs
Due: bazel_rust_format
