Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

added missing impls
  .github/CODEOWNERS
  rs/protobuf/Cargo.toml
  rs/protobuf/src/state/ingress/mod.rs
  rs/protobuf/src/types.rs
Due: bazel_rust_format

fix
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

chore: Remove unused add_controller function (#4121)
  rs/rust_canisters/canister_test/src/canister.rs
Due: bazel_rust_format

Clippy
  packages/ic-vetkd-utils/tests/test_utils.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ae/0a072de071c39dd50bb5264d2d88fe52197822
Due: none

some work
  rs/nns/governance/src/network_economics.rs
  rs/nns/governance/src/network_economics_tests.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

chore: release PocketIC server v8 and PocketIC library v7 (#4127)
  Cargo.lock
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/CHANGELOG.md
  packages/pocket-ic/Cargo.toml
  packages/pocket-ic/src/lib.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/CHANGELOG.md
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/main.rs
Due: bazel_buildifier, bazel_rust_format

Update crypto tests
  rs/crypto/tests/vetkd.rs
Due: bazel_rust_format

Wrapper type for IDkg
  rs/consensus/src/idkg/payload_builder.rs
  rs/consensus/src/idkg/payload_builder/resharing.rs
  rs/consensus/src/idkg/payload_verifier.rs
  rs/consensus/src/idkg/test_utils.rs
  rs/replicated_state/src/metadata_state/subnet_call_context_manager.rs
  rs/replicated_state/src/replicated_state.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  7d/2d2e0e8b0994e72a7b0a324addaf91d2d9d81c
Due: none

fix: EXC-1946: Fix `InstanceStats` metrics Currently, metrics are not reported for DTS executions, also when heap dirty pages exceed 1 GiB.
  Cargo.lock
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/Cargo.toml
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_buildifier, bazel_rust_format

wait longer
  rs/tests/driver/src/k8s/reservations.rs
Due: bazel_rust_format

test on dm1
  .github/workflows-source/ci-main.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

Update ci-main.yml
  .github/workflows-source/ci-main.yml
Due: none

adding sleep after setup fn for registering
  rs/tests/driver/src/driver/group.rs
Due: bazel_rust_format

fix(IDX): find condition grouping
  .github/actions/bazel-test-all/action.yaml
Due: none

fix: EXC-1946: Fix `InstanceStats` metrics (#4062)
  Cargo.lock
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/Cargo.toml
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_buildifier, bazel_rust_format

/cache
  .github/actions/bazel-test-all/action.yaml
Due: none

Notes added by 'git notes add'
  71/6d2a53dae83f97a1a6d1034522278edd7413f4
Due: none

refactor: Convert to using public management types
  rs/rust_canisters/canister_test/BUILD.bazel
  rs/rust_canisters/canister_test/Cargo.toml
  rs/rust_canisters/canister_test/src/canister.rs
Due: bazel_buildifier, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

fix(IDX): find condition grouping (#4136)
  .github/actions/bazel-test-all/action.yaml
Due: none

Notes added by 'git notes add'
  14/8f4a62b4618099e766391cfc10d7e99b82ccd6
Due: none

Fix rs/tests
  rs/rust_canisters/canister_test/src/canister.rs
Due: bazel_rust_format

first
  Cargo.lock
  rs/nervous_system/integration_tests/tests/constraints_dependencies.rs
  rs/sns/init/BUILD.bazel
  rs/sns/init/Cargo.toml
  rs/sns/init/src/distributions.rs
  rs/sns/init/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

first
  rs/sns/init/src/lib.rs
Due: bazel_rust_format

feat(node): setupOS drive health check (#3737)
  ic-os/components/setupos-scripts/check-hardware.sh
  ic-os/components/setupos-scripts/setup-disk.sh
  ic-os/setupos/context/packages.common
Due: bazel_shfmt_format

Notes added by 'git notes add'
  6e/64281a8e0b4faa1d859f115fc138eee6e136f8
Due: none

Code review comments
  rs/rust_canisters/canister_test/src/canister.rs
Due: bazel_rust_format

refactor: Avoid using static mut references in memory tracker
  rs/memory_tracker/src/tests.rs
Due: bazel_rust_format

fix
  Cargo.lock
  packages/pocket-ic/src/lib.rs
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

chore: EXC-1932: Add types to memory tracker This PR adds `NumBytes` and `NumOsPages` to the memory tracker, making it easier to distinguish between bytes and pages.
  rs/embedders/src/signal_handler.rs
  rs/embedders/src/wasmtime_embedder.rs
  rs/memory_tracker/BUILD.bazel
  rs/memory_tracker/Cargo.toml
  rs/memory_tracker/benches/traps.rs
  rs/memory_tracker/src/lib.rs
  rs/memory_tracker/src/tests.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
