Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

fix
  rs/artifact_pool/src/dkg_pool.rs
Due: bazel_rust_format

fix migration_canister_test
  rs/migration_canister/tests/tests.rs
Due: bazel_rust_format

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

fix: move bazel-build-all-no-cache to schedule-daily
  .github/workflows/ci-main.yml
  .github/workflows/schedule-daily.yml
Due: none

flexible_build_delivers_ok_with_fewer_than_max_when_size_limited
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
Due: bazel_rust_format

flexible_build_prioritizes_smaller_responses
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
Due: bazel_rust_format

flexible_error_duplicate_callback_id_cross_type
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
Due: bazel_rust_format

FlexibleInsufficientMetadataShareCount
  rs/https_outcalls/consensus/src/payload_builder.rs
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/interfaces/src/canister_http.rs
Due: bazel_rust_format

let CanisterHttpResponseMetadata {}
  rs/types/types/src/canister_http.rs
Due: bazel_rust_format

clippy
  rs/https_outcalls/consensus/src/payload_builder.rs
Due: bazel_rust_format

Rework read state caching a bit, fix potential DoS
  rs/boundary_node/ic_boundary/src/http/middleware/process.rs
  rs/boundary_node/ic_boundary/src/http/middleware/subnet_read_state_cache.rs
  rs/boundary_node/ic_boundary/src/http/mod.rs
  rs/boundary_node/ic_boundary/src/routes.rs
Due: bazel_rust_format

feat: support sender info in PocketIC
  packages/pocket-ic/CHANGELOG.md
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/src/lib.rs
  packages/pocket-ic/src/nonblocking.rs
  rs/pocket_ic_server/CHANGELOG.md
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  07/6b420d5b1c325b9cedf04e1da2033d334dc47d
Due: none

fix(IDX): add remap-path-prefix
  bazel/conf/.bazelrc.build
Due: bazel_buildifier

PocketIC tests
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

remove unnecessary sig field from RawSenderInfo
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/tests/tests.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

update comment
  rs/execution_environment/src/query_handler/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  1a/6e2beae665d16c71bffd9ebd904c7b2bdeacee
Due: none

Notes added by 'git notes add'
  c2/d886270d5e7c5b6e367d7b32843ec7e2b92c9d
Due: none

Automatically fixing code for linting and formatting issues
  packages/pocket-ic/BUILD.bazel
Due: bazel_buildifier

Rework `should_cache_paths`
  rs/boundary_node/ic_boundary/src/http/middleware/process.rs
Due: bazel_rust_format

Added success_value to ProposalData and ProposalInfo.
  Cargo.lock
  rs/nervous_system/string/src/lib.rs
  rs/nns/governance/BUILD.bazel
  rs/nns/governance/Cargo.toml
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/canister_state.rs
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/pb/conversions/mod.rs
  rs/nns/governance/src/pb/proposal_conversions.rs
  rs/nns/governance/src/proposals/call_canister.rs
  rs/nns/governance/src/proposals/create_canister_and_install_code.rs
  rs/nns/governance/src/proposals/install_code.rs
  rs/nns/governance/src/proposals/load_canister_snapshot.rs
  rs/nns/governance/src/proposals/stop_or_start_canister.rs
  rs/nns/governance/src/proposals/take_canister_snapshot.rs
  rs/nns/governance/src/proposals/update_canister_settings.rs
  rs/nns/handlers/root/impl/BUILD.bazel
  rs/nns/handlers/root/impl/Cargo.toml
  rs/nns/handlers/root/impl/src/canister_management.rs
  rs/nns/handlers/root/interface/src/lib.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

Got rid of conversions that should not exist (and are not used).
  rs/nns/governance/src/pb/conversions/mod.rs
Due: bazel_rust_format

inline perform_call_canister calls.
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  55/c459d25db4aae1973280a821a86ec27c4b2d6a
Due: none

tiny comment
  rs/nns/governance/src/pb/conversions/mod.rs
Due: bazel_rust_format

simplify
  packages/pocket-ic/src/nonblocking.rs
Due: bazel_rust_format

Fix comment & simplify if
  rs/boundary_node/ic_boundary/src/http/middleware/process.rs
Due: bazel_rust_format
