Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

chore: Choose new dummy URL (#1399)
  ic-os/setupos/defs.bzl
  rs/ic_os/utils/src/deployment.rs
Due: bazel_buildifier, bazel_rust_format

Add NetworkSettings to NetworkInfo
  rs/ic_os/network/src/info.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  db/67ca341c6bdaa07c5e68b1e27719e0c3377701
Due: none

Deprecate motion_text
  rs/nns/governance/benches/scale.rs
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tests/mod.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/governance/tests/degraded_mode.rs
  rs/nns/governance/tests/fake.rs
  rs/nns/governance/tests/fixtures/mod.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/integration_tests/test_canisters/governance_mem_test_canister.rs
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/types.rs
  rs/sns/governance/tests/governance.rs
  rs/sns/integration_tests/src/nervous_system_parameters.rs
  rs/sns/integration_tests/src/neuron.rs
  rs/sns/integration_tests/src/proposals.rs
  rs/sns/integration_tests/src/sns_treasury.rs
  rs/sns/integration_tests/test_canisters/sns_governance_mem_test_canister.rs
  rs/sns/test_utils/src/itest_helpers.rs
  rs/tests/src/rosetta_tests/tests/neuron_voting.rs
Due: bazel_protobuf_format, bazel_rust_format

Add NetworkInfo settings to NetworkSettings
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/types.rs
  rs/ic_os/network/src/info.rs
Due: bazel_rust_format

Use NetworkSettings for generate_network_config
  rs/ic_os/hostos_tool/src/main.rs
  rs/ic_os/network/src/lib.rs
  rs/ic_os/network/src/systemd.rs
  rs/ic_os/setupos_tool/src/main.rs
Due: bazel_rust_format

Remove mgmt_mac parameter
  rs/ic_os/hostos_tool/src/main.rs
  rs/ic_os/network/src/lib.rs
  rs/ic_os/setupos_tool/src/main.rs
Due: bazel_rust_format

Fix passing of deployment_name
  rs/ic_os/hostos_tool/src/main.rs
  rs/ic_os/network/src/lib.rs
  rs/ic_os/setupos_tool/src/main.rs
Due: bazel_rust_format

Update GenerateIpv6Address
  rs/ic_os/setupos_tool/src/main.rs
Due: bazel_rust_format

Refactor GenerateMacAddress
  rs/ic_os/setupos_tool/src/main.rs
Due: bazel_rust_format

chore(sns): Revert the duplication of ClaimSwapNeuronsRequest into Swap (#1295)
  rs/sns/swap/proto/ic_sns_swap/pb/v1/swap.proto
  rs/sns/swap/protobuf_generator/src/lib.rs
  rs/sns/swap/src/clients.rs
  rs/sns/swap/src/gen/ic_sns_swap.pb.v1.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/src/types.rs
  rs/sns/swap/tests/common/doubles.rs
  rs/sns/swap/tests/swap.rs
Due: bazel_protobuf_format, bazel_rust_format

Fix swap after revert
  rs/sns/swap/proto/ic_sns_swap/pb/v1/swap.proto
  rs/sns/swap/src/gen/ic_sns_swap.pb.v1.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/tests/swap.rs
Due: bazel_protobuf_format, bazel_rust_format

Cargo fmt
  rs/ic_os/network/src/info.rs
  rs/ic_os/network/src/lib.rs
  rs/ic_os/network/src/systemd.rs
  rs/ic_os/setupos_tool/src/main.rs
Due: bazel_rust_format

Update network_settings variable names
  rs/ic_os/network/src/lib.rs
  rs/ic_os/network/src/systemd.rs
Due: bazel_rust_format

Reset network_settings.mgmt_mac
  rs/ic_os/hostos_tool/src/main.rs
Due: bazel_rust_format

Fix typo
  rs/ic_os/hostos_tool/src/main.rs
Due: bazel_rust_format

Revert "Test directly on base images"
  ic-os/guestos/envs/dev-malicious/BUILD.bazel
  ic-os/guestos/envs/dev/BUILD.bazel
  ic-os/guestos/envs/prod/BUILD.bazel
Due: bazel_buildifier

GuestOS base image changes only
  ic-os/guestos/context/Dockerfile.base
  ic-os/guestos/context/packages.common
  ic-os/guestos/context/packages.dev
Due: none

IDX GitHub Automation
  .github/workflows/schedule-daily.yml
Due: none

Update fetch-mgmt-mac
  ic-os/components/hostos-scripts/misc/fetch-mgmt-mac.sh
  profile.json
Due: bazel_shfmt_format

Remove profile.json
  profile.json
Due: none

Add fetch-property note
  ic-os/components/hostos-scripts/misc/fetch-mgmt-mac.sh
Due: bazel_shfmt_format

fix(NODE-1465): Update fetch-mgmt-mac (#1422)
  ic-os/components/hostos-scripts/misc/fetch-mgmt-mac.sh
Due: bazel_shfmt_format

Allow more proposal types when resources are low
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  df/b1c634d08ec2248feb4d5792554bbe43e068c7
Due: none

Keep --use-explicit-action-type in ic-admin to avoid breaking existing users
  rs/registry/admin/src/main.rs
Due: bazel_rust_format

remove tschnorr feature flags
  rs/config/src/execution_environment.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

XC-189: fix stable memory
  rs/ethereum/ledger-suite-orchestrator/src/state/mod.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  99/ab7f03700ba6cf832eb18ffd55228f56ae927a
Due: none

Notes added by 'git notes add'
  7d/81b536b2f66fd779198e2e4dbb405381545a55
Due: none

Notes added by 'git notes add'
  50/36bf83b1c1ca2b0483ac13d7140de787e4e679
Due: none

Notes added by 'git notes add'
  4b/da9fb480129ebe83f83743aab6866d27b27113
Due: none

Notes added by 'git notes add'
  ad/d3f2810977cc9315e5d2f9d4d40749c6c6d574
Due: none

Notes added by 'git notes add'
  7e/136416c1e29d27dad98b5c7a3dce6be85b65e1
Due: none

deps, upgrade loadshedder
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/boundary_node/ic_boundary/Cargo.toml
  rs/boundary_node/ic_boundary/src/core.rs
Due: bazel_buildifier, bazel_rust_format

XC-192: proposal
  rs/ethereum/cketh/mainnet/minter_upgrade_2024_09_11.md
Due: none

XC-192: improve summary
  rs/ethereum/cketh/mainnet/minter_upgrade_2024_09_11.md
Due: none

Merge with current master.
  rs/execution_environment/benches/system_api/execute_update_wasm64.rs
Due: bazel_rust_format
