Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Utilize setupOS config object in network.sh
  ic-os/components/setupos-scripts/network.sh
  ic-os/components/setupos.bzl
Due: bazel_buildifier, bazel_shfmt_format

cargo fmt
  rs/ic_os/config/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  11/25fd9f4bbf540c724eaa7a2835a33aabe9720c
Due: none

chore(nns): remove unused method from NeuronStore (#1316)
  rs/nns/governance/src/neuron/mod.rs
  rs/nns/governance/src/neuron_store.rs
  rs/nns/governance/src/neuron_store/neuron_store_tests.rs
Due: bazel_rust_format

Remove most usages of hotkey-principal
  rs/nervous_system/integration_tests/tests/sns_lifecycle.rs
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/neurons_fund.rs
  rs/nns/governance/src/neurons_fund/neurons_fund_anonymization_tests.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/governance/tests/interleaving_tests.rs
  rs/sns/audit/src/lib.rs
  rs/sns/swap/proto/ic_sns_swap/pb/v1/swap.proto
  rs/sns/swap/src/gen/ic_sns_swap.pb.v1.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/src/types.rs
  rs/sns/swap/tests/common/mod.rs
  rs/sns/swap/tests/swap.rs
Due: bazel_protobuf_format, bazel_rust_format

Address MR feedback
  rs/nervous_system/common/src/lib.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/src/types.rs
  rs/sns/swap/tests/common/mod.rs
  rs/sns/swap/tests/swap.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e4/7293c0bd7f39540245913f7f75be3d6863183c
Due: none

refactor(nervous_system): Remove most usages of hotkey_principal (#870)
  rs/nervous_system/common/src/lib.rs
  rs/nervous_system/integration_tests/tests/sns_lifecycle.rs
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/neurons_fund.rs
  rs/nns/governance/src/neurons_fund/neurons_fund_anonymization_tests.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/governance/tests/interleaving_tests.rs
  rs/sns/audit/src/lib.rs
  rs/sns/swap/proto/ic_sns_swap/pb/v1/swap.proto
  rs/sns/swap/src/gen/ic_sns_swap.pb.v1.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/src/types.rs
  rs/sns/swap/tests/common/mod.rs
  rs/sns/swap/tests/swap.rs
Due: bazel_protobuf_format, bazel_rust_format

delete hostos config contstructor
  rs/ic_os/config/src/types.rs
Due: bazel_rust_format

Update rs/registry/canister/canister/registry.did
  rs/registry/canister/canister/registry.did
Due: none

Update rs/registry/canister/src/mutations/api_boundary_node.rs
  rs/registry/canister/src/mutations/api_boundary_node.rs
Due: bazel_rust_format

Update rs/registry/canister/canister/canister.rs
  rs/registry/canister/canister/canister.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ce/e5114671d8e21ef98bde2c6d495890e5adf152
Due: none

more cli opts
  rs/boundary_node/ic_boundary/src/cli.rs
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/routes.rs
Due: bazel_rust_format

.
  Cargo.lock
  rs/messaging/Cargo.toml
  rs/messaging/tests/memory_tests.rs
  rs/rust_canisters/random_traffic_test/Cargo.toml
Due: bazel_rust_format

feat: support farmBaseUrl option in ict testnet create
  rs/tests/ict/cmd/testnetCreateCmd.go
Due: none

flatten config structs and refactor
  ic-os/components/setupos-scripts/hardware.sh
  ic-os/components/setupos-scripts/network.sh
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/src/types.rs
Due: bazel_shfmt_format, bazel_rust_format

Refactor get_config_ini_settings
  rs/ic_os/config/src/lib.rs
Due: bazel_rust_format

Remove unnecessary glob
  rs/ic_os/config/BUILD.bazel
Due: bazel_buildifier

Bash formatting
  ic-os/components/misc/config.sh
  ic-os/components/setupos-scripts/hardware.sh
Due: bazel_shfmt_format

Fix keys to config.json
  ic-os/components/misc/config.sh
  ic-os/components/setupos-scripts/network.sh
Due: bazel_shfmt_format

Remove unnecessary comments
  rs/ic_os/config/src/lib.rs
Due: bazel_rust_format

Remove dead code ignores
  rs/ic_os/config/src/types.rs
Due: bazel_rust_format

cargo clippy
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/types.rs
Due: bazel_rust_format

move verbose field to HostOSSettings
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/src/types.rs
Due: bazel_rust_format

copy config.json to hostOS config partition
  ic-os/components/setupos-scripts/devices.sh
Due: bazel_shfmt_format

feat: support --no-ttl in 'ict testnet create'
  rs/tests/ict/cmd/testnetCreateCmd.go
Due: none

chore: get_api_boundary_node_ids returns result
  rs/registry/canister/src/mutations/api_boundary_node.rs
  rs/registry/canister/src/mutations/do_add_api_boundary_nodes.rs
Due: bazel_rust_format

GenerateHostOSConfig command and copy config to HostOS
  ic-os/components/setupos-scripts/devices.sh
  rs/ic_os/config/src/main.rs
Due: bazel_shfmt_format, bazel_rust_format

Update GenerateHostosConfig name
  rs/ic_os/config/src/main.rs
Due: bazel_rust_format

Fix setupos_config_json_path default
  rs/ic_os/config/src/main.rs
Due: bazel_rust_format

adding qualification to daily schedule
  .github/workflows/schedule-daily.yml
Due: none

write_to_file helper function
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/main.rs
Due: bazel_rust_format

formatting
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config/src/main.rs
Due: bazel_rust_format

IDX GitHub Automation
  .github/workflows/schedule-daily.yml
Due: none

Source config.sh in network.sh
  ic-os/components/setupos-scripts/network.sh
Due: bazel_shfmt_format
