Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

feat: add protobuf generator and configuration for ic-node-rewards
  Cargo.lock
  Cargo.toml
  rs/node_rewards/proto/BUILD.bazel
  rs/node_rewards/proto/Cargo.toml
  rs/node_rewards/proto/proto/node_rewards/pb/v1/types.proto
  rs/node_rewards/proto/protobuf_generator/BUILD.bazel
  rs/node_rewards/proto/protobuf_generator/Cargo.toml
  rs/node_rewards/proto/protobuf_generator/src/lib.rs
  rs/node_rewards/proto/protobuf_generator/src/main.rs
  rs/node_rewards/proto/src/lib.rs
  rs/node_rewards/proto/src/pb/mod.rs
  rs/node_rewards/protobuf_generator/src/lib.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

feat: implement node rewards calculation and related structures
  Cargo.lock
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/metrics.rs
  rs/node_rewards/canister/src/metrics_types.rs
  rs/node_rewards/proto/Cargo.toml
  rs/node_rewards/proto/proto/node_rewards/pb/v1/types.proto
  rs/node_rewards/proto/protobuf_generator/src/lib.rs
  rs/node_rewards/proto/src/lib.rs
  rs/node_rewards/proto/src/pb/mod.rs
Due: bazel_protobuf_format, bazel_rust_format

Set uploader once
  ci/src/artifacts/upload.bzl
Due: bazel_buildifier

Avoid String to Principal conversions but add unit tests for better human readability
  rs/ledger_suite/icrc1/ledger/BUILD.bazel
  rs/ledger_suite/icrc1/ledger/src/main.rs
Due: bazel_buildifier, bazel_rust_format

Fix grub backwards compatibility by continuing to pass extra_boot_args
  ic-os/bootloader/BUILD.bazel
  ic-os/bootloader/guestos_extra_boot_args.template
  ic-os/bootloader/hostos_extra_boot_args
  ic-os/bootloader/setupos_extra_boot_args
  ic-os/defs.bzl
  ic-os/guestos/defs.bzl
  ic-os/hostos/defs.bzl
  ic-os/setupos/defs.bzl
Due: bazel_buildifier

chore(IDX): move arm64-darwin build to ci-main
  .github/workflows-source/ci-main.yml
  .github/workflows/test-namespace-darwin.yaml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

feat(ICRC_Ledger): FI-1592: Implement ICRC-106 in the ICRC ledger (#2857)
  packages/icrc-ledger-types/src/icrc106/errors.rs
  packages/icrc-ledger-types/src/icrc106/mod.rs
  packages/icrc-ledger-types/src/lib.rs
  publish/canisters/BUILD.bazel
  rs/ethereum/ledger-suite-orchestrator/src/scheduler/mod.rs
  rs/ethereum/ledger-suite-orchestrator/src/scheduler/tests.rs
  rs/ethereum/ledger-suite-orchestrator/tests/tests.rs
  rs/ledger_suite/icrc1/index-ng/tests/tests.rs
  rs/ledger_suite/icrc1/ledger/ledger.did
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/src/main.rs
  rs/ledger_suite/icrc1/ledger/src/tests.rs
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/icrc_106.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
  rs/sns/governance/src/types/tests.rs
  rs/sns/governance/unreleased_changelog.md
  rs/sns/init/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Extended the unit-test
  rs/sns/governance/src/governance/get_metrics.rs
Due: bazel_rust_format

Change: extended unit-test
  rs/sns/governance/src/governance/get_metrics.rs
Due: bazel_rust_format

fix: Flush state manager before restart
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  02/571e8215fa3e77da791e693cc238b2de3beae9
Due: none

feat(IDX): upload arm64-linux pocket-ic-server artifacts to S3 (#5440)
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
  BUILD.bazel
  ci/src/artifacts/upload.bzl
Due: bazel_buildifier

feat: Add chrono dependency and log current UTC time in canister initialization
  Cargo.lock
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b3/dcc5ecca02d59b14445edb1e71f7455abea6bd
Due: none

feat: Add chrono dependency to BUILD.bazel
  rs/node_rewards/canister/BUILD.bazel
Due: bazel_buildifier

chore: remove ic-cdk-next since it's not used
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/external_crates.bzl
Due: bazel_buildifier

Fix documentation
  ic-os/defs.bzl
  ic-os/guestos/defs.bzl
Due: bazel_buildifier

feat(sns): Implement SnsGov.get_metrics (#5185)
  rs/sns/governance/canister/canister.rs
  rs/sns/governance/canister/tests.rs
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/governance/get_metrics.rs
  rs/sns/governance/src/icrc_ledger_helper.rs
  rs/sns/governance/src/lib.rs
  rs/sns/governance/src/pb/conversions.rs
Due: bazel_protobuf_format, bazel_rust_format

Convert extra_boot_args to templates to match GuestOS
  ic-os/bootloader/BUILD.bazel
  ic-os/bootloader/hostos_extra_boot_args.template
  ic-os/bootloader/setupos_extra_boot_args.template
  ic-os/defs.bzl
  ic-os/hostos/defs.bzl
  ic-os/setupos/defs.bzl
Due: bazel_buildifier

Move unnecessary genrules to aliases
  ic-os/defs.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  2e/94007f1261684802318b9f8d42c5610348f1f2
Due: none

Add recovery-engine files to rootfs
  ic-os/guestos/defs.bzl
Due: bazel_buildifier

chore: mark //rs/nns/governance:governance_integration_test_tests:... as flaky
  rs/nns/governance/BUILD.bazel
Due: bazel_buildifier

test: refactor and improve HTTP gateway tests in PocketIC (#5361)
  rs/pocket_ic_server/src/state_api/state.rs
  rs/pocket_ic_server/tests/gateway.rs
  rs/pocket_ic_server/tests/test.rs
Due: bazel_rust_format

fix: Flush state manager before restart (#5444)
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

increase acceptable gap
  rs/consensus/src/consensus/bounds.rs
  rs/consensus/src/consensus/notary.rs
Due: bazel_rust_format

fmt
  rs/consensus/src/consensus/bounds.rs
Due: bazel_rust_format

Limit recovery variant visibility
  ic-os/guestos/envs/dev-recovery/BUILD.bazel
  ic-os/guestos/envs/prod-recovery/BUILD.bazel
Due: bazel_buildifier

Buildifier
  rs/ledger_suite/icrc1/ledger/BUILD.bazel
Due: bazel_buildifier
