Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Fix tests
  rs/replica_tests/tests/canister_lifecycle.rs
Due: bazel_rust_format

chore: delete unused threads backtrace debug http endpoint (#947)
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/http_endpoints/public/BUILD.bazel
  rs/http_endpoints/public/Cargo.toml
  rs/http_endpoints/public/src/lib.rs
  rs/http_endpoints/public/src/threads.rs
  rs/monitoring/backtrace/BUILD.bazel
  rs/monitoring/backtrace/Cargo.toml
  rs/monitoring/backtrace/build.rs
  rs/monitoring/backtrace/src/lib.rs
  rs/replica/BUILD.bazel
  rs/replica/Cargo.toml
  rs/replica/src/main.rs
Due: bazel_buildifier, bazel_rust_format

fix(PSEC): check environment in periodic job before running
  gitlab-ci/src/dependencies/job/bazel_rust_ic_scanner_periodic_job.py
  gitlab-ci/src/dependencies/job/bazel_trivy_container_ic_scanner_periodic_job.py
  gitlab-ci/src/dependencies/job/npm_scanner_periodic_job.py
  gitlab-ci/src/dependencies/model/ic.py
Due: bazel_ruff_format

removing extra deps
  rs/tests/testing_verification/testnets/BUILD.bazel
Due: bazel_buildifier

.
  rs/xnet/payload_builder/src/certified_slice_pool.rs
Due: bazel_rust_format

first
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

third
  rs/tests/driver/src/nns.rs
Due: bazel_rust_format

second
  rs/registry/admin/src/main.rs
Due: bazel_rust_format

lint
  testnet/tools/nns-tools/lib/proposals.sh
Due: bazel_shfmt_format

.
  rs/http_endpoints/public/src/call/call_v2.rs
Due: bazel_rust_format

fixing visibility
  rs/tests/testing_verification/testnets/BUILD.bazel
Due: bazel_buildifier

XC-175: add metric regarding the total amount of memory used.
  rs/bitcoin/ckbtc/minter/src/metrics.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/ledger-suite-orchestrator/src/main.rs
Due: bazel_rust_format

Add test_refresh_buyer_tokens_no_sns_neuron_baskets_available
  rs/sns/swap/tests/swap.rs
Due: bazel_rust_format

XC-175: update Rust doc
  rs/bitcoin/ckbtc/minter/src/metrics.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/ledger-suite-orchestrator/src/main.rs
Due: bazel_rust_format

fix //rs/sns/integration_tests:integration_test_src/manage_dapp_canister_settings
  rs/sns/integration_tests/src/manage_dapp_canister_settings.rs
Due: bazel_rust_format

fix //rs/sns/integration_tests:integration_test_src/upgrade_canister
  rs/sns/integration_tests/src/upgrade_canister.rs
Due: bazel_rust_format

chore(evm-rpc): set up GitHub CI (#1028)
  .github/workflows/evm-rpc.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
Due: none

make buckets smaller for lower latencies
  rs/http_endpoints/public/src/metrics.rs
Due: bazel_rust_format

.
  rs/messaging/src/routing/stream_handler.rs
  rs/messaging/src/routing/stream_handler/tests.rs
  rs/replicated_state/src/replicated_state.rs
Due: bazel_rust_format

fix //rs/sns/integration_tests:integration_test_src/manage_ledger_parameters
  rs/sns/integration_tests/src/manage_ledger_parameters.rs
Due: bazel_rust_format

fix //rs/nns/integration_tests:integration_tests_test_src/lifeline
  rs/nns/test_utils/src/state_test_helpers.rs
Due: bazel_rust_format

Revert "chore(IDX): remove channel alerts (#1033)"
  .github/workflows/team-channels.json
Due: none

fix //rs/nns/integration_tests:integration_tests_test_src/cycles_minting_canister
  rs/nns/integration_tests/src/cycles_minting_canister.rs
Due: bazel_rust_format

fix //rs/execution_environment:execution_environment_misc_integration_tests/canister_history
  rs/execution_environment/tests/canister_history.rs
Due: bazel_rust_format

fix //rs/execution_environment:execution_environment_misc_integration_tests/canister_logging
  rs/execution_environment/tests/canister_logging.rs
Due: bazel_rust_format

feat(sns): Reject new participants if the maximum number of required SNS neurons has been reached (#924)
  rs/nervous_system/common/src/lib.rs
  rs/nervous_system/integration_tests/tests/constraints_dependencies.rs
  rs/sns/init/src/lib.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/tests/swap.rs
Due: bazel_rust_format

partially fix //rs/execution_environment:execution_environment_misc_integration_tests/dts
  rs/execution_environment/tests/dts.rs
Due: bazel_rust_format

chore: add decoding quota to http_request in NNS root canister (#1031)
  Cargo.lock
  rs/nns/handlers/root/impl/canister/canister.rs
  rs/nns/handlers/root/impl/tests/test.rs
  rs/rust_canisters/dfn_candid/src/lib.rs
  rs/rust_canisters/http_types/BUILD.bazel
  rs/rust_canisters/http_types/Cargo.toml
  rs/rust_canisters/http_types/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

fix //rs/execution_environment:execution_environment_misc_integration_tests/dts
  rs/execution_environment/tests/dts.rs
Due: bazel_rust_format

Typo and small refactor in submit-mainnet-nns-upgrade-proposal.sh.
  testnet/tools/nns-tools/submit-mainnet-nns-upgrade-proposal.sh
Due: bazel_shfmt_format

feat(nns-init): Add support for gzipped NNS canister wasms (#1024)
  rs/nns/init/src/lib.rs
Due: bazel_rust_format

Bring publishing a new SNS WASM in line with the changes we made to upgrading NNS canisters in an earlier commit today.
  testnet/tools/nns-tools/lib/proposals.sh
  testnet/tools/nns-tools/lib/util.sh
  testnet/tools/nns-tools/prepare-publish-sns-wasm-proposal-text.sh
  testnet/tools/nns-tools/submit-mainnet-nns-upgrade-proposal.sh
  testnet/tools/nns-tools/submit-mainnet-publish-sns-wasm-proposal.sh
Due: bazel_shfmt_format

chore(IDX): remove channel alerts (#1033)
  .github/workflows/team-channels.json
Due: none

test(ICP_ledger): FI-1388: Add golden state tests to nightly (#1015)
  .github/workflows-source/schedule-daily.yml
  .github/workflows/schedule-daily.yml
  bazel/conf/.bazelrc.build
  rs/rosetta-api/icp_ledger/BUILD.bazel
  rs/rosetta-api/icrc1/BUILD.bazel
Due: bazel_buildifier

lint
  testnet/tools/nns-tools/lib/canister_wasms.sh
  testnet/tools/nns-tools/submit-mainnet-nns-upgrade-proposal.sh
  testnet/tools/nns-tools/submit-mainnet-publish-sns-wasm-proposal.sh
Due: bazel_shfmt_format

Add a conformance test which ensures that components only reference file paths that are present in the built image
  ic-os/components/conformance/BUILD.bazel
  ic-os/components/conformance/check_components.py
  ic-os/components/conformance/defs.bzl
  ic-os/defs.bzl
Due: bazel_buildifier, bazel_ruff_format

Make get_wasm_metadata_impl fast
  Cargo.Bazel.json.lock
  rs/nns/sns-wasm/src/sns_wasm.rs
  rs/nns/sns-wasm/src/wasm_metadata.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
