Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$

Update gz references
  rs/recovery/src/steps.rs
Due: bazel_rust_format

cargo clippy
  rs/recovery/src/steps.rs
Due: bazel_rust_format

Implement proposal execution for updating settings for root
  rs/nns/governance/src/proposals/install_code.rs
  rs/nns/governance/src/proposals/stop_or_start_canister.rs
  rs/nns/governance/src/proposals/update_canister_settings.rs
  rs/nns/handlers/lifeline/impl/lifeline.did
  rs/nns/handlers/lifeline/impl/lifeline.mo
  rs/nns/integration_tests/src/update_canister_settings.rs
Due: bazel_rust_format

Address feedback
  rs/nns/governance/src/proposals/update_canister_settings.rs
  rs/nns/handlers/lifeline/impl/lifeline.mo
  rs/nns/integration_tests/src/update_canister_settings.rs
Due: bazel_rust_format

feat(nns): Implement proposal execution for updating settings for root (#866)
  rs/nns/governance/src/proposals/install_code.rs
  rs/nns/governance/src/proposals/stop_or_start_canister.rs
  rs/nns/governance/src/proposals/update_canister_settings.rs
  rs/nns/handlers/lifeline/impl/lifeline.did
  rs/nns/handlers/lifeline/impl/lifeline.mo
  rs/nns/integration_tests/src/update_canister_settings.rs
Due: bazel_rust_format

checkpoints_to_keep could possibly be unverified ones
  rs/state_manager/src/lib.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

test handle_compute_manifest_request should panic
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

fix tests
  Cargo.lock
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/state_api/canister_id.rs
  rs/pocket_ic_server/src/state_api/mod.rs
  rs/pocket_ic_server/src/state_api/state.rs
  rs/pocket_ic_server/tests/test.rs
Due: bazel_buildifier, bazel_rust_format

fix unit test
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/src/state_api/canister_id.rs
Due: bazel_buildifier, bazel_rust_format

Update rs/rosetta-api/ledger_canister_blocks_synchronizer/src/blocks.rs
  rs/rosetta-api/ledger_canister_blocks_synchronizer/src/blocks.rs
Due: bazel_rust_format

exposed metadata
  rs/rosetta-api/icrc1/rosetta/src/main.rs
Due: bazel_rust_format

update
  rs/orchestrator/BUILD.bazel
  rs/orchestrator/Cargo.toml
  rs/orchestrator/src/registry_helper.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_buildifier, bazel_rust_format

Update rs/registry/canister/api/src/lib.rs
  rs/registry/canister/api/src/lib.rs
Due: bazel_rust_format

.
  rs/registry/canister/api/src/lib.rs
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
  rs/registry/canister/src/mutations/node_management/do_update_node_ipv4_config_directly.rs
Due: bazel_rust_format

.
  rs/registry/canister/api/src/lib.rs
Due: bazel_rust_format

wip
  rs/boundary_node/ic_boundary/src/rate_limiting.rs
Due: bazel_rust_format

wip
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/rate_limiting.rs
Due: bazel_rust_format

add subnet rate-limit
  ic-os/components/boundary-guestos/etc/systemd/system/ic-boundary.service
Due: none

update
  rs/orchestrator/src/catch_up_package_provider.rs
  rs/orchestrator/src/dashboard.rs
  rs/orchestrator/src/upgrade.rs
  rs/registry/admin/src/types.rs
  rs/replay/src/lib.rs
  rs/tests/testing_verification/testnets/small.rs
Due: bazel_rust_format

feat: EXC-1689: Enable canister snapshots
  rs/config/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

fix(consensus): Use priority in the payload builder to decide to trigger edge-case (#799)
  rs/bitcoin/consensus/src/payload_builder.rs
  rs/bitcoin/consensus/src/payload_builder/tests.rs
  rs/consensus/src/consensus/payload.rs
  rs/consensus/src/consensus/payload_builder.rs
  rs/interfaces/src/self_validating_payload.rs
  rs/test_utilities/src/self_validating_payload_builder.rs
Due: bazel_rust_format

fix(NODE-1373): fail early if component files are missing
  ic-os/defs.bzl
Due: bazel_buildifier

fix: error message
  packages/icrc-ledger-types/src/icrc21/lib.rs
  rs/rosetta-api/icrc1/ledger/sm-tests/src/lib.rs
Due: bazel_rust_format

feat(NODE-1400): Add zst compatibility for NNS subnet recovery (#711)
  Cargo.lock
  rs/http_utils/BUILD.bazel
  rs/http_utils/Cargo.toml
  rs/http_utils/src/file_downloader.rs
  rs/orchestrator/src/upgrade.rs
  rs/recovery/src/lib.rs
  rs/recovery/src/nns_recovery_failover_nodes.rs
  rs/recovery/src/steps.rs
Due: bazel_buildifier, bazel_rust_format

chore: replace icx-proxy by ic-http-gateway in PocketIC (#686)
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  packages/pocket-ic/src/nonblocking.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/state_api/canister_id.rs
  rs/pocket_ic_server/src/state_api/mod.rs
  rs/pocket_ic_server/src/state_api/state.rs
Due: bazel_buildifier, bazel_rust_format

Allow enqueuing of best-effort requests even if the guaranteed response memory limit has somehow been exceeded.
  rs/replicated_state/src/canister_state/queues.rs
Due: bazel_rust_format

refactor(quic-transport): Create constants for quic parameters (#909)
  rs/p2p/quic_transport/src/connection_manager.rs
Due: bazel_rust_format

chore: limit max numnber of http outcall in-flight
  rs/execution_environment/src/execution_environment.rs
  rs/https_outcalls/client/src/client.rs
  rs/https_outcalls/client/src/lib.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/types/types/src/canister_http.rs
Due: bazel_rust_format

.
  rs/tests/driver/src/driver/simulate_network.rs
  rs/tests/networking/p2p_performance.rs
  rs/tests/src/networking/p2p_performance_workload.rs
Due: bazel_rust_format

wip
  Cargo.lock
  rs/canister_client/BUILD.bazel
  rs/canister_client/Cargo.toml
  rs/canister_client/src/http_client.rs
  rs/canister_client/tests/tls.rs
  rs/crypto/test_utils/tls/src/custom_server.rs
Due: bazel_buildifier, bazel_rust_format

revert custom server
  rs/crypto/test_utils/tls/src/custom_server.rs
Due: bazel_rust_format

revert
  rs/crypto/test_utils/tls/src/custom_server.rs
Due: bazel_rust_format

m
  rs/replicated_state/src/canister_snapshots.rs
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/queues.rs
  rs/replicated_state/src/canister_state/queues/queue.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/wasm_chunk_store.rs
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/page_map.rs
  rs/replicated_state/src/replicated_state.rs
  rs/types/types/src/messages/ingress_messages.rs
  rs/types/types/src/messages/inter_canister.rs
  rs/utils/validate_eq/src/lib.rs
  rs/utils/validate_eq_derive/src/lib.rs
Due: bazel_rust_format

feat(ICRC-Rosetta): FI-1407: expose metadata (#916)
  rs/rosetta-api/icrc1/rosetta/src/main.rs
Due: bazel_rust_format

refactor: Remove PageMapType::get_mut
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

.
  rs/artifact_pool/src/inmemory_pool.rs
  rs/artifact_pool/src/lmdb_pool.rs
  rs/artifact_pool/src/test_utils.rs
  rs/consensus/src/consensus/purger.rs
  rs/interfaces/src/consensus_pool.rs
Due: bazel_rust_format

refactor
  rs/canister_client/src/http_client.rs
  rs/canister_client/tests/tls.rs
Due: bazel_rust_format

fix(crypto): CRP-2573 use rustls' std feature
  Cargo.toml
Due: none

.
  rs/consensus/src/consensus/purger.rs
Due: bazel_rust_format

.
  rs/rust_canisters/saturating_subnet_memory_test/src/lib.rs
  rs/rust_canisters/saturating_subnet_memory_test/src/main.rs
Due: bazel_rust_format
