Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fix usage message
  ci/container/build-image.sh
Due: bazel_shfmt_format

fix if statement
  ci/container/build-image.sh
Due: bazel_shfmt_format

round to 1 digit
  ci/githubstats/top.sql
Due: none

DEFI-2572: failing test
  rs/dogecoin/ckdoge/minter/tests/tests.rs
  rs/dogecoin/ckdoge/test_utils/src/flow/deposit.rs
Due: bazel_rust_format

remove regression test
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  54/90d8bb30215b1f18d10101e029d34236b0afa0
Due: none

clean up container-run script
  ci/container/container-run.sh
Due: bazel_shfmt_format

input container command
  ci/container/build-image.sh
Due: bazel_shfmt_format

Automatically fixing code for linting and formatting issues
  ci/container/build-image.sh
Due: bazel_shfmt_format

fix(IDX): run repro-check on ic-build image
  .github/workflows/repro-check.yml
Due: none

fix typo
  .github/workflows/repro-check.yml
Due: none

pass in env var
  .github/workflows/repro-check.yml
Due: none

debug
  .github/workflows/repro-check.yml
Due: none

test
  .github/workflows/repro-check.yml
Due: none

refactor: factor out tip height from optional tip in SharedState
  rs/state_manager/src/lib.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

use checkout
  .github/workflows/repro-check.yml
Due: none

use file
  ci/container/Dockerfile
  ci/container/build-ic.sh
Due: bazel_shfmt_format

remove
  .github/workflows/repro-check.yml
Due: none

Updating container image to sha256:b5163526d698b2ec8b66aba3fb48dbbf40b6825324123edba2d5c170d906fb5b
  .devcontainer/devcontainer.json
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/repro-check.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

fix nftables test
  rs/orchestrator/testdata/nftables_assigned_replica.conf.golden
Due: none

fix logic
  ci/container/build-ic.sh
Due: bazel_shfmt_format

Remove test
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/integration_tests/src/lib.rs
  rs/nns/integration_tests/src/node_provider_remuneration_with_golden_nns_state.rs
Due: bazel_buildifier, bazel_rust_format

chore: use runtime_deps in networking systests (#8417)
  rs/tests/common.bzl
  rs/tests/networking/BUILD.bazel
  rs/tests/networking/canister_http/canister_http.rs
  rs/tests/networking/canister_http_socks_test.rs
Due: bazel_buildifier, bazel_rust_format

improve FW comments
  rs/ic_os/config/tool/templates/ic.json5.template
  rs/orchestrator/testdata/nftables_assigned_replica.conf.golden
Due: none

add proptest for memo conversion
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/memo/tests.rs
Due: bazel_rust_format

normalize durations
  ci/githubstats/query.py
Due: bazel_ruff_format

modify colors
  ci/container/build-ic.sh
Due: bazel_shfmt_format

feat(ckdoge): ckDOGE minter dashboard (#8341)
  rs/bitcoin/ckbtc/minter/src/dashboard.rs
  rs/bitcoin/ckbtc/minter/src/main.rs
  rs/bitcoin/ckbtc/minter/src/queries.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
  rs/dogecoin/ckdoge/minter/src/event/mod.rs
  rs/dogecoin/ckdoge/minter/src/lib.rs
  rs/dogecoin/ckdoge/minter/src/main.rs
  rs/dogecoin/ckdoge/minter/src/test_fixtures/arbitrary.rs
  rs/dogecoin/ckdoge/minter/src/tests.rs
  rs/dogecoin/ckdoge/minter/src/updates/get_doge_address.rs
  rs/dogecoin/ckdoge/minter/src/updates/mod.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  14/d078a3752d6cea4c1c3dec25215e03535d20aa
Due: none

Add TODO. Improve error message.
  rs/replicated_state/src/canister_state/system_state/call_context_manager.rs
  rs/state_layout/src/state_layout/proto.rs
Due: bazel_rust_format

fix(IDX): update container detection logic
  ci/container/Dockerfile
  ci/container/build-ic.sh
Due: bazel_shfmt_format

update comment
  ci/container/build-ic.sh
Due: bazel_shfmt_format

take memos from dashboard
  rs/ethereum/cketh/minter/tests/cketh.rs
Due: bazel_rust_format

Updating container image to sha256:7bd69cbb51d84ae2870b0d2e71139a1156922a55714eab3941fa0396671b1b28
  .devcontainer/devcontainer.json
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
