Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

chore: remove enable_metrics from //rs/tests/cross_chain:doge_adapter_basics_test (#11521)
  rs/tests/cross_chain/BUILD.bazel
Due: bazel_buildifier

chore(consensus): say plainly what the consensus status metric reports
  rs/consensus/src/consensus/metrics.rs
Due: bazel_rust_format

fix(node): set the HostOS address in the two test config templates
  rs/orchestrator/src/firewall.rs
  rs/tests/driver/src/util.rs
Due: bazel_rust_format

feat: Add flexible HTTPS outcalls and pay-as-you-go pricing to public management canister types (#11517)
  packages/ic-management-canister-types/CHANGELOG.md
  packages/ic-management-canister-types/src/lib.rs
  packages/ic-management-canister-types/tests/candid_equality.rs
  packages/ic-management-canister-types/tests/ic.did
Due: bazel_rust_format

Notes added by 'git notes add'
  f2/7372495f97070170e3012cccb36ab79f7650f5
Due: none

fix(node): read GuestOS serial logs from the journal
  ic-os/components/hostos/misc/limited-console
Due: none

Notes added by 'git notes add'
  c2/8afce3795a6f0fa1f35d62f524348c23cf4e71
Due: none

fix(node): run guestos-alternative show under sudo
  ic-os/components/hostos/misc/limited-console
  ic-os/components/hostos/misc/sudoers
Due: none

chore(consensus): untangle the comments around the CUP height status
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

chore: remove rust-toolchain.toml as container-autobuild trigger
  .github/workflows/container-autobuild.yml
Due: none

chore: release ic-management-canister-types v0.10.0
  Cargo.lock
  packages/ic-management-canister-types/BUILD.bazel
  packages/ic-management-canister-types/CHANGELOG.md
  packages/ic-management-canister-types/Cargo.toml
Due: bazel_buildifier

feat(consensus): report the status of a subnet halted by its subnet record
  rs/consensus/src/consensus.rs
  rs/consensus/src/consensus/finalizer.rs
Due: bazel_rust_format

fix(consensus): assert the consensus status series, not their sum
  rs/consensus/src/consensus/metrics.rs
Due: bazel_rust_format

refactor(consensus): give the subnet record halt a gauge of its own
  rs/consensus/src/consensus.rs
  rs/consensus/src/consensus/finalizer.rs
  rs/consensus/src/consensus/metrics.rs
Due: bazel_rust_format

chore: remove rust-toolchain.toml as container-autobuild trigger (#11526)
  .github/workflows/container-autobuild.yml
Due: none

chore: release ic-management-canister-types v0.10.0 (#11527)
  Cargo.lock
  packages/ic-management-canister-types/BUILD.bazel
  packages/ic-management-canister-types/CHANGELOG.md
  packages/ic-management-canister-types/Cargo.toml
Due: bazel_buildifier

fix(consensus): report the consensus status when a batch cannot be delivered
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/metrics.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  50/155e1891240ed899585f769c78240e792a1ee3
Due: none

docs(consensus): say how a registry that cannot be read is reported
  rs/consensus/src/consensus/metrics.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  7f/19208b1a30d6a17ad0a2f7c06ab25be594aec8
Due: none

Notes added by 'git notes add'
  5d/77f335170bfed559c12b6fe4a1fc23ed6f3f19
Due: none

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

refactor: remove the ordering on CompoundCycles
  rs/cycles_account_manager/src/cycles_account_manager.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/response/tests.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/types/cycles/src/compound_cycles.rs
Due: bazel_rust_format

Revert "feat(consensus): report the status of a subnet halted by its subnet record"
  rs/consensus/src/consensus.rs
  rs/consensus/src/consensus/metrics.rs
Due: bazel_rust_format
