Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

[create-pull-request] automated change
  ic-os/boundary-guestos/context/docker-base.prod
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

chore: Stop using NeuronId for proposal IDs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
Due: none

fix(IDX): open up more rosetta ports in the k8s-based UVM to fix the rosetta systests
  rs/tests/driver/src/k8s/virtualmachine.rs
Due: bazel_rust_format

XC-204: buildifier
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/ledger-suite-orchestrator/BUILD.bazel
Due: bazel_buildifier

chore: correct fields
  rs/boundary_node/rate_limit_canister/interface.did
Due: none

fix(IDX): open up more rosetta ports in the k8s-based UVM to fix the rosetta systests (#1951)
  rs/tests/driver/src/k8s/virtualmachine.rs
Due: bazel_rust_format

Move transaction generation function to sm-tests and use it for both ICP and ICRC golden state tests
  rs/ledger_suite/icp/tests/golden_nns_state.rs
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a5/05a2fff8974bae004a06c6feae7e30e29bef50
Due: none

XC-204: fix should_reimburse
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/test_utils/src/flow.rs
Due: bazel_rust_format

feat: EXC: Limit the number of executed canisters
  rs/execution_environment/benches/scheduler.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/round_schedule.rs
Due: bazel_rust_format

chore: Stop using NeuronId for proposal IDs (#1950)
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
Due: none

fix(IDX): typo in bazel flag
  .github/workflows-source/release-testing.yml
Due: none

IDX GitHub Automation
  .github/workflows/release-testing.yml
Due: none

fix(IDX): typo in bazel flag (#1954)
  .github/workflows-source/release-testing.yml
  .github/workflows/release-testing.yml
Due: none

feat(ICP-Ledger): FI-1508 add icp allowance getter endpoint
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  fc/98b77092b2a045ab4ffa6d53991e7a870ab0d8
Due: none

feat: Add log for node_provider_rewards computation (#1825)
  rs/registry/node_provider_rewards/src/lib.rs
  rs/registry/node_provider_rewards/src/logs.rs
Due: bazel_rust_format

edge cases
  packages/pocket-ic/tests/test_canister.did
  packages/pocket-ic/tests/test_canister.rs
  packages/pocket-ic/tests/tests.rs
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/pocket_ic_server/src/state_api/state.rs
Due: bazel_rust_format

XC-204: fix should_resubmit_new_transaction_when_price_increased
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/test_utils/src/response.rs
Due: bazel_rust_format

Add ExecutionTests to.
  rs/execution_environment/src/execution_environment/tests/canister_task.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ae/4c23ff3fa9d05eb77f98939733d5644c6a5ea1
Due: none

lint
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f2/b76724a6ee7d21ef0a1063e45694c151e633f1
Due: none

wip
  .github/actions/bazel-test-all/action.yaml
  rs/depcheck/src/lib.rs
Due: bazel_rust_format

enable tsig during init
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/Cargo.toml
  rs/tests/consensus/backup_manager_test.rs
Due: bazel_buildifier, bazel_rust_format

feat(ICP-Ledger): FI-1508 add test icp allowance getter endpoint (#1934)
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/ledger_canisters.bzl
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

fix
  rs/tests/consensus/BUILD.bazel
Due: bazel_buildifier

test(IDX-3182): inline the nns_dapp system-test
  .github/CODEOWNERS
  Cargo.toml
  rs/tests/gix/BUILD.bazel
  rs/tests/nns/BUILD.bazel
  rs/tests/nns/nns_dapp/BUILD.bazel
  rs/tests/nns/nns_dapp/Cargo.toml
  rs/tests/nns/nns_dapp/nns_dapp.rs
  rs/tests/nns/nns_dapp_test.rs
  rs/tests/src/lib.rs
  rs/tests/testing_verification/testnets/BUILD.bazel
  rs/tests/testing_verification/testnets/large.rs
  rs/tests/testing_verification/testnets/small_nns.rs
  rs/tests/testing_verification/testnets/sns_testing.rs
  rs/tests/testing_verification/testnets/src_testing.rs
Due: bazel_buildifier, bazel_rust_format

Generate 1000 transactions per batch to trigger archiving
  rs/ledger_suite/icp/tests/golden_nns_state.rs
Due: bazel_rust_format

First commit migrating NPR canister
  Cargo.lock
  Cargo.toml
  rs/nns/node-provider-rewards/BUILD.bazel
  rs/nns/node-provider-rewards/Cargo.toml
  rs/nns/node-provider-rewards/build.rs
  rs/nns/node-provider-rewards/cmc.did
  rs/nns/node-provider-rewards/src/chrono_utils.rs
  rs/nns/node-provider-rewards/src/computation_logger.rs
  rs/nns/node-provider-rewards/src/main.rs
  rs/nns/node-provider-rewards/src/metrics_manager.rs
  rs/nns/node-provider-rewards/src/rewards_manager.rs
  rs/nns/node-provider-rewards/src/stable_memory.rs
  rs/nns/node-provider-rewards/src/types.rs
Due: bazel_buildifier, bazel_rust_format

XC-211: inline
  rs/tests/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
  rs/tests/src/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
  rs/tests/src/cross_chain/mod.rs
  rs/tests/src/lib.rs
Due: bazel_rust_format

fix
  Cargo.lock
  rs/tests/nns/nns_dapp/Cargo.toml
Due: none

chore: Remove unnecessary dependencies (#1935)
  Cargo.lock
  Cargo.toml
  rs/tests/Cargo.toml
  rs/tests/node/BUILD.bazel
  rs/tests/node/Cargo.toml
Due: bazel_buildifier

XC-211: adapt Bazel file, require more dependencies
  rs/tests/cross_chain/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  d7/0b9eb6fb1d15d03a0f54937280e495d11ce619
Due: none
