Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

chore(EXC-2091): Upgrade Wasmtime 35 (#6100)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/external_crates.bzl
  rs/embedders/Cargo.toml
Due: bazel_buildifier

perf: Remove `anyhow` from P2P code (#6244)
  Cargo.lock
  rs/http_endpoints/async_utils/BUILD.bazel
  rs/http_endpoints/async_utils/Cargo.toml
  rs/p2p/artifact_downloader/BUILD.bazel
  rs/p2p/artifact_downloader/Cargo.toml
  rs/p2p/consensus_manager/BUILD.bazel
  rs/p2p/consensus_manager/Cargo.toml
  rs/p2p/consensus_manager/src/sender.rs
  rs/p2p/memory_transport/BUILD.bazel
  rs/p2p/memory_transport/Cargo.toml
  rs/p2p/memory_transport/src/lib.rs
  rs/p2p/quic_transport/BUILD.bazel
  rs/p2p/quic_transport/Cargo.toml
  rs/p2p/quic_transport/README.adoc
  rs/p2p/quic_transport/src/connection_handle.rs
  rs/p2p/quic_transport/src/lib.rs
  rs/p2p/quic_transport/src/request_handler.rs
  rs/p2p/test_utils/BUILD.bazel
  rs/p2p/test_utils/Cargo.toml
  rs/p2p/test_utils/src/mocks.rs
Due: bazel_buildifier, bazel_rust_format

chore: removing all mentions of filebeat and log pushing configuration and generation (#6153)
  ic-os/components/guestos.bzl
  ic-os/components/init/setup-encryption/setup-var-encryption.sh
  ic-os/components/misc/guestos/ic-node.conf
  ic-os/components/monitoring/filebeat/filebeat.service
  ic-os/components/monitoring/filebeat/filebeat.yml.template
  ic-os/components/monitoring/filebeat/generate-filebeat-config.sh
  ic-os/components/monitoring/filebeat/setup-filebeat-permissions.sh
  ic-os/components/selinux/filebeat/filebeat.fc
  ic-os/components/selinux/filebeat/filebeat.if
  ic-os/components/selinux/filebeat/filebeat.te
  ic-os/components/selinux/fscontext-fixes/fscontext-fixes.fc
  ic-os/components/selinux/fscontext-fixes/fscontext-fixes.te
  ic-os/guestos/context/Dockerfile
  ic-os/guestos/context/Dockerfile.base
  ic-os/guestos/docs/Boot.adoc
  ic-os/guestos/docs/SELinux-Policy.adoc
  ic-os/guestos/docs/SELinux.adoc
  ic-os/setupos/data/deployment.json.template
  rs/ic_os/config/src/generate_testnet_config.rs
  rs/ic_os/config/src/main.rs
  rs/ic_os/config/src/setupos/deployment_json.rs
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.5.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.5.0.json
  rs/ic_os/config_types/src/lib.rs
  rs/ic_os/dev_test_tools/launch-single-vm/src/main.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/bin/create.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/lib.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/tests/driver/assets/vector.toml
  rs/tests/driver/src/driver/bootstrap.rs
  rs/tests/driver/src/driver/test_env_api.rs
  testnet/tools/build-guestos-configs.sh
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

chore: remove build container entrypoint (#6198)
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/Dockerfile
  ci/container/TAG
  ci/container/files/entrypoint.sh
Due: bazel_shfmt_format

chore(Ledgers): FI-1814: Load WASMs using env vars (#6195)
  Cargo.lock
  rs/ledger_suite/icp/archive/tests/tests.rs
  rs/ledger_suite/icp/test_utils/BUILD.bazel
  rs/ledger_suite/icp/test_utils/Cargo.toml
  rs/ledger_suite/icp/test_utils/src/lib.rs
  rs/ledger_suite/icp/test_utils/src/state_machine_helpers/index.rs
  rs/ledger_suite/icp/tests/golden_nns_state.rs
  rs/ledger_suite/icp/tests/upgrade_downgrade.rs
  rs/rosetta-api/icp/client/tests/tests.rs
  rs/rosetta-api/icp/runner/BUILD.bazel
  rs/rosetta-api/icp/runner/tests/tests.rs
  rs/rosetta-api/icp/tests/system_tests/common/system_test_environment.rs
Due: bazel_buildifier, bazel_rust_format

test(node): NNS recovery test extension (#6191)
  Cargo.lock
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/Cargo.toml
  rs/tests/nested/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

test(ICRC_Ledger): Remove sunset ICVC SNS from golden state test (#6251)
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
Due: bazel_rust_format

chore(ICRC_Ledger): FI-1747: Clean up ICRC-106 migration code (#5627)
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/src/main.rs
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/icrc_106.rs
Due: bazel_rust_format

chore: HostOS SEV improvements (#6249)
  ic-os/components/networking/nftables/hostos/nftables.template
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/upgrade_guestos.xml
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Due: none

refactor: CON-1558 Remove `ThresholdSigInputsRef` (#6157)
  rs/consensus/idkg/src/lib.rs
  rs/consensus/idkg/src/payload_builder.rs
  rs/consensus/idkg/src/payload_builder/signatures.rs
  rs/consensus/idkg/src/payload_verifier.rs
  rs/consensus/idkg/src/signer.rs
  rs/consensus/idkg/src/test_utils.rs
  rs/consensus/idkg/src/utils.rs
  rs/interfaces/src/consensus/errors.rs
  rs/test_utilities/consensus/src/idkg.rs
  rs/types/types/src/consensus/idkg/common.rs
  rs/types/types/src/consensus/idkg/ecdsa.rs
  rs/types/types/src/consensus/idkg/schnorr.rs
Due: bazel_rust_format

.
  rs/p2p/peer_manager/src/lib.rs
Due: bazel_rust_format

err counter
  rs/p2p/peer_manager/src/lib.rs
  rs/p2p/peer_manager/src/metrics.rs
Due: bazel_rust_format

impl
  rs/consensus/idkg/src/payload_verifier.rs
  rs/consensus/idkg/src/signer.rs
  rs/consensus/idkg/src/utils.rs
  rs/interfaces/src/consensus/errors.rs
  rs/test_utilities/consensus/src/idkg.rs
  rs/types/types/src/consensus/idkg/common.rs
Due: bazel_rust_format

Implement new network type
  rs/bitcoin/replica_types/src/lib.rs
Due: bazel_rust_format

Initial changes
  rs/bitcoin/client/src/lib.rs
  rs/bitcoin/consensus/src/payload_builder.rs
  rs/bitcoin/consensus/src/payload_builder/proptests.rs
  rs/bitcoin/consensus/src/payload_builder/tests.rs
  rs/bitcoin/replica_types/src/lib.rs
  rs/config/src/adapters.rs
  rs/protobuf/def/bitcoin/v1/bitcoin.proto
  rs/protobuf/src/gen/bitcoin/bitcoin.v1.rs
  rs/protobuf/src/gen/state/bitcoin.v1.rs
  rs/protobuf/src/gen/types/bitcoin.v1.rs
  rs/replica/src/setup_ic_stack.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

comment
  rs/p2p/peer_manager/src/lib.rs
Due: bazel_rust_format

chore: inline .github/actions/bazel-test-all/action.yaml into its only callsite to reduce complexity
  .github/actions/bazel-test-all/action.yaml
  .github/workflows-source/ci-main.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

Extend network type
  rs/bitcoin/replica_types/src/lib.rs
Due: bazel_rust_format

feat(PocketIC): bootstrap cycles ledger and index canisters (#6218)
  Cargo.lock
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/Cargo.toml
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/test_canister/BUILD.bazel
  packages/pocket-ic/test_canister/Cargo.toml
  packages/pocket-ic/test_canister/src/canister.rs
  packages/pocket-ic/tests/icp_features.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/build.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_buildifier, bazel_rust_format

try
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

Fix some failing compilation
  rs/bitcoin/adapter/benches/e2e.rs
  rs/bitcoin/adapter/tests/integration.rs
  rs/bitcoin/consensus/src/payload_builder.rs
  rs/bitcoin/consensus/src/payload_builder/tests.rs
  rs/replicated_state/tests/replicated_state.rs
  rs/tests/ckbtc/src/adapter.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b6/6c27072be5edf196ff6bc133d58544fadd3414
Due: none

feat(PocketIC): bootstrap cycles ledger and index canisters
  packages/pocket-ic/BUILD.bazel
Due: bazel_buildifier

feat: bootstrap NNS governance and root canisters
  Cargo.lock
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/tests/icp_features.rs
  rs/nervous_system/proto/BUILD.bazel
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/build.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_buildifier, bazel_rust_format

buildifier
  packages/pocket-ic/BUILD.bazel
Due: bazel_buildifier

drop unused struct
  packages/pocket-ic/tests/icp_features.rs
Due: bazel_rust_format

try 2
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

try 3
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

Add registration logging
  rs/tests/nested/src/lib.rs
Due: bazel_rust_format

wip
  rs/replicated_state/src/canister_snapshots.rs
  rs/state_layout/src/state_layout.rs
  rs/state_layout/src/state_layout/tests.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/tip.rs
  rs/types/wasm_types/src/lib.rs
Due: bazel_rust_format

simplify
  Cargo.lock
  rs/nervous_system/proto/BUILD.bazel
  rs/nns/governance/api/src/lib.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_buildifier, bazel_rust_format

Update unassinged nodes via nested test proposal
  rs/tests/nested/src/lib.rs
Due: bazel_rust_format

Revert "Update unassinged nodes via nested test proposal"
  rs/tests/nested/src/lib.rs
Due: bazel_rust_format

.
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

unit tests
  Cargo.lock
  rs/p2p/peer_manager/BUILD.bazel
  rs/p2p/peer_manager/Cargo.toml
  rs/p2p/peer_manager/src/lib.rs
  rs/p2p/peer_manager/tests/test.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
