Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

chore: [NODE-1453] Remove SetupOS SELinux policy (#900)
  ic-os/components/guestos.bzl
  ic-os/components/prep/setupos/fscontext-fixes/fscontext-fixes.fc
  ic-os/components/prep/setupos/fscontext-fixes/fscontext-fixes.if
  ic-os/components/prep/setupos/fscontext-fixes/fscontext-fixes.te
  ic-os/components/prep/setupos/misc-fixes/misc-fixes.if
  ic-os/components/prep/setupos/misc-fixes/misc-fixes.te
  ic-os/components/prep/setupos/prep.sh
  ic-os/components/prep/setupos/systemd-fixes/systemd-fixes.if
  ic-os/components/prep/setupos/systemd-fixes/systemd-fixes.te
  ic-os/components/selinux/filebeat/filebeat.fc
  ic-os/components/selinux/filebeat/filebeat.if
  ic-os/components/selinux/filebeat/filebeat.te
  ic-os/components/selinux/fscontext-fixes/fscontext-fixes.fc
  ic-os/components/selinux/fscontext-fixes/fscontext-fixes.if
  ic-os/components/selinux/fscontext-fixes/fscontext-fixes.te
  ic-os/components/selinux/ic-node/ic-node.fc
  ic-os/components/selinux/ic-node/ic-node.if
  ic-os/components/selinux/ic-node/ic-node.te
  ic-os/components/selinux/infogetty/infogetty.fc
  ic-os/components/selinux/infogetty/infogetty.te
  ic-os/components/selinux/manageboot/manageboot.fc
  ic-os/components/selinux/manageboot/manageboot.if
  ic-os/components/selinux/manageboot/manageboot.te
  ic-os/components/selinux/misc-fixes/misc-fixes.if
  ic-os/components/selinux/misc-fixes/misc-fixes.te
  ic-os/components/selinux/node_exporter/node_exporter.fc
  ic-os/components/selinux/node_exporter/node_exporter.if
  ic-os/components/selinux/node_exporter/node_exporter.te
  ic-os/components/selinux/prep.sh
  ic-os/components/selinux/setup-var/setup-var.if
  ic-os/components/selinux/setup-var/setup-var.te
  ic-os/components/selinux/systemd-fixes/systemd-fixes.if
  ic-os/components/selinux/systemd-fixes/systemd-fixes.te
  ic-os/components/setupos.bzl
  ic-os/setupos/context/Dockerfile
Due: bazel_buildifier, bazel_shfmt_format

chore: actix upgrade (#896)
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/external_crates.bzl
  rs/rosetta-api/Cargo.toml
  rs/rosetta-api/ledger_canister_blocks_synchronizer/Cargo.toml
Due: bazel_buildifier

--experimental_bep_target_summary
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

.
  .github/CODEOWNERS
Due: none

Fix a few more things
  rs/registry/admin/BUILD.bazel
  rs/registry/admin/src/main.rs
  rs/registry/admin/src/types.rs
Due: bazel_buildifier, bazel_rust_format

refactor(nns): move proposal types into api crate
  rs/nns/governance/api/src/bitcoin.rs
  rs/nns/governance/api/src/lib.rs
  rs/nns/governance/api/src/subnet_rental.rs
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/src/governance.rs
  rs/nns/test_utils/src/governance.rs
  rs/registry/admin/src/main.rs
  rs/tests/src/nns_tests/bitcoin_set_config_proposal.rs
Due: bazel_rust_format

refactor(nns): move some proposal helpers to api crate
  rs/nns/governance/api/src/lib.rs
  rs/nns/governance/api/src/proposal_helpers.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/proposals/mod.rs
  rs/nns/integration_tests/src/lifeline.rs
  rs/nns/integration_tests/src/reset_root.rs
  rs/registry/admin/src/main.rs
  rs/tests/src/rosetta_tests/governance_client.rs
Due: bazel_rust_format

build_event_publish_all_actions
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

remove gov dep from tests
  rs/tests/Cargo.toml
  rs/tests/common.bzl
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/Cargo.toml
  rs/tests/nns/sns/Cargo.toml
Due: bazel_buildifier

Fix clippy
  rs/registry/admin/src/main.rs
Due: bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

.
  rs/protobuf/def/registry/replica_version/v1/replica_version.proto
  rs/protobuf/def/registry/subnet/v1/subnet.proto
  rs/protobuf/def/registry/unassigned_nodes_config/v1/unassigned_nodes_config.proto
Due: bazel_protobuf_format

change
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/release-testing.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
Due: none

profile
  .github/workflows-source/ci-main.yml
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

feat: EXC-1567: Add charging for take and load canister snapshot (#811)
  rs/config/src/subnet_config.rs
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

change
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

change
  .github/workflows-source/ci-main.yml
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

fix: CON-1321 Make the orchestrator recover from having a broken local CUP (#572)
  rs/orchestrator/src/catch_up_package_provider.rs
  rs/orchestrator/src/error.rs
  rs/orchestrator/src/metrics.rs
  rs/orchestrator/src/upgrade.rs
  rs/tests/src/orchestrator/subnet_recovery_app_subnet.rs
Due: bazel_rust_format

.
  rs/http_endpoints/public/src/lib.rs
Due: bazel_rust_format

chore: improve consensus manager update handler errors (#790)
  rs/p2p/consensus_manager/src/receiver.rs
  rs/p2p/quic_transport/src/request_handler.rs
Due: bazel_rust_format

chore: update deny.toml (#898)
  deny.toml
Due: none

fix
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/external_crates.bzl
  packages/pocket-ic/src/nonblocking.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/state_api/state.rs
  rs/pocket_ic_server/tests/test.rs
Due: bazel_buildifier, bazel_rust_format

simplify
  rs/pocket_ic_server/src/state_api/state.rs
Due: bazel_rust_format

fix
  bazel/external_crates.bzl
  rs/pocket_ic_server/Cargo.toml
Due: bazel_buildifier

Extract all constants
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/external_crates.bzl
  rs/nns/governance/src/governance/tla.rs
Due: bazel_buildifier, bazel_rust_format

Handle all traces (in case there are multiple)
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

drop icx-proxy dependency
  rs/pocket_ic_server/BUILD.bazel
Due: bazel_buildifier

Rename timed_out_requests_total metric to timed_out_messages_total.
  rs/messaging/src/message_routing.rs
  rs/messaging/src/state_machine.rs
Due: bazel_rust_format

repin
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.json.lock
Due: none

adding candid
  rs/nns/cmc/cmc.did
  rs/nns/cmc/src/main.rs
Due: bazel_rust_format

.
  rs/orchestrator/src/registration.rs
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
  rs/registry/canister/src/mutations/node_management/do_update_node_ipv4_config_directly.rs
  rs/tests/Cargo.toml
  rs/tests/node/ipv4_integration_test.rs
  rs/types/registry_canister_types/src/lib.rs
Due: bazel_rust_format

.
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
Due: bazel_rust_format

.,
  rs/protobuf/def/registry/subnet/v1/subnet.proto
Due: bazel_protobuf_format

.
  rs/protobuf/src/gen/registry/registry.subnet.v1.rs
  rs/protobuf/src/gen/state/registry.subnet.v1.rs
  rs/protobuf/src/gen/types/registry.subnet.v1.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
