Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

chore: make canister creation in statesync test canister idempotent (#8305)
  Cargo.lock
  rs/rust_canisters/statesync_test/BUILD.bazel
  rs/rust_canisters/statesync_test/Cargo.toml
  rs/rust_canisters/statesync_test/src/lib.rs
  rs/rust_canisters/statesync_test/src/main.rs
  rs/rust_canisters/statesync_test/statesync_test.did
  rs/rust_canisters/statesync_test/test/test.rs
  rs/tests/message_routing/rejoin_test_lib/BUILD.bazel
  rs/tests/message_routing/rejoin_test_lib/Cargo.toml
  rs/tests/message_routing/rejoin_test_lib/rejoin_test_lib.rs
Due: bazel_buildifier, bazel_rust_format

fix setupos, export STORE_DEVICE
  ic-os/components/setupos/functions.sh
  rs/ic_os/guest_upgrade/client/src/lib.rs
  rs/ic_os/guest_upgrade/server/src/service.rs
  rs/ic_os/guest_upgrade/shared/src/lib.rs
  rs/ic_os/guest_upgrade/tests/src/lib.rs
Due: bazel_shfmt_format, bazel_rust_format

Notes added by 'git notes add'
  c5/9eb2d9ef918e965b62d19ed4ff5ec143b1ce55
Due: none

use namespace + 32-byte encoding as discussed offline
  rs/ic_os/attestation/src/custom_data.rs
  rs/ic_os/attestation/src/verification.rs
  rs/ic_os/remote_attestation/server/src/main.rs
  rs/ic_os/remote_attestation/shared/proto/remote_attestation.proto
  rs/ic_os/sev/src/guest/custom_data.rs
Due: bazel_protobuf_format, bazel_rust_format

Added LoadCanisterSnapshot proposal type. Action-based.
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/pb/conversions/mod.rs
  rs/nns/governance/src/pb/proposal_conversions.rs
  rs/nns/governance/src/proposals/load_canister_snapshot.rs
  rs/nns/governance/src/proposals/mod.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  c5/cd8159fd1bb0370701205563eceeac61b69e0e
Due: none

Notes added by 'git notes add'
  f1/5c3ffaea1ca55db24d6416f8c606dedf07cbc4
Due: none

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

fix
  rs/ic_os/attestation/src/e2e_tests.rs
Due: bazel_rust_format

move decoding logic to memo.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/memo.rs
Due: bazel_rust_format

move tests to unit tests
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/src/memo/tests.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
Due: bazel_buildifier, bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/ethereum/cketh/minter/src/memo.rs
Due: bazel_rust_format

add smoke integration test
  rs/ethereum/cketh/minter/tests/cketh.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  4d/94054b59958da7cc9f0b721b6a1817ae0f3064
Due: none

Test for (new) LoadCanisterSnapshot proposal type.
  rs/nns/integration_tests/src/canister_snapshot.rs
  rs/nns/test_utils/src/state_test_helpers.rs
Due: bazel_rust_format

test mixed case encoding
  rs/ethereum/cketh/minter/src/memo/tests.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
Due: bazel_rust_format

Add encrypted partition UUID migration
  ic-os/components/guestos/init/setup-encryption/setup-data-encryption.sh
Due: bazel_shfmt_format

Let's add claude after we've split the CI from the dev container
  .vscode/extensions.json
  ci/container/Dockerfile
Due: none

Don't touch the dev container just yet
  .claude/README.md
  .devcontainer/devcontainer.json
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  .vscode/extensions.json
  ci/container/TAG
Due: none

comment
  rs/https_outcalls/client/src/client.rs
Due: bazel_rust_format

chore: runtime_deps dict
  rs/embedders/BUILD.bazel
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/boundary_nodes/utils/BUILD.bazel
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/common.bzl
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/backup/BUILD.bazel
  rs/tests/consensus/orchestrator/BUILD.bazel
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/consensus/upgrade/BUILD.bazel
  rs/tests/consensus/vetkd/BUILD.bazel
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/crypto/BUILD.bazel
  rs/tests/dre/BUILD.bazel
  rs/tests/execution/BUILD.bazel
  rs/tests/financial_integrations/BUILD.bazel
  rs/tests/financial_integrations/rosetta/BUILD.bazel
  rs/tests/idx/BUILD.bazel
  rs/tests/message_routing/BUILD.bazel
  rs/tests/message_routing/xnet/BUILD.bazel
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/nns_recovery/BUILD.bazel
  rs/tests/networking/BUILD.bazel
  rs/tests/nns/BUILD.bazel
  rs/tests/nns/sns/BUILD.bazel
  rs/tests/node/BUILD.bazel
  rs/tests/query_stats/BUILD.bazel
  rs/tests/sdk/BUILD.bazel
  rs/tests/system_tests.bzl
  rs/tests/testnets/BUILD.bazel
Due: bazel_buildifier

chore: do not disable debug assertions in clippy checks
  bazel/conf/.bazelrc.build
  ci/scripts/rust-lint.sh
Due: bazel_buildifier, bazel_shfmt_format

trigger cargo job on ci/scripts/rust-lint.sh changes
  .github/workflows/ci-main.yml
Due: none

fix: Uploading chunks is handled uniformly (#8310)
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

canister runtime deps
  rs/tests/common.bzl
  rs/tests/dre/BUILD.bazel
  rs/tests/execution/BUILD.bazel
  rs/tests/nns/BUILD.bazel
  rs/tests/nns/sns/BUILD.bazel
  rs/tests/system_tests.bzl
  rs/tests/testnets/BUILD.bazel
Due: bazel_buildifier

buildifier
  rs/tests/execution/BUILD.bazel
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  4e/2d08b10ca96716942e622bd589825e225f788d
Due: none
