Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  52/c88e161e7161f8c06627c1accd3a5df62a5dc4
Due: none

fmt
  rs/consensus/src/consensus/payload_builder.rs
Due: bazel_rust_format

clippy
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/metadata_state/tests.rs
Due: bazel_rust_format

chore: update `async-trait` to v0.1.89 (#7335)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  1f/3f1c481604ca376c524f4864f1dd161afdae74
Due: none

ref
  rs/consensus/src/consensus/payload_builder.rs
Due: bazel_rust_format

Revert "test(btc-adapter): fix flaky test in generate_to_address call (#7105)"
  rs/bitcoin/adapter/test_utils/src/rpc_client.rs
  rs/bitcoin/adapter/tests/integration.rs
Due: bazel_rust_format

Use minreq as transport and set timeout to be 60s instead of default 15s
  rs/bitcoin/adapter/test_utils/src/rpc_client.rs
Due: bazel_rust_format

reinstall and hardening
  rs/execution_environment/tests/memory_matrix.rs
Due: bazel_rust_format

chore: remove requires-network tag from adapter_integration_test (#7337)
  rs/bitcoin/adapter/BUILD.bazel
Due: bazel_buildifier

chore: Update Mainnet ICOS revisions file
  mainnet-icos-revisions.json
Due: none

harden
  rs/execution_environment/tests/memory_matrix.rs
Due: bazel_rust_format

test(nns-recovery): [CON-1601] fix the DFINITY-owned node like the other NPs (#7184)
  rs/recovery/src/nns_recovery_same_nodes.rs
  rs/tests/nested/nns_recovery/BUILD.bazel
  rs/tests/nested/nns_recovery/Cargo.toml
  rs/tests/nested/nns_recovery/common.rs
  rs/tests/nested/nns_recovery/nr_broken_dfinity_node.rs
  rs/tests/nested/nns_recovery/nr_large.rs
  rs/tests/nested/nns_recovery/nr_local.rs
  rs/tests/nested/nns_recovery/nr_no_bless_fix_like_np.rs
Due: bazel_buildifier, bazel_rust_format

Drop port linstener only after starting bitcoind
  rs/bitcoin/adapter/test_utils/src/bitcoind.rs
Due: bazel_rust_format

feat: adding an awesome new feature
  .github/workflows/ci-main.yml
Due: none

renaming
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store.rs
  rs/state_layout/src/state_layout.rs
  rs/state_manager/src/checkpoint.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  13/164179a75a9a4a0851debd2d3363dcd6275192
Due: none

Slight change to changelog entry.
  rs/registry/canister/unreleased_changelog.md
Due: none

Add chunks_to_download struct
  rs/p2p/state_sync_manager/src/ongoing.rs
  rs/p2p/state_sync_manager/src/ongoing/chunks_to_download.rs
Due: bazel_rust_format

chore: testing an external PR that touches .github
  .github/workflows/ci-main.yml
Due: none

Notes added by 'git notes add'
  3c/6f501ca6f9c9398b2ba1fbf237891ff94ff47d
Due: none

Fix POC
  cpp/infogetty-cpp/infogetty.cc
  ic-os/components/hostos.bzl
  ic-os/components/hostos/misc/limited-console-shell
  ic-os/components/misc/serial-getty@/hostos/override.conf
Due: bazel_buildifier

fix(node): sleep and repeat parameter validation error log for console visibility (#7315)
  ic-os/components/misc/guestos-recovery/guestos-recovery-upgrader/guestos-recovery-upgrader.sh
Due: bazel_shfmt_format

chore: Add comment to override (#7313)
  ic-os/components/guestos/init/setup-encryption/override.conf
Due: none

Use chunks to download instead of loop
  rs/p2p/state_sync_manager/src/ongoing.rs
  rs/p2p/state_sync_manager/src/ongoing/chunks_to_download.rs
Due: bazel_rust_format

Skip mutations that do not actually change anything.
  rs/registry/canister/src/mutations/do_set_subnet_operational_level.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b3/b76edb2108cb008f396420a91d2212011cf1b7
Due: none

Notes added by 'git notes add'
  84/52264f8a2eb2df8a938852821074120527a8b0
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
