Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

chore: Fix typo in doc comment for PageAllocator (#7434)
  rs/replicated_state/src/page_map/page_allocator.rs
Due: bazel_rust_format

Add validations for cycle balances before and after message induction, routing, timing out and shedding messages.
  rs/messaging/src/routing/stream_handler.rs
  rs/messaging/src/state_machine.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/replicated_state.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ce/0dc448ce5efd6c7ee28b954fb97f6a59685595
Due: none

Notes added by 'git notes add'
  fc/7f7307becee3d3795cc08e9ad48d33a7d98484
Due: none

Notes added by 'git notes add'
  1a/fc47685742a45349ced6bf6adf279edd9c5176
Due: none

chore: Remove old query scheduler flag
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_scheduler.rs
  rs/execution_environment/src/query_handler/query_scheduler/tests.rs
Due: bazel_rust_format

test: canister memory matrix test
  Cargo.lock
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/execution_environment/tests/memory_matrix.rs
  rs/execution_environment/tests/storage_reservation.rs
  rs/test_utilities/execution_environment/BUILD.bazel
  rs/test_utilities/execution_environment/Cargo.toml
  rs/test_utilities/execution_environment/src/lib.rs
  rs/universal_canister/impl/src/lib.rs
  rs/universal_canister/impl/src/main.rs
  rs/universal_canister/lib/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  44/6c85718e140f0b78e157dc155b601e7cdca1a1
Due: none

Inline mainnet canisters
  rs/ledger_suite/icrc1/BUILD.bazel
Due: bazel_buildifier

Use single repository for mainnet canisters
  WORKSPACE.bazel
  bazel/mainnet-canisters.bzl
Due: bazel_buildifier

Use common @mainnet_canisters repository
  rs/boundary_node/rate_limits/integration_tests/BUILD.bazel
  rs/boundary_node/salt_sharing/integration_tests/BUILD.bazel
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icrc1/BUILD.bazel
  rs/ledger_suite/icrc1/archive/BUILD.bazel
  rs/ledger_suite/icrc1/ledger/BUILD.bazel
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nns/sns-wasm/BUILD.bazel
  rs/pocket_ic_server/BUILD.bazel
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/tests/integration_tests/BUILD.bazel
  rs/sns/integration_tests/BUILD.bazel
  rs/tests/common.bzl
Due: bazel_buildifier

chore: move trivy to MODULE (#7413)
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bazel
  bazel/trivy.bzl
  ic-os/defs.bzl
  third_party/BUILD.trivy.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  04/8a4c6e1da5f94970ce383124d5083992aed77e
Due: none

fix: Interrupt the boot if veritysetup fails
  ic-os/components/early-boot/initramfs-tools/guestos/scripts/init-premount/verity-root
Due: none

.
  rs/replicated_state/src/canister_state/system_state/log_memory_store.rs
Due: bazel_rust_format

.
  rs/replicated_state/src/page_map.rs
Due: bazel_rust_format

use a trap instead so we panic if anything fails
  ic-os/components/early-boot/initramfs-tools/guestos/scripts/init-premount/verity-root
Due: none

chore: Update Mainnet ICOS revisions file
  mainnet-icos-revisions.json
Due: none

.
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store.rs
Due: bazel_rust_format

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

.
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store.rs
  rs/state_manager/src/checkpoint.rs
Due: bazel_rust_format

harden
  rs/execution_environment/tests/memory_matrix.rs
Due: bazel_rust_format

test_memory_suite_upload_canister_snapshot_data_wasm_module
  rs/execution_environment/tests/memory_matrix.rs
Due: bazel_rust_format

.
  rs/state_manager/src/checkpoint.rs
Due: bazel_rust_format
