Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Notes added by 'git notes add'
  4b/74a3b1b4eb9e905c9f10024965130333daaa74
Due: none

fix: use async sockets for async SSH connections
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/nested/nns_recovery/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

fix: add env var KONG_SWAP_URL to NNS dapp in PocketIC
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

Deleted some commented out code. (This should have been done earlier, but oversight.)
  rs/nervous_system/root/src/private.rs
Due: bazel_rust_format

Deleted some vestigial code.
  rs/nervous_system/root/src/take_canister_snapshot.rs
Due: bazel_rust_format

Commented some error handling code (per review feedback).
  rs/nervous_system/root/src/change_canister.rs
Due: bazel_rust_format

Updating container image to sha256:ab4877e2adec334c60e493ceb301949f8f0d4dae0a42330c2f121ba71ffc35a6
  .devcontainer/devcontainer.json
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

feat(ckETH-minter): DEFI-2231: add decode_ledger_memo endpoint (#8133)
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/memo.rs
  rs/ethereum/cketh/minter/src/memo/tests.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Revert unrelated changes
  rs/tests/dre/utils/lib.rs
Due: bazel_rust_format

feature flags
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

fix metric name
  rs/tests/driver/src/driver/group.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  d6/f2c6fbdd34c7a6e748b7c5e884deb1a50396ff
Due: none

feat(governance): Stop the target canister before taking or loading a snapshot... (#8359)
  Cargo.lock
  rs/nervous_system/root/BUILD.bazel
  rs/nervous_system/root/Cargo.toml
  rs/nervous_system/root/src/change_canister.rs
  rs/nervous_system/root/src/lib.rs
  rs/nervous_system/root/src/load_canister_snapshot.rs
  rs/nervous_system/root/src/private.rs
  rs/nervous_system/root/src/take_canister_snapshot.rs
  rs/nns/handlers/root/impl/canister/canister.rs
  rs/nns/handlers/root/impl/src/canister_management.rs
  rs/nns/handlers/root/impl/src/root_proposals.rs
  rs/nns/handlers/root/interface/BUILD.bazel
  rs/nns/handlers/root/interface/Cargo.toml
  rs/nns/handlers/root/interface/src/lib.rs
  rs/sns/root/canister/canister.rs
Due: bazel_buildifier, bazel_rust_format

chore: dfinity/defi-team -> dfinity/defi
  .github/CODEOWNERS
Due: none

Notes added by 'git notes add'
  6f/cceefcda7fd519adf0a9f2d60851a9ba7a39cb
Due: none

charge minimal instructions and test
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/memory_tracker/src/deterministic.rs
  rs/memory_tracker/src/lib.rs
  rs/memory_tracker/src/prefetching.rs
  rs/memory_tracker/src/tests.rs
Due: bazel_rust_format

chore(ICRC_Rosetta): Refactor ICRC Rosetta storage operations unit tests (#8377)
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/rosetta-api/icrc1/src/common/storage/storage_operations/mod.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_operations/tests.rs
Due: bazel_buildifier, bazel_rust_format

chore: dfinity/defi-team -> dfinity/defi (#8440)
  .github/CODEOWNERS
Due: none

Notes added by 'git notes add'
  ea/6549b459eb1f36177a635c95d0ae5d582ce09e
Due: none

Notes added by 'git notes add'
  6c/8b66215c3cf932c10d29a3033ce3be4d7ecfcb
Due: none

Automatically updated Cargo*.lock
  Cargo.Bazel.json.lock
Due: none

Increase MAX_DAPP_CANISTER_COUNT to 100.
  rs/sns/init/src/lib.rs
Due: bazel_rust_format

chore: move two system tests to cross-chain subdir (#8426)
  Cargo.lock
  PULL_REQUEST_BAZEL_TARGETS
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/ckbtc/Cargo.toml
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/cross_chain/Cargo.toml
  rs/tests/cross_chain/adapter_basics_test.rs
  rs/tests/cross_chain/btc_get_balance_test.rs
  rs/tests/cross_chain/btc_integration/bitcoin.conf
  rs/tests/cross_chain/btc_integration/btc_activate.sh
  rs/tests/execution/BUILD.bazel
  rs/tests/execution/Cargo.toml
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

syntax
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

feat(ICRC-Rosetta): DEFI-1853: add ICRC-107 fee collector block handling (#7697)
  rs/ledger_suite/icrc1/test_utils/src/lib.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_client.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_operations/mod.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_operations/tests.rs
  rs/rosetta-api/icrc1/src/common/storage/types.rs
  rs/rosetta-api/icrc1/src/common/types.rs
  rs/rosetta-api/icrc1/src/common/utils/utils.rs
  rs/rosetta-api/icrc1/src/construction_api/utils.rs
  rs/rosetta-api/icrc1/src/data_api/services.rs
  rs/rosetta-api/icrc1/tests/system_tests.rs
Due: bazel_rust_format
