Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fix
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

fix
  Cargo.lock
  Cargo.toml
Due: none

deps
  Cargo.lock
  packages/pocket-ic/Cargo.toml
Due: none

Automatically fixing code for linting and formatting issues
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

opt z for universal canister
  rs/universal_canister/impl/BUILD.bazel
Due: bazel_buildifier

fmt
  rs/universal_canister/impl/BUILD.bazel
Due: bazel_buildifier

typo
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

[create-pull-request] automated change
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

fix: update execution error doc links to new docs URL
  rs/types/wasm_types/src/errors.rs
Due: bazel_rust_format

fix: update resource-limits doc link to new docs URL
  rs/nervous_system/instruction_stats/src/lib.rs
Due: bazel_rust_format

chore: Inline BUILD.bazel dependency vars under core-protocol (#10259)
  rs/pocket_ic_server/BUILD.bazel
  rs/replica/BUILD.bazel
  rs/tests/crypto/BUILD.bazel
  rs/tests/networking/canisters/BUILD.bazel
Due: bazel_buildifier

fix fuzzers
  rs/http_endpoints/fuzz/fuzz_targets/execute_call_service.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  84/28ad3e70e7941341f069f5e2809736129e3e6d
Due: none

fix
  rs/https_outcalls/consensus/src/payload_builder/proptests.rs
Due: bazel_rust_format

chore: Inline BUILD.bazel dependency vars under governance-team (#10257)
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nervous_system/long_message/BUILD.bazel
  rs/nervous_system/neurons_fund/nfplot/BUILD.bazel
  rs/nervous_system/timer_task/BUILD.bazel
  rs/nns/governance/BUILD.bazel
  rs/nns/gtc/BUILD.bazel
  rs/nns/handlers/root/impl/BUILD.bazel
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/sns-wasm/BUILD.bazel
  rs/nns/test_utils/BUILD.bazel
  rs/registry/canister/BUILD.bazel
  rs/registry/nns_data_provider/BUILD.bazel
  rs/sns/governance/BUILD.bazel
  rs/sns/integration_tests/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  98/932e52741fc74ae742c99e0cad74469fb13ef9
Due: none

style(registry): cargo fmt fixes for registry canister
  rs/registry/canister/canister/canister.rs
Due: bazel_rust_format

fix(registry): cargo fmt fixes for registry canister (#10271)
  rs/registry/canister/canister/canister.rs
Due: bazel_rust_format

feat: invalidate certification shares during subnet split instead of ignoring them
  rs/consensus/certification/src/certifier.rs
Due: bazel_rust_format

chore: Remove ExecutionState::canister_root
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/canonical_state/src/traversal.rs
  rs/embedders/fuzz/src/wasm_executor.rs
  rs/embedders/src/wasm_executor.rs
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/benches/management_canister/create_execution_state.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/install.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/upgrade.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/execution_environment/tests/compilation.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/scheduler/round_schedule/tests.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/http_endpoints/public/templates/dashboard.html
  rs/pocket_ic_server/templates/dashboard.html
  rs/replicated_state/src/canister_state/execution_state.rs
  rs/replicated_state/src/canister_state/tests.rs
  rs/state_machine_tests/src/lib.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/checkpoint/tests.rs
  rs/state_manager/src/tree_hash.rs
  rs/state_manager/tests/state_manager.rs
  rs/test_utilities/state/src/lib.rs
Due: bazel_rust_format

feat: trust certification's subnet signature even if during a subnet split
  rs/consensus/certification/src/certifier.rs
Due: bazel_rust_format

feat: remove panic by always retrying to load post-split DKG transcripts
  rs/consensus/dkg/src/dkg_key_manager.rs
Due: bazel_rust_format

style
  rs/consensus/dkg/src/payload_validator.rs
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/catchup_package_maker.rs
Due: bazel_rust_format

feat: do not know if should halt if not given last summary block
  rs/consensus/src/consensus/status.rs
Due: bazel_rust_format

perf: avoid clones
  rs/consensus/src/consensus/catchup_package_maker.rs
  rs/consensus/src/consensus/share_aggregator.rs
Due: bazel_rust_format

test: add unit test for delivering splitting batch
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

test: add unit test for `get_post_split_subnet_assignment`
  rs/consensus/utils/src/subnet_splitting.rs
Due: bazel_rust_format

fix
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

revert unneeded changes
  rs/http_endpoints/fuzz/fuzz_targets/execute_call_service.rs
  rs/rosetta-api/icp/ledger_canister_blocks_synchronizer/src/canister_access.rs
  rs/rosetta-api/icp/tests/system_tests/common/utils.rs
  rs/rosetta-api/icrc1/src/main.rs
  rs/rosetta-api/icrc1/tests/common/local_replica.rs
  rs/tests/boundary_nodes/integration_test_common/src/lib.rs
  rs/tests/boundary_nodes/integration_test_common/src/v2_call_transport.rs
  rs/tests/driver/src/util.rs
  rs/tests/networking/http_endpoints_public_spec_test.rs
Due: bazel_rust_format

.
  Cargo.lock
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/Cargo.toml
  packages/pocket-ic/tests/tests.rs
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/tests/test.rs
  rs/tests/driver/src/util.rs
Due: bazel_buildifier, bazel_rust_format

docs: mention priority of rules
  rs/orchestrator/src/firewall.rs
Due: bazel_rust_format

chore: drop unused deps in nervous system
  rs/nervous_system/governance/BUILD.bazel
  rs/nervous_system/instruction_stats/BUILD.bazel
  rs/nervous_system/instruction_stats_update_attribute/BUILD.bazel
  rs/nervous_system/query_instruction_logger/BUILD.bazel
  rs/nervous_system/temporary/BUILD.bazel
Due: bazel_buildifier

chore: drop unused deps in nervous system (#10273)
  rs/nervous_system/governance/BUILD.bazel
  rs/nervous_system/instruction_stats/BUILD.bazel
  rs/nervous_system/instruction_stats_update_attribute/BUILD.bazel
  rs/nervous_system/query_instruction_logger/BUILD.bazel
  rs/nervous_system/temporary/BUILD.bazel
Due: bazel_buildifier

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
