Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

chore: add candid compatibility test
  Cargo.lock
  rs/boundary_node/salt_sharing/Cargo.toml
  rs/boundary_node/salt_sharing/canister/canister.rs
Due: bazel_rust_format

refactor(nns): Follow up items from PR 2880. (#3751)
  rs/nervous_system/common/src/tests.rs
  rs/nns/integration_tests/test_canisters/governance_mem_test_canister.rs
Due: bazel_rust_format

Add a SpecificSubnets variant to BestEffortResponsesFeature, to enable rolling out to specific subnets only.
  rs/config/src/embedders.rs
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/src/wasmtime_embedder/system_api.rs
  rs/execution_environment/src/execution/response/tests.rs
  rs/execution_environment/tests/dts.rs
  rs/messaging/src/message_routing.rs
  rs/messaging/src/routing/stream_builder.rs
  rs/messaging/src/routing/stream_builder/tests.rs
  rs/system_api/src/lib.rs
  rs/system_api/tests/system_api.rs
Due: bazel_rust_format

CRP-2692: Bazel formatting
  packages/ic-ed25519/BUILD.bazel
  rs/rosetta-api/common/rosetta_core/BUILD.bazel
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/client/BUILD.bazel
  rs/rosetta-api/icrc1/client/BUILD.bazel
Due: bazel_buildifier

log
  rs/bitcoin/adapter/bitcoin_adapter.log
Due: none

Notes added by 'git notes add'
  f6/d7d681e0caddd665911fc40bdc41aafec35074
Due: none

Word smithing and sync comments with code about how long it takes to do a full follow pruning pass, and how fast it burns instructions.
  rs/nns/governance/canister/canister.rs
Due: bazel_rust_format

comment #1
  Cargo.lock
  rs/bitcoin/adapter/BUILD.bazel
  rs/bitcoin/adapter/Cargo.toml
  rs/bitcoin/adapter/src/get_successors_handler.rs
Due: bazel_buildifier, bazel_rust_format

Moved a comment.
  rs/nns/governance/src/neuron_store/metrics.rs
Due: bazel_rust_format

chore: add bazelification
  Cargo.lock
  rs/boundary_node/salt_sharing/BUILD.bazel
  rs/boundary_node/salt_sharing/Cargo.toml
  rs/boundary_node/salt_sharing/api/BUILD.bazel
  rs/boundary_node/salt_sharing/api/Cargo.toml
  rs/boundary_node/salt_sharing/canister/canister.rs
  rs/boundary_node/salt_sharing/canister/helpers.rs
Due: bazel_buildifier, bazel_rust_format

fix: bazel fmt
  rs/boundary_node/salt_sharing/api/BUILD.bazel
Due: bazel_buildifier

Use < instead of checked_sub to detect when right operator is greater than left.
  rs/nns/governance/src/neuron_store/metrics.rs
Due: bazel_rust_format

fix: dfx name
  rs/boundary_node/salt_sharing/dfx.json
Due: none

Explicit rounding.
  rs/nns/governance/src/neuron/types.rs
Due: bazel_rust_format

prune blocks if response empty
  rs/bitcoin/adapter/src/blockchainstate.rs
  rs/bitcoin/adapter/src/get_successors_handler.rs
Due: bazel_rust_format

chore: [EXC-1880] Test hook behavior across upgrade (#3760)
  rs/execution_environment/src/execution_environment/tests/canister_task.rs
Due: bazel_rust_format

docs(nns): Follow up on PR 2339 (#3771)
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/neuron/types.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  cd/b473bbf9e8b24ba19a114aff59ac176f2419c3
Due: none

add comments
  rs/ledger_suite/common/ledger_canister_core/src/blockchain.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
Due: bazel_rust_format

perf(MR): Look up SubnetIds in a BTreeSet
  rs/replicated_state/src/canister_state/queues.rs
  rs/replicated_state/src/canister_state/queues/tests.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/system_api/src/sandbox_safe_system_state.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  13/4fbac8853d535e8483cbd5323ede4fa3706b92
Due: none

remove comment
  rs/ledger_suite/common/ledger_canister_core/src/blockchain.rs
Due: bazel_rust_format

m
  rs/replicated_state/src/page_map/storage/tests.rs
Due: bazel_rust_format

remove in flight requests if timed out
  rs/bitcoin/adapter/src/blockchainmanager.rs
Due: bazel_rust_format

Deleted set_initial_voting_power_economics, because it was a one time use code, and it has been released already.
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/src/data_migration.rs
  rs/nns/governance/src/data_migration_tests.rs
Due: bazel_rust_format

fix: EXC-1878: Use pages for tracking changes
  rs/memory_tracker/src/lib.rs
Due: bazel_rust_format

comments #2
  rs/bitcoin/adapter/BUILD.bazel
  rs/bitcoin/adapter/Cargo.toml
  rs/bitcoin/adapter/src/get_successors_handler.rs
Due: bazel_buildifier, bazel_rust_format

clippy
  rs/bitcoin/adapter/src/blockchainmanager.rs
Due: bazel_rust_format

stop aggresively retrying (has bug?)
  rs/bitcoin/adapter/src/blockchainmanager.rs
Due: bazel_rust_format

fix tests
  rs/bitcoin/adapter/src/blockchainmanager.rs
  rs/bitcoin/adapter/src/blockchainstate.rs
Due: bazel_rust_format

make all blocks obsolete if the response is empty
  rs/bitcoin/adapter/src/blockchainmanager.rs
  rs/bitcoin/adapter/src/blockchainstate.rs
Due: bazel_rust_format

Rename tests, use mainnet ledger in test_incomplete_migration_from_mainnet
  rs/ledger_suite/icp/ledger/tests/tests.rs
Due: bazel_rust_format

adding structure for init args
  rs/nns/handlers/recovery/impl/canister/canister.rs
  rs/nns/handlers/recovery/impl/canister/tests/initial_args_test.rs
  rs/nns/handlers/recovery/impl/canister/tests/mod.rs
  rs/nns/handlers/recovery/impl/src/node_operator_sync.rs
  rs/nns/handlers/recovery/impl/src/recovery_proposal.rs
  rs/nns/handlers/recovery/interface/src/recovery_init.rs
  rs/nns/handlers/recovery/interface/src/simple_node_operator_record.rs
Due: bazel_rust_format

CRP-2692: Update packages/ic-ed25519/README.md
  packages/ic-ed25519/README.md
Due: none

fix tests
  rs/system_api/tests/system_api.rs
Due: bazel_rust_format

Deleted backfilling voting_power_refreshed_timestamp, because it has already run once, and after that, it has no effect.
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/neuron_store.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
