Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

feat(IDX): modifications for forked prs
  .github/workflows/ci-notify-slack.yml
  .github/workflows/ci-pr-only-team-tags.yml
Due: none

fix(IDX): reformat workflow run comment
  .github/workflows/ci-kickoff-manual.yml
Due: none

.
  rs/replicated_state/src/canister_state/system_state/log_memory_store/header.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/mod.rs
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

fix(IDX): manual kickoff refactors
  .github/workflows/ci-kickoff-manual.yml
Due: none

remove brackets
  .github/workflows/ci-kickoff-manual.yml
Due: none

update changelog
  packages/icrc-ledger-types/CHANGELOG.md
Due: none

test
  .github/workflows/ci-notify-slack.yml
  .github/workflows/ci-pr-only-team-tags.yml
Due: none

Notes added by 'git notes add'
  72/01def44ca07e821c18df1576ccb05463520dc3
Due: none

need to keep these
  .github/workflows/ci-notify-slack.yml
  .github/workflows/ci-pr-only-team-tags.yml
Due: none

specify team
  .github/workflows/ci-pr-only-team-tags.yml
Due: none

Fix bug causing state machine tests to fail on CI due to missing (and unnecessary) CARGO_MANIFEST_DIR environment variable. Clean up the doc comments.
  rs/rust_canisters/canister_test/src/cargo_bin.rs
Due: bazel_rust_format

chore: change base branch
  rs/orchestrator/src/catch_up_package_provider.rs
Due: bazel_rust_format

refactor: use log from StateManager + use bash script instead of LogStream
  Cargo.lock
  rs/tests/consensus/upgrade/BUILD.bazel
  rs/tests/consensus/upgrade/Cargo.toml
  rs/tests/consensus/upgrade/common.rs
  rs/tests/driver/src/util.rs
Due: bazel_buildifier, bazel_rust_format

Support calling ci-pr-only from ci-kickoff-manual
  .github/workflows/ci-kickoff-manual.yml
  .github/workflows/ci-pr-only.yml
Due: none

add repo
  .github/workflows/ci-pr-only-team-tags.yml
Due: none

fix(IDX): reformat workflow run comment (#7719)
  .github/workflows/ci-kickoff-manual.yml
Due: none

try
  .github/workflows/ci-pr-only.yml
Due: none

use pull_request_target
  .github/workflows/ci-notify-slack.yml
  .github/workflows/ci-pr-only-team-tags.yml
Due: none

Notes added by 'git notes add'
  88/bb9d20566500e3a47fc244bb8b3ba5b6993048
Due: none

Add back newline
  rs/rosetta-api/local/cluster/values.yaml
Due: none

test(crypto): CRP-2950 extend system tests to ensure invalid signatures fail (#7611)
  rs/tests/crypto/request_signature_test.rs
Due: bazel_rust_format

tmp_test_performance
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

fix(IDX): manual kickoff refactors (#7720)
  .github/workflows/ci-kickoff-manual.yml
Due: none

fixing deserialization of enums with a specific implementation
  rs/ic_os/metrics_proxy/src/config.rs
  rs/ic_os/metrics_proxy/src/main.rs
Due: bazel_rust_format

.
  rs/replicated_state/src/canister_state/system_state/log_memory_store/ring_buffer.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a1/58c75664efbcf8893eb531a4c9d08db3577ea3
Due: none

fix
  .github/workflows/ci-pr-only.yml
Due: none

Notes added by 'git notes add'
  32/a1aa36d1892ad62e03695b694174a3c5fec1db
Due: none
