Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Automatically updated Cargo*.lock
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
Due: none

refactor: [CON-1469] Move nns delegation fetching logic from `lib.rs` to `nns_delegation_manager.rs` (#4820)
  rs/http_endpoints/public/src/lib.rs
  rs/http_endpoints/public/src/nns_delegation_manager.rs
Due: bazel_rust_format

Remove unnecessary update-config dependency references
  ic-os/components/early-boot/setup-hostname/guestos/setup-hostname.service
  ic-os/components/ic/ic-btc-adapter/ic-btc-mainnet-adapter.service
  ic-os/components/ic/ic-btc-adapter/ic-btc-testnet-adapter.service
  ic-os/components/ic/ic-https-outcalls-adapter/ic-https-outcalls-adapter.service
  ic-os/components/monitoring/filebeat/filebeat.service
Due: none

Notes added by 'git notes add'
  f2/3d875cdc71d02a28647073243995c42d8a877a
Due: none

fix
  packages/canlog/BUILD.bazel
Due: bazel_buildifier

chore: switch from existence test to actual format (#4914)
  ic-os/dev-tools/bare_metal_deployment/deploy.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  b4/941ac2accc302ee9b96834e80d2faf385502a0
Due: none

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

XC-284: buildifier
  packages/canlog/BUILD.bazel
  packages/canlog_derive/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  55/fc36e3fb4c6eeb39b9a59e1655b61465fb5a5c
Due: none

add missing deps
  packages/canlog/BUILD.bazel
Due: bazel_buildifier

chore: use --execution_log_compact_file to prevent OOM
  .github/actions/bazel/action.yaml
  .github/actions/bazel/bin/bazel
  bazel/BUILD.bazel
  bazel/execution_log_compact_to_csv.py
  bazel/spawn.proto
Due: bazel_buildifier, bazel_ruff_format, bazel_protobuf_format

chore: drop reduce_state_machine_logging_unless_env_set (#4907)
  rs/nns/sns-wasm/tests/add_wasm.rs
  rs/nns/sns-wasm/tests/common/mod.rs
  rs/nns/sns-wasm/tests/deploy_new_sns.rs
  rs/nns/sns-wasm/tests/get_deployed_sns_by_proposal_id.rs
  rs/nns/sns-wasm/tests/update_sns_subnet_list.rs
  rs/nns/sns-wasm/tests/upgrade_sns_instance.rs
  rs/nns/test_utils/src/state_test_helpers.rs
  rs/sns/integration_tests/src/sns_treasury.rs
Due: bazel_rust_format

feat: deleted call contexts do not prevent canister from stopping
  Cargo.lock
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/Cargo.toml
  packages/pocket-ic/tests/tests.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/execution_environment/tests/execution_test.rs
  rs/messaging/src/routing/stream_handler/tests.rs
  rs/protobuf/def/state/canister_state_bits/v1/canister_state_bits.proto
  rs/protobuf/src/gen/state/state.canister_state_bits.v1.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/replicated_state/src/canister_state/system_state/call_context_manager.rs
  rs/replicated_state/src/canister_state/tests.rs
  rs/state_layout/src/state_layout/tests.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  29/c3c34b24205a6937ede1d05af24d6b272fc517
Due: none

Cleanup tmpfs stuff
  bazel/conf/.bazelrc.build
  toolchains/sysimage/build_container_base_image.py
  toolchains/sysimage/build_container_filesystem_tar.py
  toolchains/sysimage/build_disk_image.py
  toolchains/sysimage/build_ext4_image.py
  toolchains/sysimage/build_fat32_image.py
  toolchains/sysimage/build_lvm_image.py
  toolchains/sysimage/build_upgrade_image.py
  toolchains/sysimage/build_vfat_image.py
  toolchains/sysimage/container_utils.py
  toolchains/sysimage/proc_wrapper.sh
  toolchains/sysimage/toolchain.bzl
  toolchains/sysimage/verity_sign.py
Due: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format

Move test tmpdir
  ic-os/components/conformance_tests/check_file_references.py
Due: bazel_ruff_format

Remove inject-files
  toolchains/sysimage/BUILD.bazel
  toolchains/sysimage/toolchain.bzl
Due: bazel_buildifier

test with transferred cycles
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

.
  rs/rust_canisters/call_tree_test/Cargo.toml
Due: none

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Create temporary tmpfs shim for CI
  toolchains/sysimage/build_container_base_image.py
  toolchains/sysimage/build_container_filesystem_tar.py
Due: bazel_ruff_format

chore(nns): Remove migration test
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/integration_tests/src/lib.rs
  rs/nns/integration_tests/src/node_provider_remuneration_migration.rs
Due: bazel_buildifier, bazel_rust_format

docs
  bazel/execution_log_compact_to_csv.py
Due: bazel_ruff_format

layout
  bazel/execution_log_compact_to_csv.py
Due: bazel_ruff_format

little touch
  bazel/execution_log_compact_to_csv.py
Due: bazel_ruff_format

.
  bazel/execution_log_compact_to_csv.py
Due: bazel_ruff_format

inline
  bazel/execution_log_compact_to_csv.py
Due: bazel_ruff_format
