Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

.
  rs/p2p/consensus_manager/src/lib.rs
  rs/p2p/consensus_manager/tests/test.rs
  rs/p2p/test_utils/src/lib.rs
  rs/p2p/test_utils/src/turmoil.rs
Due: bazel_rust_format

feat: Allow accepting and burning cycles in replicated queries (#363)
  hs/spec_compliance/src/IC/Test/Spec/CanisterVersion.hs
  rs/canister_sandbox/src/protocol/ctlsvc.rs
  rs/canister_sandbox/src/protocol/structs.rs
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/canister_sandbox/src/sandbox_manager.rs
  rs/canister_sandbox/src/sandbox_server.rs
  rs/embedders/src/wasm_executor.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/replicated_query.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution/update.rs
  rs/execution_environment/src/execution/upgrade.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/sandbox_safe_system_state.rs
  rs/system_api/tests/common/mod.rs
  rs/system_api/tests/system_api.rs
Due: bazel_ormolu_format, bazel_rust_format

chore: group together the abortable channels and move the consensus event loops at the end (#3518)
  rs/replica/setup_ic_network/src/lib.rs
Due: bazel_rust_format

test
  ic-os/guestos/context/Dockerfile
  ic-os/hostos/context/Dockerfile
  rs/tests/driver/src/driver/test_env_api.rs
Due: bazel_rust_format

.
  rs/p2p/artifact_downloader/src/fetch_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_artifact/metrics.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/metrics.rs
Due: bazel_rust_format

.
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  17/8aceab8793f1aedff9ade639a97e4b3b273669
Due: none

fix(EXC-1843): Make reservation test robust to costs (#3539)
  Cargo.lock
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/Cargo.toml
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  00/f10afcfa8c2cdc2aa26c660c4eabf7dfcc54cf
Due: none

chore(system-tests-k8s): console logs
  rs/tests/driver/src/k8s/virtualmachine.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  7f/9687b7a1d3cd9e045d902c76d455cabf847f9f
Due: none

continue fix
  rs/bitcoin/adapter/src/blockchainmanager.rs
Due: bazel_rust_format

replace trace
  rs/bitcoin/adapter/src/blockchainmanager.rs
Due: bazel_rust_format

trace -> info
  rs/bitcoin/adapter/src/blockchainmanager.rs
Due: bazel_rust_format

comment
  ic-os/defs.bzl
Due: bazel_buildifier

review
  .github/CODEOWNERS
  rs/interfaces/src/consensus.rs
  rs/interfaces/src/lib.rs
  rs/interfaces/src/vetkd.rs
  rs/types/types/src/batch.rs
  rs/types/types/src/batch/vetkd.rs
Due: bazel_rust_format

fix(consensus): fix the `hashes-in-blocks` feature implementation (#3529)
  Cargo.lock
  rs/p2p/artifact_downloader/BUILD.bazel
  rs/p2p/artifact_downloader/Cargo.toml
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/assembler.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/metrics.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/stripper.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/test_utils.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/rpc.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/stripped.rs
  rs/protobuf/def/types/v1/consensus.proto
  rs/protobuf/src/gen/types/types.v1.rs
  rs/types/types/src/batch/ingress.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

refactor: Rename SystemStateChanges to SystemStateModifications for consistency
  rs/canister_sandbox/src/protocol/ctlsvc.rs
  rs/canister_sandbox/src/protocol/structs.rs
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/canister_sandbox/src/sandbox_manager.rs
  rs/embedders/src/wasm_executor.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution/update.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/sandbox_safe_system_state.rs
  rs/system_api/tests/sandbox_safe_system_state.rs
  rs/system_api/tests/system_api.rs
Due: bazel_rust_format

feat: Implement DTS for replicated queries
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/replicated_query.rs
  rs/execution_environment/src/execution/update.rs
  rs/execution_environment/src/execution/update/tests.rs
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

refactor: Unify update and replicated query execution algorithms
  rs/execution_environment/src/execution.rs
  rs/execution_environment/src/execution/call_or_task.rs
  rs/execution_environment/src/execution/call_or_task/tests.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/update.rs
  rs/execution_environment/src/execution_environment.rs
  rs/replicated_state/src/canister_state/system_state/call_context_manager.rs
  rs/types/types/src/messages.rs
Due: bazel_rust_format

buildifier
  rs/nns/governance/BUILD.bazel
Due: bazel_buildifier

lint
  rs/rosetta-api/icp/tests/system_tests/common/utils.rs
Due: bazel_rust_format

Comment to make sure nobody sets the visibility of governance.proto to public, even though that is what most people in the world would want.
  rs/nns/governance/BUILD.bazel
Due: bazel_buildifier

lint
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_rust_format

Cargo.lock
  Cargo.lock
Due: none

Test validate is called
  rs/state_manager/src/tip.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  6d/3c4888925ac31e3ed24a7adf8d3a0e81a4443c
Due: none

canbench tests failed because they are too sensitive.
  rs/nns/governance/canbench/canbench_results.yml
Due: none

.
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/external_crates.bzl
  rs/rust_canisters/random_traffic_test/BUILD.bazel
  rs/rust_canisters/random_traffic_test/Cargo.toml
Due: bazel_buildifier

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

refactor: Rename SystemStateChanges to SystemStateModifications for consistency (#3555)
  rs/canister_sandbox/src/protocol/ctlsvc.rs
  rs/canister_sandbox/src/protocol/structs.rs
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/canister_sandbox/src/sandbox_manager.rs
  rs/embedders/src/wasm_executor.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution/update.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/sandbox_safe_system_state.rs
  rs/system_api/tests/sandbox_safe_system_state.rs
  rs/system_api/tests/system_api.rs
Due: bazel_rust_format

.
  rs/replica/setup_ic_network/src/lib.rs
  rs/replica/src/setup_ic_stack.rs
Due: bazel_rust_format

.
  rs/replica/setup_ic_network/src/lib.rs
Due: bazel_rust_format

chore: upgrade rules_rust from 0.56.0 to 0.57.0
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.json.lock
  WORKSPACE.bazel
Due: bazel_buildifier

Deconstruct ReplicatedState
  rs/replicated_state/src/replicated_state.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
