Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  9f/c5ab4e9e51ac94615fdc61da85d01647a4b34a
Due: none

refactor(nns): Improve range neurons performance for stable store (#2033)
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/neuron_store/benches.rs
  rs/nns/governance/src/storage/neurons.rs
  rs/nns/governance/src/storage/neurons/neurons_tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  4b/d8e1d8430ee17c7e3be47732d1786074ecb592
Due: none

second
  rs/sns/integration_tests/BUILD.bazel
  rs/sns/integration_tests/src/golden_state_swap_upgrade_twice.rs
  rs/sns/integration_tests/src/lib.rs
  rs/sns/swap/canister/canister.rs
  rs/sns/swap/src/swap.rs
Due: bazel_buildifier, bazel_rust_format

third
  mainnet-canisters.json
  rs/sns/integration_tests/src/lib.rs
Due: bazel_rust_format

Fixup bare metal tests
  ic-os/dev-tools/bare_metal_deployment/BUILD.bazel
  ic-os/dev-tools/bare_metal_deployment/tools.bzl
  ic-os/setupos/envs/dev/BUILD.bazel
Due: bazel_buildifier

Now using feature flag to determine neuron location
  rs/nns/governance/src/neuron_store.rs
Due: bazel_rust_format

WIP, something broken
  rs/nns/governance/src/neuron_store.rs
  rs/nns/governance/src/neuron_store/benches.rs
  rs/nns/governance/src/neuron_store/metrics.rs
Due: bazel_rust_format

Canbench for two approaches to metrics...
  rs/nervous_system/temporary/src/lib.rs
  rs/nns/governance/src/neuron_store.rs
  rs/nns/governance/src/neuron_store/benches.rs
  rs/nns/governance/src/neuron_store/metrics.rs
Due: bazel_rust_format

new benches
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/neuron_store/benches.rs
Due: bazel_rust_format

PR Comments
  bazel/focal.lock.json
  bazel/focal.yaml
  ci/container/Dockerfile
Due: none

Uncomment remaining targets
  ic-os/setupos/envs/dev/BUILD.bazel
  ic-os/setupos/envs/local-base-dev/BUILD.bazel
  ic-os/setupos/envs/local-base-prod/BUILD.bazel
  ic-os/setupos/envs/prod/BUILD.bazel
Due: bazel_buildifier

Re-enable test
  .github/workflows-source/schedule-daily.yml
Due: none

IDX GitHub Automation
  .github/workflows/schedule-daily.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

Updating container image to sha256:5c16cd75d19935924949c1d20d9ac5a9e6bae6120280829e505b56229ae0c0f5
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  ci/container/TAG
Due: none

Add "target version" concept to SNS
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
  rs/sns/governance/canister/canister.rs
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/request_impls.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

add downgrade from incompatible version check
  rs/ledger_suite/icp/ledger/tests/tests.rs
Due: bazel_rust_format

chore: introduce a hashes-in-blocks feature flag (#2058)
  rs/replica/setup_ic_network/src/lib.rs
Due: bazel_rust_format

Revert "fix: always fallback to default values instead of panicing (#1872)"
  Cargo.lock
  rs/boundary_node/ic_boundary/BUILD.bazel
  rs/boundary_node/ic_boundary/Cargo.toml
  rs/boundary_node/ic_boundary/src/test_utils.rs
  rs/consensus/BUILD.bazel
  rs/consensus/Cargo.toml
  rs/consensus/src/consensus.rs
  rs/consensus/src/consensus/block_maker.rs
  rs/consensus/src/consensus/purger.rs
  rs/consensus/src/consensus/validator.rs
  rs/consensus/tests/payload.rs
  rs/consensus/utils/src/lib.rs
  rs/crypto/temp_crypto/BUILD.bazel
  rs/crypto/temp_crypto/Cargo.toml
  rs/crypto/temp_crypto/src/lib.rs
  rs/limits/src/lib.rs
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/integration_tests/Cargo.toml
  rs/nns/integration_tests/src/subnet_handler.rs
  rs/prep/src/subnet_configuration.rs
  rs/registry/helpers/BUILD.bazel
  rs/registry/helpers/Cargo.toml
  rs/registry/helpers/src/subnet.rs
  rs/test_utilities/artifact_pool/src/consensus_pool.rs
  rs/test_utilities/registry/BUILD.bazel
  rs/test_utilities/registry/Cargo.toml
  rs/test_utilities/registry/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

.
  rs/boundary_node/ic_boundary/BUILD.bazel
  rs/boundary_node/ic_boundary/Cargo.toml
  rs/boundary_node/ic_boundary/src/test_utils.rs
  rs/crypto/temp_crypto/BUILD.bazel
  rs/crypto/temp_crypto/Cargo.toml
  rs/crypto/temp_crypto/src/lib.rs
  rs/limits/src/lib.rs
  rs/nns/integration_tests/BUILD.bazel
  rs/nns/integration_tests/Cargo.toml
  rs/nns/integration_tests/src/subnet_handler.rs
  rs/prep/src/subnet_configuration.rs
  rs/test_utilities/registry/BUILD.bazel
  rs/test_utilities/registry/Cargo.toml
  rs/test_utilities/registry/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Install vector at hostos and guestos images
  ic-os/guestos/context/Dockerfile
  ic-os/guestos/context/Dockerfile.base
  ic-os/guestos/context/packages.common
  ic-os/guestos/docs/Boot.adoc
  ic-os/guestos/docs/ConfigStore.adoc
  ic-os/guestos/docs/SELinux-Policy.adoc
  ic-os/hostos/context/Dockerfile
  ic-os/hostos/context/Dockerfile.base
  ic-os/hostos/context/packages.common
Due: none

Add push-metrics grant docs
  ic-os/docs/icp-metrics.md
  ic-os/docs/media/ICP_metrics_initial_architecture.jpg
  ic-os/docs/media/ICP_metrics_new_architecture_mtls.jpg
  ic-os/docs/media/ICP_metrics_new_architecture_v2.jpg
Due: none

Configure vector with hardened service
  ic-os/components/guestos.bzl
  ic-os/components/hostos-scripts/build-bootstrap-config-image.sh
  ic-os/components/hostos.bzl
  ic-os/components/init/bootstrap-ic-node/guestos/bootstrap-ic-node.sh
  ic-os/components/misc/guestos/ic-node.conf
  ic-os/components/misc/hostos/ic-node.conf
  ic-os/components/monitoring/vector/guestos/README.adoc
  ic-os/components/monitoring/vector/guestos/generate-vector-config.sh
  ic-os/components/monitoring/vector/guestos/vector.yaml.template
  ic-os/components/monitoring/vector/hostos/README.adoc
  ic-os/components/monitoring/vector/hostos/generate-vector-config.sh
  ic-os/components/monitoring/vector/hostos/vector.yaml.template
  ic-os/components/monitoring/vector/setup-vector-permissions.sh
  ic-os/components/monitoring/vector/vector.service
  ic-os/docs/Services.adoc
Due: bazel_buildifier, bazel_shfmt_format

.
  rs/replica_tests/tests/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  0d/e811a69dcf9f3d68e579b65af8f5ef4818dc25
Due: none

rename
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/finalizer.rs
  rs/consensus/src/dkg.rs
  rs/consensus/src/dkg/payload_builder.rs
  rs/protobuf/def/types/v1/dkg.proto
  rs/protobuf/src/gen/types/types.v1.rs
  rs/types/types/src/consensus/dkg.rs
Due: bazel_protobuf_format, bazel_rust_format

chore(IDX): updare python for dependency-scan nightly
  .github/workflows-source/schedule-daily.yml
Due: none

add for release
  .github/workflows-source/release-testing.yml
Due: none

IDX GitHub Automation
  .github/workflows/release-testing.yml
Due: none

.
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/bitcoin/ckbtc/minter/Cargo.toml
Due: bazel_buildifier

mv rpc_csp_vault_reconnection_test
  Cargo.lock
  Cargo.toml
  rs/tests/Cargo.toml
  rs/tests/crypto/Cargo.toml
  rs/tests/crypto/rpc_csp_vault_reconnection_test.rs
  rs/tests/src/crypto/mod.rs
  rs/tests/src/crypto/rpc_csp_vault_reconnection_test.rs
Due: bazel_rust_format

XC-214: add git repository url
  rs/cross-chain/proposal-cli/src/canister/mod.rs
  rs/cross-chain/proposal-cli/src/git/mod.rs
  rs/cross-chain/proposal-cli/src/main.rs
Due: bazel_rust_format

chore(IDX): upgrade python for dependency-scan jobs (#2072)
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/release-testing.yml
  .github/workflows/schedule-daily.yml
Due: none

fixed flaky tests
  rs/rosetta-api/icp/client/src/lib.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
