Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fmt
  rs/types/types/src/crypto/hash/tests.rs
Due: bazel_rust_format

build fix
  rs/ledger_suite/icrc1/index-ng/tests/tests.rs
Due: bazel_rust_format

prng
  rs/crypto/prng/src/lib.rs
Due: bazel_rust_format

clippy
  rs/ledger_suite/icrc1/index-ng/tests/tests.rs
Due: bazel_rust_format

Fix limited-console permissions
  ic-os/components/hostos/misc/sudoers
  ic-os/components/misc/console-getty@/hostos-prod/override.conf
  ic-os/hostos/context/Dockerfile
  rs/ic_os/os_tools/guestos_recovery_tui/src/lib.rs
Due: bazel_rust_format

Fix console logging
  ic-os/components/misc/guestos-recovery/guestos-recovery-upgrader/guestos-recovery-upgrader.sh
  rs/ic_os/os_tools/guestos_recovery_tui/src/lib.rs
Due: bazel_shfmt_format, bazel_rust_format

test approve fees
  rs/ledger_suite/icrc1/index-ng/tests/tests.rs
  rs/ledger_suite/icrc1/test_utils/src/icrc3.rs
Due: bazel_rust_format

small refactor
  rs/ledger_suite/icrc1/index-ng/tests/tests.rs
Due: bazel_rust_format

.
  rs/xnet/payload_builder/src/lib.rs
Due: bazel_rust_format

XC-496: assert on all sent transactions
  rs/dogecoin/ckdoge/minter/tests/tests.rs
  rs/dogecoin/ckdoge/test_utils/src/events.rs
  rs/dogecoin/ckdoge/test_utils/src/flow/withdrawal.rs
  rs/dogecoin/ckdoge/test_utils/src/lib.rs
Due: bazel_rust_format

XC-496: typo
  rs/dogecoin/ckdoge/test_utils/src/events.rs
  rs/dogecoin/ckdoge/test_utils/src/flow/withdrawal.rs
Due: bazel_rust_format

chore: Extend log message for invalid stream slices during block making (#7658)
  rs/xnet/payload_builder/src/lib.rs
Due: bazel_rust_format

XC-496: refactor push utxos to address
  rs/bitcoin/ckbtc/minter/tests/tests.rs
  rs/bitcoin/mock/bitcoin_mock.did
  rs/bitcoin/mock/src/lib.rs
  rs/bitcoin/mock/src/main.rs
  rs/bitcoin/mock/tests/tests.rs
  rs/dogecoin/ckdoge/test_utils/src/dogecoin.rs
Due: bazel_rust_format

XC-496: comment should_resubmit_transaction_when_many_utxos
  rs/dogecoin/ckdoge/minter/tests/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ee/64a50f26f27c0e47283732b2f95556c1df97e2
Due: none

fix(ckdoge): finalization of transactions sent by the minter (#7589)
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/tasks.rs
  rs/bitcoin/ckbtc/minter/src/test_fixtures.rs
  rs/bitcoin/ckbtc/minter/src/updates/retrieve_btc.rs
  rs/bitcoin/ckbtc/minter/tests/replay_events.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
  rs/bitcoin/mock/bitcoin_mock.did
  rs/bitcoin/mock/src/lib.rs
  rs/bitcoin/mock/src/main.rs
  rs/bitcoin/mock/tests/tests.rs
  rs/dogecoin/ckdoge/minter/src/lib.rs
  rs/dogecoin/ckdoge/minter/src/main.rs
  rs/dogecoin/ckdoge/minter/tests/tests.rs
  rs/dogecoin/ckdoge/test_utils/src/dogecoin.rs
  rs/dogecoin/ckdoge/test_utils/src/events.rs
  rs/dogecoin/ckdoge/test_utils/src/flow/deposit.rs
  rs/dogecoin/ckdoge/test_utils/src/flow/withdrawal.rs
  rs/dogecoin/ckdoge/test_utils/src/ledger.rs
  rs/dogecoin/ckdoge/test_utils/src/lib.rs
  rs/dogecoin/ckdoge/test_utils/src/minter.rs
Due: bazel_rust_format

Also take into account stream limits when routing refunds. Switch to a proptest with potentially pre-populated streams.
  rs/messaging/BUILD.bazel
  rs/messaging/src/routing/stream_builder.rs
  rs/messaging/src/routing/stream_builder/tests.rs
  rs/replicated_state/src/metadata_state.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  d5/5e60b3478fc74492ccdf4e76790ba3bfaf11ba
Due: none

perf: rsync_includes in one rsync instantiation
  rs/recovery/src/file_sync_helper.rs
Due: bazel_rust_format

style
  rs/recovery/src/file_sync_helper.rs
Due: bazel_rust_format

chore: bump rules_rust to 0.67.0
  WORKSPACE.bazel
Due: bazel_buildifier

hardcode strip level
  MODULE.bazel
  bazel/rules_rust_strip_level.patch
Due: bazel_buildifier

DEFI-2458: store last_median_fee_per_vbyte
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/main.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
Due: bazel_rust_format

DEFI-2458: fee estimator
  rs/bitcoin/ckbtc/minter/src/fees/mod.rs
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
Due: bazel_rust_format

DEFI-2458: instantiate FeeEstimator from CanisterRuntime
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/test_fixtures.rs
  rs/bitcoin/ckbtc/minter/tests/replay_events.rs
  rs/dogecoin/ckdoge/minter/src/fees/mod.rs
  rs/dogecoin/ckdoge/minter/src/lib.rs
Due: bazel_rust_format

DEFI-2458: copied Bitcoin implementation for DogecoinFeeEstimator
  rs/dogecoin/ckdoge/minter/src/fees/mod.rs
Due: bazel_rust_format

Rename tests to drop the now inaccurate _impl from build_streams_impl. Make the proptest ranges inclusive, which was the intent all along.
  rs/messaging/src/routing/stream_builder/tests.rs
Due: bazel_rust_format

test: Extend bare metal deployment
  ic-os/testing/BUILD.bazel
  ic-os/testing/reload_hostos.sh
  rs/ic_os/dev_test_tools/bare_metal_deployment/BUILD.bazel
  rs/ic_os/dev_test_tools/bare_metal_deployment/Cargo.toml
  rs/ic_os/dev_test_tools/bare_metal_deployment/src/deploy.rs
  rs/ic_os/dev_test_tools/bare_metal_deployment/src/lib.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Address review comments: document the handle_call() update method.
  rs/rust_canisters/messaging_test/src/main.rs
Due: bazel_rust_format

add module for broadcom megaraid controller
  ic-os/components/early-boot/initramfs-tools/hostos/modules
Due: none

chore(tests): Clean up SNS Token Swap setup since it's no longer possible (#7641)
  rs/tests/driver/src/sns_client.rs
  rs/tests/nns/sns/aggregation_canister_test.rs
  rs/tests/nns/sns/launchpad_aggregator_load_test.rs
  rs/tests/nns/sns/launchpad_direct_auth_load_test.rs
  rs/tests/nns/sns/launchpad_direct_load_test.rs
  rs/tests/nns/sns/lib/src/sns_deployment.rs
  rs/tests/nns/sns/payment_flow_load_test.rs
  rs/tests/nns/sns/sns_sale_load_test_1.rs
  rs/tests/nns/sns/sns_sale_load_test_2.rs
  rs/tests/nns/sns/sns_sale_load_test_3.rs
Due: bazel_rust_format

chore(crypto): CRP-1945 Make use of key encoding traits added in k256 0.12
  packages/ic-secp256k1/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  97/868dadd0e42b783a1a25e7a5af058c2649bdea
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
