Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

fixing typos
  ci/src/revisions/mainnet_revisions.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  73/7666659cc060f468ed3f04a699487270a48fb0
Due: none

chore(IDX): update bot approved files (#3199)
  .github/repo_policies/BOT_APPROVED_FILES
Due: none

chore(CI): intel macos label (#3202)
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

Notes added by 'git notes add'
  56/c153d87458405e4afff655d84d31aab1492a0e
Due: none

Notes added by 'git notes add'
  fc/cac74a2d885cfe904b7dae8f1c90b4dce99459
Due: none

chore: Update Mainnet IC revisions file (#3083)
  testnet/mainnet_revisions.json
Due: none

Update rs/consensus/src/consensus/bounds.rs
  rs/consensus/src/consensus/bounds.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ee/970f01b5ee421507b1057e16be611aa77da820
Due: none

.
  rs/replicated_state/src/canister_state/tests.rs
  rs/replicated_state/tests/replicated_state.rs
Due: bazel_rust_format

.
  rs/messaging/src/routing/stream_handler.rs
Due: bazel_rust_format

chore: Update Mainnet IC revisions file
  testnet/mainnet_revisions.json
Due: none

Notes added by 'git notes add'
  f0/f9320e2a14cb3b6f69d4998b3a7bb6ef9cafb1
Due: none

more changes
  Cargo.lock
  rs/bitcoin/adapter/src/transaction_store.rs
  rs/bitcoin/validation/src/header.rs
  rs/tests/ckbtc/Cargo.toml
  rs/tests/ckbtc/ckbtc_minter_batching.rs
  rs/tests/ckbtc/ckbtc_minter_checker.rs
  rs/tests/ckbtc/ckbtc_minter_deposit_and_withdrawal.rs
  rs/tests/ckbtc/ckbtc_minter_retrieve_btc.rs
  rs/tests/ckbtc/ckbtc_minter_update_balance.rs
  rs/tests/ckbtc/src/utils.rs
  rs/tests/execution/btc_get_balance_test.rs
Due: bazel_rust_format

lock
  Cargo.Bazel.json.lock
Due: none

Update mainnet-canisters.json
  mainnet-canisters.json
Due: none

test(nns): Fix flakiness in two nns integration tests (#3184)
  rs/nns/integration_tests/src/node_assignment.rs
  rs/nns/integration_tests/src/node_operator_handler.rs
Due: bazel_rust_format

Fix comments to match code
  rs/nervous_system/long_message/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  9e/f17e4a10691a0bc0b4ec93a12b2714148dc5c3
Due: none

Add bitcoin_get_block_headers (#537)
  bitcoin/mod.rs
  bitcoin/types.rs
Due: bazel_rust_format

chore(nervous-system): Fix comments to match code (#3206)
  rs/nervous_system/long_message/src/lib.rs
Due: bazel_rust_format

.
  rs/consensus/src/consensus/bounds.rs
Due: bazel_rust_format

Revert local-base-dev changes
  ic-os/hostos/envs/local-base-dev/BUILD.bazel
  ic-os/setupos/envs/local-base-dev/BUILD.bazel
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  e6/c5e5fb7a7d4338cc7700d7e1dd4c1ba7ac72a6
Due: none

Rename 99-setup-netplan.yaml.template
  ic-os/components/hostos.bzl
  ic-os/components/networking/setup-networking/99-setup-netplan.yaml.template
  ic-os/components/networking/setup-networking/setup-networking.sh
  ic-os/components/setupos.bzl
Due: bazel_buildifier, bazel_shfmt_format

.
  rs/recovery/src/file_sync_helper.rs
Due: bazel_rust_format

fix(consensus): Temporarily increase CUP bounds to reduce noisy alert (#3190)
  rs/consensus/src/consensus/bounds.rs
Due: bazel_rust_format

Minor refactoring
  ic-os/components/networking/setup-networking/setup-networking.sh
Due: bazel_shfmt_format

Properly quote variables
  ic-os/components/networking/setup-networking/setup-networking.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  da/448e8ca15be589e11a4baa693b3557126fae07
Due: none

clippy
  ic-os/components/ic/ic-btc-adapter/generate-btc-adapter-config.sh
  rs/bitcoin/mock/tests/tests.rs
  rs/bitcoin/validation/src/header.rs
  rs/tests/ckbtc/ckbtc_minter_batching.rs
  rs/tests/ckbtc/ckbtc_minter_checker.rs
  rs/tests/ckbtc/ckbtc_minter_deposit_and_withdrawal.rs
  rs/tests/ckbtc/ckbtc_minter_retrieve_btc.rs
  rs/tests/ckbtc/ckbtc_minter_update_balance.rs
  rs/tests/execution/btc_get_balance_test.rs
Due: bazel_shfmt_format, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
