Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  34/e135e25bab2bb98e18d648fbd990efcf1ec9fc
Due: none

break if iterate over another owner
  rs/ledger_suite/icrc1/ledger/src/lib.rs
Due: bazel_rust_format

.
  rs/embedders/src/wasmtime_embedder/system_api.rs
Due: bazel_rust_format

test_logging_instruction_limit_exceeded_in_heartbeat
  rs/execution_environment/tests/canister_logging.rs
Due: bazel_rust_format

Address review comments
  rs/ethereum/ledger-suite-orchestrator/src/scheduler/mod.rs
  rs/ethereum/ledger-suite-orchestrator/tests/tests.rs
Due: bazel_rust_format

refactor: Move unflushed_changes out of snapshots
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/scheduler.rs
  rs/replicated_state/src/canister_snapshots.rs
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/replicated_state.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/split/tests.rs
  rs/state_manager/src/tip.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

fix: update parsing of power measurements via IPMI tool (#4833)
  ic-os/components/hostos-scripts/monitoring/monitor-power.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  e2/00f99b40812f8889575157a97a1e709f054437
Due: none

chore(node): unify downloading logic (#4847)
  Cargo.lock
  rs/ic_os/vsock/vsock_lib/BUILD.bazel
  rs/ic_os/vsock/vsock_lib/Cargo.toml
  rs/ic_os/vsock/vsock_lib/src/host/agent.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  53/1ae246986eb180443281dfae5c897bd9a1fe74
Due: none

Notes added by 'git notes add'
  93/18e468da748012c3b14c8940bd62c9e50c0db9
Due: none

daily schedule
  .github/workflows/pocket-ic-tests-windows.yml
Due: none

Finish porting tests, along with needed helpers
  Cargo.lock
  rs/nervous_system/canisters/src/registry.rs
  rs/node_rewards/canister/BUILD.bazel
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/canister/mod.rs
  rs/node_rewards/canister/src/canister/test/get_node_providers_monthly_xdr_rewards.rs
  rs/node_rewards/canister/src/canister/test/mod.rs
  rs/node_rewards/canister/src/lib.rs
  rs/node_rewards/canister/src/test.rs
Due: bazel_buildifier, bazel_rust_format

fix typo
  rs/nervous_system/canisters/src/registry.rs
Due: bazel_rust_format

Create main.yml
  .github/workflows/main.yml
Due: none

WIP
  rs/ic_os/config_types/compatibility_tests/BUILD.bazel
  rs/ic_os/config_types/compatibility_tests/Cargo.toml
  rs/ic_os/config_types/compatibility_tests/README.md
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.1.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.1.0.json
  rs/ic_os/config_types/compatibility_tests/src/bin/generate_config_fixture.rs
  rs/ic_os/config_types/compatibility_tests/src/fixture.rs
  rs/ic_os/config_types/compatibility_tests/src/lib.rs
  rs/ic_os/config_types/compatibility_tests/tests/compatibility_tests.rs
Due: bazel_buildifier, bazel_rust_format

debug
  rs/state_manager/src/lib.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

Put the FakeRegistry (which is only for unit tests outside canisters) behind flag
  rs/nervous_system/canisters/src/registry.rs
  rs/node_rewards/canister/src/canister/test/get_node_providers_monthly_xdr_rewards.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

improve imports
  rs/nervous_system/canisters/src/registry.rs
Due: bazel_rust_format

more output
  rs/state_manager/src/lib.rs
  rs/state_manager/tests/state_manager.rs
Due: bazel_rust_format

debug
  rs/state_manager/src/lib.rs
  rs/types/wasm_types/src/lib.rs
Due: bazel_rust_format

add tickets for todos
  rs/nns/integration_tests/src/node_provider_remuneration.rs
Due: bazel_rust_format

Add safer match, reduce duplication
  rs/nervous_system/canisters/src/registry.rs
Due: bazel_rust_format

the debug_assert_eq read wasm
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

more logs
  rs/types/wasm_types/src/lib.rs
Due: bazel_rust_format

Remove previous stripping
  cpp/BUILD.bazel
  publish/defs.bzl
Due: bazel_buildifier

Improve wording
  rs/registry/canister/src/mutations/subnet.rs
Due: bazel_rust_format

Add shared zig-cache in /tmp/zig-cache
  bazel/conf/.bazelrc.build
  ci/container/container-run.sh
Due: bazel_buildifier, bazel_shfmt_format

Automatically updated Cargo*.lock
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.json.lock
Due: none

Strip by default
  bazel/conf/.bazelrc.build
Due: bazel_buildifier
