Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

final changes for now
  rs/https_outcalls/adapter/src/rpc_server.rs
  rs/https_outcalls/client/src/client.rs
  rs/https_outcalls/pricing/BUILD.bazel
  rs/https_outcalls/pricing/src/legacy.rs
  rs/https_outcalls/pricing/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/https_outcalls/adapter/src/rpc_server.rs
  rs/https_outcalls/pricing/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

remove line
  rs/https_outcalls/adapter/src/rpc_server.rs
Due: bazel_rust_format

Rework interface choice logic in GuestOS
  rs/ic_os/os_tools/guestos_tool/src/generate_network_config.rs
Due: bazel_rust_format

feat(governance): Enable canister snapshot proposals. (#8445)
  rs/nns/governance/src/lib.rs
  rs/nns/governance/unreleased_changelog.md
Due: bazel_rust_format

fix: use async sockets for async SSH connections (#8438)
  rs/tests/consensus/upgrade/common.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/nested/nns_recovery/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

Simplify
  rs/ic_os/os_tools/guestos_tool/src/generate_network_config.rs
Due: bazel_rust_format

Sort, add test
  rs/ic_os/os_tools/guestos_tool/src/generate_network_config.rs
Due: bazel_rust_format

feat(recovery): [CON-1622] add launch measurements when electing versions in recoveries (#8114)
  Cargo.lock
  rs/recovery/src/admin_helper.rs
  rs/recovery/src/app_subnet_recovery.rs
  rs/recovery/src/lib.rs
  rs/recovery/src/nns_recovery_same_nodes.rs
  rs/recovery/src/recovery_state.rs
  rs/replay/src/cmd.rs
  rs/replay/src/ingress.rs
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/utils.rs
  rs/tests/nested/nns_recovery/BUILD.bazel
  rs/tests/nested/nns_recovery/Cargo.toml
  rs/tests/nested/nns_recovery/common.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  f4/fbe31a404e99f0d5346810f3937c9570b51dfa
Due: none

Notes added by 'git notes add'
  83/3809bfbce69ec7fbe85666d0be16a610a23e98
Due: none

Chnage tls key generation to take a seed instead of RNG.
  rs/crypto/internal/crypto_lib/tls/BUILD.bazel
  rs/crypto/internal/crypto_lib/tls/Cargo.toml
  rs/crypto/internal/crypto_lib/tls/src/lib.rs
  rs/crypto/internal/crypto_lib/tls/tests/tests.rs
  rs/crypto/internal/crypto_service_provider/src/keygen/tests.rs
  rs/crypto/internal/crypto_service_provider/src/vault/local_csp_vault/tls/mod.rs
  rs/crypto/internal/crypto_service_provider/src/vault/local_csp_vault/tls/tests.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  b9/388aebd5785ecbec565b588db35cfc0fa61a98
Due: none

fix build
  rs/tests/networking/BUILD.bazel
Due: bazel_buildifier

style
  rs/orchestrator/src/registration.rs
Due: bazel_rust_format

Update ci/container/container-run.sh
  ci/container/container-run.sh
Due: bazel_shfmt_format

chore: Clean up code, make attestation functions work on ParsedSevAttestationPackage references
  rs/ic_os/sev/attestation/src/attestation_package.rs
  rs/ic_os/sev/attestation/testing/src/attestation_report.rs
  rs/ic_os/sev/guest/testing/src/lib.rs
Due: bazel_rust_format

feat(icrc-ledger-types): add MetadataKey type (#8216)
  packages/icrc-ledger-agent/src/lib.rs
  packages/icrc-ledger-client/src/lib.rs
  packages/icrc-ledger-types/src/icrc/generic_metadata_value.rs
  packages/icrc-ledger-types/src/icrc/metadata_key.rs
  packages/icrc-ledger-types/src/icrc/mod.rs
  rs/ethereum/ledger-suite-orchestrator/src/scheduler/mod.rs
  rs/ethereum/ledger-suite-orchestrator/test_utils/src/flow.rs
  rs/ethereum/ledger-suite-orchestrator/test_utils/src/lib.rs
  rs/ethereum/ledger-suite-orchestrator/tests/tests.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icrc1/ledger/src/benches/benches_u256.rs
  rs/ledger_suite/icrc1/ledger/src/benches/benches_u64.rs
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/src/main.rs
  rs/ledger_suite/icrc1/ledger/src/tests.rs
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/icrc1/test_utils/icrc3_test_ledger/src/main.rs
  rs/ledger_suite/icrc1/test_utils/src/lib.rs
  rs/ledger_suite/test_utils/state_machine_helpers/src/lib.rs
  rs/ledger_suite/tests/sm-tests/src/icrc_106.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
  rs/nns/test_utils/src/state_test_helpers.rs
  rs/rosetta-api/icrc1/src/common/storage/types.rs
  rs/rosetta-api/icrc1/src/lib.rs
  rs/sns/governance/src/types.rs
  rs/sns/governance/src/types/tests.rs
  rs/sns/init/src/lib.rs
  rs/tests/driver/src/canister_api.rs
  rs/tests/financial_integrations/icrc1_agent_test.rs
Due: bazel_rust_format

update commit
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
  ci/src/dependencies/parser/test_data/real-world-example.toml.lock
Due: bazel_buildifier

Automatically updated Cargo*.lock
  Cargo.Bazel.json.lock
Due: none

Notes added by 'git notes add'
  da/3f9151f9cb9f7ddb85f65256b6b87bf96b98b2
Due: none

keep libunwind
  ci/container/files/packages.common
Due: none

improve tests
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
Due: bazel_rust_format

refactor(IDX): simplify build-image.sh and container-run.sh (#8427)
  ci/container/build-image.sh
  ci/container/container-run.sh
Due: bazel_shfmt_format

Updating container image to sha256:afc0bf45ddde113dc9cfe04b51dab7124dab1f3751b86827cec01cd2945e5f32
  .devcontainer/devcontainer.json
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

add context, remove clone
  rs/ic_os/os_tools/guestos_tool/src/generate_network_config.rs
Due: bazel_rust_format
