Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Move the code and fix the imports
  Cargo.lock
  Cargo.toml
  rs/consensus/BUILD.bazel
  rs/consensus/Cargo.toml
  rs/consensus/certification/BUILD.bazel
  rs/consensus/certification/Cargo.toml
  rs/consensus/certification/src/certifier.rs
  rs/consensus/certification/src/lib.rs
  rs/consensus/certification/src/verifier.rs
  rs/consensus/src/lib.rs
  rs/consensus/tests/framework/runner.rs
  rs/consensus/tests/payload.rs
Due: bazel_buildifier, bazel_rust_format

fix //rs/ic_os/dev_test_tools/launch-single-vm
  rs/ic_os/dev_test_tools/launch-single-vm/BUILD.bazel
  rs/ic_os/dev_test_tools/launch-single-vm/src/main.rs
  rs/tests/nested/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

Fix imports
  rs/consensus/BUILD.bazel
  rs/consensus/Cargo.toml
Due: bazel_buildifier

chore(IDX): add auto-approve action
  .github/workflows/auto-approve.yml
  .mergify.yaml
Due: none

chore(node): update mainnet-icos-revisions.json file (#4425)
  MODULE.bazel
  ci/src/mainnet_revisions/mainnet_revisions.py
  mainnet-icos-revisions.json
  mainnet-subnet-revisions.json
  rs/tests/common.bzl
  rs/tests/consensus/orchestrator/cup_compatibility_test.rs
  rs/tests/message_routing/queues_compatibility_test.rs
Due: bazel_buildifier, bazel_ruff_format, bazel_rust_format

Cleanup
  rs/registry/canister-client/src/canister_registry_store.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f1/e0d7b62e64790839a49a49b9c51a35fb3ce8da
Due: none

chore(IDX): add auto-approve action (#4438)
  .github/workflows/auto-approve.yml
  .mergify.yaml
Due: none

Tidy up exports
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/storage.rs
  rs/registry/canister-client/src/lib.rs
  rs/registry/canister-client/src/stable_canister_client.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  1e/130b1997a7936810e66597426d3156f338bc79
Due: none

Enhancing a test
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

chore(node): Increase HostOS upgrade download timeout (#4422)
  rs/ic_os/vsock/vsock_lib/src/host/agent.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  1e/5e864a9542fd550d7bad9a3f917a716c9c41a1
Due: none

second
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/pb/conversions.rs
  rs/sns/governance/src/types.rs
Due: bazel_protobuf_format, bazel_rust_format

remove extra deps from system test
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/large_file_resuming_download.rs
Due: bazel_buildifier, bazel_rust_format

Fix check for max value
  rs/config/src/execution_environment.rs
  rs/execution_environment/src/canister_settings.rs
Due: bazel_rust_format

clippy
  rs/node_rewards/canister/tests/regisry_sync_test.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

adding better logging
  rs/http_utils/src/file_downloader.rs
  rs/tests/consensus/large_file_resuming_download.rs
Due: bazel_rust_format

feat(sns): Add a new crate for SNS Governance API helpers (#4427)
  Cargo.lock
  Cargo.toml
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/api_helpers/BUILD.bazel
  rs/sns/governance/api_helpers/Cargo.toml
  rs/sns/governance/api_helpers/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Fix changelogs
  rs/node_rewards/canister/CHANGELOG.md
  rs/node_rewards/canister/unreleased_changelog.md
Due: none

Fix comment
  rs/node_rewards/canister/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  60/c9805c651e7af04ff0af7e0f4c950e733f3a99
Due: none

Update consensus test
  rs/tests/consensus/vetkd/vetkd_key_life_cycle_test.rs
Due: bazel_rust_format

Add a more generic test
  rs/execution_environment/tests/dts.rs
Due: bazel_rust_format

Refactor Ic00MethodPermissions
  rs/execution_environment/src/ic00_permissions.rs
Due: bazel_rust_format

fmt
  rs/tests/consensus/vetkd/vetkd_key_life_cycle_test.rs
Due: bazel_rust_format

Also use the empty image uploaded to bazel-remote instead of uploading it to farm each time
  ic-os/defs.bzl
  ic-os/dev-tools/launch-remote-vm.sh
  rs/ic_os/dev_test_tools/launch-single-vm/BUILD.bazel
  rs/ic_os/dev_test_tools/launch-single-vm/src/main.rs
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

fix: EXC-1992: Fix same round install code and draining queues (#4346)
  rs/execution_environment/src/ic00_permissions.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/tests/dts.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  35/cb4bc5ab3d6f91ac4e1584a03ce73daf99e9be
Due: none

test(IDX): use a static empty image in nested system-tests (#4407)
  ic-os/defs.bzl
  ic-os/dev-tools/launch-remote-vm.sh
  rs/ic_os/dev_test_tools/launch-single-vm/src/main.rs
  rs/tests/driver/src/driver/resource.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/src/lib.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

Notes added by 'git notes add'
  38/508fe8ee4040d48ca9da162033c1f2263efd56
Due: none

PR feedback
  rs/nervous_system/canisters/src/registry.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/storage.rs
  rs/node_rewards/canister/unreleased_changelog.md
  rs/registry/canister-client/src/stable_canister_client.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

feat(node-reward): Add registry sync to node reward canister (#4349)
  Cargo.lock
  Cargo.toml
  publish/canisters/BUILD.bazel
  rs/nervous_system/canisters/BUILD.bazel
  rs/nervous_system/canisters/Cargo.toml
  rs/nervous_system/canisters/src/lib.rs
  rs/nervous_system/canisters/src/registry.rs
  rs/nervous_system/common/src/lib.rs
  rs/nns/test_utils/src/common.rs
  rs/node_rewards/canister/BUILD.bazel
  rs/node_rewards/canister/CHANGELOG.md
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/api/BUILD.bazel
  rs/node_rewards/canister/api/Cargo.toml
  rs/node_rewards/canister/src/canister.rs
  rs/node_rewards/canister/src/lib.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/storage.rs
  rs/node_rewards/canister/tests/example_test.rs
  rs/node_rewards/canister/tests/regisry_sync_test.rs
  rs/node_rewards/canister/unreleased_changelog.md
  rs/registry/canister-client/BUILD.bazel
  rs/registry/canister-client/Cargo.toml
  rs/registry/canister-client/src/lib.rs
  rs/registry/canister-client/src/stable_canister_client.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
  rs/registry/canister-client/src/stable_memory.rs
  rs/registry/canister-client/src/tests.rs
  rs/registry/canister_data_provider/BUILD.bazel
  rs/registry/canister_data_provider/Cargo.toml
  rs/registry/canister_data_provider/src/lib.rs
  rs/registry/canister_data_provider/src/main.rs
  rs/registry/canister_data_provider/src/tests.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  2f/e8aefafcb2fbee6fdb2785374d5de715560269
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
