Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

typos
  packages/pocket-ic/tests/icp_features.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

Remove limit
  Cargo.lock
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/canister/test/get_node_providers_rewards.rs
  rs/node_rewards/canister/src/canister/test/test_utils.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator/mod.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator_results.rs
Due: bazel_rust_format

chore(ICRC_Ledger): FI-1836: Bump ICRC library versions (#6406)
  Cargo.lock
  packages/icrc-ledger-agent/Cargo.toml
  packages/icrc-ledger-client-cdk/Cargo.toml
  packages/icrc-ledger-client/Cargo.toml
Due: none

wip
  rs/migration_canister/src/canister_state.rs
  rs/migration_canister/src/lib.rs
Due: bazel_rust_format

test(ICRC_Ledger): FI-1834: Add check for number of blocks returned in test_icrc3_get_blocks (#6399)
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
Due: bazel_rust_format

fix
  rs/migration_canister/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e8/fc89aff800619544f57b01212b6c06607c1274
Due: none

Notes added by 'git notes add'
  da/242f9da0b5596f88becb50295086a8433026ca
Due: none

fix tests
  packages/pocket-ic/tests/icp_features.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  19/a45d5b7fe7fb82f17fcc66e2fa6c59f7f3c3b7
Due: none

Notes added by 'git notes add'
  b3/4e38a8561c984100dffa3a3e38ee8fd374aeea
Due: none

Remove limit on number of nodes
  rs/node_rewards/rewards_calculation/src/rewards_calculator/mod.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator/tests.rs
Due: bazel_rust_format

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

WIP: added more ticks to make the test pass
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
  rs/sns/governance/src/extensions.rs
Due: bazel_rust_format

Formatting
  MODULE.bazel
  rs/nervous_system/common/test_utils/BUILD.bazel
Due: bazel_buildifier

processing result
  rs/migration_canister/src/lib.rs
  rs/migration_canister/src/processing.rs
Due: bazel_rust_format

doc
  rs/migration_canister/src/processing.rs
Due: bazel_rust_format

chore: rename main_memory to wasm_memory in snapshot data API
  rs/execution_environment/benches/management_canister/canister_snapshots.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/state_machine_tests/src/lib.rs
  rs/types/management_canister_types/src/lib.rs
  rs/types/management_canister_types/tests/ic.did
Due: bazel_rust_format

chore: don't upload Bazel Events for locally run system-tests anymore
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

feat: split build and test bazel commands
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

Fix: clippy errors
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
Due: bazel_rust_format

Fix mainnet-guest-img target
  ic-os/setupos/BUILD.bazel
  rs/tests/system_tests.bzl
Due: bazel_buildifier

chore(EXC-2097): Transition from `wasm_transform` to `wirm`
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/embedders/BUILD.bazel
  rs/embedders/Cargo.toml
  rs/embedders/benches/embedders_bench/Cargo.toml
  rs/embedders/benches/embedders_bench/src/lib.rs
  rs/embedders/src/wasm_utils/instrumentation.rs
  rs/embedders/src/wasm_utils/system_api_replacements.rs
  rs/embedders/src/wasm_utils/validation.rs
  rs/embedders/tests/instrumentation.rs
  rs/embedders/tests/misc_tests.rs
  rs/embedders/tests/spec_tests.rs
  rs/embedders/tests/wasm_transform_round_trip.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/embedders/tests/wasmtime_random_memory_writes.rs
Due: bazel_buildifier, bazel_rust_format

chore: don't upload Bazel Events for locally run system-tests anymore (#6421)
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

fix: don't enable diff_only for pushes to dev-gh-* branches
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

temp update to separate flags version
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/embedders/src/wasm_utils/instrumentation.rs
  rs/embedders/src/wasm_utils/system_api_replacements.rs
  rs/embedders/src/wasm_utils/validation.rs
Due: bazel_buildifier, bazel_rust_format

refactor process_all
  rs/migration_canister/src/canister_state.rs
  rs/migration_canister/src/lib.rs
  rs/migration_canister/src/processing.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  90/2bcf630bed727cd163ec8419743d682d26fef2
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
