Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Remove test
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

Remove unused import
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

fix: Include reservation cycles in error reported during taking a canister snapshot (#3331)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

chore(PocketIC): remove deprecated endpoint execute_ingress_message
  rs/pocket_ic_server/CHANGELOG.md
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/pocket_ic_server/src/state_api/routes.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a9/d2098e87b9ef15bc60ebf7ecc9039fcefe9626
Due: none

refactor: Rename field in InsufficientCyclesInMemoryGrow error
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/install_code.rs
Due: bazel_rust_format

refactor: Rename field in InsufficientCyclesInMemoryGrow error (#3333)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution/install_code.rs
Due: bazel_rust_format

Smol refactor
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/payload_validator.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ba/248f7679cecf6d7014204a44f6bfe29c2343d9
Due: none

test: Add test for taking a snapshot that triggers storage reservation
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

Add print statement
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

Add import
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

fix: reject code in sandbox safe system state
  rs/system_api/src/sandbox_safe_system_state.rs
Due: bazel_rust_format

WIP building local vetkeys dkg
  Cargo.lock
  rs/consensus/dkg/BUILD.bazel
  rs/consensus/dkg/Cargo.toml
  rs/consensus/dkg/src/utils.rs
Due: bazel_buildifier, bazel_rust_format

Add another print
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

Clarified that when new code is behind a feature flag, do not add an entry to unreleased_changelog.md.
  rs/nns/governance/unreleased_changelog.md
Due: none

More print
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

docs(governance): Added unreleased_changelog.md and CHANGELOG.md to governance. (#3332)
  rs/nns/governance/CHANGELOG.md
  rs/nns/governance/unreleased_changelog.md
Due: none

spec tests
  hs/spec_compliance/src/IC/Test/Spec.hs
Due: bazel_ormolu_format

Notes added by 'git notes add'
  4f/3b77e0a4524000cfc5d15965292651db374529
Due: none

Fix test
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

adapt fuzzing for wasm32 and wasm64
  rs/embedders/fuzz/src/compile.rs
  rs/embedders/fuzz/src/differential.rs
  rs/embedders/fuzz/src/ic_wasm.rs
  rs/embedders/fuzz/src/imports.rs
  rs/embedders/fuzz/src/wasm_executor.rs
  rs/embedders/fuzz/src/wasmtime.rs
  rs/embedders/fuzz/src/ws2wasm.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  93/77651bb2052a97c950c586bbef42ff94208b98
Due: none

feat(recovery): [CON-1407] Add CLI option to use existing binaries for local recoveries (#3301)
  ic-os/guestos/defs.bzl
  rs/recovery/src/args_merger.rs
  rs/recovery/src/cmd.rs
  rs/recovery/src/lib.rs
  rs/recovery/src/main.rs
  rs/recovery/src/recovery_state.rs
  rs/recovery/subnet_splitting/src/main.rs
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/sr_nns_failover_nodes_test.rs
  rs/tests/consensus/subnet_recovery/sr_nns_same_nodes_test.rs
  rs/tests/consensus/subnet_splitting_test.rs
Due: bazel_buildifier, bazel_rust_format

more debugging
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  41/b1a2ed4707f5c7957f25f278f59d9e85dbdd80
Due: none

.
  Cargo.lock
  hs/spec_compliance/src/IC/Test/Spec/HTTP.hs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/tests/networking/canister_http_correctness_test.rs
Due: bazel_ormolu_format, bazel_rust_format

chore: bump ic-gateway release version
  ic-os/boundary-guestos/context/Dockerfile
Due: none

Log dirty pages
  rs/config/src/execution_environment.rs
Due: bazel_rust_format

chore(BOUN-1284): replace tokio rwlock, bump ic-gateway release (#3346)
  ic-os/boundary-guestos/context/Dockerfile
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/metrics.rs
Due: bazel_rust_format

Bump icrc-ledger-types version with the added rustdoc
  Cargo.lock
  packages/icrc-ledger-types/CHANGELOG.md
  packages/icrc-ledger-types/Cargo.toml
Due: none

Notes added by 'git notes add'
  fa/3b0ad91722bd5ba68d53caef726075bd7d05c7
Due: none

testing
  rs/state_manager/src/lib.rs
Due: bazel_rust_format
