Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  6c/38b2e2d96b1669d07bfeee85437ed4e3cd48f0
Due: none

test(Ledgers): FI-1776: Allow self-transfers in valid_transactions_strategy (#5674)
  rs/ledger_suite/icrc1/test_utils/src/lib.rs
Due: bazel_rust_format

chore(boundary): enable `ipv4` for `ic-gateway-vm` (#5791)
  rs/tests/driver/src/driver/ic_gateway_vm.rs
  rs/tests/ict/cmd/testnetCreateCmd.go
Due: bazel_rust_format

Add test
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

test(ICRC_Ledger): FI-1592: Add test with unsupported ledger init args (#5452)
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/icrc_106.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  84/378546e75095b1bfd6696bef143407dda3e1a5
Due: none

Notes added by 'git notes add'
  ff/b9f58379d19e9fc1498aa8ce99abe80c7fc953
Due: none

Notes added by 'git notes add'
  e7/3c4081d33acd5a4fed382bfce1c50909bf36f4
Due: none

test(ICP_Rosetta): FI-1779: Ignore spender in transfers in search_transactions_by_account (#5794)
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/tests/system_tests/test_cases/search_transactions.rs
Due: bazel_buildifier, bazel_rust_format

add comment on arcs
  rs/replicated_state/best-practices-replicated-state.md
Due: none

Notes added by 'git notes add'
  cd/6adc903468cac74747f4639d5808b8bc90e87d
Due: none

chore: Cleanup signal_stack module (#5793)
  rs/embedders/src/wasmtime_embedder/signal_stack.rs
Due: bazel_rust_format

.
  rs/state_layout/src/state_layout/tests.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Cleanup
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/ckbtc/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  20/1f20c06fbec21ae5a1685919081a1a88f9e8c8
Due: none

add registry_version
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/interfaces/src/execution_environment.rs
  rs/messaging/src/message_routing.rs
  rs/messaging/src/message_routing/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Revert "chore: Update CanisterSettingsChangeRecord vec to [u8, 32] (#5762)"
  rs/state_layout/src/state_layout/tests.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

save
  rs/sns/cli/src/register_extension.rs
  rs/sns/testing/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

chore: Rename `serialize_protos_to_tip` to reflect async protos writing (#5780)
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

WIP
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/ic_os/config/BUILD.bazel
  rs/ic_os/config/Cargo.toml
  rs/ic_os/config/src/generate_testnet_config.rs
  rs/ic_os/config/src/hostos/guestos_bootstrap_image.rs
  rs/ic_os/config/src/hostos/guestos_config.rs
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config_types/compatibility_tests/src/fixture.rs
  rs/ic_os/config_types/src/lib.rs
  rs/ic_os/os_tools/guest_vm_runner/BUILD.bazel
  rs/ic_os/os_tools/guest_vm_runner/Cargo.toml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
  rs/ic_os/os_tools/hostos_tool/BUILD.bazel
  rs/ic_os/sev/BUILD.bazel
  rs/ic_os/sev/Cargo.toml
  rs/ic_os/sev/fixtures/mock_amd_key_server_response.crt
  rs/ic_os/sev/src/firmware.rs
  rs/ic_os/sev/src/lib.rs
  rs/ic_os/sev/src/testing.rs
Due: bazel_buildifier, bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Automatically updated config type fixtures
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.4.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.4.0.json
Due: none
