Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  d8/fb1363ef39bae56493a8e48907c76b50d914e6
Due: none

XC-450: fix fee
  rs/bitcoin/ckbtc/minter/src/lib.rs
Due: bazel_rust_format

XC-450: test should_cancel_and_reimburse_large_withdrawal
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

chore(ICRC_Ledger): Remove ex-SEERS SNS from golden state test (#6345)
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
Due: bazel_rust_format

Add doge support to tests/ckbtc
  Cargo.lock
  rs/bitcoin/replica_types/src/lib.rs
  rs/tests/ckbtc/Cargo.toml
  rs/tests/ckbtc/adapter_basics_test.rs
  rs/tests/ckbtc/src/doge_adapter.rs
  rs/tests/ckbtc/src/lib.rs
  rs/tests/ckbtc/src/utils.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Update bazel
  bazel/external_crates.bzl
  rs/tests/ckbtc/BUILD.bazel
Due: bazel_buildifier

Add dogecoind image
  MODULE.bazel
Due: bazel_buildifier

Add dogecoin adapter test
  rs/tests/BUILD.bazel
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/ckbtc/Cargo.toml
  rs/tests/ckbtc/src/utils.rs
Due: bazel_buildifier, bazel_rust_format

Temp
  ic-os/components/guestos.bzl
  ic-os/components/ic/ic-https-outcalls-adapter/generate-https-outcalls-adapter-config.sh
Due: bazel_buildifier, bazel_shfmt_format

Add missing file
  rs/tests/ckbtc/dogecoin_adapter_basics_test.rs
Due: bazel_rust_format

Fix dogecoin docker image and config file setting
  MODULE.bazel
  rs/tests/ckbtc/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  f3/f581fbf6eccedf7423da6eb1e11f66a304192e
Due: none

XC-450: undo test hacks
  rs/bitcoin/ckbtc/minter/BUILD.bazel
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/lifecycle/upgrade.rs
  rs/bitcoin/ckbtc/minter/src/main.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/storage.rs
  rs/bitcoin/ckbtc/minter/src/tasks.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
  rs/bitcoin/ckbtc/minter/tests/replay_events.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

Fix clippy
  rs/nervous_system/canisters/src/registry.rs
  rs/node_rewards/canister/src/canister/test/get_node_providers_rewards.rs
Due: bazel_rust_format

XC-450: clean-up test infrastructure to reimburse withdrawals
  rs/bitcoin/ckbtc/minter/src/main.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

XC-450: also test events
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Operate on ranges for zero pages
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/src/wasmtime_embedder/host_memory.rs
  rs/memory_tracker/src/lib.rs
Due: bazel_rust_format

XC-450: clean-up
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

tests
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/canister_snapshots.rs
  rs/universal_canister/impl/src/lib.rs
  rs/universal_canister/impl/src/main.rs
  rs/universal_canister/lib/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

chore(crypto): CRP-2810 use ic-principal instead of full candid
  Cargo.lock
  packages/ic-ed25519/BUILD.bazel
  packages/ic-ed25519/Cargo.toml
  packages/ic-ed25519/src/lib.rs
  packages/ic-secp256k1/BUILD.bazel
  packages/ic-secp256k1/Cargo.toml
  packages/ic-secp256k1/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

comments
  rs/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

XC-450: refactor, helper method deposit_utxos_with_value
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

test: always test long system-tests on PRs of which direct source files have been modified (#6350)
  ci/bazel-scripts/targets.py
Due: bazel_ruff_format

chore(crypto): CRP-2810 add missing PublicKey::derive_mainnet_key to changelogs
  packages/ic-ed25519/CHANGELOG.md
  packages/ic-secp256k1/CHANGELOG.md
Due: none

Remove unused text block
  packages/ic-ed25519/CHANGELOG.md
Due: none

XC-450: change fee to depend on max number of requests per batch
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
Due: bazel_rust_format

dedup
  rs/certification/test-utils/src/lib.rs
  rs/http_endpoints/nns_delegation_manager/test_utils/src/lib.rs
Due: bazel_rust_format

deps
  Cargo.lock
  rs/http_endpoints/nns_delegation_manager/test_utils/BUILD.bazel
  rs/http_endpoints/nns_delegation_manager/test_utils/Cargo.toml
Due: bazel_buildifier

fix: restore global timer and on low wasm memory hooks from snapshot metadata (#6347)
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/canister_state/system_state/task_queue.rs
  rs/universal_canister/impl/src/lib.rs
  rs/universal_canister/impl/src/main.rs
  rs/universal_canister/lib/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  57/e2bb37a713df7e2007310e88b37edc8a3971a6
Due: none

Notes added by 'git notes add'
  c7/a9e7686287a21da2fae086c6bcb833af9e5f54
Due: none
