Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Extract function are_node_rewards_enabled
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
Due: bazel_rust_format

Update unreleased_changelog
  rs/registry/canister/unreleased_changelog.md
Due: none

Update test
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

repin
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/boundary_node/ic_boundary/src/cache.rs
  rs/boundary_node/ic_boundary/src/test_utils.rs
Due: bazel_buildifier, bazel_rust_format

feat(registry): enforce presence of node_reward_type (#5136)
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
  rs/registry/canister/unreleased_changelog.md
Due: bazel_rust_format

fix(registry-canister-client): Only version-bump after deltas are applied. (#5013)
  rs/registry/canister-client/src/stable_canister_client.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  3d/869a114cefe40c156c1926b8a741957ea2b531
Due: none

test(nns): Use golden nns state test to detect new protocol canisters (#5112)
  rs/nns/constants/src/lib.rs
  rs/nns/governance/src/proposals/mod.rs
  rs/nns/integration_tests/src/upgrade_canisters_with_golden_nns_state.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a2/e9705135ec174cdbfa2d9e8564a6c0ce7a9e83
Due: none

fix test
  rs/registry/canister/src/mutations/do_migrate_canisters.rs
  rs/registry/canister/src/mutations/prepare_canister_migration.rs
  rs/registry/canister/src/mutations/routing_table.rs
  rs/registry/canister/src/registry_lifecycle.rs
Due: bazel_rust_format

add comment
  rs/registry/canister/src/mutations/routing_table.rs
Due: bazel_rust_format

move code inside function around for clarity
  rs/registry/canister/src/mutations/routing_table.rs
Due: bazel_rust_format

Add comment explaining lexicographical ordering
  rs/registry/keys/src/lib.rs
Due: bazel_rust_format

update changelog
  rs/registry/canister/unreleased_changelog.md
Due: none

Notes added by 'git notes add'
  8a/c2131be1a86e1267e7774b0c94085fc107bad3
Due: none

Use a previous snapshot for ballots if an unusually high voting power is detected
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tests/mod.rs
  rs/nns/governance/src/neuron_store/voting_power.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/integration_tests/src/governance_proposals.rs
  rs/nns/integration_tests/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

feat: Add "Cache-Control: no-store" to all canister /metrics endpoints (#5124)
  rs/bitcoin/checker/src/main.rs
  rs/bitcoin/ckbtc/kyt/src/main.rs
  rs/bitcoin/ckbtc/minter/src/main.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/ledger-suite-orchestrator/src/main.rs
  rs/ledger_suite/icp/archive/src/main.rs
  rs/ledger_suite/icp/index/src/main.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icrc1/archive/src/main.rs
  rs/ledger_suite/icrc1/index-ng/src/main.rs
  rs/ledger_suite/icrc1/ledger/src/main.rs
  rs/nervous_system/common/src/lib.rs
  rs/rosetta-api/common/rosetta_core/src/metrics.rs
  rs/rust_canisters/canister_serve/src/lib.rs
  rs/rust_canisters/dfn_http_metrics/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b0/a3d6dc4cdd0dceef468294d187a86fd0f16869
Due: none

add test, move caching tests closer to code
  rs/boundary_node/ic_boundary/src/cache.rs
  rs/boundary_node/ic_boundary/src/cache/test.rs
Due: bazel_rust_format

fix(PocketIC): canister creation with specified id on resumed instance
  packages/pocket-ic/tests/tests.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

changelog
  packages/pocket-ic/CHANGELOG.md
  rs/pocket_ic_server/CHANGELOG.md
Due: none

address reviewer's feedback
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
  rs/ethereum/cketh/minter/src/tests.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
Due: bazel_rust_format

test(ICRC_Ledger): FI-1732: Re-enable test_icrc1_test_suite test (#5151)
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
Due: bazel_rust_format

Delete ignored tests
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
Due: bazel_rust_format

docs(crypto): CRP-2794 fix TODO item Jira ticket number (#5131)
  rs/tests/consensus/tecdsa/utils/src/lib.rs
Due: bazel_rust_format

feat: add more timeouts to the nns delegation fetching logic (#5153)
  Cargo.lock
  rs/http_endpoints/public/BUILD.bazel
  rs/http_endpoints/public/Cargo.toml
  rs/http_endpoints/public/src/nns_delegation_manager.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  92/051ebe9d01b37aa537fa8165fa19f877a813f3
Due: none
