Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  34/cf6d759e6a6fb7025f9148ba531335b9f3f3fc
Due: none

0 app subnets
  rs/tests/networking/canister_http/canister_http.rs
Due: bazel_rust_format

Apply suggestions
  rs/bitcoin/consensus/src/payload_builder/proptests.rs
  rs/bitcoin/replica_types/src/lib.rs
  rs/execution_environment/src/execution_environment/tests.rs
Due: bazel_rust_format

chore: replace const RESERVED_BY_SNAPSHOT by recomputing the value dynamically (#6336)
  rs/execution_environment/tests/storage_reservation.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  77/bbd7ec79447a98c147e7bf7c464d3d1a357cfc
Due: none

chore: do not allow subnet ID as callee in ingress messages (#6181)
  rs/cycles_account_manager/src/lib.rs
  rs/cycles_account_manager/tests/cycles_account_manager.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/ingress_manager/src/ingress_selector.rs
  rs/messaging/src/message_routing.rs
  rs/messaging/src/scheduling/valid_set_rule.rs
  rs/messaging/src/scheduling/valid_set_rule/test.rs
  rs/replicated_state/src/metadata_state.rs
  rs/replicated_state/src/metadata_state/tests.rs
  rs/replicated_state/src/replicated_state.rs
  rs/state_machine_tests/src/lib.rs
  rs/tests/execution/BUILD.bazel
  rs/tests/execution/system_subnets_test.rs
  rs/types/types/src/messages.rs
  rs/types/types/src/messages/ingress_messages.rs
Due: bazel_buildifier, bazel_rust_format

Update rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
Due: bazel_protobuf_format

doc(nns): Say that Topic.TOPIC_UNSPECIFIED is not applicable to Governance/SNS/Neuron's fund (#6328)
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  26/c8e2bc74c687582c1984133bd72f409d6027c7
Due: none

test: check if targets in PULL_REQUEST_BAZEL_TARGETS are non-empty after excluding all manual targets
  ci/bazel-scripts/targets.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  2f/27cecce0142f34d9b8c85317771bf03f0be172
Due: none

bazel run //:ruff-format
  ci/bazel-scripts/targets.py
Due: bazel_ruff_format

include tip for colocated system-tests
  ci/bazel-scripts/targets.py
Due: bazel_ruff_format

inline
  ci/bazel-scripts/targets.py
Due: bazel_ruff_format

Update PULL_REQUEST_BAZEL_TARGETS
  PULL_REQUEST_BAZEL_TARGETS
Due: none

test: check if targets in PULL_REQUEST_BAZEL_TARGETS are non-empty after excluding all manual targets (#6340)
  ci/bazel-scripts/targets.py
Due: bazel_ruff_format

subnet splitting as well
  PULL_REQUEST_BAZEL_TARGETS
Due: none

canister http
  rs/tests/networking/canister_http/canister_http.rs
Due: bazel_rust_format

Add registration logging
  rs/tests/nested/src/lib.rs
Due: bazel_rust_format

Fix smoke test and registration NNS version
  rs/tests/nested/BUILD.bazel
Due: bazel_buildifier

test_no_canister_http_without_auto_progress
  packages/pocket-ic/tests/icp_features.rs
Due: bazel_rust_format

Add uses_guestos_latest_release_mainnet_img
  rs/tests/nested/BUILD.bazel
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Rename uses_setupos_latest_release_mainnet_img
  rs/tests/nested/BUILD.bazel
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Rename uses_hostos_lastest_release_mainnet_update
  rs/tests/nested/BUILD.bazel
  rs/tests/system_tests.bzl
Due: bazel_buildifier

Notes added by 'git notes add'
  eb/acb538dc7c48aec6cee7a2d57c7a0bb52a42a5
Due: none

Move AdapterClient to btc_replica_types
  Cargo.lock
  rs/bitcoin/client/src/lib.rs
  rs/bitcoin/consensus/src/payload_builder.rs
  rs/bitcoin/replica_types/BUILD.bazel
  rs/bitcoin/replica_types/Cargo.toml
  rs/bitcoin/replica_types/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
