Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

add subnet rate-limit
  ic-os/components/boundary-guestos/etc/systemd/system/ic-boundary.service
Due: none

chore(management-canister): Remove unimplemented delete_chunks API (#537)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment_metrics.rs
  rs/execution_environment/src/ic00_permissions.rs
  rs/execution_environment/src/scheduler.rs
  rs/system_api/src/routing.rs
  rs/system_api/src/sandbox_safe_system_state.rs
  rs/types/management_canister_types/src/lib.rs
  rs/types/types/src/messages/ingress_messages.rs
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_rust_format

.,
  publish/binaries/BUILD.bazel
  publish/canisters/BUILD.bazel
  publish/malicious/BUILD.bazel
  rs/BUILD.bazel
  rs/http_endpoints/public/src/tracing_flamegraph.rs
Due: bazel_buildifier, bazel_rust_format

.
  publish/binaries/BUILD.bazel
  publish/canisters/BUILD.bazel
  publish/malicious/BUILD.bazel
  rs/BUILD.bazel
Due: bazel_buildifier

rename
  .github/workflows-source/ci-main.yml
Due: none

chore: change file extension for system test logs (#546)
  rs/tests/ict/cmd/testnetCreateCmd.go
Due: none

drop unneeded dependencies
  hs/spec_compliance/BUILD.bazel
Due: bazel_buildifier

.
  publish/canisters/BUILD.bazel
  rs/bitcoin/adapter/BUILD.bazel
  rs/https_outcalls/adapter/BUILD.bazel
Due: bazel_buildifier

.
  rs/http_endpoints/public/src/tracing_flamegraph.rs
Due: bazel_rust_format

.
  rs/BUILD.bazel
Due: bazel_buildifier

.
  ic-os/bootloader/BUILD.bazel
  ic-os/boundary-guestos/envs/dev/BUILD.bazel
  ic-os/dev-tools/bare_metal_deployment/BUILD.bazel
  ic-os/guestos/envs/dev-malicious/BUILD.bazel
  ic-os/guestos/envs/dev/BUILD.bazel
  ic-os/guestos/envs/local-base-dev/BUILD.bazel
  ic-os/guestos/envs/local-base-prod/BUILD.bazel
  ic-os/guestos/envs/prod/BUILD.bazel
  ic-os/hostos/envs/dev/BUILD.bazel
  ic-os/hostos/envs/local-base-dev/BUILD.bazel
  ic-os/hostos/envs/local-base-prod/BUILD.bazel
  ic-os/hostos/envs/prod/BUILD.bazel
  ic-os/setupos/envs/dev/BUILD.bazel
  ic-os/setupos/envs/local-base-dev/BUILD.bazel
  rs/BUILD.bazel
  rs/ic_os/config/BUILD.bazel
  rs/ic_os/deterministic_ips/BUILD.bazel
  rs/ic_os/dflate/BUILD.bazel
  rs/ic_os/diroid/BUILD.bazel
  rs/ic_os/fstrim_tool/BUILD.bazel
  rs/ic_os/guestos_tool/BUILD.bazel
  rs/ic_os/hostos_tool/BUILD.bazel
  rs/ic_os/inject_files/BUILD.bazel
  rs/ic_os/launch-single-vm/BUILD.bazel
  rs/ic_os/network/BUILD.bazel
  rs/ic_os/nft_exporter/BUILD.bazel
  rs/ic_os/nss_icos/BUILD.bazel
  rs/ic_os/partition_tools/BUILD.bazel
  rs/ic_os/setupos-disable-checks/BUILD.bazel
  rs/ic_os/setupos-inject-configuration/BUILD.bazel
  rs/ic_os/setupos_tool/BUILD.bazel
  rs/ic_os/utils/BUILD.bazel
  rs/ic_os/vsock/guest/BUILD.bazel
  rs/ic_os/vsock/host/BUILD.bazel
  rs/ic_os/vsock/vsock_lib/BUILD.bazel
Due: bazel_buildifier

XC-162: test on consistent fee history
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
Due: bazel_rust_format

Include hash of upgrade args of UpgradeSnsControlledCanister payload text rendering
  rs/sns/governance/src/proposal.rs
Due: bazel_rust_format

Added setting neuron visibility. No tests yet. Should be in next commit.
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/pb/conversions.rs
Due: bazel_protobuf_format, bazel_rust_format

fix(IDX): inline namespace profile
  .github/workflows/test-namespace-darwin.yml
Due: none

chore: [EXC-1633] unify ECDSA and tSchnorr signing requests (#544)
  rs/execution_environment/src/execution_environment.rs
  rs/replicated_state/src/metadata_state/subnet_call_context_manager.rs
Due: bazel_rust_format

fix(IDX): inline namespace profile (#555)
  .github/workflows/test-namespace-darwin.yml
Due: none

Implemented Operation::from(struct) and Command::from(struct) for manage_neuron.
  rs/nns/governance/src/pb/convert_struct_to_enum.rs
  rs/nns/governance/src/pb/convert_struct_to_enum/manage_neuron.rs
  rs/nns/governance/src/pb/convert_struct_to_enum/manage_neuron/configure.rs
  rs/nns/governance/src/pb/mod.rs
Due: bazel_rust_format

Test setting neuron visibility.
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

rebuild
  gitlab-ci/container/TAG_GH
Due: none

try once more
  .github/workflows-source/ci-main.yml
Due: none

fix(drun): Make drun deterministic again (#552)
  rs/drun/src/lib.rs
Due: bazel_rust_format

chore(execution): Remove wasm_chunk_store flag (#542)
  rs/config/src/execution_environment.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

add rosetta block to status
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/tests/tests.rs
  rs/rosetta-api/ledger_canister_blocks_synchronizer/src/blocks.rs
  rs/rosetta-api/src/request_handler.rs
Due: bazel_rust_format

fmt
  rs/rosetta-api/icp_ledger/rosetta-integration-tests/tests/tests.rs
Due: bazel_rust_format

chore(IDX): update dependencies of //hs/spec_compliance:ic-ref-test (#547)
  WORKSPACE.bazel
  hs/spec_compliance/BUILD.bazel
  stackage_snapshot.json
Due: bazel_buildifier

feat(nns): Added setting neuron visibility. (#517)
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/canister/governance.did
  rs/nns/governance/canister/governance_test.did
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/pb/conversions.rs
  rs/nns/governance/src/pb/convert_struct_to_enum.rs
  rs/nns/governance/src/pb/convert_struct_to_enum/manage_neuron.rs
  rs/nns/governance/src/pb/convert_struct_to_enum/manage_neuron/configure.rs
  rs/nns/governance/src/pb/mod.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_protobuf_format, bazel_rust_format

test: stop uploading test canister artifacts (#533)
  publish/canisters/BUILD.bazel
  rs/nervous_system/compressed_wasm_size_limits.bzl
Due: bazel_buildifier

feat(sns): Include hash of upgrade args in UpgradeSnsControlledCanister payload text rendering (#554)
  rs/sns/governance/src/proposal.rs
Due: bazel_rust_format

.
  rs/ic_os/deterministic_ips/BUILD.bazel
Due: bazel_buildifier

.
  rs/ic_os/nft_exporter/BUILD.bazel
Due: bazel_buildifier

.
  rs/ic_os/nss_icos/BUILD.bazel
Due: bazel_buildifier

.
  rs/ic_os/fstrim_tool/BUILD.bazel
Due: bazel_buildifier

test
  .github/actions/bazel-test-all/action.yaml
  .github/workflows/system-tests-k8s.yml
Due: none

Revert "test"
  .github/actions/bazel-test-all/action.yaml
  .github/workflows/system-tests-k8s.yml
Due: none

test
  .github/workflows/system-tests-k8s.yml
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
