Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Disallow temporarily_*_prone_following in release builds.
  rs/nns/governance/src/lib.rs
Due: bazel_rust_format

Replaced literal with (well-named?) constant.
  rs/nns/governance/canister/canister.rs
Due: bazel_rust_format

feat(nns): Add new ProposalRewardStatus to handle async vote processing
  rs/nns/governance/api/src/ic_nns_governance.pb.v1.rs
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/pb/conversions.rs
Due: bazel_protobuf_format, bazel_rust_format

Revert ping timeout
  rs/ic_os/network/src/interfaces.rs
Due: bazel_rust_format

Shorter, but more frequent prune_some_following cycles.
  rs/nns/governance/canister/canister.rs
Due: bazel_rust_format

Update ic-agent version
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/external_crates.bzl
  rs/nervous_system/agent/src/agent_impl.rs
Due: bazel_buildifier, bazel_rust_format

Add dfx-core dependency
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.toml
  bazel/external_crates.bzl
Due: bazel_buildifier

Explain why 25 megainstructions per prune_some_following batch seems to make sense.
  rs/nns/governance/canister/canister.rs
Due: bazel_rust_format

Fixed a test.
  rs/nns/integration_tests/src/neuron_following.rs
Due: bazel_rust_format

chore(ckbtc): add metrics and logging to the KYT canister (#2846)
  Cargo.lock
  rs/bitcoin/kyt/BUILD.bazel
  rs/bitcoin/kyt/Cargo.toml
  rs/bitcoin/kyt/src/fetch.rs
  rs/bitcoin/kyt/src/logs.rs
  rs/bitcoin/kyt/src/main.rs
  rs/bitcoin/kyt/src/providers.rs
  rs/bitcoin/kyt/tests/tests.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  ea/c0ee3fbb5293fdb5918dde5ed8caadd2e43da8
Due: none

refactor(ckbtc): reduce minter fee (#2861)
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
  rs/tests/ckbtc/ckbtc_minter_batching.rs
  rs/tests/ckbtc/ckbtc_minter_kyt.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  2e/2fff1d2e6da50f0a65cd765e3bc4bea176ea3b
Due: none

test
  ci/container/Dockerfile
Due: none

fix(IDX): set USER in devcontainer (#2923)
  .devcontainer/devcontainer.json
Due: none

Updating container image to sha256:6a548dd4cfee96260b6938fddaa74abc86fc0df5c407d4eef135694b64c288e3
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  ci/container/TAG
Due: none

Notes added by 'git notes add'
  cd/2105aad4036a9ed471a43acf17c927d6cd9fa5
Due: none

chore(dependency-mgmt): bump cargo-audit to v0.21.0 (#2935)
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  ci/container/Dockerfile
  ci/container/TAG
Due: none

test: deriving reject code from error code (#2871)
  rs/types/error_types/src/lib.rs
Due: bazel_rust_format

XC-230: WIP add timestamps
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/audit.rs
  rs/bitcoin/ckbtc/minter/src/state/eventlog.rs
  rs/bitcoin/ckbtc/minter/src/state/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/update_balance.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  09/7421869217452d8bbf95849fffec002a5ec9c4
Due: none

review
  rs/types/types/src/exhaustive.rs
Due: bazel_rust_format

fix(IDX): Add default directory for lint script
  ci/scripts/rust-lint.sh
Due: bazel_shfmt_format

fix
  rs/execution_environment/tests/subnet_size_test.rs
Due: bazel_rust_format

rename
  rs/artifact_pool/src/idkg_pool.rs
  rs/artifact_pool/src/lmdb_pool.rs
  rs/consensus/src/idkg/payload_builder/signatures.rs
  rs/consensus/src/idkg/signer.rs
  rs/interfaces/src/idkg.rs
  rs/protobuf/def/types/v1/idkg.proto
  rs/types/types/src/consensus/idkg.rs
Due: bazel_protobuf_format, bazel_rust_format

fix
  rs/types/types/src/consensus/idkg.rs
  rs/types/types/src/consensus/idkg/vet_kd.rs
Due: bazel_rust_format

fix(IDX): Add default directory for lint script (#2937)
  ci/scripts/rust-lint.sh
Due: bazel_shfmt_format

print using dfn core
  rs/ledger_suite/icp/ledger/src/main.rs
Due: bazel_rust_format

Updated the blocklist.
  rs/bitcoin/kyt/src/blocklist.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  aa/b432742fc27b9e1dd476f8bdb2220073e0d353
Due: none

Notes added by 'git notes add'
  88/0c08fc50023dc04a46f16d998f151e01b1eb17
Due: none

More adjustments to prune_some_following batch size and frequency.
  rs/nns/governance/canister/canister.rs
Due: bazel_rust_format

Update rs/types/types/src/exhaustive.rs
  rs/types/types/src/exhaustive.rs
Due: bazel_rust_format

XC-229: Fix bitcoin_get_utxos mock network assert
  rs/bitcoin/mock/src/main.rs
Due: bazel_rust_format
