Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Refactor to top-level state machine
  rs/nns/common/protobuf_generator/src/lib.rs
  rs/nns/common/src/gen/ic_nns_common.pb.v1.rs
  rs/nns/governance/src/voting.rs
Due: bazel_rust_format

Inlined code back into distribute_rewards.
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/proposals/mod.rs
  rs/nns/governance/tests/proposals.rs
Due: bazel_rust_format

Simplify
  rs/nns/governance/src/voting.rs
Due: bazel_rust_format

lint
  rs/nns/governance/tests/proposals.rs
Due: bazel_rust_format

fix
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

Add additional guestos packages
  ic-os/guestos/context/packages.common
Due: none

feat(crypto): CRP-2597 Use NiDkg-specific MasterPublicKeyId in NiDkgTag
  rs/crypto/internal/crypto_service_provider/src/vault/test_utils/ni_dkg/fixtures.rs
  rs/crypto/src/sign/threshold_sig/store.rs
  rs/crypto/src/sign/threshold_sig/store/tests.rs
  rs/types/types/src/consensus/dkg.rs
  rs/types/types/src/crypto/threshold_sig/ni_dkg.rs
  rs/types/types/src/crypto/threshold_sig/ni_dkg/id.rs
  rs/types/types/src/crypto/threshold_sig/ni_dkg/id/tests.rs
Due: bazel_rust_format

feat(nns): Increase the neurons limit to 380K (#2603)
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  1e/2a626f4f28ca9e7df674bf20ff4586afea5300
Due: none

Improve NiDkgTag rustdoc
  rs/types/types/src/crypto/threshold_sig/ni_dkg.rs
Due: bazel_rust_format

Update algorithm
  rs/nns/governance/src/voting.rs
Due: bazel_rust_format

feat(ckbtc): Remove reimbursement handling in retrieve_btc_with_approval (#2559)
  rs/bitcoin/ckbtc/minter/src/blocklist.rs
  rs/bitcoin/ckbtc/minter/src/lib.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/retrieve_btc.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
  rs/tests/ckbtc/ckbtc_minter_kyt.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  22/44bbbcbc0021c896b71f12c84c7454214f15db
Due: none

Call check_transaction on the new KYT canister for checking utxos
  Cargo.lock
  rs/bitcoin/ckbtc/minter/BUILD.bazel
  rs/bitcoin/ckbtc/minter/Cargo.toml
  rs/bitcoin/ckbtc/minter/ckbtc_minter.did
  rs/bitcoin/ckbtc/minter/src/dashboard.rs
  rs/bitcoin/ckbtc/minter/src/guard.rs
  rs/bitcoin/ckbtc/minter/src/lifecycle/init.rs
  rs/bitcoin/ckbtc/minter/src/lifecycle/upgrade.rs
  rs/bitcoin/ckbtc/minter/src/management.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/audit.rs
  rs/bitcoin/ckbtc/minter/src/state/eventlog.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/update_balance.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/ckbtc/ckbtc_minter_basics_test.rs
  rs/tests/ckbtc/ckbtc_minter_batching.rs
  rs/tests/ckbtc/ckbtc_minter_deposit_and_withdrawal.rs
  rs/tests/ckbtc/ckbtc_minter_kyt.rs
  rs/tests/ckbtc/ckbtc_minter_retrieve_btc.rs
  rs/tests/ckbtc/ckbtc_minter_update_balance.rs
  rs/tests/ckbtc/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Run kyt canister in Normal mode if possible. Setup SSL reverse proxy for bitcoind so that https-outcall can go through.
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/ckbtc/ckbtc_minter_kyt.rs
  rs/tests/ckbtc/src/lib.rs
  rs/tests/ckbtc/src/utils.rs
Due: bazel_buildifier, bazel_rust_format

Fix a replay compatibility problem
  rs/bitcoin/ckbtc/minter/ckbtc_minter.did
  rs/bitcoin/ckbtc/minter/src/guard.rs
  rs/bitcoin/ckbtc/minter/src/lifecycle/init.rs
  rs/bitcoin/ckbtc/minter/src/lifecycle/upgrade.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/eventlog.rs
  rs/bitcoin/ckbtc/minter/src/tests.rs
  rs/bitcoin/ckbtc/minter/tests/tests.rs
  rs/tests/ckbtc/src/lib.rs
Due: bazel_rust_format

separate blocks
  rs/ledger_suite/icrc1/ledger/src/lib.rs
Due: bazel_rust_format

remove cursor
  rs/ledger_suite/icrc1/ledger/src/lib.rs
Due: bazel_rust_format

wip
  rs/execution_environment/src/canister_manager/tests.rs
Due: bazel_rust_format

.
  rs/monitoring/adapter_metrics/client/src/lib.rs
Due: bazel_rust_format

Rename canister_available_callbacks to remaining_canister_callback_quota.
  rs/execution_environment/src/hypervisor.rs
Due: bazel_rust_format

.
  rs/crypto/internal/crypto_service_provider/src/vault/remote_csp_vault/tarpc_csp_vault_client.rs
Due: bazel_rust_format

more test cases
  Cargo.lock
  rs/ingress_manager/BUILD.bazel
  rs/ingress_manager/Cargo.toml
  rs/ingress_manager/benches/build_payload.rs
Due: bazel_buildifier, bazel_rust_format

test
  rs/consensus/src/idkg/pre_signer.rs
  rs/consensus/src/idkg/signer.rs
  rs/consensus/src/idkg/utils.rs
  rs/tests/consensus/tecdsa/tecdsa_performance_test.rs
  rs/tests/consensus/utils/src/rw_message.rs
  rs/tests/dashboards/IC/threshold-signatures.json
Due: bazel_rust_format

lint
  rs/rosetta-api/icp/BUILD.bazel
Due: bazel_buildifier

Fix tests
  rs/tests/ckbtc/ckbtc_minter_retrieve_btc.rs
  rs/tests/ckbtc/ckbtc_minter_update_balance.rs
Due: bazel_rust_format

refactor(crypto): CRP-2597 inline ThresholdSigDataStoreImpl::new_with_max_size
  rs/crypto/src/sign/threshold_sig/store.rs
Due: bazel_rust_format

fix: multiple targets
  rs/boundary_node/anonymization/backend/Cargo.toml
Due: none

Rename test
  rs/crypto/src/sign/threshold_sig/store/tests.rs
Due: bazel_rust_format

feat: [MR-592] Define and enforce callback limits (#1838)
  rs/canister_sandbox/src/protocol/sbxsvc.rs
  rs/canister_sandbox/src/sandbox_server.rs
  rs/config/src/execution_environment.rs
  rs/embedders/fuzz/src/wasm_executor.rs
  rs/embedders/src/wasmtime_embedder/wasmtime_embedder_tests.rs
  rs/embedders/tests/wasmtime_random_memory_writes.rs
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/Cargo.toml
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/benches/system_api/execute_query.rs
  rs/execution_environment/benches/system_api/execute_update.rs
  rs/execution_environment/benches/wasm_instructions/main.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/inspect_message.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/hypervisor/tests.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/replicated_state/src/replicated_state.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/sandbox_safe_system_state.rs
  rs/system_api/tests/common/mod.rs
  rs/system_api/tests/sandbox_safe_system_state.rs
  rs/system_api/tests/system_api.rs
  rs/test_utilities/embedders/src/lib.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

registry_with_ni_dkg_transcript -> registry_with_initial_ni_dkg_transcript
  rs/crypto/test_utils/ni-dkg/src/initial_config/tests.rs
Due: bazel_rust_format

remove clones
  rs/ingress_manager/src/ingress_selector.rs
  rs/types/types/src/batch/ingress.rs
Due: bazel_rust_format

cargo fmt
  rs/types/types/src/batch/ingress.rs
Due: bazel_rust_format

Update rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/ledger/src/lib.rs
Due: bazel_rust_format

fix: mark icp_rosetta_system_tests as flaky (#2615)
  rs/rosetta-api/icp/BUILD.bazel
Due: bazel_buildifier

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
