Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

fix: nns_cycles_minting_test (#7128)
  PULL_REQUEST_BAZEL_TARGETS
  rs/tests/nns/cycles_minting/cycles_minting.rs
  rs/tests/nns/nns_cycles_minting_test.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  32/aa1d3331189848b51d91c67205f156a889fd3c
Due: none

refactor: Use SubnetConfig in ExecutionTestBuilder to group configuration options in tests
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

stop HTTP gateway if instance is not owned and harden tests
  packages/pocket-ic/src/nonblocking.rs
  packages/pocket-ic/tests/tests.rs
Due: bazel_rust_format

Update .github/workflows/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

access control
  rs/execution_environment/src/canister_manager.rs
Due: bazel_rust_format

remove id
  .github/workflows/ci-main.yml
Due: none

feat: Update PocketIC's routing table when syncing the registry (#7096)
  Cargo.lock
  rs/migration_canister/tests/tests.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  56/d1c9c245d4963aa0dc60232224b9f26742e864
Due: none

fix: change the return type of to an optional result
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/canister/governance.did
Due: bazel_rust_format

Update rs/https_outcalls/consensus/src/pool_manager.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

min-max
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

More updates
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

fix: syntax error in candid
  rs/nns/governance/canister/governance.did
Due: none

chore(IDX): replace dependencies-check runner (#7127)
  .github/workflows/ci-pr-only.yml
Due: none

fix tests
  rs/execution_environment/src/canister_manager/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  4b/b7d239ef61b5ff94d56b30f330132078cd8a7c
Due: none

style
  rs/recovery/src/steps.rs
Due: bazel_rust_format

simplify
  .github/workflows/ci-main.yml
Due: none

refactor(IDX): combine CI cargo jobs (#7124)
  .github/workflows/ci-main.yml
Due: none

Add ic-agent timeout for initial sync
  rs/rosetta-api/icp/ledger_canister_blocks_synchronizer/src/canister_access.rs
Due: bazel_rust_format

feat: use nb_checkpoints in local app recoveries
  rs/tests/consensus/subnet_recovery/common.rs
Due: bazel_rust_format

Add account and block id composite index
  rs/rosetta-api/icp/ledger_canister_blocks_synchronizer/src/blocks.rs
Due: bazel_rust_format

fix(PocketIC): stop HTTP gateways before deleting PocketIC instance (#7126)
  packages/pocket-ic/src/nonblocking.rs
  packages/pocket-ic/tests/tests.rs
  rs/pocket_ic_server/src/state_api/state.rs
Due: bazel_rust_format

Fix clippy
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

fix: clippy
  rs/recovery/src/steps.rs
Due: bazel_rust_format

comments
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

last comment
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

change: name of the failing tests to indicate the failure is expected
  rs/nns/governance/src/governance.rs
  rs/nns/integration_tests/src/neuron_following.rs
Due: bazel_rust_format
