Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  bb/76b8f5aab25983e97b9e2d8ca40381971148ad
Due: none

Fix imports
  rs/artifact_pool/src/lmdb_pool.rs
  rs/consensus/benches/validate_payload.rs
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/src/consensus/block_maker.rs
  rs/consensus/tests/types.rs
  rs/test_utilities/artifact_pool/src/consensus_pool.rs
  rs/test_utilities/consensus/src/lib.rs
Due: bazel_rust_format

chore(IDX): remove zh1 pin from hourly pipeline
  .github/workflows-source/schedule-hourly.yml
Due: none

feat: run repro-check on each rc cut (#5187)
  .github/workflows-source/release-testing.yml
  .github/workflows/release-testing.yml
  .github/workflows/repro-check.yml
Due: none

IDX GitHub Automation
  .github/workflows/schedule-hourly.yml
Due: none

Notes added by 'git notes add'
  0d/ba014c1883d02346e273bd59a4f61073f8ad08
Due: none

fix(IDX): don't cache jemalloc build (#5174)
  .github/actions/bazel-test-all/action.yaml
  third_party/jemalloc/BUILD.jemalloc.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  1c/3fa53e71af05b00a8f12b896a1e6aaf4aa602d
Due: none

fix(IDX): deduplicate release flag
  .github/actions/bazel-test-all/action.yaml
Due: none

Notes added by 'git notes add'
  88/079a4d731ff4202e22b777b5146ea33f1ea069
Due: none

Notes added by 'git notes add'
  50/905795f7842bfae64ec060fd8a29e52fe9e29b
Due: none

test
  rs/cup_explorer/BUILD.bazel
  rs/cup_explorer/Cargo.toml
  rs/cup_explorer/ic_public_key.pem
  rs/cup_explorer/src/lib.rs
  rs/cup_explorer/src/main.rs
Due: bazel_buildifier, bazel_rust_format

Don't cache test images
  ic-os/setupos/BUILD.bazel
Due: bazel_buildifier

chore(IDX): remove zh1 pin for bazel-test-all
  .github/workflows-source/ci-main.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

undo
  .github/workflows-source/schedule-hourly.yml
Due: none

lint
  rs/rosetta-api/icrc1/src/common/storage/storage_operations_test.rs
Due: bazel_rust_format

formatting
  rs/execution_environment/Contributing.md
Due: none

create files
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/canbench/benches.rs
  rs/ledger_suite/icp/ledger/canbench_results/canbench.yml
Due: bazel_buildifier, bazel_rust_format

wip
  Cargo.lock
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment.rs
  rs/replicated_state/BUILD.bazel
  rs/replicated_state/Cargo.toml
  rs/replicated_state/src/canister_snapshots.rs
  rs/types/base_types/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

fix(IDX): deduplicate release flag (#5258)
  .github/actions/bazel-test-all/action.yaml
Due: none

fix(icrc-rosetta): Fix timestamp overflow (#5249)
  rs/rosetta-api/icrc1/BUILD.bazel
  rs/rosetta-api/icrc1/src/common/storage/storage_operations.rs
  rs/rosetta-api/icrc1/src/common/storage/storage_operations_test.rs
Due: bazel_buildifier, bazel_rust_format

clippy
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

chore: update management canister contribution guidelines (#5223)
  rs/execution_environment/Contributing.md
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
