Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

second
  rs/sns/testing/BUILD.bazel
Due: bazel_buildifier

first
  MODULE.bazel
  publish/binaries/BUILD.bazel
  rs/sns/testing/BUILD.bazel
Due: bazel_buildifier

save
  rs/sns/testing/BUILD.bazel
Due: bazel_buildifier

chore: Translate some read state request tests to Rust (#4996)
  Cargo.lock
  rs/tests/idx/wabt-tests/BUILD.bazel
  rs/tests/idx/wabt-tests/Cargo.toml
  rs/tests/idx/wabt-tests/src/lib.rs
  rs/tests/idx/wabt-tests/src/main.rs
  rs/tests/networking/BUILD.bazel
  rs/tests/networking/Cargo.toml
  rs/tests/networking/read_state_test.rs
Due: bazel_buildifier, bazel_rust_format

test wip
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/canister_snapshots.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  60/32740c072453ec6f9b9d6d6a90bf05e818e56f
Due: none

test done
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f6/8a58fab66933bfecb9b1049689d9cc6db929e0
Due: none

Deterministic prefetching results
  3f54ca4c90.log
  EMBEDDERS_HEAP.min
  rs/execution_environment/benches/run-all-benchmarks.sh
Due: bazel_shfmt_format

Add link error to internet computer specifications
  rs/execution_environment/src/canister_manager/types.rs
Due: bazel_rust_format

Update boot args key to `extra_boot_args_template`
  ic-os/defs.bzl
  ic-os/guestos/defs.bzl
Due: bazel_buildifier

refactor: adding timestamp checking for all values
  rs/nns/integration_tests/src/registry_get_chunk.rs
Due: bazel_rust_format

Update rs/execution_environment/src/canister_manager/types.rs
  rs/execution_environment/src/canister_manager/types.rs
Due: bazel_rust_format

ic-gateway v0.2.16
  ic-os/boundary-guestos/context/Dockerfile
Due: none

wip
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

wip
  .github/actions/bazel-test-all/action.yaml
  publish/binaries/BUILD.bazel
  publish/canisters/BUILD.bazel
  publish/defs.bzl
  rs/sns/root/canister/canister.rs
Due: bazel_buildifier, bazel_rust_format

make a variable for f+1
  rs/consensus/utils/src/pool_reader.rs
Due: bazel_rust_format

rename
  rs/consensus/utils/src/pool_reader.rs
Due: bazel_rust_format

Move to ic-types
  rs/consensus/dkg/src/lib.rs
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/payload_validator.rs
  rs/consensus/dkg/src/utils.rs
  rs/consensus/src/consensus/validator.rs
  rs/interfaces/src/dkg.rs
  rs/types/types/src/consensus/dkg.rs
Due: bazel_rust_format

reusing existing code
  Cargo.lock
  rs/registry/canister/BUILD.bazel
  rs/registry/canister/Cargo.toml
  rs/registry/canister/src/registry.rs
Due: bazel_buildifier, bazel_rust_format

chore: EXC-1701: Add error doc for CanisterManagerError::ReservedCyclesLimitIsTooLow (#5074)
  rs/execution_environment/src/canister_manager/types.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e3/09dc2afda556b4ca86e54992e2a45926e89819
Due: none

2nd attempt to publish sns_testing_bundle
  publish/binaries/BUILD.bazel
Due: bazel_buildifier

Add summary
  compare.sh
  summary.txt
Due: bazel_shfmt_format

fix: prevent default implementations from panicking
  rs/interfaces/src/idkg.rs
Due: bazel_rust_format

wip
  .github/actions/bazel-test-all/action.yaml
Due: none

Add link doc for canister snapshot limit
  rs/execution_environment/src/canister_manager/types.rs
Due: bazel_rust_format

format
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

gazelle and buildifier
  rs/registry/canister/BUILD.bazel
Due: bazel_buildifier
