Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  d1/7b2c8615bd1ee7d89b73116fdf5e2816f54f2f
Due: none

comments
  rs/tests/networking/canister_http/canister_http.rs
Due: bazel_rust_format

Rename .did fields
  rs/node_rewards/canister/node-rewards-canister.did
Due: none

comments 2
  rs/tests/networking/canister_http/canister_http.rs
Due: bazel_rust_format

Add allowed_viewers to log_visibility and log_memory_limit to CanisterSettigns.
  rs/nns/cmc/cmc.did
  rs/nns/cmc/src/lib.rs
  rs/nns/cmc/src/main.rs
Due: bazel_rust_format

Add NRC telemetry
  Cargo.lock
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/telemetry.rs
Due: bazel_rust_format

Re-export CanisterSettingsArgs from cmc so that it can be used by nervous_system/agent.
  rs/nns/cmc/src/lib.rs
Due: bazel_rust_format

Benchmarks for v2 passing
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/benches/lib/src/wat.rs
  rs/execution_environment/benches/system_api/execute_update.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_buildifier, bazel_rust_format

lint
  rs/nns/integration_tests/src/cycles_minting_canister.rs
Due: bazel_rust_format

changelog
  rs/nns/cmc/unreleased_changelog.md
Due: none

Fix broken NO migration
  rs/registry/canister/src/registry_lifecycle.rs
Due: bazel_rust_format

fix(Registry): Fix Node Operators migration for filling max_rewardable_nodes (#7490)
  rs/registry/canister/src/registry_lifecycle.rs
Due: bazel_rust_format

[create-pull-request] automated change
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

Rename copy_bootstrap_files
  rs/ic_os/config/src/guestos/bootstrap_ic_node.rs
Due: bazel_rust_format

Update logs
  rs/ic_os/config/src/guestos/bootstrap_ic_node.rs
Due: bazel_rust_format

fix: Fix the release script for custom upgrades (#7319)
  testnet/tools/nns-tools/submit-mainnet-insert-upgrade-path-proposal.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  01/79505cc75d2d689fe2e13909e6396224056b53
Due: none

Notes added by 'git notes add'
  90/c78267e1c9ac75ea6bdf3ee8d006357b542166
Due: none

Do not cleanup tmpdir if umount fails
  rs/ic_os/device/src/mount.rs
Due: bazel_rust_format

Also add retry
  rs/ic_os/device/src/mount.rs
Due: bazel_rust_format

Install ledger index if missing
  Cargo.lock
  rs/nervous_system/integration_tests/tests/recover_from_deleted_index_canister.rs
  rs/sns/root/BUILD.bazel
  rs/sns/root/Cargo.toml
  rs/sns/root/canister/canister.rs
  rs/sns/root/src/install_index_canister_if_missing.rs
  rs/sns/root/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  e3/5169b992ebb939c33057c4c0fdaaa6643662b2
Due: none

Fix test
  rs/sns/root/src/lib.rs
Due: bazel_rust_format

Fix mock_sev_checker race condition
  rs/ic_os/config/src/guestos/bootstrap_ic_node.rs
Due: bazel_rust_format

Address comments
  rs/registry/canister/src/mutations/node_management/do_add_node.rs
  rs/registry/canister/src/rate_limits.rs
Due: bazel_rust_format

Changelog
  rs/registry/canister/unreleased_changelog.md
Due: none

Fix clippy
  rs/ic_os/config/src/guestos/bootstrap_ic_node.rs
Due: bazel_rust_format

Add try_logging_guestos_diagnostics
  rs/tests/nested/hostos_upgrade.rs
  rs/tests/nested/src/util.rs
Due: bazel_rust_format

Add panic to test CI runs
  rs/tests/driver/src/driver/test_env_api.rs
Due: bazel_rust_format
