Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Notes added by 'git notes add'
  c3/fe9d2cad3fc0d0298d40f534321704b3b0d75b
Due: none

Notes added by 'git notes add'
  44/3555965ec3cedc27116e5807e66dfab88ee93c
Due: none

fix
  Cargo.lock
Due: none

fix: keep backup-pod ssh-agent socket outside ~/.ssh
  .github/workflows/schedule-daily.yml
Due: none

fix wrong function name
  rs/replica/src/setup_ic_stack.rs
Due: bazel_rust_format

[create-pull-request] automated change
  ic-os/bootloader/context/docker-base
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

feat(registry-canister): get_subnet endpoint
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/tests/icp_features.rs
  rs/registry/canister/canister/canister.rs
  rs/registry/canister/canister/registry.did
  rs/registry/canister/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

new files
  rs/registry/canister/src/get_subnet.rs
  rs/registry/canister/tests/get_subnet.rs
Due: bazel_rust_format

changelog
  rs/registry/canister/unreleased_changelog.md
Due: none

fmt
  packages/pocket-ic/tests/icp_features.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  packages/pocket-ic/BUILD.bazel
Due: bazel_buildifier

test: keep backup-pod ssh-agent socket outside ~/.ssh (#10385)
  .github/workflows/schedule-daily.yml
Due: none

Notes added by 'git notes add'
  a7/65aa97a1dba5237f4052c76684de45bd65e725
Due: none

fixes
  Cargo.lock
  packages/pocket-ic/Cargo.toml
  packages/pocket-ic/tests/icp_features.rs
  rs/registry/canister/canister/registry_test.did
  rs/registry/canister/tests/get_subnet.rs
Due: bazel_rust_format

feat(outcalls): reject PATCH in the execution layer until rollout
  rs/tests/networking/canister_http_correctness_test.rs
  rs/types/types/src/canister_http.rs
Due: bazel_rust_format

chore: remove deprecated ic-cdk imports in ic-icp-archive (#10318)
  rs/ledger_suite/icp/archive/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  2f/a44b92b245d7dcf7cc636281d1dc4ac6aea65c
Due: none

Updating container images to tag: d447733a7790797ebb944eb6070e9b55b1acecdd61ccbe6999570656ab5b0dc8
  .devcontainer/devcontainer.json
  .github/workflows/api-bn-recovery-test.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/container-api-bn-recovery.yml
  .github/workflows/container-scan-nightly.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/system-tests-benchmarks-nightly.yml
  .github/workflows/update-mainnet-canister-revisions.yaml
  ci/container/TAG
Due: none

docs(outcalls): PATCH candid + changelogs per review
  packages/ic-management-canister-types/CHANGELOG.md
  packages/ic-management-canister-types/tests/ic.did
  packages/pocket-ic/CHANGELOG.md
Due: none

feat: enable canister log memory store feature [DO NOT MERGE]
  rs/config/src/execution_environment.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  fb/721da900b9e9219773ee312f987971338f7c62
Due: none

fix
  rs/https_outcalls/consensus/src/payload_builder.rs
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/https_outcalls/consensus/src/payload_builder/utils.rs
Due: bazel_rust_format

feat: Allow xnet on engines
  rs/canonical_state/src/encoding/tests/conversion.rs
  rs/canonical_state/src/encoding/types.rs
  rs/messaging/src/message_routing.rs
  rs/messaging/src/message_routing/tests.rs
  rs/messaging/src/routing/stream_builder.rs
  rs/messaging/src/routing/stream_builder/tests.rs
  rs/messaging/src/routing/stream_handler.rs
  rs/messaging/src/routing/stream_handler/tests.rs
  rs/protobuf/def/state/queues/v1/queues.proto
  rs/protobuf/src/gen/state/state.queues.v1.rs
  rs/protobuf/src/gen/types/state.queues.v1.rs
  rs/replicated_state/src/metadata_state/tests.rs
  rs/test_utilities/src/state_manager.rs
  rs/tests/message_routing/xnet/xnet_cloud_engine_isolation_test.rs
  rs/types/types/src/xnet.rs
  rs/xnet/payload_builder/src/impl_tests.rs
  rs/xnet/payload_builder/src/lib.rs
  rs/xnet/payload_builder/src/tests.rs
Due: bazel_protobuf_format, bazel_rust_format

fix for Ubuntu 26.04
  rs/tests/driver/src/driver/local_backend.rs
Due: bazel_rust_format

bench
  rs/https_outcalls/consensus/BUILD.bazel
  rs/https_outcalls/consensus/benches/payload_validation.rs
  rs/https_outcalls/consensus/src/payload_builder.rs
Due: bazel_buildifier, bazel_rust_format

docs: clarify comment
  rs/consensus/src/consensus/catchup_package_maker.rs
Due: bazel_rust_format

fmt
  rs/https_outcalls/consensus/benches/payload_validation.rs
Due: bazel_rust_format

rs
  rs/https_outcalls/consensus/src/payload_builder.rs
Due: bazel_rust_format

fixes
  rs/registry/canister/canister/registry.did
  rs/registry/canister/src/get_subnet.rs
Due: bazel_rust_format
