Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

test(cketh): credit twenty CEX deposits through one EIP-7702 sweep per token (#11363)
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/anvil.rs
  rs/ethereum/cketh/test_utils/src/ckerc20.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/live.rs
Due: bazel_buildifier, bazel_rust_format

Regenerate the minter's canbench baseline after the master merge
  rs/ethereum/cketh/minter/canbench/results.yml
Due: none

feat: a MergeSubnets proposal performs the registry side of a subnet merge
  rs/nns/governance/api/src/types.rs
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/pb/conversions/mod.rs
  rs/nns/governance/src/proposals/execute_nns_function.rs
  rs/registry/canister/canister/canister.rs
  rs/registry/canister/canister/registry.did
  rs/registry/canister/canister/registry_test.did
  rs/registry/canister/src/mutations/do_recover_subnet.rs
  rs/registry/canister/src/mutations/merge_subnets.rs
  rs/registry/canister/tests/merge_subnets.rs
  rs/registry/canister/unreleased_changelog.md
  rs/state_machine_tests/src/lib.rs
Due: bazel_protobuf_format, bazel_rust_format

feat(state_tool): print the batch time of a checkpoint
  rs/state_tool/src/commands.rs
  rs/state_tool/src/commands/checkpoint_time.rs
  rs/state_tool/src/main.rs
Due: bazel_rust_format

test(cketh): fund the sweeper again once accepted sweeps consume its prepaid gas
  rs/ethereum/cketh/minter/src/state/sweeper_funding/tests.rs
Due: bazel_rust_format

test(cketh): fund the sweep e2e's sweeper through the production pipeline
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/src/live.rs
Due: bazel_rust_format

fix(cketh): refuse a sweep the sweeper's gas cannot pay for
  rs/ethereum/cketh/minter/src/state/sweeper_funding/tests.rs
  rs/ethereum/cketh/minter/src/sweep/mod.rs
  rs/ethereum/cketh/minter/src/sweep/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
Due: bazel_rust_format

docs(cketh): correct which way a too-low sweeper balance bound errs
  rs/ethereum/cketh/minter/src/state/sweeper_funding.rs
Due: bazel_rust_format

fix(cketh): provision sweep gas out of the sweeper balance bound
  rs/ethereum/cketh/docs/deposit_from_cex.md
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/sweeper_funding.rs
  rs/ethereum/cketh/minter/src/state/sweeper_funding/tests.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ba/61ed07f30e8a30f996ebdf8cf3658c9d49ace1
Due: none

removed most comments to make the code easier to read
  .github/actions/attest-uploads/action.yaml
  .github/actions/upload-artifacts/action.yaml
  .github/workflows/ci-kickoff.yml
  .github/workflows/ci-main.yml
  .github/workflows/release-testing.yml
Due: none

fix(PocketIC): prune the ingress pool (#11368)
  rs/state_machine_tests/src/lib.rs
  rs/state_machine_tests/src/tests.rs
Due: bazel_rust_format

feat(subnet-splitting): preemptively load the post-split DKG transcripts in the key manager (#11205)
  rs/consensus/dkg/src/dkg_key_manager.rs
  rs/consensus/dkg/src/lib.rs
  rs/consensus/dkg/src/payload_validator.rs
  rs/consensus/src/consensus.rs
  rs/consensus/tests/framework/runner.rs
  rs/consensus/tests/payload.rs
  rs/replay/src/validator.rs
  rs/replica/setup_ic_network/src/lib.rs
Due: bazel_rust_format

refactor(cketh): keep the sweeper's gas as its own checked EthBalance
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/sweeper_funding.rs
  rs/ethereum/cketh/minter/src/state/sweeper_funding/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  f0/23e75e2e55343f9ae85bf51a593c90d298a794
Due: none

chore: deduplicate test-strategy crate
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/rust.MODULE.bazel
  rs/execution_environment/Cargo.toml
  rs/messaging/Cargo.toml
Due: bazel_buildifier

comment reduction
  ci/src/artifacts/upload.sh
Due: bazel_shfmt_format

Move test-strategy to virtual manifest
  Cargo.toml
  rs/execution_environment/Cargo.toml
  rs/messaging/Cargo.toml
Due: none

fix: Insert HTTP outcalls pay-as-you-go refunds into the refund pool (#11045)
  rs/messaging/src/canister_http_spent.rs
  rs/replicated_state/src/replicated_state.rs
  rs/state_manager/src/split/tests.rs
  rs/types/types/src/messages/inter_canister.rs
Due: bazel_rust_format

docs: typo
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

refactor: simplify & clarify arguments
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/finalizer.rs
  rs/replay/src/player.rs
Due: bazel_rust_format

fix: clippy
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

feat: implement batch delivery
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/finalizer.rs
Due: bazel_rust_format

fix: chore
  rs/consensus/src/consensus/batch_delivery.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  bc/62af0ff49e7a15a2eeaef1d7150a7870deb200
Due: none

docs: Document the certified-time guarantee on make_live and instance creation
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/src/lib.rs
  packages/pocket-ic/src/nonblocking.rs
  rs/pocket_ic_server/src/state_api/routes.rs
  rs/pocket_ic_server/src/state_api/state.rs
Due: bazel_rust_format

feat(ci): attest CDN artifact uploads with build provenance (#11323)
  .github/actions/attest-uploads/action.yaml
  .github/actions/upload-artifacts/action.yaml
  .github/workflows/ci-kickoff.yml
  .github/workflows/ci-main.yml
  .github/workflows/release-testing.yml
  .github/workflows/slack-workflow-run.yml
  ci/src/artifacts/upload.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  a3/2d604f9b19b27788f53e73b2a0d28d9a84991f
Due: none
