Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

refactor: CON-1468 Extract common functionality of verifying NiDKG dealings (#3951)
  rs/consensus/dkg/src/lib.rs
  rs/consensus/dkg/src/payload_validator.rs
Due: bazel_rust_format

small refactor
  rs/ledger_suite/icp/archive/tests/tests.rs
Due: bazel_rust_format

Post-review fixes
  rs/execution_environment/tests/execution_test.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  06/9dc97d0a13765370ff579eedf91f20f2697530
Due: none

test: EXC-1878: Add failed stable memory grow tests (#3932)
  rs/execution_environment/tests/execution_test.rs
Due: bazel_rust_format

write registry records
  rs/orchestrator/registry_replicator/src/lib.rs
  rs/orchestrator/src/upgrade.rs
  rs/replay/src/lib.rs
  rs/tests/consensus/subnet_recovery/sr_nns_same_nodes_test.rs
  rs/types/types/src/consensus/catchup.rs
Due: bazel_rust_format

todo
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  7a/2752796ef7b1df0a932b4b439c450a95cb4d0f
Due: none

chore(crypto): CRP-2697 Move getrandom wasm32-unknown-unknown workaround to packages (#3926)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  packages/ic-dummy-getrandom-for-wasm/BUILD.bazel
  packages/ic-dummy-getrandom-for-wasm/Cargo.toml
  packages/ic-dummy-getrandom-for-wasm/README.md
  packages/ic-dummy-getrandom-for-wasm/src/lib.rs
  rs/bitcoin/ckbtc/minter/BUILD.bazel
  rs/bitcoin/ckbtc/minter/Cargo.toml
  rs/nns/cmc/BUILD.bazel
  rs/nns/cmc/Cargo.toml
  rs/nns/governance/BUILD.bazel
  rs/nns/governance/Cargo.toml
  rs/nns/gtc/BUILD.bazel
  rs/nns/gtc/Cargo.toml
Due: bazel_buildifier, bazel_rust_format

fix fuzzer tests
  rs/http_endpoints/fuzz/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  88/2e7af8e9b78cd1838532e38807924d7ed5e86a
Due: none

ledger suite candids
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/ledger-suite-orchestrator/ledger_suite_orchestrator.did
Due: none

Updated MINIMUM_MEMORY_SIZE comment
  ic-os/components/setupos-scripts/check-hardware.sh
Due: bazel_shfmt_format

refactor: Move log_dirty_pages to the module where it's used (#3957)
  rs/execution_environment/src/execution/call_or_task.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

review
  rs/tests/driver/src/k8s/tnet.rs
Due: bazel_rust_format

Update rs/tests/driver/src/k8s/tnet.rs
  rs/tests/driver/src/k8s/tnet.rs
Due: bazel_rust_format

chore(boundary): add periodic shared salt fetching in `ic-boundary` (#3887)
  Cargo.lock
  rs/boundary_node/ic_boundary/BUILD.bazel
  rs/boundary_node/ic_boundary/Cargo.toml
  rs/boundary_node/ic_boundary/src/cli.rs
  rs/boundary_node/ic_boundary/src/core.rs
  rs/boundary_node/ic_boundary/src/lib.rs
  rs/boundary_node/ic_boundary/src/main.rs
  rs/boundary_node/ic_boundary/src/salt_fetcher.rs
  rs/boundary_node/salt_sharing/canister/salt_sharing_canister.did
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/boundary_nodes/Cargo.toml
  rs/tests/boundary_nodes/salt_sharing_canister_test.rs
Due: bazel_buildifier, bazel_rust_format

fix(IDX): remove unused step output (#3938)
  ci/bazel-scripts/main.sh
Due: bazel_shfmt_format

chore(IDX): Use single BAZEL_COMMAND (#3906)
  .github/actions/bazel-test-all/action.yaml
  .github/workflows-source/ci-main.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/release-testing.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/system-tests-k8s.yml
  ci/bazel-scripts/diff.sh
  ci/bazel-scripts/main.sh
Due: bazel_shfmt_format

chore(IDX): simplify workspace_status (#3940)
  bazel/workspace_status.sh
Due: bazel_shfmt_format

test(nns): Stop using NnsCanisterUpgrade nns function in integration tests (#3841)
  rs/nns/integration_tests/src/canister_upgrade.rs
  rs/nns/integration_tests/src/copy_inactive_neurons_to_stable_memory.rs
  rs/nns/integration_tests/src/governance_mem_test.rs
  rs/nns/integration_tests/src/upgrade_canisters_with_golden_nns_state.rs
  rs/nns/test_utils/src/governance.rs
  rs/nns/test_utils/src/state_test_helpers.rs
  rs/tests/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
Due: bazel_rust_format

chore(IDX): use proper regex for branch matching (#3954)
  ci/bazel-scripts/main.sh
Due: bazel_shfmt_format

fix: Use correct registry version to validate dealings inside of block payloads (#3944)
  Cargo.lock
  rs/consensus/dkg/BUILD.bazel
  rs/consensus/dkg/Cargo.toml
  rs/consensus/dkg/src/payload_validator.rs
Due: bazel_buildifier, bazel_rust_format

feat(nns): Improve ExecuteNnsFunction proposal validation (#3845)
  rs/nns/governance/protobuf_generator/src/lib.rs
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tests/mod.rs
Due: bazel_rust_format

chore(IDX): clean up status (#3942)
  bazel/ic_version_or_git_sha.sh
  bazel/workspace_status.sh
  rs/tests/driver/src/driver/farm.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_shfmt_format, bazel_rust_format

chore: Port https-outcalls spec compliances test from Haskell to Rust #2894 (#3468)
  Cargo.lock
  Cargo.toml
  hs/spec_compliance/BUILD.bazel
  hs/spec_compliance/src/IC/Test/Spec.hs
  hs/spec_compliance/src/IC/Test/Spec/HTTP.hs
  rs/rust_canisters/proxy_canister/src/lib.rs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/tests/httpbin-rs/src/main.rs
  rs/tests/networking/BUILD.bazel
  rs/tests/networking/Cargo.toml
  rs/tests/networking/canister_http/canister_http.rs
  rs/tests/networking/canister_http_correctness_test.rs
  rs/tests/networking/canister_http_fault_tolerance_test.rs
  rs/tests/networking/canister_http_socks_test.rs
  rs/tests/networking/canister_http_test.rs
  rs/tests/networking/canister_http_time_out_test.rs
Due: bazel_buildifier, bazel_ormolu_format, bazel_rust_format

fix(ckbtc): use scope guard to prevent double minting (#3930)
  rs/bitcoin/ckbtc/minter/ckbtc_minter.did
  rs/bitcoin/ckbtc/minter/src/dashboard.rs
  rs/bitcoin/ckbtc/minter/src/metrics.rs
  rs/bitcoin/ckbtc/minter/src/state.rs
  rs/bitcoin/ckbtc/minter/src/state/audit.rs
  rs/bitcoin/ckbtc/minter/src/state/eventlog.rs
  rs/bitcoin/ckbtc/minter/src/updates/tests.rs
  rs/bitcoin/ckbtc/minter/src/updates/update_balance.rs
Due: bazel_rust_format

refactor: Rename reached to instructions_reached (#3952)
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/execution_environment/src/scheduler.rs
Due: bazel_rust_format

refactor: Simplify logic to get a CallOrigin from a Query (#3953)
  rs/execution_environment/src/query_handler/query_context.rs
Due: bazel_rust_format

fix(nns): Rollback neurons migration (#3948)
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/lib.rs
  rs/nns/governance/unreleased_changelog.md
  rs/nns/integration_tests/src/governance_migrations.rs
Due: bazel_rust_format

refactor(node): standardize custom_partitions interface and improve documentation (#3917)
  ic-os/defs.bzl
  ic-os/guestos/defs.bzl
  ic-os/hostos/defs.bzl
  ic-os/setupos/defs.bzl
Due: bazel_buildifier

chore(crypto): CRP-2682 Change key derivation used in VetKD to BLS12-381 hash_to_scalar (#3736)
  Cargo.lock
  rs/crypto/internal/crypto_lib/bls12_381/type/src/lib.rs
  rs/crypto/internal/crypto_lib/bls12_381/type/tests/tests.rs
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/BUILD.bazel
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/Cargo.toml
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/src/lib.rs
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/src/ro.rs
  rs/crypto/internal/crypto_lib/bls12_381/vetkd/tests/tests.rs
  rs/crypto/internal/crypto_service_provider/src/vault/local_csp_vault/vetkd/tests.rs
Due: bazel_buildifier, bazel_rust_format

feat: list topics (#3394)
  Cargo.lock
  rs/sns/governance/BUILD.bazel
  rs/sns/governance/Cargo.toml
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/api/src/topics.rs
  rs/sns/governance/canister/canister.rs
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance/assorted_governance_tests.rs
  rs/sns/governance/src/lib.rs
  rs/sns/governance/src/pb/conversions.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/topics.rs
  rs/sns/governance/src/types.rs
  rs/sns/governance/src/types/tests.rs
  rs/sns/governance/unreleased_changelog.md
  rs/sns/integration_tests/src/nervous_system_functions.rs
  rs/sns/integration_tests/test_canisters/sns_governance_mem_test_canister.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

chore(ic-admin): Stop supporting NnsCanisterUpgrade/NnsRootUpgrade in ic-admin (#3846)
  rs/registry/admin/src/main.rs
Due: bazel_rust_format

refactor: Check wasm execution output only in sandbox (#3728)
  rs/canister_sandbox/src/protocol/ctlsvc.rs
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/canister_sandbox/src/sandbox_manager.rs
  rs/embedders/src/wasm_executor.rs
  rs/execution_environment/src/execution/call_or_task.rs
  rs/execution_environment/src/execution/common.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/interfaces/src/execution_environment.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/system_api/src/lib.rs
  rs/system_api/src/sandbox_safe_system_state.rs
Due: bazel_rust_format
