Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  89/1c0d9d63b158792f68999a69ad597e6c9130ff
Due: none

Reworked the whole ledger suite release workflow file
  .github/workflows/ledger-suite-create-release.yml
Due: none

binary_buckets_with_zero
  rs/execution_environment/src/scheduler/scheduler_metrics.rs
  rs/monitoring/metrics/src/buckets.rs
Due: bazel_rust_format

.
  rs/execution_environment/src/scheduler/scheduler_metrics.rs
Due: bazel_rust_format

.
  rs/monitoring/metrics/src/buckets.rs
Due: bazel_rust_format

feat: Allow canister_status via query call (#6932)
  rs/config/src/subnet_config.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/tests/execution_test.rs
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

deal with the future
  rs/protobuf/def/state/canister_state_bits/v1/canister_state_bits.proto
  rs/protobuf/src/gen/state/state.canister_state_bits.v1.rs
  rs/replicated_state/src/canister_state/system_state/call_context_manager/proto.rs
Due: bazel_protobuf_format, bazel_rust_format

update subnet available memory after uninstalling code
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/canister_manager/types.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/tests/canister_history.rs
  rs/replicated_state/src/canister_state.rs
Due: bazel_rust_format

test(recovery): use separate SSH keys in recovery system tests (#7009)
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/utils/src/node.rs
  rs/tests/consensus/utils/src/ssh_access.rs
  rs/tests/driver/src/driver/test_env.rs
  rs/tests/nested/nns_recovery/common.rs
Due: bazel_rust_format

comment
  rs/nns/cmc/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  8d/410efac5291c8a4d905e7009196a6752e5bb5a
Due: none

comment
  rs/execution_environment/src/execution/install_code/tests.rs
Due: bazel_rust_format

small refactor
  rs/ledger_suite/icrc1/test_utils/icrc3_test_ledger/src/main.rs
Due: bazel_rust_format

doc comments
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/system_state.rs
Due: bazel_rust_format

let
  rs/replicated_state/src/canister_state.rs
Due: bazel_rust_format

chore: Update Mainnet IC revisions canisters file
  mainnet-canister-revisions.json
Due: none

Notes added by 'git notes add'
  f1/f852d17003adb070ab0df84314fc87316669d1
Due: none

comments
  rs/execution_environment/src/scheduler.rs
Due: bazel_rust_format

chore: split replica bin from lib sources
  rs/replica/BUILD.bazel
  rs/replica/bin/replica/jemalloc_metrics.rs
  rs/replica/bin/replica/main.rs
  rs/replica/src/setup_ic_stack.rs
Due: bazel_buildifier, bazel_rust_format

Remove allowed downloads
  rs/p2p/state_sync_manager/src/metrics.rs
  rs/p2p/state_sync_manager/src/ongoing.rs
  rs/p2p/state_sync_manager/src/utils.rs
Due: bazel_rust_format

working
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/tests/networking/canister_http/canister_http.rs
  rs/tests/networking/canister_http_soak_test.rs
Due: bazel_rust_format

comments
  rs/execution_environment/tests/canister_history.rs
Due: bazel_rust_format

clippy
  rs/embedders/tests/common/mod.rs
  rs/embedders/tests/system_api.rs
  rs/execution_environment/src/execution/common.rs
  rs/replicated_state/src/canister_state/system_state/call_context_manager/tests.rs
  rs/replicated_state/src/canister_state/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a8/26c3d0f291cdceb7072c0ca61eb4f40ad4953f
Due: none

log_memory_limit
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_settings.rs
  rs/execution_environment/src/scheduler.rs
  rs/nns/cmc/src/lib.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/protobuf/def/state/canister_state_bits/v1/canister_state_bits.proto
  rs/protobuf/src/gen/state/state.canister_state_bits.v1.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/state_layout/src/state_layout.rs
  rs/state_layout/src/state_layout/proto.rs
  rs/state_layout/src/state_layout/tests.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/tip.rs
  rs/types/management_canister_types/src/lib.rs
  rs/types/management_canister_types/tests/ic.did
Due: bazel_protobuf_format, bazel_rust_format

.
  rs/execution_environment/src/canister_settings.rs
Due: bazel_rust_format

fmt
  rs/execution_environment/src/execution/response.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
