Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

Notes added by 'git notes add'
  e7/3589fd640855e44fd0ea031877a34bd9cd730d
Due: none

feat(node-rewards): second temporary node provider reward reduction cohort
  rs/node_rewards/canister/src/canister/mod.rs
Due: bazel_rust_format

feat: only look at flat layout
  rs/http_endpoints/nns_delegation_reader/src/validation.rs
Due: bazel_rust_format

test(cketh): reuse one anvil RPC client and stop panicking on transport errors
  rs/ethereum/cketh/test_utils/src/anvil.rs
Due: bazel_rust_format

feat: add subnet splitting status field
  rs/types/types/src/consensus/catchup.rs
  rs/types/types/src/consensus/dkg.rs
Due: bazel_rust_format

fix
  rs/types/types/src/consensus/dkg.rs
Due: bazel_rust_format

revert
  rs/types/types/src/consensus/dkg.rs
Due: bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/block_maker.rs
Due: bazel_rust_format

revert: make clippy happy
  rs/consensus/src/consensus/status.rs
Due: bazel_rust_format

feat: subnet splitting halting logic
  rs/consensus/dkg/src/lib.rs
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/payload_validator.rs
  rs/consensus/idkg/src/payload_builder.rs
  rs/consensus/idkg/src/payload_builder/errors.rs
  rs/consensus/idkg/src/payload_verifier.rs
  rs/consensus/src/consensus/batch_delivery.rs
  rs/consensus/src/consensus/block_maker.rs
  rs/consensus/src/consensus/catchup_package_maker.rs
  rs/consensus/src/consensus/malicious_consensus.rs
  rs/consensus/src/consensus/notary.rs
  rs/consensus/src/consensus/status.rs
  rs/consensus/src/consensus/validator.rs
  rs/test_utilities/artifact_pool/src/consensus_pool.rs
Due: bazel_rust_format

style
  rs/consensus/src/consensus/block_maker.rs
  rs/consensus/src/consensus/malicious_consensus.rs
  rs/consensus/src/consensus/status.rs
Due: bazel_rust_format

fix: remove unused enum variant
  rs/types/types/src/consensus/dkg.rs
Due: bazel_rust_format

fix: clippy
  rs/types/types/src/consensus/catchup.rs
Due: bazel_rust_format

test(cketh): end-to-end balance scan against a live anvil node (#10947)
  Cargo.lock
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/tests/deposit_from_cex.rs
  rs/ethereum/cketh/test_utils/BUILD.bazel
  rs/ethereum/cketh/test_utils/Cargo.toml
  rs/ethereum/cketh/test_utils/src/anvil.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/live_scan.rs
Due: bazel_buildifier, bazel_rust_format

chore: migrate to ic-cdk's new error handling interfaces
  packages/pocket-ic/test_canister/src/canister.rs
  rs/rosetta-api/icp/test_utils/sender_canister/src/lib.rs
  rs/rust_canisters/proxy_canister/src/lib.rs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/tests/networking/canister_http_correctness_test.rs
  rs/tests/networking/canister_http_fault_tolerance_test.rs
  rs/tests/networking/canister_http_flexible_test.rs
  rs/tests/networking/canister_http_non_replicated_test.rs
  rs/tests/networking/canister_http_soak_test.rs
  rs/tests/networking/canister_http_socks_test.rs
  rs/tests/networking/canister_http_stress_test.rs
  rs/tests/networking/canister_http_test.rs
  rs/tests/networking/canister_http_time_out_test.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  c2/69e1609687f6505ec9080947d4e08b9e3f6571
Due: none

fix(proxy_canister): unify map_call_error with pocket-ic test canister pattern
  rs/rust_canisters/proxy_canister/src/main.rs
Due: bazel_rust_format

refactor: simplify API
  rs/http_endpoints/nns_delegation_manager/src/nns_delegation_manager.rs
  rs/http_endpoints/nns_delegation_reader/src/builder.rs
  rs/http_endpoints/nns_delegation_reader/src/reader.rs
Due: bazel_rust_format

fix: revert lookup_range fn
  rs/registry/routing_table/src/lib.rs
Due: bazel_rust_format

docs(node-rewards): clarify that reduction rounds need no new motion
  rs/node_rewards/canister/src/canister/mod.rs
Due: bazel_rust_format

first try
  rs/https_outcalls/consensus/BUILD.bazel
  rs/https_outcalls/consensus/benches/payload_validation.rs
  rs/https_outcalls/consensus/src/payload_builder.rs
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/https_outcalls/consensus/src/payload_builder/utils.rs
  rs/https_outcalls/pricing/src/fees.rs
  rs/interfaces/src/canister_http.rs
  rs/protobuf/def/types/v1/canister_http.proto
  rs/protobuf/src/gen/types/types.v1.rs
  rs/types/types/src/batch/canister_http.rs
Due: bazel_buildifier, bazel_protobuf_format, bazel_rust_format

chore: migrate to ic-cdk's new error handling interfaces (#10963)
  packages/pocket-ic/test_canister/src/canister.rs
  rs/rosetta-api/icp/test_utils/sender_canister/src/lib.rs
  rs/rust_canisters/proxy_canister/src/lib.rs
  rs/rust_canisters/proxy_canister/src/main.rs
  rs/tests/networking/canister_http_correctness_test.rs
  rs/tests/networking/canister_http_fault_tolerance_test.rs
  rs/tests/networking/canister_http_flexible_test.rs
  rs/tests/networking/canister_http_non_replicated_test.rs
  rs/tests/networking/canister_http_soak_test.rs
  rs/tests/networking/canister_http_socks_test.rs
  rs/tests/networking/canister_http_stress_test.rs
  rs/tests/networking/canister_http_test.rs
  rs/tests/networking/canister_http_time_out_test.rs
Due: bazel_rust_format

feat(node-rewards): second temporary node provider reward reduction cohort (#10965)
  rs/node_rewards/canister/src/canister/mod.rs
Due: bazel_rust_format

test(migration-canister): drop redundant test of memory allocation restoration
  rs/migration_canister/tests/tests.rs
Due: bazel_rust_format

docs(migration-canister): the memory for canister history is reserved for both canisters
  rs/migration_canister/tests/tests.rs
Due: bazel_rust_format

docs(migration-canister): explain the memory allocation bump on its first occurrence
  rs/migration_canister/src/processing.rs
Due: bazel_rust_format

docs(migration-canister): drop irrelevant reason for setting the memory allocation
  rs/migration_canister/src/external_interfaces/management.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  93/b27da250da5317543c8dc782651148ce0d8a81
Due: none

Notes added by 'git notes add'
  32/b2178883a7126fd1464b74802018fa859056b2
Due: none
