Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

chore: Create oci tarball for nginx-proxy
  MODULE.bazel
Due: bazel_buildifier

Fix
  MODULE.bazel
Due: bazel_buildifier

Update rs/boundary_node/rate_limits/canister/certification.rs
  rs/boundary_node/rate_limits/canister/certification.rs
Due: bazel_rust_format

first
  rs/sns/governance/src/cached_upgrade_steps.rs
  rs/sns/governance/src/governance.rs
Due: bazel_rust_format

first
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/pb/conversions.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/types.rs
Due: bazel_protobuf_format, bazel_rust_format

Make sure the AdvanceSnsTargetVersionFeature is disabled in production.
  rs/sns/governance/src/governance.rs
Due: bazel_rust_format

first
  rs/sns/governance/src/cached_upgrade_steps.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/sns_upgrade.rs
Due: bazel_rust_format

second
  rs/sns/governance/src/cached_upgrade_steps.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
Due: bazel_rust_format

Add API comments
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
Due: bazel_protobuf_format, bazel_rust_format

first
  rs/sns/governance/src/cached_upgrade_steps.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/lib.rs
  rs/sns/governance/src/proposal.rs
Due: bazel_rust_format

second
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/proposal.rs
Due: bazel_rust_format

.
  rs/p2p/quic_transport/src/metrics.rs
Due: bazel_rust_format

chore(boundary): add errors and unit tests for `disclose_rules()` of rate-limit canister (#2710)
  rs/boundary_node/rate_limits/api/src/lib.rs
  rs/boundary_node/rate_limits/canister/access_control.rs
  rs/boundary_node/rate_limits/canister/add_config.rs
  rs/boundary_node/rate_limits/canister/canister.rs
  rs/boundary_node/rate_limits/canister/disclose.rs
  rs/boundary_node/rate_limits/canister/interface.did
  rs/boundary_node/rate_limits/canister/metrics.rs
  rs/boundary_node/rate_limits/canister/types.rs
Due: bazel_rust_format

fix(consensus): CON-1438 Don't increase the notary delay during upgrades (#2677)
  rs/consensus/src/consensus/notary.rs
  rs/consensus/src/consensus/status.rs
Due: bazel_rust_format

Buildifier
  MODULE.bazel
Due: bazel_buildifier

remove: encoding
  rs/boundary_node/rate_limits/canister/certification.rs
Due: bazel_rust_format

use minicbor for allowance serialization
  Cargo.lock
  rs/ledger_suite/common/ledger_core/src/approvals.rs
  rs/ledger_suite/common/ledger_core/src/approvals/tests.rs
  rs/ledger_suite/icrc1/ledger/src/lib.rs
  rs/ledger_suite/icrc1/tokens_u256/BUILD.bazel
  rs/ledger_suite/icrc1/tokens_u256/Cargo.toml
  rs/ledger_suite/icrc1/tokens_u256/src/encode_decode.rs
  rs/ledger_suite/icrc1/tokens_u256/src/lib.rs
  rs/ledger_suite/icrc1/tokens_u64/BUILD.bazel
  rs/ledger_suite/icrc1/tokens_u64/Cargo.toml
  rs/ledger_suite/icrc1/tokens_u64/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Add minimum policy that enforces a netmask of maximum 16 len for IPv4 and maximum 64 for IPv6. This policy is only checked during setup.
  rs/ic_os/config/src/firewall_json.rs
  rs/ic_os/config/src/firewall_policy.rs
  rs/ic_os/config/src/lib.rs
  rs/ic_os/os_tools/setupos_tool/src/main.rs
Due: bazel_rust_format

clippy
  rs/ledger_suite/common/ledger_core/src/approvals.rs
Due: bazel_rust_format

Update rs/rosetta-api/icrc1/tests/integration_test_components/blocks_synchronizer/fetching_blocks_interval_test.rs
  rs/rosetta-api/icrc1/tests/integration_test_components/blocks_synchronizer/fetching_blocks_interval_test.rs
Due: bazel_rust_format

clippy
  rs/ledger_suite/common/ledger_core/src/approvals/tests.rs
Due: bazel_rust_format

.
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

Docs
  rs/nervous_system/integration_tests/tests/advance_target_version.rs
Due: bazel_rust_format

capacity vector
  rs/ledger_suite/icrc1/ledger/Cargo.toml
  rs/ledger_suite/icrc1/ledger/src/lib.rs
Due: bazel_rust_format

leb128 to workspace
  Cargo.toml
  packages/icrc-ledger-agent/Cargo.toml
  rs/ledger_suite/icrc1/Cargo.toml
  rs/ledger_suite/icrc1/ledger/Cargo.toml
Due: none

CHANGELOG
  packages/icrc-ledger-agent/CHANGELOG.md
Due: none
