Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Add missing files
  rs/nervous_system/agent/src/ii/cycles_ledger.rs
  rs/nervous_system/agent/src/ii/cycles_ledger/requests.rs
  rs/nervous_system/agent/src/ii/mod.rs
  rs/nervous_system/candid_utils/src/wasm.rs
  rs/nervous_system/store_canister/Cargo.toml
  rs/nervous_system/store_canister/src/lib.rs
Due: bazel_rust_format

Minor fixes for release_runscript
  rs/nervous_system/tools/release-runscript/src/main.rs
  rs/nervous_system/tools/release-runscript/src/utils.rs
Due: bazel_rust_format

Correct the changelog for SNS Governance
  rs/sns/governance/CHANGELOG.md
Due: none

fix(nns/sns): Minor fixes for release_runscript (#3870)
  rs/nervous_system/tools/release-runscript/src/main.rs
  rs/nervous_system/tools/release-runscript/src/utils.rs
Due: bazel_rust_format

fix script for nns
  testnet/tools/nns-tools/add-release-to-changelog.sh
Due: bazel_shfmt_format

Change NNS Root code location to one level up
  testnet/tools/nns-tools/lib/functions.sh
Due: bazel_shfmt_format

chore(sns): Correct the changelog for SNS Governance (#3872)
  rs/sns/governance/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  be/b2292b84ff541a9f8a93f02c67f17b0a8095f4
Due: none

Notes added by 'git notes add'
  2e/7eda681b79b99bfb62d86f3cc493fcebecf92a
Due: none

release runscript learnings
  rs/nervous_system/tools/release-runscript/src/main.rs
  rs/nervous_system/tools/release-runscript/src/utils.rs
Due: bazel_rust_format

fix(nervous-system): resolve issues in the release runscript discovered today (#3871)
  rs/nervous_system/tools/release-runscript/src/main.rs
  rs/nervous_system/tools/release-runscript/src/utils.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  35/de262b00c507cbdf20d8baa0887d6498e27622
Due: none

chore(nns): update root changelog (#3866)
  rs/nns/handlers/root/CHANGELOG.md
  rs/nns/handlers/root/unreleased_changelog.md
Due: none

Notes added by 'git notes add'
  15/6d8ac3f3512270b21ef3551db153a0b9347ad7
Due: none

Stop using NnsCanisterUpgrade nns function in integration tests
  rs/nns/integration_tests/src/canister_upgrade.rs
  rs/nns/integration_tests/src/copy_inactive_neurons_to_stable_memory.rs
  rs/nns/integration_tests/src/governance_mem_test.rs
  rs/nns/integration_tests/src/upgrade_canisters_with_golden_nns_state.rs
  rs/nns/test_utils/src/governance.rs
  rs/nns/test_utils/src/state_test_helpers.rs
  rs/tests/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
Due: bazel_rust_format

fix(nervous-system-tools): changelog script looks at correct field for NNS (#3868)
  testnet/tools/nns-tools/add-release-to-changelog.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  dd/33ec61cd2760b9ad5dc60968ecadaefe723369
Due: none

chore(nns): Change NNS Root code location to one level up (#3873)
  testnet/tools/nns-tools/lib/functions.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  07/b61cfecf73de610b12523d49bb557af90990e0
Due: none

Notes added by 'git notes add'
  03/29e9f1fc3fbdde3ec36d6d917f5e0113dd7fc2
Due: none

chore(crypto): set correct publishing date for ic-ed25519 and ic-secp256k1
  packages/ic-ed25519/CHANGELOG.md
  packages/ic-secp256k1/CHANGELOG.md
Due: none

No best-effort messages in qualification
  rs/tests/dre/utils/steps/xnet.rs
Due: bazel_rust_format

.
  rs/tests/dre/utils/steps/xnet.rs
Due: bazel_rust_format

use cp
  rs/recovery/src/command_helper.rs
  rs/recovery/src/lib.rs
  rs/recovery/src/ssh_helper.rs
  rs/recovery/src/steps.rs
Due: bazel_rust_format

fix: No best-effort messages in RC qualification test (#3877)
  rs/tests/dre/utils/steps/xnet.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  3a/eac221f24817c3f6b23b95a7bcb60239331f1d
Due: none

refactoring printing
  rs/nns/handlers/recovery/impl/canister/canister.rs
  rs/nns/handlers/recovery/impl/src/lib.rs
  rs/nns/handlers/recovery/impl/src/node_operator_sync.rs
  rs/nns/handlers/recovery/impl/src/recovery_proposal.rs
Due: bazel_rust_format

adding anonymous identity
  Cargo.lock
  rs/nns/handlers/recovery/client/Cargo.toml
  rs/nns/handlers/recovery/impl/Cargo.toml
  rs/nns/handlers/recovery/impl/canister/tests/initial_args_test.rs
  rs/nns/handlers/recovery/interface/src/lib.rs
  rs/nns/handlers/recovery/interface/src/signing/anonymous.rs
  rs/nns/handlers/recovery/interface/src/signing/mod.rs
Due: bazel_rust_format

add ic-cdk dep
  Cargo.lock
  rs/nns/cmc/BUILD.bazel
  rs/nns/cmc/Cargo.toml
Due: bazel_buildifier

migrate times
  rs/nns/cmc/src/exchange_rate_canister.rs
  rs/nns/cmc/src/lib.rs
  rs/nns/cmc/src/main.rs
Due: bazel_rust_format

set_certified_data
  rs/nns/cmc/src/main.rs
Due: bazel_rust_format

spawn
  rs/nns/cmc/src/main.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
