Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

polishing
  ci/tools/repro-check
Due: none

fix
  rs/pocket_ic_server/src/pocket_ic.rs
Due: bazel_rust_format

Remove mgmt-mac-2 reference
  rs/tests/driver/src/driver/bootstrap.rs
Due: bazel_rust_format

Fix ic_setup thingy
  Cargo.lock
  rs/consensus/idkg/BUILD.bazel
  rs/replica/setup_ic_network/BUILD.bazel
  rs/replica/setup_ic_network/Cargo.toml
  rs/replica/setup_ic_network/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Buildifier
  rs/consensus/idkg/BUILD.bazel
Due: bazel_buildifier

feat(nns): Disable Neuron Fund for new SNSs
  rs/nns/governance/src/governance.rs
  rs/nns/integration_tests/src/create_service_nervous_system.rs
  rs/nns/integration_tests/src/lib.rs
Due: bazel_rust_format

feat(nns): Add MaturityDisbursement to neuron internal data model (#4512)
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/pb/conversions.rs
Due: bazel_protobuf_format, bazel_rust_format

fix(nns): Prevent large manage neuron proposals (#4509)
  rs/nns/governance/CHANGELOG.md
  rs/nns/governance/src/governance.rs
  rs/nns/governance/tests/governance.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  00/a2f025695cf9aa07a1c9db23bdb8afa6ff7618
Due: none

Notes added by 'git notes add'
  9f/f99ef644d45e78b231dc6d20c8fd08ab512a81
Due: none

clarify state sync logs
  rs/state_manager/src/lib.rs
Due: bazel_rust_format

chore: Remove legacy composite queries
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/metrics.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_cache/tests.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/execution_environment/src/query_handler/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

clippy
  rs/nns/integration_tests/src/create_service_nervous_system.rs
Due: bazel_rust_format

Inline install_nns_canisters
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
  rs/nervous_system/integration_tests/tests/advance_sns_target_version.rs
  rs/nervous_system/integration_tests/tests/advance_target_version_upgrades_all_canisters_test.rs
  rs/nervous_system/integration_tests/tests/custom_upgrade_path.rs
  rs/nervous_system/integration_tests/tests/sns_lifecycle.rs
  rs/nervous_system/integration_tests/tests/upgrade_existing_sns_test.rs
  rs/registry/admin/tests/integration_tests.rs
Due: bazel_rust_format

second
  rs/sns/governance/src/following.rs
  rs/sns/governance/src/following/tests.rs
Due: bazel_rust_format

fix conversions
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

fix tests, maybe
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nervous_system/integration_tests/src/create_service_nervous_system_builder.rs
  rs/nervous_system/integration_tests/tests/sns_lifecycle.rs
  rs/nervous_system/integration_tests/tests/upgrade_sns_controlled_canister_with_large_wasm.rs
  rs/nns/governance/src/governance/test_data.rs
Due: bazel_buildifier, bazel_rust_format

Support initializing NNS Governance by candid
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/unreleased_changelog.md
  rs/nns/nns.bzl
Due: bazel_buildifier, bazel_rust_format

leftovers
  rs/state_layout/src/state_layout.rs
Due: bazel_rust_format

feat(nns): Support initializing NNS Governance by candid (#4537)
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/unreleased_changelog.md
  rs/nns/nns.bzl
Due: bazel_buildifier, bazel_rust_format

third
  rs/sns/governance/src/following.rs
  rs/sns/governance/src/following/tests.rs
Due: bazel_rust_format

clippy
  rs/nervous_system/integration_tests/src/create_service_nervous_system_builder.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  3a/e3649a2366aaca83404b692fc58e4c6e604a25
Due: none

clippy
  rs/sns/governance/src/following.rs
  rs/sns/governance/src/following/tests.rs
Due: bazel_rust_format

Update changelog
  rs/nns/governance/unreleased_changelog.md
Due: none

Buildifier
  rs/universal_canister/lib/BUILD.bazel
Due: bazel_buildifier

Store maturity disbursements in a StableBTreeMap
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/src/neuron_store.rs
  rs/nns/governance/src/storage.rs
  rs/nns/governance/src/storage/neurons.rs
Due: bazel_rust_format

roundtrip tests
  rs/types/management_canister_types/src/lib.rs
Due: bazel_rust_format

poll custom domains every 10s
  ic-os/components/boundary-guestos/opt/ic/bin/setup-ic-gateway.sh
Due: bazel_shfmt_format

unicode
  rs/http_endpoints/public/src/common.rs
Due: bazel_rust_format

chore: poll custom domains every 10s (#4545)
  ic-os/components/boundary-guestos/opt/ic/bin/setup-ic-gateway.sh
Due: bazel_shfmt_format

[create-pull-request] automated change
  ic-os/boundary-guestos/context/docker-base.prod
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
Due: none

Notes added by 'git notes add'
  ab/dfad8b919bf193a9df17d3d3107f8914fa45b2
Due: none

nervous_system::intergration_tests:: use ic_nervous_agent in helpers
  Cargo.lock
  rs/nervous_system/agent/BUILD.bazel
  rs/nervous_system/agent/Cargo.toml
  rs/nervous_system/agent/src/ledger/mod.rs
  rs/nervous_system/agent/src/ledger/requests.rs
  rs/nervous_system/agent/src/lib.rs
  rs/nervous_system/agent/src/nns/cmc.rs
  rs/nervous_system/agent/src/nns/cmc/requests.rs
  rs/nervous_system/agent/src/nns/governance.rs
  rs/nervous_system/agent/src/nns/governance/requests.rs
  rs/nervous_system/agent/src/nns/ledger.rs
  rs/nervous_system/agent/src/nns/mod.rs
  rs/nervous_system/agent/src/nns/sns_wasm.rs
  rs/nervous_system/agent/src/sns/governance.rs
  rs/nervous_system/agent/src/sns/swap.rs
  rs/nervous_system/agent/src/sns/swap/requests.rs
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
  rs/nervous_system/integration_tests/tests/sns_lifecycle.rs
Due: bazel_buildifier, bazel_rust_format

nervous_system::intergration_tests: add nervous-agent helpers
  rs/nervous_system/agent/src/agent_impl.rs
  rs/nervous_system/agent/src/lib.rs
  rs/nervous_system/agent/src/pocketic_impl.rs
  rs/nervous_system/agent/src/sns/root.rs
  rs/nervous_system/agent/src/sns/root/requests.rs
  rs/nervous_system/integration_tests/src/lib.rs
  rs/nervous_system/integration_tests/src/nervous_system_agent_helpers.rs
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
Due: bazel_rust_format

sns-testing: use nervous_agent_helpers
  Cargo.lock
  rs/sns/testing/BUILD.bazel
  rs/sns/testing/Cargo.toml
  rs/sns/testing/canister/test.did
  rs/sns/testing/src/main.rs
  rs/sns/testing/src/nns_dapp.rs
  rs/sns/testing/src/sns.rs
  rs/sns/testing/tests/sns_testing_ci.rs
Due: bazel_buildifier, bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
