Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

as
  rs/state_machine_tests/src/lib.rs
  rs/state_machine_tests/tests/flexible_ordering.rs
Due: bazel_rust_format

Move everything having to do with canister priorities out of ExecutionEnvironment, into scheduler.rs.
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/scheduler.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

clippy
  rs/registry/canister/src/mutations/do_split_subnet.rs
Due: bazel_rust_format

Reduce the visibility of some functions.
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/scheduler.rs
Due: bazel_rust_format

DEFI-2697: motivation
  rs/bitcoin/ckbtc/mainnet/minter_upgrade_2026_03_20.md
Due: none

DEFI-2697: update
  rs/bitcoin/ckbtc/mainnet/minter_upgrade_2026_03_20.md
Due: none

as
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/tests/subnet_messages.rs
  rs/state_machine_tests/src/lib.rs
Due: bazel_rust_format

wip
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/scheduler.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

DEFI-2697: minor polishing by Claude
  rs/bitcoin/ckbtc/mainnet/minter_upgrade_2026_03_20.md
Due: none

docs
  rs/tests/consensus/upgrade/common.rs
Due: bazel_rust_format

fix: clippy
  rs/tests/consensus/utils/src/journal.rs
Due: bazel_rust_format

feat: panic when journal has no entries
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/utils.rs
  rs/tests/consensus/upgrade/common.rs
  rs/tests/consensus/utils/src/journal.rs
Due: bazel_rust_format

chore(bitcoin/dogecoin): bump bitcoin and dogecoin canisters to latest version (#9150)
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  bazel/rust.MODULE.bazel
  rs/pocket_ic_server/src/external_canister_types.rs
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/pocket_ic_server/tests/external_types_tests.rs
  rs/tests/ckbtc/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

docs
  rs/tests/consensus/utils/src/journal.rs
Due: bazel_rust_format

Make analogous changes for ~/.claude in devcontainer.json.
  .devcontainer/devcontainer.json
Due: none

Revert "fix(orchestrator): mock starting the replica process in upgrade unit …"
  rs/orchestrator/src/boundary_node.rs
  rs/orchestrator/src/dashboard.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/process_manager.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

test
  rs/execution_environment/src/scheduler/tests/limits.rs
Due: bazel_rust_format

revert panic on empty journal
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/utils.rs
  rs/tests/consensus/upgrade/common.rs
  rs/tests/consensus/utils/src/journal.rs
Due: bazel_rust_format

addressing nits
  rs/registry/canister/tests/migrate_node_operator_directly.rs
Due: bazel_rust_format

refactor: code deduplication
  rs/tests/consensus/orchestrator/ssh_access_to_nodes_test.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  11/279b19ae357cc1049c895bae680e193937e861
Due: none

style: clippy
  rs/tests/consensus/orchestrator/ssh_access_to_nodes_test.rs
Due: bazel_rust_format

fix: clippy
  rs/tests/consensus/upgrade/common.rs
Due: bazel_rust_format

feat: enable node operator migrations call (#9397)
  rs/nervous_system/agent/src/nns/registry.rs
  rs/nervous_system/agent/src/nns/registry/requests.rs
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
  rs/registry/canister/canister/canister.rs
  rs/registry/canister/canister/registry.did
  rs/registry/canister/canister/registry_test.did
  rs/registry/canister/tests/migrate_node_operator_directly.rs
  rs/registry/canister/unreleased_changelog.md
Due: bazel_rust_format

feat: canister ranges binary search (#9322)
  packages/ic-signature-verification/BUILD.bazel
  packages/ic-signature-verification/src/canister_sig.rs
Due: bazel_buildifier, bazel_rust_format

lock
  Cargo.lock
Due: none

revert(orchestrator): mock starting the replica process in upgrade unit tests (#9526)
  rs/orchestrator/src/boundary_node.rs
  rs/orchestrator/src/dashboard.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/process_manager.rs
  rs/orchestrator/src/upgrade.rs
Due: bazel_rust_format

feat(development): Persist Claude memories generated from within dev containers... (#9474)
  .devcontainer/devcontainer.json
  ci/container/container-run.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  00/737c2a65602acef879bcebdfe136ee13c6d416
Due: none

Notes added by 'git notes add'
  15/ffad9e1608184f0063ec06b276cd3887f08536
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_rust_format: any of: \.rs$
