Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  bb/56a098080c1e315870400b2888607591a9398d
Due: none

chore(ckbtc): proposal to upgrade ckbtc minter (#3991)
  rs/bitcoin/ckbtc/mainnet/minter_upgrade_2025_02_12.md
Due: none

refactor: Take cycles from call context once reply is produced
  rs/execution_environment/src/execution_environment/tests.rs
  rs/replicated_state/src/canister_state/system_state/call_context_manager.rs
  rs/system_api/src/lib.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  a4/e5d16bd1cde222735b06f0756e27ef02385951
Due: none

validate empty payloads
  rs/consensus/vetkd/src/lib.rs
Due: bazel_rust_format

fix: CON-1313 Don't panic in `make_registry_cup` (#3980)
  rs/consensus/src/cup_utils.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  4e/ec0b4b36ffac26863b0bac1a009b0a0e5ec53c
Due: none

feat(MR): [MR-638] Include best-effort calls in `xnet_compatibility` test
  rs/tests/message_routing/xnet/xnet_compatibility.rs
Due: bazel_rust_format

refactor
  rs/consensus/vetkd/src/lib.rs
Due: bazel_rust_format

fix
  ci/container/Dockerfile
  ci/src/dependencies/job/npm_scanner_periodic_job.py
Due: bazel_ruff_format

test: [MR-638] Enable best-effort calls in all tests
  rs/tests/dre/utils/steps/xnet.rs
  rs/tests/message_routing/queues_compatibility_test.rs
Due: bazel_rust_format

Updating container image to sha256:908c9b2abe0647cd54a2485117c263b0dae4a8aba8f25bc073813b09be9b1d59
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/anonymization-backend-release.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
Due: none

Fix compilation.
  rs/tests/message_routing/xnet/xnet_compatibility.rs
Due: bazel_rust_format

bump ic-http-gateway lib
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  bazel/external_crates.bzl
Due: bazel_buildifier

chore(IDX): Simplify versioning
  .gitignore
  BUILD.bazel
  bazel/BUILD.bazel
  bazel/canisters.bzl
  bazel/conf/.bazelrc.build
  bazel/defs.bzl
  bazel/ic_version_or_git_sha.sh
  bazel/status.bzl
  bazel/workspace_status.sh
  ci/bazel-scripts/main.sh
  ci/container/build-ic.sh
  ci/src/artifacts/upload.bzl
  ci/src/artifacts/upload.sh
  ic-os/boundary-guestos/envs/dev/BUILD.bazel
  ic-os/components/BUILD.bazel
  ic-os/guestos/envs/dev-malicious/BUILD.bazel
  ic-os/guestos/envs/dev/BUILD.bazel
  ic-os/guestos/envs/local-base-dev/BUILD.bazel
  ic-os/hostos/envs/dev/BUILD.bazel
  ic-os/hostos/envs/local-base-dev/BUILD.bazel
  ic-os/setupos/envs/dev/BUILD.bazel
  ic-os/setupos/envs/local-base-dev/BUILD.bazel
Due: bazel_buildifier, bazel_shfmt_format

review
  rs/consensus/vetkd/src/lib.rs
Due: bazel_rust_format

chore(dep-mgmt): Update node engine version for nns-dapp (#3994)
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/anonymization-backend-release.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/Dockerfile
  ci/container/TAG
  ci/src/dependencies/job/npm_scanner_periodic_job.py
Due: bazel_ruff_format

chore(IDX): Simplify versioning (#3984)
  .gitignore
  BUILD.bazel
  bazel/BUILD.bazel
  bazel/canisters.bzl
  bazel/conf/.bazelrc.build
  bazel/defs.bzl
  bazel/ic_version_or_git_sha.sh
  bazel/status.bzl
  bazel/workspace_status.sh
  ci/bazel-scripts/main.sh
  ci/container/build-ic.sh
  ci/src/artifacts/upload.bzl
  ci/src/artifacts/upload.sh
  ic-os/boundary-guestos/envs/dev/BUILD.bazel
  ic-os/components/BUILD.bazel
  ic-os/guestos/envs/dev-malicious/BUILD.bazel
  ic-os/guestos/envs/dev/BUILD.bazel
  ic-os/guestos/envs/local-base-dev/BUILD.bazel
  ic-os/hostos/envs/dev/BUILD.bazel
  ic-os/hostos/envs/local-base-dev/BUILD.bazel
  ic-os/setupos/envs/dev/BUILD.bazel
  ic-os/setupos/envs/local-base-dev/BUILD.bazel
Due: bazel_buildifier, bazel_shfmt_format

.
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  59/9f19d96881e0527a741a6a9ff72b3edb6b8a8f
Due: none

Notes added by 'git notes add'
  4e/132abd832f9fb6a8d4916e82d53b273cd3aa71
Due: none

test: CON-1422 vetKD payload builder/verifier unit tests (#3886)
  rs/consensus/vetkd/BUILD.bazel
  rs/consensus/vetkd/Cargo.toml
  rs/consensus/vetkd/src/lib.rs
  rs/consensus/vetkd/src/test_utils.rs
  rs/consensus/vetkd/src/utils.rs
  rs/types/types/src/batch/vetkd.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  ed/cb5ab41a0faa2801b93a9560b6f7f9a58b033d
Due: none

optional metrics
  rs/consensus/vetkd/src/lib.rs
Due: bazel_rust_format

clean
  rs/consensus/vetkd/src/lib.rs
Due: bazel_rust_format

feat(crypto): CRP-2646 use dedicated AlgorithmID for vetKD
  rs/crypto/utils/canister_threshold_sig/src/lib.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/types/types/src/crypto.rs
  rs/types/types/src/crypto/tests.rs
Due: bazel_rust_format

Switch to using histogram_opts to label by the namespace
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/query_handler.rs
Due: bazel_rust_format

refactor(EXC-1905): Take cycles from call context when a refund is to be returned (#3985)
  rs/execution_environment/src/execution_environment/tests.rs
  rs/replicated_state/src/canister_state/system_state/call_context_manager.rs
  rs/system_api/src/lib.rs
Due: bazel_rust_format

Set timeout to long for Rosetta ICP integration tests
  rs/rosetta-api/icp/tests/integration_tests/BUILD.bazel
Due: bazel_buildifier

test(ICP_Rosetta): FI-1678: Set timeout to long for Rosetta ICP integration tests (#3998)
  rs/rosetta-api/icp/tests/integration_tests/BUILD.bazel
Due: bazel_buildifier

m
  rs/state_manager/src/tip.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  b3/68e3de3ca6ebc1366b265aa148be031974ec06
Due: none

Notes added by 'git notes add'
  04/5b4b8a219e130e95382708470a56537e5f6475
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
