Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

fix(replay): derive the replica version from the registry without a pool
  rs/replay/src/cmd.rs
  rs/replay/src/player.rs
Due: bazel_rust_format

fix: Only complete auto progress after the certified time has been set
  packages/pocket-ic/CHANGELOG.md
  packages/pocket-ic/src/lib.rs
  packages/pocket-ic/src/nonblocking.rs
  packages/pocket-ic/tests/tests.rs
  rs/pocket_ic_server/CHANGELOG.md
  rs/pocket_ic_server/src/state_api/state.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  50/b433c34d3f0a1e3a156b19d129c013d96566bd
Due: none

Notes added by 'git notes add'
  4a/abdca4a404783c6f0a74ac2834ebb6dde0ab4b
Due: none

Notes added by 'git notes add'
  1e/0153ec320fd9f84bbccfe274ab085d59f07b8a
Due: none

Notes added by 'git notes add'
  a2/a3e3dc570a82bf3d194a5ce896b4db2ec400cb
Due: none

Notes added by 'git notes add'
  1e/3614fb537f7cccf97abde0e5975a5d134d2fd5
Due: none

refactor(cketh): make event recording generic over a TimeProvider (#11345)
  Cargo.lock
  rs/ethereum/cketh/minter/BUILD.bazel
  rs/ethereum/cketh/minter/Cargo.toml
  rs/ethereum/cketh/minter/src/balance_scan/mod.rs
  rs/ethereum/cketh/minter/src/balance_scan/tests.rs
  rs/ethereum/cketh/minter/src/deposit.rs
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/lifecycle/upgrade.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/storage.rs
  rs/ethereum/cketh/minter/src/sweep.rs
  rs/ethereum/cketh/minter/src/sweeper.rs
  rs/ethereum/cketh/minter/src/test_fixtures.rs
  rs/ethereum/cketh/minter/src/time/mod.rs
  rs/ethereum/cketh/minter/src/tx/mod.rs
  rs/ethereum/cketh/minter/src/withdraw.rs
Due: bazel_buildifier, bazel_rust_format

docs(openspec): drop removed prefetching memory tracker from testing spec
  openspec/specs/testing/memory-tracker.md
Due: none

refactor(cketh): move the sweeper pipeline into AutomaticDeposits
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/lifecycle/tests.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

fix(cketh): compare processed requests when checking pipeline equivalence
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  62/f84509affb644270d9db9e4b4fe93c9d2fce71
Due: none

chore: upgrade mockall to 0.15.0
  Cargo.lock
  Cargo.toml
  bazel/rust.MODULE.bazel
Due: bazel_buildifier

Automatically updated Cargo*.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
Due: none

refactor(cketh): move the sweeper pipeline into AutomaticDeposits (#11351)
  rs/ethereum/cketh/minter/src/lifecycle/init.rs
  rs/ethereum/cketh/minter/src/lifecycle/tests.rs
  rs/ethereum/cketh/minter/src/state.rs
  rs/ethereum/cketh/minter/src/state/audit.rs
  rs/ethereum/cketh/minter/src/state/automatic_deposits/mod.rs
  rs/ethereum/cketh/minter/src/state/tests.rs
  rs/ethereum/cketh/minter/src/state/transactions/mod.rs
  rs/ethereum/cketh/minter/src/sweep.rs
Due: bazel_rust_format

feat: [DSM-148] Track unhealthy nodes in XNet payload builder
  rs/xnet/payload_builder/src/lib.rs
  rs/xnet/payload_builder/src/proximity.rs
  rs/xnet/payload_builder/src/proximity/tests.rs
  rs/xnet/payload_builder/src/tests.rs
  rs/xnet/payload_builder/src/xnet_client_tests.rs
  rs/xnet/payload_builder/tests/xnet_payload_builder.rs
Due: bazel_rust_format

consistent registry version
  rs/orchestrator/src/catch_up_package_provider.rs
Due: bazel_rust_format

feat(cketh): run create_pending_sweeper_requests on a timer
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/main.rs
Due: bazel_rust_format

feat(cketh): define the CanisterRuntime trait
  rs/ethereum/cketh/minter/src/lib.rs
  rs/ethereum/cketh/minter/src/runtime/mod.rs
Due: bazel_rust_format

feat(cketh): skip sweeper requests when no sweeper contract is configured
  rs/ethereum/cketh/minter/src/sweep/mod.rs
  rs/ethereum/cketh/minter/src/sweep/tests.rs
Due: bazel_rust_format

feat(cketh): sign through the CanisterRuntime
  rs/ethereum/cketh/minter/src/attestation/mod.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/src/sweep/mod.rs
  rs/ethereum/cketh/minter/src/tx/eip_7702.rs
  rs/ethereum/cketh/minter/src/tx/mod.rs
  rs/ethereum/cketh/minter/src/tx/signed.rs
  rs/ethereum/cketh/minter/src/withdraw.rs
Due: bazel_rust_format
