Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$

feat!: canister state snapshots (#504)
  main/mod.rs
  main/types.rs
Due: bazel_rust_format

chore(IDX): bazel-bep.pb.zst as artifact
  .github/actions/bazel-test-all/action.yaml
  .github/workflows-source/ci-main.yml
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

feat(crypto): CRP-2560 Add BIP340 support to secp256k1 utility crate
  rs/crypto/ecdsa_secp256k1/src/lib.rs
  rs/crypto/ecdsa_secp256k1/tests/tests.rs
Due: bazel_rust_format

testggp
  rs/replica/src/setup.rs
Due: bazel_rust_format

separate step
  .github/workflows-source/ci-main.yml
Due: none

change
  .github/workflows-source/ci-main.yml
Due: none

Introducing a tiny little library called temporary. What it does: temporarily sets a thread_local! { RefCell<bool> }, and then restore it when dropped.
  Cargo.lock
  Cargo.toml
  rs/nervous_system/temporary/BUILD.bazel
  rs/nervous_system/temporary/Cargo.toml
  rs/nervous_system/temporary/src/lib.rs
  rs/nervous_system/temporary/tests/temporary.rs
Due: bazel_buildifier, bazel_rust_format

Enforce private neurons. That is, when a neuron is private, then ballots and NF membership are redacted from NeuronInfo.
  Cargo.lock
  rs/nns/governance/BUILD.bazel
  rs/nns/governance/Cargo.toml
  rs/nns/governance/canister/canister.rs
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/merge_neurons.rs
  rs/nns/governance/src/lib.rs
  rs/nns/governance/src/neuron/types.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/governance/tests/merge_neurons.rs
Due: bazel_buildifier, bazel_rust_format

Fix a clippy
  rs/crypto/ecdsa_secp256k1/src/lib.rs
Due: bazel_rust_format

chore(crypto): CRP-2564 Address comments from Schnorr security review
  rs/crypto/internal/crypto_lib/threshold_sig/tecdsa/src/lib.rs
  rs/crypto/internal/crypto_lib/threshold_sig/tecdsa/src/signing/key_derivation.rs
Due: bazel_rust_format

Fix more tests
  rs/nns/integration_tests/BUILD.bazel
  rs/sns/integration_tests/src/initialization_flow.rs
Due: bazel_buildifier, bazel_rust_format

Add topic mapping for canister management topics
  rs/nns/constants/src/lib.rs
  rs/nns/governance/src/proposals/install_code.rs
  rs/nns/governance/src/proposals/mod.rs
  rs/nns/governance/src/proposals/stop_or_start_canister.rs
  rs/nns/governance/src/proposals/update_canister_settings.rs
Due: bazel_rust_format

feat(nns): Add topic mapping for canister management topics (#814)
  rs/nns/constants/src/lib.rs
  rs/nns/governance/src/proposals/install_code.rs
  rs/nns/governance/src/proposals/mod.rs
  rs/nns/governance/src/proposals/stop_or_start_canister.rs
  rs/nns/governance/src/proposals/update_canister_settings.rs
Due: bazel_rust_format

change
  .github/actions/bazel-test-all/action.yaml
Due: none

change
  .github/actions/bazel-test-all/action.yaml
  .github/workflows-source/ci-main.yml
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

first
  rs/nns/governance/src/governance.rs
Due: bazel_rust_format

second
  rs/nns/governance/src/governance.rs
  rs/nns/governance/src/governance/tests/mod.rs
Due: bazel_rust_format

first
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/tests/fake.rs
  rs/nns/governance/tests/governance.rs
  rs/sns/init/src/lib.rs
  rs/sns/integration_tests/src/payment_flow.rs
  rs/sns/integration_tests/src/swap.rs
  rs/sns/swap/canister/swap.did
  rs/sns/swap/proto/ic_sns_swap/pb/v1/swap.proto
  rs/sns/swap/src/gen/ic_sns_swap.pb.v1.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/src/swap_builder.rs
  rs/sns/swap/src/types.rs
  rs/sns/swap/tests/swap.rs
  rs/sns/test_utils/src/itest_helpers.rs
Due: bazel_protobuf_format, bazel_rust_format

Add post-upgrade validation for NP Rewards serialization
  rs/nns/governance/src/storage.rs
Due: bazel_rust_format

chore(nns): Add post-upgrade validation for NP Rewards and audit events (#818)
  rs/nns/governance/src/storage.rs
Due: bazel_rust_format

chore(sns): Obsolete `SwapInit.neurons_fund_participants` (#794)
  rs/nns/governance/proto/ic_nns_governance/pb/v1/governance.proto
  rs/nns/governance/src/gen/ic_nns_governance.pb.v1.rs
  rs/nns/governance/tests/fake.rs
  rs/nns/governance/tests/governance.rs
  rs/sns/init/src/lib.rs
  rs/sns/integration_tests/src/payment_flow.rs
  rs/sns/integration_tests/src/swap.rs
  rs/sns/swap/canister/swap.did
  rs/sns/swap/proto/ic_sns_swap/pb/v1/swap.proto
  rs/sns/swap/src/gen/ic_sns_swap.pb.v1.rs
  rs/sns/swap/src/swap.rs
  rs/sns/swap/src/swap_builder.rs
  rs/sns/swap/src/types.rs
  rs/sns/swap/tests/swap.rs
  rs/sns/test_utils/src/itest_helpers.rs
Due: bazel_protobuf_format, bazel_rust_format

change
  .github/workflows-source/ci-main.yml
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

change
  bazel/conf/.bazelrc.internal
Due: bazel_buildifier

feat(ckerc20): NNS proposal to upgrade ckERC20 ledger suites to support ICRC-21 (#744)
  rs/ethereum/cketh/docs/proposals.adoc
  rs/ethereum/cketh/mainnet/orchestrator_upgrade_2024_08_05.md
Due: none

XC-163: proptest to ensure consistency
  rs/ethereum/cketh/minter/src/eth_rpc.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/tests.rs
Due: bazel_rust_format

.
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/replicated_state/src/canister_snapshots.rs
Due: bazel_rust_format

feat(proposal-cli): Retrieve last canister upgrade proposal ID (#801)
  Cargo.lock
  rs/cross-chain/proposal-cli/BUILD.bazel
  rs/cross-chain/proposal-cli/Cargo.toml
  rs/cross-chain/proposal-cli/README.adoc
  rs/cross-chain/proposal-cli/src/dashboard/mod.rs
  rs/cross-chain/proposal-cli/src/dashboard/responses.rs
  rs/cross-chain/proposal-cli/src/dashboard/tests.rs
  rs/cross-chain/proposal-cli/src/main.rs
  rs/cross-chain/proposal-cli/src/proposal/mod.rs
  rs/cross-chain/proposal-cli/templates/upgrade.md
Due: bazel_buildifier, bazel_rust_format

fix(execution): Update doc comment (#840)
  rs/execution_environment/src/execution_environment.rs
Due: bazel_rust_format

fix: disable node exporter netlink metrics collection (#826)
  ic-os/components/monitoring/node_exporter/node_exporter
Due: none

chore(consensus): [Con-1226] only validate open request context (#723)
  rs/https_outcalls/consensus/src/gossip.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
Due: bazel_rust_format

Fix todo in test
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/tests.rs
Due: bazel_rust_format

Added a fuzzer for protobuf Block struct.
  rs/protobuf/fuzz/BUILD.bazel
  rs/protobuf/fuzz/fuzz_targets/decode_block.rs
Due: bazel_buildifier, bazel_rust_format
