Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

feat: EXC-1735: Charge canisters for full execution (#1782)
  rs/execution_environment/benches/scheduler.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/round_schedule.rs
  rs/execution_environment/src/scheduler/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e3/db7a7c972d74bbca7220e3d8149caab93375ae
Due: none

Notes added by 'git notes add'
  44/34cf5010277d6e34b252f11aba753c594458b8
Due: none

.
  rs/tests/networking/canister_http_correctness_test.rs
Due: bazel_rust_format

Fix build stuff.
  ic-os/components/BUILD.bazel
  ic-os/components/setupos-scripts/BUILD.bazel
  ic-os/components/setupos.bzl
Due: bazel_buildifier

fix: Restore idle timeout functionality for `XNetClientImpl` (#2179)
  rs/xnet/payload_builder/src/lib.rs
Due: bazel_rust_format

Verify fee collector set also in approve and transfer_from blocks
  rs/ledger_suite/tests/sm-tests/src/fee_collector.rs
Due: bazel_rust_format

add disburse of neuron functionality
  Cargo.lock
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/Cargo.toml
  rs/rosetta-api/icp/client/src/lib.rs
  rs/rosetta-api/icp/tests/system_tests/common/system_test_environment.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_buildifier, bazel_rust_format

chore: add schema for rules
  rs/boundary_node/rate_limits/api/Cargo.toml
  rs/boundary_node/rate_limits/api/src/lib.rs
  rs/boundary_node/rate_limits/api/src/schema_versions/mod.rs
  rs/boundary_node/rate_limits/api/src/schema_versions/v1.rs
  rs/boundary_node/rate_limits/canister_client/Cargo.toml
  rs/boundary_node/rate_limits/canister_client/src/main.rs
Due: bazel_rust_format

comment fix
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_rust_format

Automatically updated Cargo*.lock
  Cargo.lock
Due: none

Revert "feat(RUN-1013): Adjust max number of cached sandboxes"
  rs/config/src/embedders.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  c7/8e3549de81227492d029a646dcbaffb2acda8e
Due: none

fmt
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/tests/system_tests/common/system_test_environment.rs
Due: bazel_buildifier, bazel_rust_format

feat(cketh/ckerc20): add helper smart contract supporting Subaccounts (#2143)
  rs/ethereum/cketh/minter/DepositHelperWithSubaccount.sol
Due: none

init
  rs/canister_sandbox/src/controller_launcher_client_stub.rs
  rs/canister_sandbox/src/controller_launcher_service.rs
  rs/canister_sandbox/src/controller_service.rs
  rs/canister_sandbox/src/launcher.rs
  rs/canister_sandbox/src/protocol/ctllaunchersvc.rs
  rs/canister_sandbox/src/protocol/launchersvc.rs
  rs/canister_sandbox/src/replica_controller/launch_as_process.rs
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

Fix small testnet memory and CPU
  rs/tests/testing_verification/testnets/small.rs
Due: bazel_rust_format

Add size information to TLA values and states
  rs/nns/governance/feature_flags.bzl
  rs/nns/governance/src/governance/tla/mod.rs
  rs/tla_instrumentation/tla_instrumentation/src/tla_state.rs
  rs/tla_instrumentation/tla_instrumentation/src/tla_value.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  d4/81a1b9429267d55b8cd7af63e98202b519bc58
Due: none

.
  rs/xnet/payload_builder/src/impl_tests.rs
  rs/xnet/payload_builder/src/lib.rs
Due: bazel_rust_format

Move btc_get_balance_test
  Cargo.lock
  rs/tests/Cargo.toml
  rs/tests/execution/BUILD.bazel
  rs/tests/execution/Cargo.toml
  rs/tests/execution/btc_get_balance_test.rs
  rs/tests/financial_integrations/BUILD.bazel
Due: bazel_buildifier, bazel_rust_format

.
  rs/messaging/src/routing/stream_builder.rs
Due: bazel_rust_format

fix: clippy
  rs/boundary_node/rate_limits/canister_client/src/main.rs
Due: bazel_rust_format

Fix
  rs/tests/execution/BUILD.bazel
  rs/tests/financial_integrations/BUILD.bazel
Due: bazel_buildifier

feat: EXC-1735: Charge active canisters for full execution (#2180)
  rs/execution_environment/benches/scheduler.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/round_schedule.rs
  rs/execution_environment/src/scheduler/tests.rs
Due: bazel_rust_format

Rename
  rs/tests/ckbtc/ckbtc_minter_basics_test.rs
  rs/tests/ckbtc/ckbtc_minter_batching.rs
  rs/tests/ckbtc/ckbtc_minter_heartbeat.rs
  rs/tests/ckbtc/ckbtc_minter_kyt.rs
  rs/tests/ckbtc/ckbtc_minter_retrieve_btc.rs
  rs/tests/ckbtc/ckbtc_minter_update_balance.rs
  rs/tests/ckbtc/src/lib.rs
Due: bazel_rust_format

WIP
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  ec/1cc659ab6f918599f073476eaf7b87f766c1b4
Due: none

add ticks
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_rust_format

add auto stake change
  rs/rosetta-api/icp/client/src/lib.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
Due: bazel_rust_format

.
  rs/recovery/src/app_subnet_recovery.rs
  rs/recovery/src/file_sync_helper.rs
Due: bazel_rust_format

.
  rs/recovery/subnet_splitting/src/subnet_splitting.rs
Due: bazel_rust_format

chore: [MR-616] Drop `CanisterQueue::QueueItem` proto, part 2 (#1861)
  rs/protobuf/def/state/queues/v1/queues.proto
  rs/protobuf/src/gen/state/state.queues.v1.rs
  rs/protobuf/src/gen/types/state.queues.v1.rs
  rs/replicated_state/src/canister_state/queues/message_pool.rs
  rs/replicated_state/src/canister_state/queues/message_pool/tests.rs
  rs/replicated_state/src/canister_state/queues/queue.rs
  rs/replicated_state/src/canister_state/queues/tests.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  5d/1978e6196058e380edc929b4ae1aa38be57290
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
