Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Notes added by 'git notes add'
  c1/a9cc4448f5bcd76eb97b3392b8a68c0487a88c
Due: none

Notes added by 'git notes add'
  43/8da470dcc566f460c0108648f44dd9282acccf
Due: none

more comments of Tim
  rs/p2p/artifact_downloader/BUILD.bazel
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/download.rs
  rs/p2p/artifact_downloader/src/fetch_stripped_artifact/types/rpc.rs
  rs/types/types/src/batch/ingress.rs
Due: bazel_buildifier, bazel_rust_format

Updating container image to sha256:57650d545363de6820cba39183742a455583c18e9911c58797171baa7966aa9c
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-hourly.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/system-tests-k8s.yml
  gitlab-ci/container/TAG_GH
Due: none

Add chmod
  toolchains/sysimage/toolchain.bzl
Due: bazel_buildifier

.
  rs/xnet/payload_builder/src/lib.rs
Due: bazel_rust_format

feat(ICP-Rosetta): FI-1450: icp rosetta client (#1100)
  Cargo.lock
  Cargo.toml
  rs/rosetta-api/client/BUILD.bazel
  rs/rosetta-api/client/Cargo.toml
  rs/rosetta-api/client/src/lib.rs
  rs/rosetta-api/client/tests/tests.rs
  rs/rosetta-api/runner/Cargo.toml
  rs/rosetta-api/runner/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Remove incorrect 'and elsewhere'
  ic-os/docs/Configuration.adoc
Due: none

.
  rs/consensus/src/consensus/validator.rs
Due: bazel_rust_format

fix(PocketIC): registry invariants (#1117)
  Cargo.lock
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/src/pocket_ic.rs
  rs/pocket_ic_server/tests/test.rs
  rs/state_machine_tests/BUILD.bazel
  rs/state_machine_tests/Cargo.toml
  rs/state_machine_tests/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

Notes added by 'git notes add'
  62/d0142b5fe6278097dff76707a109105238d22c
Due: none

Notes added by 'git notes add'
  fb/7f8b6650165d2f94b69467688a2a71521e2955
Due: none

docs(NODE-1456): update configuration documentation (#1089)
  ic-os/components/hostos-scripts/build-bootstrap-config-image.sh
  ic-os/docs/ConfigStore-SetupOSHostOS.adoc
  ic-os/docs/Configuration.adoc
  ic-os/guestos/docs/ConfigStore.adoc
Due: bazel_shfmt_format

chore: EXC-1691: Reserve cycles just for the increase of canister snapshot size (#960)
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  78/09eee25406b72e8d4bdc0a0b20d02695fbc62a
Due: none

Format
  toolchains/sysimage/build_container_base_image.py
  toolchains/sysimage/build_container_filesystem_tar.py
  toolchains/sysimage/build_disk_image.py
  toolchains/sysimage/build_ext4_image.py
  toolchains/sysimage/build_fat32_image.py
  toolchains/sysimage/build_lvm_image.py
  toolchains/sysimage/build_upgrade_image.py
  toolchains/sysimage/build_vfat_image.py
  toolchains/sysimage/toolchain.bzl
  toolchains/sysimage/verity_sign.py
Due: bazel_buildifier, bazel_ruff_format

test: Add a conformance test which ensures that components only reference file paths that are present in the built image (#1053)
  ic-os/components/conformance/BUILD.bazel
  ic-os/components/conformance/check_components.py
  ic-os/components/conformance/defs.bzl
  ic-os/defs.bzl
Due: bazel_buildifier, bazel_ruff_format

fix(IDX): remove links to unknown rustdoc refs
  rs/types/types/src/artifact.rs
  rs/types/types/src/consensus.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  46/e1372d212d26569c69d7901bf5befb56673e2e
Due: none

Notes added by 'git notes add'
  8a/a7fd94d96cda96c07a36e339d47cd17c306f96
Due: none

Notes added by 'git notes add'
  0e/bf95c319d8627cc4c3a921a28fdedc83f96a19
Due: none

Notes added by 'git notes add'
  9a/84997c04ff0ebd6c6eea885d6dd6d909e7323e
Due: none

Build out bazel support
  BUILD.bazel
  WORKSPACE.bazel
  mainnet-images.bzl
  rs/tests/BUILD.bazel
  rs/tests/common.bzl
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/registration.rs
  rs/tests/nested/src/lib.rs
  rs/tests/nested/src/util.rs
  rs/tests/nested/upgrade.rs
  rs/tests/system_tests.bzl
Due: bazel_buildifier, bazel_rust_format

Reduce clones
  rs/tests/driver/src/driver/bootstrap.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  3d/faa18aa073deb23899ffe0601eff78697804da
Due: none

feat(IDX): use dev-gh- for aarch64 darwin
  .github/workflows/test-namespace-darwin.yaml
Due: none
