Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

Notes added by 'git notes add'
  ee/0d1f67efe81d5ed15e7aa91036a0498c9ae659
Due: none

Notes added by 'git notes add'
  1e/88b9dda40765ebb855fbe900944c779768aa53
Due: none

chore(IDX): no hourly at night (#1925)
  .github/workflows-source/schedule-hourly.yml
  .github/workflows/schedule-hourly.yml
Due: none

Notes added by 'git notes add'
  d5/40c4f7408b3502889b48ad664e209d976397db
Due: none

Notes added by 'git notes add'
  ae/e21c80d95e40f2f03ac3019594d615e733364a
Due: none

Notes added by 'git notes add'
  f7/a7fd7c845a9b20c35880f100d1529e92e24bb7
Due: none

Notes added by 'git notes add'
  ce/e228c447e4886df48b97a44a8192762512d7ef
Due: none

Notes added by 'git notes add'
  73/3be312a13947073ee23a9b6f3a7b73c17b4149
Due: none

Notes added by 'git notes add'
  0e/a35a32fc5a77c2fde892c654c682c627d62ae3
Due: none

Notes added by 'git notes add'
  df/33231560c0b9d93616f787795f5f728b06456f
Due: none

Notes added by 'git notes add'
  29/b43f04cde314cdbd6690a606de87aaa769a8f6
Due: none

Adding some printouts about the parity checks
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  d4/3c45f0598105c11c9f3205f440fe0cacc37ef4
Due: none

PSEC-2137: disable RA reminder for BN team
  ci/src/dependencies/data_source/slack_findings_failover_data_store.py
Due: bazel_ruff_format

Increase per-canister overhead This effectively limits the number of canisters scheduled in a round.
  rs/config/src/subnet_config.rs
Due: bazel_rust_format

fix(IDX): release runs on tags
  .github/workflows/slack-workflow-run.yml
Due: none

Add LogEntry enum for node_provider_rewards
  rs/registry/node_provider_rewards/src/lib.rs
  rs/registry/node_provider_rewards/src/logs.rs
Due: bazel_rust_format

Group metrics within encode_metrics using comment headings.
  rs/nns/governance/src/lib.rs
Due: bazel_rust_format

Removed typo
  rs/registry/node_provider_rewards/src/logs.rs
Due: bazel_rust_format

Remove white lines
  rs/registry/node_provider_rewards/src/logs.rs
Due: bazel_rust_format

Moved a couple of metrics around so that they are under the right sections/headings.
  rs/nns/governance/src/lib.rs
Due: bazel_rust_format

fix(IDX): release is published with tag (#1929)
  .github/workflows/slack-workflow-run.yml
Due: none

Added a metric for number of neurons in heap. There was already a similar one for stable memory. Because more stats good.
  rs/nns/governance/src/lib.rs
  rs/nns/governance/src/neuron_store.rs
Due: bazel_rust_format

chore(PSEC-2137): disable RA reminder for BN team (#1928)
  ci/src/dependencies/data_source/slack_findings_failover_data_store.py
Due: bazel_ruff_format

XC-204: fix should_deposit_and_withdraw
  rs/ethereum/cketh/minter/tests/cketh.rs
  rs/ethereum/cketh/test_utils/src/flow.rs
  rs/ethereum/cketh/test_utils/src/lib.rs
  rs/ethereum/cketh/test_utils/src/mock.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  74/a827b46645fec6c0346ac30dae1254e231b91c
Due: none

chore: Change v3 call feature gate to const bool flag (#1924)
  rs/replica/src/setup_ic_stack.rs
Due: bazel_rust_format

feat: Enable storage reservation mechanism on verified application subnets
  rs/config/src/subnet_config.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/hypervisor/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
Due: bazel_rust_format

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
