Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

bazel_buildifier:
  name: Auto format Bazel build files.
  stages:
  - commit
  entry: bazel run //:buildifier
  language: system

bazel_shfmt_format:
  name: Auto format shell files
  stages:
  - commit
  entry: bazel run //:shfmt-format
  language: system

bazel_ruff_format:
  name: Auto format Python files
  stages:
  - commit
  entry: bazel run //:ruff-format
  language: system

bazel_protobuf_format:
  name: Auto format Protobuf files
  stages:
  - commit
  entry: bazel run //:protobuf-format
  language: system

bazel_ormolu_format:
  name: Auto format Haskell files
  stages:
  - commit
  entry: bazel run //:ormolu-format
  language: system

bazel_rust_format:
  name: Auto format Rust files
  stages:
  - commit
  entry: bazel run //:rustfmt
  language: system

chore(ckbtc): Proposals to upgrade ckBTC ledger suite (#1688)
  rs/bitcoin/ckbtc/mainnet/ckbtc_archive_upgrade_2024_09_27.md
  rs/bitcoin/ckbtc/mainnet/ckbtc_index_upgrade_2024_09_27.md
  rs/bitcoin/ckbtc/mainnet/ckbtc_ledger_upgrade_2024_09_27.md
Due: none

IDX GitHub Automation
  .github/workflows/ci-main.yml
Due: none

wip
  .github/actions/bazel-test-all/action.yaml
  .github/workflows-source/ci-main.yml
Due: none

fix(IDX): only run ci/bazel-scripts/diff.sh on PRs to fix CI on pushes to dev-gh-* branches
  .github/actions/bazel-test-all/action.yaml
  .github/workflows-source/ci-main.yml
Due: none

fix(IDX): only run ci/bazel-scripts/diff.sh on PRs to fix CI on pushes to dev-gh-* branches (#1770)
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Due: none

Notes added by 'git notes add'
  00/13776a67f02cf65aebc4bd2badf3fa1bdc536c
Due: none

.
  rs/bitcoin/adapter/BUILD.bazel
Due: bazel_buildifier

Bump ic-gateway version (#1786)
  ic-os/boundary-guestos/context/Dockerfile
Due: none

Notes added by 'git notes add'
  96/bf81446e67a936001d90c5af6168ac5206a6ad
Due: none

Method rename
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  e2/ce4286bfb0d517fb76d1764ae50c37a2ab424b
Due: none

Clippy
  rs/ledger_suite/icrc1/tests/golden_state_upgrade_downgrade.rs
Due: bazel_rust_format

.
  .github/CODEOWNERS
Due: none

.
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
Due: none

Simplify code.
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
  rs/canonical_state/src/traversal.rs
  rs/embedders/fuzz/src/wasm_executor.rs
  rs/embedders/src/wasm_executor.rs
  rs/execution_environment/src/execution_environment/tests/compilation.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/replicated_state/src/canister_state/execution_state.rs
  rs/replicated_state/src/canister_state/tests.rs
  rs/state_manager/src/checkpoint.rs
  rs/state_manager/src/checkpoint/tests.rs
  rs/state_manager/src/tree_hash.rs
  rs/state_manager/tests/state_manager.rs
  rs/test_utilities/state/src/lib.rs
Due: bazel_rust_format

test(ICP_ledger): FI-1491: Add tests for existing ledger behavior regarding the anonymous principal (#1550)
  Cargo.lock
  rs/ledger_suite/icp/ledger/BUILD.bazel
  rs/ledger_suite/icp/ledger/Cargo.toml
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/lib.rs
Due: bazel_buildifier, bazel_rust_format

.
  Cargo.lock
  rs/protobuf/Cargo.toml
  rs/protobuf/src/proxy.rs
Due: bazel_rust_format

.
  rs/protobuf/BUILD.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  6d/ae2daa1888cc0f4ee191d0dacb7186a6b4570e
Due: none

Update comments.
  rs/replicated_state/src/canister_state/system_state.rs
Due: bazel_rust_format

.
  Cargo.lock
  rs/protobuf/BUILD.bazel
  rs/protobuf/Cargo.toml
  rs/protobuf/src/proxy.rs
  rs/protobuf/src/registry/dc.rs
  rs/protobuf/src/registry/node_rewards.rs
Due: bazel_buildifier, bazel_rust_format

.
  Cargo.lock
  rs/protobuf/BUILD.bazel
  rs/protobuf/Cargo.toml
  rs/protobuf/generator/src/lib.rs
  rs/protobuf/src/gen/registry/registry.crypto.v1.rs
  rs/protobuf/src/gen/registry/registry.dc.v1.rs
  rs/protobuf/src/gen/registry/registry.firewall.v1.rs
  rs/protobuf/src/gen/registry/registry.node_operator.v1.rs
  rs/protobuf/src/gen/registry/registry.node_rewards.v2.rs
  rs/protobuf/src/gen/registry/registry.subnet.v1.rs
Due: bazel_buildifier, bazel_rust_format

.
  rs/protobuf/generator/src/lib.rs
Due: bazel_rust_format

.
  rs/protobuf/generator/src/lib.rs
  rs/protobuf/src/gen/registry/registry.crypto.v1.rs
Due: bazel_rust_format

chore: Improve the error message when merging conflicting TLA locals (#1653)
  rs/tla_instrumentation/tla_instrumentation/src/tla_state.rs
Due: bazel_rust_format

.
  rs/protobuf/generator/src/lib.rs
  rs/protobuf/src/gen/registry/registry.dc.v1.rs
  rs/protobuf/src/gen/registry/registry.node_operator.v1.rs
  rs/protobuf/src/gen/registry/registry.node_rewards.v2.rs
Due: bazel_rust_format

chore(consensus): avoid recomputing the block hash when notarizing a block (#1726)
  rs/consensus/src/consensus/malicious_consensus.rs
  rs/consensus/src/consensus/notary.rs
Due: bazel_rust_format

Simplify code.
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

Fix format.
  rs/canister_sandbox/src/replica_controller/sandboxed_execution_controller.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  6e/5e26e15a6a54e84815a21a56ceda53ee4b8365
Due: none

Improve code.
  rs/embedders/src/wasm_utils.rs
Due: bazel_rust_format

make assessment reminders optional
  ci/src/dependencies/data_source/slack_findings_failover/data.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_info.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_store.py
  ci/src/dependencies/data_source/slack_findings_failover/vuln_store_test.py
  ci/src/dependencies/data_source/slack_findings_failover_data_store.py
Due: bazel_ruff_format

Notes added by 'git notes add'
  e7/73cf5df9725d77af3139ab5fd834316e8c2d2a
Due: none

Path conditions:
  bazel_buildifier: any of: \.bazel|\.bzl$
  bazel_shfmt_format: any of: \.sh$
  bazel_ruff_format: any of: \.py$
  bazel_protobuf_format: any of: \.proto$
  bazel_ormolu_format: any of: \.hs|\.lhs$
  bazel_rust_format: any of: \.rs$
