Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

.
  rs/execution_environment/src/execution/call_or_task/tests.rs
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
Due: bazel_rust_format

.
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution/response/tests.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/execution_environment/tests/canister_history.rs
  rs/execution_environment/tests/hypervisor.rs
Due: bazel_rust_format

.
  rs/execution_environment/src/execution/install_code/tests.rs
Due: bazel_rust_format

Clippy
  rs/ledger_suite/icp/test_utils/icp_test_ledger/tests/tests.rs
Due: bazel_rust_format

chore: systests: provide the xnet-test-canister via runtime_deps (#8485)
  rs/tests/common.bzl
  rs/tests/dre/BUILD.bazel
  rs/tests/message_routing/xnet/BUILD.bazel
Due: bazel_buildifier

Clippy
  rs/ledger_suite/icp/test_utils/icp_test_ledger/src/main.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  28/b13a751e806da1cb4de943dfa6d914e61bc8d4
Due: none

doc
  rs/tests/run_systest.sh
Due: bazel_shfmt_format

chore: replace most usages of `get_dependency_path` with `get_dependency_path_from_env` (#8491)
  rs/tests/boundary_nodes/rate_limit_canister_test.rs
  rs/tests/boundary_nodes/salt_sharing_canister_test.rs
  rs/tests/ckbtc/src/lib.rs
  rs/tests/consensus/backup/common.rs
  rs/tests/consensus/utils/src/impersonate_upstreams.rs
  rs/tests/cross_chain/ic_xc_cketh_test.rs
  rs/tests/driver/src/driver/ic_gateway_vm.rs
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/driver/src/util.rs
  rs/tests/financial_integrations/icrc1_agent_test.rs
  rs/tests/message_routing/common/common.rs
  rs/tests/message_routing/global_reboot_test.rs
  rs/tests/message_routing/rejoin_test_lib/rejoin_test_lib.rs
  rs/tests/node/root_tests.rs
  rs/tests/sdk/dfx_check_old_wallet_version_test.rs
  rs/tests/testnets/mainnet_nns/src/lib.rs
Due: bazel_rust_format

remove 0 as a valid interval value
  rs/ledger_suite/icp/index/tests/retrieve_blocks_from_ledger_interval.rs
Due: bazel_rust_format

move height into /metadata
  rs/canonical_state/src/encoding.rs
  rs/canonical_state/src/encoding/tests/compatibility.rs
  rs/canonical_state/src/encoding/types.rs
  rs/canonical_state/src/lazy_tree_conversion.rs
  rs/canonical_state/src/traversal.rs
  rs/canonical_state/tests/compatibility.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  11/cd53599b79ea96e651ab7d3a12d5562fb48a83
Due: none

errors
  rs/consensus/dkg/src/payload_builder.rs
  rs/consensus/dkg/src/payload_validator.rs
Due: bazel_rust_format

Cleanup
  rs/ledger_suite/icp/test_utils/icp_test_ledger/src/main.rs
Due: bazel_rust_format

remove unused canister wasms
  MODULE.bazel
  mainnet-canister-revisions.json
Due: bazel_buildifier

Update retrieve_blocks_from_ledger_interval.rs
  rs/ledger_suite/icp/index/tests/retrieve_blocks_from_ledger_interval.rs
Due: bazel_rust_format

.
  rs/ledger_suite/icp/index/tests/retrieve_blocks_from_ledger_interval.rs
Due: bazel_rust_format

refactor: use `more_asserts` macros for richer test failure messages (#8488)
  rs/execution_environment/BUILD.bazel
  rs/execution_environment/benches/load_simulator_canisters.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution/call_or_task/tests.rs
  rs/execution_environment/src/execution/install_code/tests.rs
  rs/execution_environment/src/execution/response.rs
  rs/execution_environment/src/execution/response/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/execution_environment/tests.rs
  rs/execution_environment/src/execution_environment/tests/canister_snapshots.rs
  rs/execution_environment/src/hypervisor.rs
  rs/execution_environment/src/query_handler/query_cache/tests.rs
  rs/execution_environment/src/query_handler/tests.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/round_schedule.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/src/scheduler/tests.rs
  rs/execution_environment/tests/canister_history.rs
  rs/execution_environment/tests/execution_test.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/execution_environment/tests/memory_matrix.rs
Due: bazel_buildifier, bazel_rust_format

Automatically fixing code for linting and formatting issues
  rs/ledger_suite/icp/index/tests/retrieve_blocks_from_ledger_interval.rs
Due: bazel_rust_format

Clippy
  rs/crypto/internal/crypto_lib/threshold_sig/canister_threshold_sig/tests/ro.rs
Due: bazel_rust_format

chore: use runtime_deps in //rs/tests/cross_chain:ic_xc_ledger_suite_orchestrator_test
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
Due: bazel_buildifier, bazel_rust_format

feat: Improved witness size estimate in XNet payload builder
  rs/xnet/payload_builder/src/certified_slice_pool.rs
  rs/xnet/payload_builder/tests/certified_slice_pool.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  06/e4880164037aca43cb79d6ef5b39c98f318fd6
Due: none

chore: use runtime_deps in //rs/tests/cross_chain:ic_xc_ledger_suite_orchestrator_test (#8493)
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/cross_chain/ic_xc_ledger_suite_orchestrator_test.rs
Due: bazel_buildifier, bazel_rust_format

more informative upgrade error messages
  rs/ledger_suite/icrc1/ledger/src/main.rs
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  75/4324a3a9bd2204af4aef017c3dae447f25fa00
Due: none
