Repository dfinity/ic: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazel_buildifier, bazel_shfmt_format, bazel_ruff_format, bazel_protobuf_format, bazel_ormolu_format, bazel_rust_format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: bazel_buildifier
    name: Auto format Bazel build files.
    stages: [commit]
    entry: bazel run //:buildifier
    files: \.bazel|\.bzl$
    language: system

  - id: bazel_shfmt_format
    name: Auto format shell files
    stages: [commit]
    entry: bazel run //:shfmt-format
    files: \.sh$
    language: system

  - id: bazel_ruff_format
    name: Auto format Python files
    stages: [commit]
    entry: bazel run //:ruff-format
    files: \.py$
    language: system

  - id: bazel_protobuf_format
    name: Auto format Protobuf files
    stages: [commit]
    entry: bazel run //:protobuf-format
    files: \.proto$
    language: system

  - id: bazel_ormolu_format
    name: Auto format Haskell files
    stages: [commit]
    entry: bazel run //:ormolu-format
    files: \.hs|\.lhs$
    language: system

  - id: bazel_rust_format
    name: Auto format Rust files
    stages: [commit]
    entry: bazel run //:rustfmt
    files: \.rs$
    language: system

  - id: bazel_smoke
    name: Run all bazel test smoke targets
    entry: bazel test --config=precommit //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: bazel_rust_format_check
    name: Run rust format check
    entry: bazel build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect --output_groups=rustfmt_checks //...
    pass_filenames: false
    language: system
    always_run: true
    verbose: true

  - id: buf-breaking
    name: Check no breaking changes were introduced
    entry: ./pre-commit/check-incompatibilities.sh
    language: script
    stages: [manual]
    pass_filenames: false

- repo: https://github.com/willthames/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      always_run: false
      files: (^|/)testnet/.+\.(yaml|yml)$
      exclude: |
          (?x)^(
              testnet/tests/.*|.*/docker-compose.yml|testnet/env/shared-config\.yml
          )$
      # To be uncommented upon moving to new ansible-lint
      # args: ['-i', 'testnet/ansible/.ansible-lint-ignore', 'testnet/ansible']

Adjust split_neuron instrumentation
  rs/nns/governance/src/governance/tla/mod.rs
  rs/tla_instrumentation/BUILD.bazel
  rs/tla_instrumentation/tla_instrumentation/tests/common.rs
  rs/tla_instrumentation/tla_instrumentation/tests/multiple_calls.rs
  rs/tla_instrumentation/tla_instrumentation/tests/structs.rs
Due: bazel_buildifier, bazel_rust_format

Delete unnecessary Bazel file
  rs/tla_instrumentation/tla_instrumentation_tests.bzl
Due: bazel_buildifier

A bit of cleanup
  rs/tla_instrumentation/tla_instrumentation/Cargo.toml
  rs/tla_instrumentation/tla_instrumentation/src/lib.rs
Due: bazel_rust_format

More tests and a small cleanup
  rs/tla_instrumentation/tla_instrumentation/src/tla_state.rs
  rs/tla_instrumentation/tla_instrumentation/tests/multiple_calls.rs
Due: bazel_rust_format

Please Clippy
  rs/tla_instrumentation/tla_instrumentation/src/tla_state.rs
Due: bazel_rust_format

Update rs/execution_environment/src/execution_environment/tests/canister_task.rs
  rs/execution_environment/src/execution_environment/tests/canister_task.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  cc/e8a1797b0bd110a3a2c3c97a4dcb1f2f736834
Due: none

.
  rs/canister_sandbox/src/replica_controller/sandbox_process_eviction.rs
Due: bazel_rust_format

XC-217: add EVM RPC canister ID to the minter info endpoint
  rs/ethereum/cketh/minter/cketh_minter.did
  rs/ethereum/cketh/minter/src/endpoints.rs
  rs/ethereum/cketh/minter/src/main.rs
  rs/ethereum/cketh/minter/tests/ckerc20.rs
  rs/ethereum/cketh/minter/tests/cketh.rs
Due: bazel_rust_format

fix(IDX): specify asset canister path via env (#2126)
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/driver/src/driver/asset_canister.rs
Due: bazel_buildifier, bazel_rust_format

feat(IDX): Use MODULE.bazel for http archive deps
  MODULE.bazel
  WORKSPACE.bazel
Due: bazel_buildifier

Adress comments.
  rs/execution_environment/src/scheduler.rs
  rs/replicated_state/src/canister_state/system_state.rs
Due: bazel_rust_format

test(IDX): don't run tests that take longer than 5 mins on PRs (#2017)
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
  bazel/conf/.bazelrc.build
  ci/bazel-scripts/diff.sh
  rs/ethereum/ledger-suite-orchestrator/BUILD.bazel
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/backup/BUILD.bazel
  rs/tests/consensus/orchestrator/BUILD.bazel
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/consensus/upgrade/BUILD.bazel
  rs/tests/financial_integrations/ckbtc/BUILD.bazel
  rs/tests/financial_integrations/rosetta/BUILD.bazel
  rs/tests/networking/BUILD.bazel
  rs/tests/nns/BUILD.bazel
  rs/tests/query_stats/BUILD.bazel
  rs/tests/sdk/BUILD.bazel
  rs/tests/testing_verification/BUILD.bazel
Due: bazel_buildifier, bazel_shfmt_format

Please buildifier
  rs/tla_instrumentation/BUILD.bazel
Due: bazel_buildifier

chore(IDX): exclude problematic target (#2125)
  ci/scripts/bazel-coverage.sh
Due: bazel_shfmt_format

Notes added by 'git notes add'
  da/6ea99dd80effc96905390286cfbee8481ead5a
Due: none

Notes added by 'git notes add'
  a2/5a338b9dd7f5870449d258c22a7bccf7867a9a
Due: none

Notes added by 'git notes add'
  8e/cf1f4edf7f1615a2941dcc69210a0135b3fed5
Due: none

feat(IDX): Use MODULE.bazel for http archive deps (#2128)
  MODULE.bazel
  WORKSPACE.bazel
Due: bazel_buildifier

Notes added by 'git notes add'
  00/a3fb94102dab87e50f64d5ab286c9af204f348
Due: none

Revert "feat: [NODE-1441] Upgrade GuestOS to 24.04 (#938)"
  ic-os/components/early-boot/relabel-machine-id/guestos/relabel-machine-id.sh
  ic-os/components/early-boot/relabel-machine-id/relabel-machine-id.sh
  ic-os/components/init/bootstrap-ic-node/guestos/bootstrap-ic-node.sh
  ic-os/components/init/setup-encryption/guestos/setup-encryption.service
  ic-os/components/misc/guestos/crypttab
  ic-os/components/networking/generate-network-config/guestos/generate-network-config.service
  ic-os/components/selinux/filebeat/filebeat.te
  ic-os/components/selinux/ic-node/ic-node.te
  ic-os/components/selinux/manageboot/manageboot.te
  ic-os/components/selinux/misc-fixes/misc-fixes.te
  ic-os/components/selinux/systemd-fixes/systemd-fixes.te
  ic-os/guestos/context/Dockerfile
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  rs/tests/driver/src/driver/group.rs
  rs/tests/driver/src/util.rs
Due: bazel_shfmt_format, bazel_rust_format

.
  rs/bitcoin/adapter/src/get_successors_handler.rs
Due: bazel_rust_format

Notes added by 'git notes add'
  3c/76b9142f67da01393d9280c705f88b6e522a93
Due: none

Add run_periodic_tasks_now for fixture testing
  rs/sns/governance/canister/canister.rs
  rs/sns/integration_tests/src/nervous_system_parameters.rs
  rs/sns/test_utils/src/itest_helpers.rs
Due: bazel_rust_format

feat(nns): Neurons created with minimum dissolve delay (#1982)
  rs/nns/governance/src/governance.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/integration_tests/src/governance_neurons.rs
  rs/nns/integration_tests/src/ledger.rs
  rs/nns/test_utils/src/state_test_helpers.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/neuron_management.rs
  rs/tests/src/rosetta_tests/tests/neuron_staking.rs
Due: bazel_rust_format

Refactor test wat
  rs/execution_environment/src/execution_environment/tests/canister_task.rs
Due: bazel_rust_format

Fix test_proposal_garbage_collection
  rs/sns/integration_tests/src/proposals.rs
Due: bazel_rust_format

Update rs/sns/test_utils/src/itest_helpers.rs
  rs/sns/test_utils/src/itest_helpers.rs
Due: bazel_rust_format

fourth
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/tests/fixtures/mod.rs
  rs/sns/governance/tests/governance.rs
Due: bazel_protobuf_format, bazel_rust_format

Notes added by 'git notes add'
  4b/ed17bfc82cddc5691743db6228992cdc2740f4
Due: none

.
  ic-os/components/ic/setup-permissions/setup-permissions.sh
Due: bazel_shfmt_format
